{% extends 'default/base.html.twig' %}

{% block styles %}
    <style>
        .is-done{
            background-color: #74d079;
        }
    </style>
{% endblock %}

{% block content %}
    {{ include('default/cluster_info.html.twig', {'user_info': zone.getUser().getUserInfo()}) }}

    <div class="row">
        <div class="col-sm-12 mt-3">
            <a href="{{ path('app_curator_infrastructure_sheet', {'id': zone.getUser().getId()}) }}">
                <button class="btn btn-outline-dark">
                    <i class="fa fa-arrow-left"></i>
                    Назад
                </button>
            </a>
            <div class="ibox mt-1">
                <div class="ibox-title">
                    <h5>
                        {{ zone.getName() }}
                    </h5>
                </div>
                <div class="ibox-content">
                    {% for group in zone.getZoneGroups() %}
                        {% if group|length > 0 %}
                        <table class="table table-bordered">
                            <thead class="text-center">
                                <tr>
                                    <td colspan="20" class="text-center">
                                        <h3>
                                            {{ group.getType() }}

                                            {% if group.getWorkplaces() > 0 %}
                                                (кол-во раб. мест: {{ group.getWorkplaces() }})
                                            {% endif %}
                                        </h3>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-0">№</td>
                                    <td class="col-md-2">Наименование</td>
                                    <td class="col-md-3">Краткие (рамочные) технические характеристики</td>
                                    <td class="col-md-1">Вид</td>
                                    <td class="col-md-0">Количество</td>
                                    <td class="col-md-0">Единица измерения</td>
                                    <td class="col-md-0">Итоговое количество</td>
                                    <td class="col-md-0">Источник финансирования</td>
                                    <td class="col-md-2">Комментарий от кластера</td>
                                    <td class="col-md-1">Дата изменения</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                {% for i in group.getEquipment() %}
                                <tr {% if i.isDone() %}class="is-done"{% endif %}>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ i.getName() }}</td>
                                    <td>{{ i.getSpecification() }}</td>
                                    <td>

                                        {{ i.getType() }}

                                    </td>
                                    <td>{{ i.getCount() }}</td>
                                    <td>
                                        {{ i.getUnit() }}
                                    </td>
                                    <td></td>
                                    <td>{{ i.getFunds() }}</td>
                                    <td>{{ i.getClusterComment() }}</td>
                                    <td>
                                        {% set dump = i.getWorkzoneEquipmentDumps().last() %}
                                        {% if dump %}
                                            {{ dump.getCreatedAt.format('d.m.Y') }}
                                        {% endif %}
                                                                            </td>
                                    <td>
                                        <button class="btn btn-outline-dark edit-btn" data-id="{{ i.getId() }}" data-toggle="modal" data-target="#exampleModal">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </td>
                                </tr>
                                    {#{% for ii in i.getWorkzoneEquipmentDumps()|reverse %}#}
                                        {#{% set changes = ii.getChanges() %}#}
                                        {#<tr>#}
                                            {#<td class="btn-warning"></td>#}
                                            {#<td>#}
                                                {#{% if changes.name is defined  %}#}
                                                    {#<p class="text-danger">#}
                                                        {#{{ changes.name.0 }}#}
                                                    {#</p>#}
                                                   {#<hr>#}
                                                    {#<p>#}
                                                        {#{{ changes.name.1 }}#}
                                                    {#</p>#}
                                                {#{% endif %}#}
                                            {#</td>#}
                                            {#<td>#}
                                                {#{% if changes.specification is defined  %}#}
                                                    {#<p class="danger">#}
                                                        {#{{ changes.specification.0 }}#}
                                                    {#</p>#}
                                                    {#<hr>#}
                                                    {#<p>#}
                                                        {#{{ changes.specification.1 }}#}
                                                    {#</p>#}

                                                {#{% endif %}#}
                                            {#</td>#}
                                            {#<td>#}
                                                {#{% if changes.type is defined  %}#}
                                                    {#{{ dump(changes) }}#}
                                                {#{% endif %}#}
                                            {#</td>#}
                                            {#<td>#}
                                                {#{% if changes.count is defined  %}#}
                                                    {#<p class="danger">#}
                                                        {#{{ changes.count.0 }}#}
                                                    {#</p>#}
                                                    {#<hr>#}
                                                    {#<p>#}
                                                        {#{{ changes.count.1 }}#}
                                                    {#</p>#}

                                                {#{% endif %}#}



                                            {#</td>#}
                                            {#<td>#}
                                                {#{% if changes.name is defined  %}#}
                                                    {#{{ changes.name.0 }}#}
                                                {#{% endif %}#}
                                            {#</td>#}
                                            {#<td>#}
                                                {#{% if changes.name is defined  %}#}
                                                    {#{{ changes.name.0 }}#}
                                                {#{% endif %}#}
                                            {#</td>#}
                                            {#<td>#}
                                                {#{% if changes.funds is defined  %}#}
                                                    {#{{ changes.funds.0 }}#}
                                                {#{% endif %}#}

                                            {#</td>#}
                                            {#<td>#}
                                                {#{% if changes.clusterComment is defined  %}#}
                                                    {#{{ changes.clusterComment.0 }}#}
                                                {#{% endif %}#}
                                            {#</td>#}

                                            {#<td>{{ ii.createdAt.format('d.m.Y') }}</td>#}
                                            {#<td></td>#}
                                        {#</tr>#}

                                    {#{% endfor %}#}
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {

            let editBtn = $('.edit-btn');


            editBtn.on('click', function () {
                let id = $(this).data('id');


                $('#exampleModalLabel').html(id);
            });

            // let groupType = $('.group-type');
            //
            // $(document).bind('DOMSubtreeModified', function () {
            //     groupType = $('.group-type');
            //
            //     groupType.change(function (e) {
            //         if ($(this).val() == 'Рабочее место учащегося') {
            //             $(this).parent().next().show();
            //         }
            //         else {
            //             $(this).parent().next().hide();
            //         }
            //
            //         // console.log($(this).parent().next());
            //     });
            // });
            //
            // groupType.change(function (e) {
            //     if ($(this).val() == 'Рабочее место учащегося') {
            //         $(this).parent().next().show();
            //     }
            //     else {
            //         $(this).parent().next().hide();
            //     }
            // });
            // //
            // groupType.trigger('change');


        });
    </script>
{% endblock %}