
{% if not app.user.getUserInfo().isAllFull() %}
<div class="row d-flex justify-content-center m-2">
    <div class="col-lg-10 ">
        <div>
            <div class="">
                <div class="widget yellow-bg p-lg text-center left-bar-color-text">
                    <div class="m-b-md">
                        <i class="fa fa-warning fa-4x"></i>
                        <h1 class="m-xs">Предупреждение</h1>
                        <h3 class="font-bold no-margins">
                            Заполните общие данные!
                        </h3>
                        <a href="{{ path("app_profile_edit") }}">
                            <button class="btn btn-danger m-2">
                                Заполнить
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}


<div class="row d-flex justify-content-center">
    <div class="col-lg-10">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
{#                <div>#}
{#                    <input>#}
{#                    <button class="btn btn-info">#}
{#                        <div class="fa fa-search"></div>#}
{#                        Найти#}
{#                    </button>#}
{#                </div>#}
                <a href="{{ path("app_purchases_add") }}">
                    <button class="btn btn-outline-success col-lg-12 ">
                        <div class="fa fa-plus"></div>
                        Добавить закупку
                    </button>
                </a>

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-10 offset-lg-1">
        <div class="wrapper wrapper-content">

            <div class="row">
                <h2>
                    Список закупок
                </h2>
                <table class="table block-shadow white-bg">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Номер закупки</th>
                        <th>Объект закупки</th>
                        <th>Поставщик</th>
                        <th>Статус</th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for i in procurement_procedures %}
                        <tr class="table-item" href="{{ path("app_purchases_detail", {id: i.getId()}) }}">
                            <td>
                                {{ i.getId() }}
                            </td>
                            <td>
                                {{ i.getPurchaseNumber() }}
                            </td>
                            <td>
                                {{ i.getPurchaseObject() }}
                            </td>
                            <td>
                                {{ i.getSupplierName() }}
                            </td>
                            <td>
                                (статус)
                            </td>
                        </tr>
                    {% endfor %}




                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

