!DOCTYPE html>

<title>Register</title>

{% block body %}
    <div class="row d-flex justify-content-center">
        <h1>Регистрация</h1>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="ibox-content block-shadow">
            <div class="form-group row m-3">
                <div class="col-sm-5 col-form-label text-left">
                    <strong>
                        {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.uuid) }}
                    </strong>
                </div>
            </div>
            <div class="form-group row m-3 ">
                <div class="col-sm-5 col-form-label text-left">
                    <strong>
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Пароль'
                        }) }}
                    </strong>
                </div>
            </div>
            <div class="form-group row m-3 ">
                <div class="col-sm-12 col-form-label text-left">
                    {% for role in registrationForm.roles %}
                        <strong>
                            {{ form_widget(role) }}
                            {{ form_label(role) }}
                        </strong>
                        <br>
                    {% endfor %}

                </div>
            </div>
            <div class="form-group row m-3 ">
                <div class="col-sm-12 col-form-label text-left d-flex justify-content-center">
                    <button type="submit" class="btn">Зарегистрировать</button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}