{% extends 'default/base.html.twig' %}



{% block content %}
<row class="row mt-3">
    <div class="col-lg-12">
        <a href="{{ path('app_inspector_co_financing_funds', {'id': user.getId()}) }}">
            <button type="button" class="btn btn-outline-dark">
                <i class="fa fa-arrow-left"></i>
               Назад
            </button>
        </a>
    </div>
</row>
<div class="row mt-3">
    <div class="col-lg-8 offset-lg-2">
        <div class="ibox">
            <div class="ibox-title">
                <h5>
                    Проверка сценария
                </h5>
            </div>
            <div class="ibox-content">
                {{ form_start(form) }}
                {{ form.vars['data'].getScenario() }} <br>
                {{ form.vars['data'].getAnotherScenario() }}



                <hr>


                        <table class="table table-bordered">
                            <thead>
                                <tr class="text-center">
                                    <td class="col-md-1">id файла</td>
                                    <td class="col-md-2">
                                        Дата создания <br>
                                        <i>
                                            (часовой пояс +0)
                                        </i>
                                    </td>
                                    <td class="col-md-2">Файл</td>
                                    <td class="col-md-2">Статус</td>
                                </tr>
                            </thead>
                            <tbody>
                            {% for file in form.files %}
                                <tr class="text-center">
                                    <td>{{ file.vars['data'].id }}</td>
                                    <td>{{ file.vars['data'].createdAt.format('d.m.Y G:i:s') }}

                                    </td>
                                    <td>

                                        <a href="{{ path('app_download_file_by_route', {'route': 'cofinancing_file_directory', 'file': file.vars['data'].file}) }}">
                                            <i class="fa fa-download"></i>
                                            {{ file.vars['data'].file }}
                                        </a>

                                    </td>
                                    <td>
                                        {{ form_row(file) }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <hr>
                        {{ form_row(form.status) }}
                        {{ form_row(form.curatorComment) }}
                        <hr>
                        {{ form_row(form.employersFunds, {"type":"number"}) }}
                        {{ form_row(form.regionFunds, {"type":"number"}) }}
                        {{ form_row(form.educationFunds, {"type":"number"}) }}

                    <button type="submit" class="btn btn-success mt-3">
                        <i class="fa fa-save"></i>
                        Сохранить
                    </button>
                {{ form_end(form) }}
            </div>
            <div class="ibox-footer"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/inspinia.js') }}"></script>
    <script src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>
    <script src="{{ asset('js/plugins/blueimp/jquery.blueimp-gallery.min.js') }}"></script>
<script>

    $(document).ready(function(){
        let statusInput = $("#cofinancing_scenario_edit_form_status");
        let commentInput = $("#cofinancing_scenario_edit_form_curatorComment");

        statusInput.change(function (e) {
            if($(this).val() == 'Не принято')
            {
                console.log('aaaa');
                commentInput.parent('div').show();
                commentInput.prop( "disabled", false );
                commentInput.prop( "required", true );
                // commentInput.closest('<label>').show();
            }
            if($(this).val() == 'Принято')
            {
                console.log(commentInput.parent('div'));
                commentInput.parent('div').hide();
                commentInput.prop( "disabled", true );
                commentInput.prop( "required", false );
                // commentInput.closest('<label>').hide();
            }
        });
        statusInput.trigger('change');

    });
</script>
{% endblock %}
