{% extends 'default/base.html.twig' %}



{% block content %}

{{ include('default/cluster_info.html.twig', {'user_info': user.getUserInfo()}) }}

<div class="row mt-3">
    <div class="col-lg-3">
        <div class="ibox">
            <div class="ibox-title">
                <h5>
                    Средства софинансирования
                </h5>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered">
                    <thead>
                        <tr class="text-center">
                            <td class="col-md-1" style="vertical-align: inherit; text-align: center">Источник</td>
                            <td class="col-md-3" style="vertical-align: inherit; text-align: center">Фин. соглашение</td>
                            <td class="col-md-3" style="vertical-align: inherit; text-align: center">Принято</td>
                            <td class="col-md-3" style="vertical-align: inherit; text-align: center">%</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% set _funds = user.getCofinancingSum() %}
                        <tr class="text-center">
                            <td style="vertical-align: inherit; text-align: center">РД</td>
                            {% set rd = funds.getEmployerFunds() %}
                            <td class="cell-number" style="vertical-align: inherit; text-align: center">{{ rd }}</td>
                            <td class="cell-number" style="vertical-align: inherit; text-align: center">{{ _funds['employersFunds'] }}</td>
                            <td class="" style="vertical-align: inherit; text-align: center">
                                {% if rd > 0 %}
                                    {{ (_funds['employersFunds']/rd)*100 |round(2) }} %
                                {% else %}
                                    100 %
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="text-center">
                            <td style="vertical-align: inherit; text-align: center">Доп. средства субъекта РФ</td>
                            {% set sub = funds.getRegionFunds() %}
                            <td class="cell-number" style="vertical-align: inherit; text-align: center">{{ sub }}</td>
                            <td class="cell-number" style="vertical-align: inherit; text-align: center">{{ _funds['subjectFunds'] }}</td>
                            <td class="" style="vertical-align: inherit; text-align: center">
                                {% if sub > 0 %}
                                    {{ (_funds['subjectFunds']/sub)*100 |round(2) }} %
                                {% else %}
                                    100 %
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="text-center">
                            <td style="vertical-align: inherit; text-align: center">ОО</td>
                            {% set oo = funds.getEducationFunds() %}
                            <td class="cell-number" style="vertical-align: inherit; text-align: center">{{ oo }}</td>
                            <td class="cell-number" style="vertical-align: inherit; text-align: center">{{ _funds['OOFunds'] }}</td>
                            <td class="" style="vertical-align: inherit; text-align: center">
                                {% if oo > 0 %}
                                    {{ (_funds['OOFunds']/oo)*100 |round(2) }} %
                                {% else %}
                                    100 %
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="ibox-footer">
                <button class="btn btn-success col-sm-12" type="button" data-toggle="modal" data-target="#exampleModal2">
                    <i class="fa fa-edit"></i>
                    Редактировать
                </button>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-title">
                <h5>
                    Комментарии
                </h5>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered text-center">
                    <thead>
                        <td class="col-md-3">
                            Источник
                        </td>
                        <td class="col-md-9">
                            Комментарий
                        </td>
                    </thead>
                    <tbody>
                        <tr>

                            <td>РД</td>
                            <td>{{ cofinancingComment.getEmployerFunds()|nl2br }}</td>
                        </tr>
                        <tr>
                            <td>Доп. средства субъекта РФ</td>
                            <td>{{ cofinancingComment.getRegionFunds()|nl2br }}</td>
                        </tr>
                        <tr>
                            <td>ОО</td>
                            <td>{{ cofinancingComment.getEducationFunds()|nl2br }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="ibox-footer">
                <button class="btn btn-success col-sm-12" type="button" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-edit"></i>
                    Редактировать
                </button>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="ibox">
            <div class="ibox-title">
                <h5>
                    Подтверждающие документы
                </h5>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered">
                    <thead>
                    <tr class="text-center">
                        <td class="col-md-1" style="vertical-align: inherit; text-align: center">№</td>
                        <td class="col-md-2" style="vertical-align: inherit; text-align: center">Вид софинансирования</td>
                        <td class="col-md-3" style="vertical-align: inherit; text-align: center">Файлы</td>
                        <td class="col-md-2" style="vertical-align: inherit; text-align: center">Комментарий кластера</td>
                        <td class="col-md-2" style="vertical-align: inherit; text-align: center">Комментарий куратора</td>
                        <td class="col-md-1" style="vertical-align: inherit; text-align: center">Принятые средства</td>
                        <td class="col-md-1" style="vertical-align: inherit; text-align: center">Статус</td>
                        <td class="col-md-1" style="vertical-align: inherit; text-align: center"></td>
                    </tr>

                    </thead>
                    <tbody>
                    {% set statusLib = {
                        'Не принято' : '-danger',
                        'На проверке' : '-warning',
                        'Принято' : '-primary',

                    } %}
                    {% for i in cofinancing_scenarion %}
                        <tr class="text-center">
                            <td style="vertical-align: inherit; text-align: center">{{ i.getId() }}</td>
                            <td style="vertical-align: inherit; text-align: center">
                                {{ i.getScenario() }}
                            </td>
                            <td>
                                {% set isFirst = true %}
                                {% for file in i.getFiles() %}

                                    {% if not isFirst %}
                                    <hr>

                                    {% endif %}
                                    {% set isFirst = false %}
                                    <div class="row mb-3">
                                        <div class="col-sm-6" style="vertical-align: inherit; text-align: start; overflow: hidden; text-overflow: ellipsis">
                                            <a href="{{ path('app_download_file_by_route', {'route': 'cofinancing_file_directory', 'file': file.getFile()}) }}">
                                                <i class="fa fa-download"></i>
                                                {{ file.getFile() }}
                                            </a>
                                        </div>
                                        <div class="col-sm-6" style="vertical-align: inherit; text-align: center">
                                        <span class="badge badge{{ statusLib[file.getStatus()] }}">
                                            {{ file.getStatus() }}
                                        </span>
                                        </div>

                                    </div>

                                {% endfor %}
                            </td>
                            <td style="vertical-align: inherit; text-align: center">
                                {{ i.getComment()|nl2br }}
                            </td>
                            <td style="vertical-align: inherit; text-align: center">
                                {{ i.getCuratorComment()|nl2br }}
                            </td>
                            <td style="vertical-align: inherit; text-align: center">
                                {% if i.getEmployersFunds() > 0 %}
                                    РД: {{ i.getEmployersFunds() }} ₽<br>
                                {% endif %}
                                {% if i.getRegionFunds() > 0 %}
                                    Субъект: {{ i.getRegionFunds() }} ₽<br>
                                {% endif %}
                                {% if i.getEducationFunds() > 0 %}
                                    ОО: {{ i.getEducationFunds() }} ₽<br>
                                {% endif %}
                            </td>
                            <td style="vertical-align: inherit; text-align: center">
                                <span class="badge badge{{ statusLib[i.getStatus()] }}">
                                    {{ i.getStatus() }}
                                </span>
                            </td>
                            <td style="vertical-align: inherit; text-align: center">
                                <a href="{{ path('app_inspector_co_financing_funds_edit', {'id': i.getId()}) }}">
                                    <button class="btn btn-success btn-lg">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="ibox-footer">
                <div class="navigation">
                    {{ knp_pagination_render(cofinancing_scenarion, 'default/twitter_bootstrap_v3_pagination.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Финансовые показатели</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{ form_start(form) }}
                <div class="modal-body">
                    {{ form_row(form.employerFunds) }}
                    {{ form_row(form.regionFunds) }}
                    {{ form_row(form.educationFunds) }}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Финансовые показатели</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{ form_start(formFunds) }}
                <div class="modal-body">
                    {{ form_row(formFunds.employerFunds, {'type': 'number'}) }}
                    {{ form_row(formFunds.regionFunds, {'type': 'number'}) }}
                    {{ form_row(formFunds.educationFunds, {'type': 'number'}) }}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
                {{ form_end(formFunds) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/inspinia.js') }}"></script>
{% endblock %}


