{% extends "default/base.html.twig" %}

{% block content %}

<div class="row d-flex justify-content-center animated fadeInRight" style="margin-top: 20px">
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-12">

                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row col-lg-12" style="margin-left: 2px; padding-bottom: 2rem; padding-top: 2rem">
                            {{ form_start(form) }}
                                <label> Имя пользователя </label>
                                {{ form_widget(form.search) }}

                                {{ form_widget(form.submit) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                <div class="row col-lg-12">
                    {% for i in pagination %}
                        <div class="col-lg-4 animated fadeIn">
                            <div class="contact-box">
                                <div class="row">
                                    <div class="col-lg-12">

                                        <h3>
                                            <strong>
                                                {{ i.getUserInfo().getEducationalOrganization() }}
                                            </strong>
                                        </h3>

                                        {% if i.getUserInfo().getRfSubject() is not null %}
                                            <p><i class="fa fa-map-marker"></i> {{ i.getUserInfo().getRfSubject().getName() }}</p>
                                        {% else %}
                                            <p class="red-bg"><i class="fa fa-map-marker"></i> Не указан регион!</p>
                                        {% endif %}

                                        <address>
                                            <b>Кластер: </b>{{ i.getUserInfo().getCluster() }}<br>
                                            <b>Отрасль: </b>{{ i.getUserInfo().getDeclaredIndustry() }} <br>
                                            <b>Организация: </b>{{ i.getUserInfo().getOrganization() }}<br>
                                            <b>Пользователь: </b>{{ i.getUuid() }} <br>
                                            {#<abbr title="Phone">P:</abbr> (123) 456-7890#}
                                        </address>
                                        <div>
                                            <a href="{{ path('app_inspector_infrastructure_sheet_upload', {'id': i.getId()}) }}">
                                                <button class="btn btn-primary col-lg-10">
                                                    <div class="fa fa-upload"></div>
                                                    Загрузить ИЛ
                                                </button>
                                            </a>
                                            <a href="{{ path('app_inspector_infrastructure_sheet_region_view', {'id': i.getId()}) }}">
                                                <button class="btn btn-info col-lg-10">
                                                    <div class="fa fa-search"></div>
                                                    Просмотр ИЛов
                                                </button>
                                            </a>
                                            <a href="{{ path('app_inspector_show_purchases', {'id': i.getId()}) }}">
                                                <button class="btn btn-warning col-lg-10">
                                                    <div class="fa fa-archive"></div>
                                                    Просмотр Закупок
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

                    

    <div class="row">
        <div class="navigation">
            {{ knp_pagination_render(pagination, 'default/twitter_bootstrap_v3_pagination.html.twig') }}
        </div>
    </div>

{% endblock %}