{% extends "admin/base.html.twig" %}

{% block content %}


    <div class="m-3">
        <a href="{{ path('app_admin_users') }}" class="d-flex justify-content-center">
            <button class="btn btn-success col-lg-8" style="font-size: 2rem">
                <div class="glyphicon glyphicon-piggy-bank" ></div>
                Пользователи
            </button>
        </a>
    </div>

    <div class="m-3">
        <a href="{{ path('app_admin_cluster') }}" class="d-flex justify-content-center">
            <button class="btn btn-success col-lg-8" style="font-size: 2rem">
                <div class="fa fa-trash"></div>
                Кластеры
            </button>
        </a>
    </div>
    <div class="m-3">
        <a href="{{ path('app_admin_regions') }}" class="d-flex justify-content-center">
            <button class="btn btn-success col-lg-8" style="font-size: 2rem">
                <div class="fa fa-map"></div>
                Регионы
            </button>
        </a>
    </div>
    <div class="m-3">
        <a href="{{ path('app_admin_inspectors') }}" class="d-flex justify-content-center">
            <button class="btn btn-success col-lg-8" style="font-size: 2rem">
                <div class="fa fa-bank"></div>
                Кураторы
            </button>
        </a>
    </div>
    <div class="m-3">
        <a href="{{ path('app_admin_cluster_access') }}" class="d-flex justify-content-center">
            <button class="btn btn-success col-lg-8" style="font-size: 2rem">
                <div class="fa fa-automobile"></div>
                Доступ к закупкам
            </button>
        </a>
    </div>
    <div class="m-3">
        <a href="{{ path('app_admin_login_journal') }}" class="d-flex justify-content-center">
            <button class="btn btn-success col-lg-8" style="font-size: 2rem">
                <div class="fa fa-book"></div>
                Журнал входа
            </button>
        </a>
    </div>
    <div class="m-3">
        <a href="{{ path('app_admin_org_list') }}" class="d-flex justify-content-center">
            <button class="btn btn-success col-lg-8" style="font-size: 2rem">
                <div class="fa fa-list"></div>
                Список организаций
            </button>
        </a>
    </div>
    <div class="m-3">
        <a href="{{ path('app_total_budget') }}" class="d-flex justify-content-center">
            <button class="btn btn-success col-lg-8" style="font-size: 2rem">
                <div class="fa fa-dollar"></div>
                Общий бюджет
            </button>
        </a>
    </div>
    <div class="m-3">
        <a href="{{ path('app_users_tags') }}" class="d-flex justify-content-center">
            <button class="btn btn-success col-lg-8" style="font-size: 2rem">
                <div class="fa fa-id-badge"></div>
                Теги пользователи
            </button>
        </a>
    </div>



{% endblock %}
