{% extends "default/base.html.twig" %}

{% block content %}
    {% set isCurator =  is_granted('ROLE_INSPECTOR') or is_granted('ROLE_SMALL_CURATOR') %}
    {% if isCurator %}
    <div class="row mt-3">
        <div class="col-lg-10 offset-lg-1">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        Скачать
                    </h5>
                </div>
                <div class="ibox-content">
                    <a href="{{ path('app_admin_org_list_download') }}">
                        <button class="btn btn-success col-lg-12">
                            <i class="fa fa-download">
                                Скачать
                            </i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row mt-3">
        <div class="col-lg-10 offset-lg-1">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        Список организаций
                    </h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="tabs-container">
                                <ul class="nav nav-tabs" role="tablist">
                                    {% for i in clusters_info|keys %}
                                        <li><a class="nav-link {% if loop.index == 1 %} active {% endif %}" data-toggle="tab" href="#tab-{{ loop.index }}"> {{ i }}</a></li>
                                    {% endfor %}
                                </ul>
                                <div class="tab-content">
                                    {% for i in clusters_info %}
                                    <div role="tabpanel" id="tab-{{ loop.index }}" class="tab-pane {% if loop.index == 1 %} active {% endif %}">
                                        <div class="panel-body">
                                            <div class="row">
                                                <table class="table table-bordered col-lg-5 mr-3">
                                                    <thead>
                                                    <tr>
                                                        <td>
                                                            № п/п
                                                        </td>
                                                        <td>
                                                            Образовательные организации
                                                        </td>
                                                        {% if isCurator %}
                                                        <td></td>
                                                        {% endif %}
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% set count = 1 %}
                                                    {% for user_info in i %}
                                                        {% set edit = true %}
                                                        {% for edOrg in user_info.getListOfEdicationOrganization() %}
                                                            <tr>
                                                                <td>{{ count }}</td>
                                                                <td>{{ edOrg }}</td>
                                                                {% if edit and isCurator %}
                                                                <td rowspan="{{ user_info.getListOfEdicationOrganization()|length }}">

                                                                        {% set edit = false %}
                                                                    <button class="btn edit-btn" data-user="{{ user_info.getId() }}" data-toggle="modal" data-target="#exampleModal">
                                                                        Редактировать
                                                                    </button>

                                                                </td>
                                                                {% endif %}
                                                            </tr>
                                                            {% set count = count + 1 %}
                                                        {% endfor %}
                                                        {% set edit = true %}
                                                    {% endfor %}
                                                    </tbody>

                                                </table>
                                                <table class="table table-bordered col-lg-5">
                                                    <thead>
                                                    <tr>
                                                        <td>
                                                            № п/п
                                                        </td>
                                                        <td>
                                                            Работодатели
                                                        </td>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% set count = 1 %}
                                                    {% for user_info in i %}
                                                        {% for emplList in user_info.getListOfEmployers() %}
                                                            <tr>
                                                                <td>{{ count }}</td>
                                                                <td>{{ emplList }}</td>
                                                            </tr>
                                                            {% set count = count + 1 %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog " role="document" style="max-width: 80%">
            <div class="modal-content " >
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="orgs-form" action="" method="post">
                        <div class="form-group" name="group">

                        </div>
                        <input type="hidden" name="token" value="{{ csrf_token('org-edit') }}"/>
                        <button class="btn btn-success" type="submit">
                            Сохранить
                        </button>
                    </form>
                </div>
                {#<div class="modal-footer">#}
                    {#<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
                    {#<button type="button" class="btn btn-primary">Save changes</button>#}
                {#</div>#}
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/bootstrap.js') }}"></script>
<script>
    $(document).ready(function(){
        let editButtons = $('.edit-btn');
        // let modalBody = $('.modal-body');
        let orgsForm = $('#orgs-form');

        editButtons.on('click', function (e) {
            let btn = $(this);
            let orgs = getOrgs(btn.data('user'));
            orgsForm.children('.form-group').empty();

            orgs.then(function (result) {
                // console.log(result);
                for (const [key, value] of Object.entries(result)) {
                    orgsForm.children('.form-group').append(`<input value="${value}" name="orgs[${key}]" class="form-control mb-2">`);

                    console.log(`${key}: ${value}`);
                }

                orgsForm.attr('action', '/api/user_orgs_edit/'+btn.data('user'))
            })

        });


        async function getOrgs(id) {
            const response = await fetch('/api/user_orgs/'+id);
            const orgs = await response.json();
            // console.log(JSON.parse(movies));
            return JSON.parse(orgs);
        }


    })
</script>


{% endblock %}