
{% extends "admin/base.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="wrapper wrapper-content table-responsive horizontal-drag">

                <div class="row">
                    <h2>
                        Список закупок
                    </h2>
                    <table class="table block-shadow white-bg">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Номер закупки</th>
                            <th>Объект закупки</th>
                            <th>Поставщик</th>
                            <th>Статус</th>
                            <th>Действия</th>

                        </tr>
                        </thead>
                        <tbody>

                        {% for i in pp %}
                            {% if i.getIsDeleted() %}
                            <tr class="table-item red-bg">
                            {% else %}
                            <tr class="table-item">
                            {% endif %}
                                <td>
                                    {{ i.getId() }}
                                </td>
                                <td>
                                    {{ i.getPurchaseNumber() }}
                                </td>
                                <td>
                                    {{ i.getPurchaseObject() }}
                                </td>
                                <td>
                                    {{ i.getSupplierName() }}
                                </td>
                                <td>
                                    (статус)
                                </td>
                                <td>
                                    <a href="{{ path('app_purchases_detail', {'id': i.getId()}) }}">
                                        <button class="btn btn-info">
                                            <div class="fa fa-info"></div>
                                            Просмотр
                                        </button>
                                    </a>
                                    {% if i.getIsDeleted() %}
                                        <a href="{{ path('app_admin_purchases_repair', {'id': i.getId()}) }}">
                                            <button class="btn btn-primary">
                                                <div class="fa fa-ambulance"></div>
                                                Востановить
                                            </button>
                                        </a>
                                    {% else %}
                                        <a href="{{ path('app_admin_purchases_delete', {'id': i.getId()}) }}">
                                            <button class="btn btn-danger">
                                                <div class="fa fa-trash"></div>
                                                Удалить
                                            </button>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}




                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <script>
        const slider = document.querySelector('.horizontal-drag');
        let isDown = false;
        let startX;
        let scrollLeft;

        slider.addEventListener('mousedown', (e) => {

            isDown = true;
            slider.classList.add('active_scroll')
            startX = e.pageX - slider.offsetLeft;
            scrollLeft = slider.scrollLeft;
        });

        slider.addEventListener('mouseleave', () => {

            isDown = false;
            slider.classList.remove('active_scroll')
        });

        slider.addEventListener('mouseup', () => {

            isDown = false;
            slider.classList.remove('active_scroll')
        });

        slider.addEventListener('mousemove', (e) => {

            if (!isDown) return;
            e.preventDefault()
            const x = e.pageX - slider.offsetLeft;
            const walk = (x - startX) * 3;
            slider.scrollLeft = scrollLeft - walk;
        });
    </script>

{% endblock %}