
{% extends "admin/base.html.twig" %}

{% block content %}
    <div class="row d-flex justify-content-center">
    <div class="col-sm-10">
    <div class="row">
        <div class="col-sm-12">

            <div class="ibox">
                <div class="ibox-content">
                    {# <span class="text-muted small float-right">Last modification: <i class="fa fa-clock-o"></i> 2:10 pm - 12.06.2014</span> #}
                    <h2>Пользователи</h2>
                    
                    <div class="input-group">
                         {{ form_start(form) }}
                            <label> Имя пользователя </label>
                            {{ form_widget(form.search) }}

                            {{ form_widget(form.submit) }}
                        {{ form_end(form) }}
                    </div>

                    <div class="clients-list">
                        <div>
                            <a href="{{ path('app_admin_user_add') }}">
                                <button class="btn btn-success col-lg-4">
                                    <div class="fa fa-plug"></div>
                                    Добавить пользователя
                                </button>
                            </a>
                        </div>
                        <div>
                            <a href="{{ path('app_admin_add_user_region') }}">
                                <button class="btn btn-success col-lg-4">
                                    <div class="fa fa-home"></div>
                                    Добавить Кластер
                                </button>
                            </a>
                        </div>
                        {# <span class="float-right small text-muted">1406 Elements</span> #}

                        <div class="tab-content">

                            <div class="slimScrollDiv" style="position: relative; width: auto; height: 100%;">
                                <div class="full-height-scroll" style=" width: auto; height: 100%;">
                                    <div class="table-responsive horizontal-drag">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <td>id</td>
                                                <td>UUID</td>
                                                <td>Роль</td>
                                                <td>Субъект РФ</td>
                                                <td>Наименование организации грантополучателя</td>
                                                <td>Наименование базовой образовательной организации</td>
                                                <td>Наименование кластера</td>
                                                <td>Заявленная отрасль</td>
                                                <td>Действия</td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for i in pagination %}
                                                {% set userInfo = i.getUserInfo() %}
                                                <tr>
                                                    <td>{{ i.getId() }}</td>
                                                    <td>{{ i.getUsername() }}</td>
                                                    <td>{{ i.getRoles()|join(' | ') }}</td>
                                                    {% if  userInfo.getRfSubject() %}
                                                        <td>{{ userInfo.getRfSubject().getName() }}</td>
                                                    {% else %}
                                                        <td></td>
                                                    {% endif %}
                                                    <td>{{ userInfo.getOrganization() }}</td>
                                                    <td>{{ userInfo.getEducationalOrganization() }}</td>
                                                    <td>{{ userInfo.getCluster() }}</td>
                                                    <td>{{ userInfo.getDeclaredIndustry() }}</td>

                                                    <td>
                                                        <a href="{{ path('app_admin_user_edit', {'id': i.getId()}) }}">
                                                            <button class="btn btn-success col-lg-12">
                                                                <div class="fa fa-edit"></div>
                                                                Редактированть
                                                            </button>
                                                        </a>

                                                        <a href="{{ path('app_admin_user_purchases_show', {'id': i.getId()}) }}">
                                                            <button class="btn btn-primary col-lg-12">
                                                                <div class="fa fa-leaf"></div>
                                                                Закупки
                                                            </button>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}


                                            </tbody>
                                        </table>
                                         
                                    </div>
                                    <div class="row">
                                        <div class="navigation">
                                            {{ knp_pagination_render(pagination, 'default/twitter_bootstrap_v3_pagination.html.twig') }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const slider = document.querySelector('.horizontal-drag');
        let isDown = false;
        let startX;
        let scrollLeft;

        slider.addEventListener('mousedown', (e) => {

            isDown = true;
            slider.classList.add('active_scroll')
            startX = e.pageX - slider.offsetLeft;
            scrollLeft = slider.scrollLeft;
        });

        slider.addEventListener('mouseleave', () => {

            isDown = false;
            slider.classList.remove('active_scroll')
        });

        slider.addEventListener('mouseup', () => {

            isDown = false;
            slider.classList.remove('active_scroll')
        });

        slider.addEventListener('mousemove', (e) => {

            if (!isDown) return;
            e.preventDefault()
            const x = e.pageX - slider.offsetLeft;
            const walk = (x - startX) * 3;
            slider.scrollLeft = scrollLeft - walk;
        });
    </script>
{% endblock %}