{% extends "admin/base.html.twig" %}

{% block content %}
<div class="row d-flex justify-content-center">
    <div class="bg-white">
        <div class="row m-3">
            <div>
                <a href="{{ path('app_admin_users') }}">Назад</a>
            </div>
        </div>
        <div class="ibox-content block-shadow">
            <div class="form-group row m-3">
                <div class="col-lg-12 col-form-label text-left">
                    <strong>
                {{ form_start(userForm) }}
                    {{ form_row(userForm.roles,{
                        label: 'Роли',
                        attr: {
                            class: 'col-lg-12'
                        }
                    }) }}
                    </strong>
                </div>
                <div class="col-lg-12 col-form-label text-left">
                    <strong>
                        {{ form_row(userForm.name) }}
                    </strong>
                </div>
                <div class="col-lg-12">
                    <strong>
                        <button type="submit" class="col-lg-12 btn btn-gray-all btn-outline-success">Обновить</button>
                    {{ form_end(userForm) }}
                    </strong>
                </div>
                </div>
        </div>
        <div class="ibox-content block-shadow">
            <div class="form-group row">
                {{ form_start(passwordForm) }}
                    </strong>
                </div>
                <div class="col-sm-5 col-form-label text-left m-3">
                    <strong>
                    {{ form_widget(passwordForm.password,{'attr':{'class':'form-row'}}) }}
                    </strong>
                </div>
                <div class="col-sm-5 col-form-label text-left">
                    <strong>
                    {{ form_errors(passwordForm.password) }}
                    </strong>
                </div>
                <div class="col-lg-12 m-2 row">
                    {{ form_widget(passwordForm.submit, {
                        label: 'Изменить',
                        attr: {
                            class: 'col-lg-12 btn btn-gray-all btn-outline-success'
                        }
                    }) }}
                    {{ form_end(passwordForm) }}
                    </strong>
                </div>
                </div>

        <div class="ibox-content block-shadow">
            <div class="col-sm-12 col-form-label text-left">
                <strong>
                    {{ form_start(userInfoForm) }}
                        {{ form_row(userInfoForm.rf_subject, {
                            label: 'Субъект РФ',
                            attr: {
                                class: 'col-lg-12'
                            }
                        }) }}
                        {{ form_row(userInfoForm.organization, {
                            label: 'Наименование организации грантополучателя ',
                            attr: {
                                class: 'col-lg-12'
                            }
                        }) }}
                        {{ form_row(userInfoForm.educational_organization, {
                            label: 'Наименование базовой образовательной организации ',
                            attr: {
                                class: 'col-lg-12'
                            }
                        }) }}
                        {{ form_row(userInfoForm.cluster, {
                            label: 'Наименование кластера ',
                            attr: {
                                class: 'col-lg-12'
                            }
                        }) }}
                        {{ form_row(userInfoForm.declared_industry, {
                            label: 'Заявленная отрасль ',
                            attr: {
                                class: 'col-lg-12'
                            }
                        }) }}
                    <div class="col-sm-5 col-form-label text-left row">
                        <button type="submit" class="col-lg-4 btn btn-gray-all btn-outline-success">Обновить</button>
                    </div>
                    {{ form_end(userInfoForm) }}
                </strong>
            </div>
        </div>
    {#<div class="ibox-content block-shadow">#}
        {#<div class="col-sm-12 col-form-label text-left ">#}
            {#<a href="{{ path('app_admin_user_delete', {'id': thisUser.id}) }}" class="delete-alert">#}
                {#<button class="btn-danger btn col-lg-12">#}
                    {#<i class="fa fa-trash"> Удалить </i>#}
                {#</button>#}
            {#</a>#}
        {#</div>#}
    {#</div>#}
    </div>
</div>
{% endblock %}