{% extends 'default/base.html.twig' %}

{% block styles %}
{% endblock %}

{% block content %}

<div class="row mt-3">

    <div class="col-sm-8 offset-sm-2">
        <a href="{{ path('app_admin') }}">
            <button class="btn btn-outline-dark">
                <i class="fa fa-arrow-left"></i>
                Назад
            </button>
        </a>
        <div class="ibox">
            <div class="ibox-title">
                <h5>
                   Тип оборудования
                </h5>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Наименование</td>
                            <td>Состояние</td>
                            <td></td>
                            <td>Действия</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in types %}
                            <tr>
                                <td>{{ i.getId() }}</td>
                                <td>{{ i.getName() }}</td>
                                <td>
                                    {% if i.isIsHide() %}
                                        Скрыто
                                    {% else %}
                                        не Скрыто
                                    {% endif %}
                                </td>
                                <td>{{ i.getType() }}</td>
                                <td>
                                    <a href="{{ path('app_cluster_infrastructure_sheet_settings_change_hide', {'id': i.getId()}) }}">
                                        <button class="btn">
                                            Скрыть
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <hr>
                {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.type) }}
                    {{ form_widget(form.isHide) }}
                    {{ form_label(form.isHide) }}
                <br>
                <button class="btn btn-success" type="submit">
                    <i class="fa fa-save"></i>
                    Сохранить
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

</div>

{% endblock %}