<section data-id="design_projects" class="ed-section pb-0" style="background-image: url({{ asset('img/img_start_landing/Background_1.jpg') }}); background-size: cover; background-repeat: inherit; background-position: center; position: sticky" >
    <div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2 id="text_size_header" class="text-center text-white text_adaptive_size_header">
                    Дизайн-проекты пространств образовательно-производственных центров (кластеров).
                </h2>
                <div class="divider divider-alt divider-center divider-light"></div>
                <div class="divi    der divider-alt divider-center divider-light"></div>
                <div id="hide-on-mobile" class="col-lg-9" style="margin-left: 13%">
                    <table style="margin-bottom: 0px !important;">
                        <tr>
                            <th class="col-lg-4">
                                <p id="text_size_subtitle_1" class="text-center text-white text_adaptive_size_subtitle design_margin"> Брендбук
                                    <a href="{{ path('app_download_brandbook') }}" >
                                        <button class="btn btn-sm">
                                            <div class="fa fa-download"></div>
                                            Скачать
                                        </button>
                                    </a>
                                </p>
                            </th>
                            <th class="col-lg-4">
                                <p id="text_size_subtitle_1" class="text-center text-white text_adaptive_size_subtitle design_margin">Примеры дизайн-проектов
                                    <a href="#" target="_blank">
                                        <button class="btn btn-sm">
                                            <div class="glyphicon glyphicon-cloud-download"></div>
                                            Просмотреть
                                        </button>
                                    </a>
                                </p>
                            </th>
                        </tr>
                        <tr>
                            <th class="col-lg-4">
                                <p id="text_size_subtitle_1" class="text-center text-white text_adaptive_size_subtitle design_margin">Ссылка на материалы Брендбука
                                    <a href="https://disk.yandex.ru/d/PETEvtYtXSOMyg" target="_blank">
                                        <button class="btn btn-sm">
                                            <div class="glyphicon glyphicon-cloud-download"></div>
                                            Просмотреть
                                        </button>
                                    </a>
                                </p>
                            </th>
                            <th class="col-lg-4">
                                <p id="text_size_subtitle_1" class="text-center text-white text_adaptive_size_subtitle design_margin">Графические материалы для дизайн-проектов
                                    <a href="https://disk.yandex.ru/d/LHrxH3hIKkzUmA" target="_blank">
                                        <button class="btn btn-sm">
                                            <div class="glyphicon glyphicon-cloud-download"></div>
                                            Просмотреть
                                        </button>
                                    </a>
                                </p>
                            </th>
                            <th class="col-lg-4">
                                <p id="text_size_subtitle_1" class="text-center text-white text_adaptive_size_subtitle design_margin">Памятка по созданию дизайн-проектов в рамках федерального проекта «Профессионалитет»
                                    <a href="{{ path('app_download_memo_file') }}">
                                        <button class="btn btn-sm">
                                            <div class="fa fa-download"></div>
                                            Скачать
                                        </button>
                                    </a>
                                </p>
                            </th>
                        </tr>
                    </table>
                </div>

                <div id="hide-on-pc">
                    <p id="text_size_subtitle_1" class="text-center text-white text_adaptive_size_subtitle design_margin"> Брендбук
                        <a href="{{ path('app_download_brandbook') }}" >
                            <button class="btn btn-sm">
                                <div class="fa fa-download"></div>
                                Скачать
                            </button>
                        </a>
                    </p>
                    <p id="text_size_subtitle_1" class="text-center text-white text_adaptive_size_subtitle design_margin">Памятка по созданию дизайн-проектов в рамках федерального проекта «Профессионалитет»
                        <a href="{{ path('app_download_memo_file') }}">
                            <button class="btn btn-sm">
                                <div class="fa fa-download"></div>
                                Скачать
                            </button>
                        </a>
                    </p>
                    <p id="text_size_subtitle_1" class="text-center text-white text_adaptive_size_subtitle design_margin">Ссылка на материалы Брендбука
                        <a href="https://disk.yandex.ru/d/PETEvtYtXSOMyg" target="_blank">
                            <button class="btn btn-sm">
                                <div class="glyphicon glyphicon-cloud-download"></div>
                                Просмотреть
                            </button>
                        </a>
                    </p>
                    <p id="text_size_subtitle_1" class="text-center text-white text_adaptive_size_subtitle design_margin">Графические материалы для дизайн-проектов
                        <a href="https://disk.yandex.ru/d/LHrxH3hIKkzUmA" target="_blank">
                            <button class="btn btn-sm">
                                <div class="glyphicon glyphicon-cloud-download"></div>
                                Просмотреть
                            </button>
                        </a>
                    </p>
                    <p id="text_size_subtitle_1" class="text-center text-white text_adaptive_size_subtitle design_margin">Примеры дизайн-проектов
                        <a href="#" target="_blank">
                            <button class="btn btn-sm">
                                <div class="glyphicon glyphicon-cloud-download"></div>
                                Просмотреть
                            </button>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="container" style="margin-bottom: 3%">
            <div id="portfolio-gallery" class="ed-carousel ed-slick dots-classic dots-light dots-outside portfolio-gallery">
                {% for i in designProjectExample %}

                    <article class="carousel-item portfolio-item web">
                        <div class="project-container mb-0" style="border-radius: 3rem">
                            <a href="{{ asset('/uploads/designProjectExample/'~i.getPhoto()) }}" data-size="3219x2081" class="portfolio-gallery__img--main" style="margin: 1vh">
                                <img class="owl-lazy" src="{{ asset('/uploads/designProjectExample/'~i.getPhoto()) }}" alt style="height: 30vh; object-fit:cover; border-radius: 2rem">
                                <div class="overlay">
                                    <div class="overlay-wrapper">
                                        <div class="overlay-inner background-dark-5 opacity-70" style="border-radius: 2rem"></div>
                                        <div class="overlay-inner overlay-content"><i class="fa fa-search" aria-hidden="true"></i></div>
                                    </div>
                                </div>
                            </a>
                            <div class="project-details design_height_text" style="height: 230px; object-fit: cover;">
                                <div style="display: flex; align-items: center; justify-content: center; height: 85%">
                                    <h4 class="h5 project-title heading-uppercase" style="font-size: 13px"> {{ i.getName() }}</h4>
                                    <p style="margin-bottom: 10%">{{ i.getDescription() }}</p>
                                </div>
                                {% if i.getFile() is not null %}
                                <a href="{{ path('app_download_design_project_presentation_file', {'file': i.getFile()}) }}" >
                                    <button class="btn btn-sm" id="download-button">
                                        <div class="glyphicon glyphicon-cloud-download"></div>
                                        Скачать
                                    </button>
                                </a>
                                {% endif %}
                            </div>
                        </div>

                    </article>

                {% endfor %}
            </div>
        </div>
    </div>
</section>