<section data-id="documentation" class="ed-section sm-pb-0" style="background-image: url({{ asset('img/img_start_landing/Background_1.jpg') }}); background-size: cover; background-repeat: inherit; background-position: center; position: sticky">
    <div id="size_doc_inf">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2 id="text_size_header" class="text-center  text-white text-white text_adaptive_size_header">Нормативная документация</h2>
                    <div class="divider divider-alt divider-center divider-light"></div>
                    <p class="lead mb-50 text-center text-white"></p>
                </div>
            </div>
            <div class="row">
                <div>
                    <div id="portfolio-gallery" class="ed-carousel5 ed-slick dots-classic dots-light dots-outside">
                        <article class="carousel-item5 portfolio-item web" style="margin-right: 2vh; margin-left: 2vh">
                            <div class="project-container mb-0 scale_img_documents" style="border-radius: 6rem">
                                <a href="{{ path('app_landing_documentation', {'type': 'specialized_classes_files'}) }}" target="_blank" style="margin: 1vh">
                                    <img class="owl-lazy" src="{{ asset('/img/img_start_landing/specialized _classes.jpg') }}" alt style="height: 35vh; border-radius: 6rem">
                                    <div class="overlay">
                                    </div>

                                    <div class="project-details">
                                        <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 15vh">специализированные классы  (кружки)  и центры практической подготовки в сфере БАС</h4>
                                    </div>
                                </a>
                            </div>
                        </article>
                        <article class="carousel-item5 portfolio-item web" style="margin-right: 2vh; margin-left: 2vh">
                            <div class="project-container mb-0 scale_img_documents" style="border-radius: 6rem">
                                <a href="{{ path('app_landing_documentation', {'type': 'cluster_files'}) }}" target="_blank" style="margin: 1vh">
                                    <img class="owl-lazy" src="{{ asset('/img/img_start_landing/businessmen-and-businesswomen-meeting.jpg') }}" alt style="height: 35vh; border-radius: 6rem">
                                    <div class="overlay">
                                    </div>

                                    <div class="project-details">
                                        <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 15vh">Образовательно-производственные центры (кластеры)</h4>
                                    </div>
                                </a>
                            </div>
                        </article>
                        <article class="carousel-item5 portfolio-item web" style="margin-right: 2vh; margin-left: 2vh">
                            <div class="project-container mb-0 scale_img_documents" style="border-radius: 6rem">
                                <a href="{{ path('app_landing_documentation', {'type': 'little_cluster_files'}) }}" target="_blank" style="margin: 1vh">
                                    <img class="owl-lazy" src="{{ asset('/img/img_start_landing/from-above-people-with-tablet-and-drafts.jpg') }}" alt style="height: 35vh; border-radius: 6rem">
                                    <div class="overlay">
                                    </div>

                                    <div class="project-details">
                                        <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 15vh">Образовательные кластеры среднего профессионального образования</h4>
                                    </div>
                                </a>
                            </div>
                        </article>
                        <article class="carousel-item5 portfolio-item web" style="margin-right: 2vh; margin-left: 2vh">
                            <div class="project-container mb-0 scale_img_documents" style="border-radius: 6rem">
                                <a href="{{ path('app_landing_documentation', {'type': 'workshops_files'}) }}" target="_blank" style="margin: 1vh">
                                    <img class="owl-lazy" src="{{ asset('/img/img_start_landing/closeup-of-hands-holding-stack-of-books_53876-20475.jpg') }}" alt style="height: 35vh; border-radius: 6rem">
                                    <div class="overlay">
                                    </div>

                                    <div class="project-details">
                                        <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 15vh">Современные мастерские (учебно-производственные участки)</h4>
                                    </div>
                                </a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>