<section data-id="employees" class="ed-section sm-pb-0" style="background-image: url({{ asset('img/img_start_landing/Background_2.jpg') }}); background-size: 135%; background-repeat: no-repeat; background-position: center; position: inherit">
    <div id="hide-on-mobile" class="block_left_list"></div>
    <div class="container">
        <div class="row" >
            <div class="col-md-10 col-md-offset-1">

                <h2 id="text_size_header" class="text-center text-white text_adaptive_size_header">Сотрудники</h2>
                <div class="divider divider-alt divider-center divider-light"></div>
                {#                        <p class="lead text-center text-white mb-50">Нас сфера и деятельности реализации количественный таким новая направлений также заданий условий. Образом направлений нашей оценить практика позиций, активности такж.</p>#}

            </div>
        </div>
    </div>
    <div>
        <div id="hide-on-mobile" class="block_left_list"></div>
        <div class="container">
            <div id="portfolio-gallery" class="ed-carousel2 ed-slick dots-classic dots-light dots-outside">
            {% for i in employees %}
                <!-- User -->
                <article class="carousel-item2 portfolio-item web" style="margin-left: 15px; margin-right: 15px">
                    <a href="#">
                        <div class="project-container mb-0 scale_img">
                                <div class="user-image">
                                    {% if i.getPhoto() is not null %}
                                        <img src="{{ asset('/uploads/employeesPhotos/')~i.getPhoto() }}" alt>
                                    {% else %}
                                        <img src="{{ asset('/img/placeholder/employees.png') }}" alt>
                                    {% endif %}
                                </div>
                                <div class="user-info text-center text_scale_img">
                                    <h5 class="heading-uppercase mb-0" style="margin-top: 15px">{{ i.getName() }}</h5>
                                    <p class="role mb-0" style="margin-top: 15px">{{ i.getPost() }}</p>
                                </div>
                        </div>
                    </a>
                </article>
            {% endfor %}
            </div>
        </div>
    </div>
</section>