<section data-id="events" class="ed-section pb-0" style="background-image: url({{ asset('img/img_start_landing/Background_1.jpg') }}); background-size: cover; background-repeat: inherit; background-position: center; position: sticky">
    <div class="container ">
        <div class="row events_margin_title">
            <div class="col-md-10 col-md-offset-1 " >
                <h2 id="text_size_header" class="text-center text-white text_adaptive_size_header ">Мероприятия</h2>
                <div class="divider divider-alt divider-center divider-light design_margin"></div>
                <p id="text_size_subtitle_1" class="lead mb-50 text-center text-white text_adaptive_size_subtitle ">
                    Мероприятия проходящие в рамках деятельности Федерального центра сопровождения развития материально-технической базы, учебной и производственной инфраструктуры в системе среднего профессионального образования
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="size-down-1500">
            <div id="portfolio-gallery" class="ed-carousel3 ed-slick dots-classic dots-light dots-outside">
                {% for i in news %}
                    <article class="carousel-item3 portfolio-item web" style="margin-right: 2vh; margin-left: 2vh">
                        <div class="project-container mb-0 scale_img_documents" style="border-radius: 3rem">
                            <a href="{{ path('app_article_view', {'id': i.getId()}) }}" target="_blank" style="margin: 1vh">
                                <img src="{{ asset('/uploads/articleTitles/'~i.img) }}" alt style="height: 30vh;width: 100vw; border-radius: 2rem">
                                <div class="overlay">
                                </div>

                                <div class="project-details">
                                    <h4 class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2" style="display: flex; align-items: center; justify-content: center; height: 17vh">{{ i.title }}</h4>
                                </div>
                            </a>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
        <div id="size-up-1500" class="container">
            <div id="portfolio-gallery" class="ed-carousel4 ed-slick dots-classic dots-light dots-outside">
                {% for i in news %}
                    <article class="carousel-item4 portfolio-item web">
                        <a href="{{ path('app_article_view', {'id': i.getId()}) }}" target="_blank">
                            <div class="project-container mb-0 scale_img" style="border-radius: 3rem">

                                <img src="{{ asset('/uploads/articleTitles/'~i.img) }}" alt>
                                <div class="overlay">
                                    <div class="overlay-wrapper">
                                        <div class="overlay-inner background-dark-5 opacity-50"></div>
                                    </div>
                                </div>

                                <div class="project-details text_scale_img">
                                    <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase" style="display: flex; align-items: center; justify-content: center; height: 28vh">{{ i.title }}</h4>
                                </div>
                            </div>
                        </a>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-12 text-center" style="margin-top: 20px">
        <a href="{{ path('app_article_page') }}" target="_blank">
            <button class="btn btn-white btn-noradius" type="submit" id="cf-submit" name="cf-submit">Просмотреть все</button>
        </a>
    </div>
</section>