<section data-id="feedback" class="ed-section" style="background-image: url({{ asset('img/img_start_landing/Background_2.jpg') }}); background-size: cover; background-repeat: inherit; background-position: center; position: sticky">
    <div class="container feedback_size">
        <div class="row">
            <div class="col-md-12 ">
                <div id="form-success" >
                    <div>
                        Ваша заявка успешно отправлена!
                    </div>
                </div>
                <div class="contact-form">
                    {{ form_start(feedbackForm) }}
                    <div>
                        <div class="row" >
                            <div class="col-lg-6 align-items-center" style="margin-top: 13vh">
                                <img src="{{ asset('/img/img_start_landing/Профессионалитет2024_белый.png') }}" alt>

                            </div>
                            <div class="col-lg-6 m-5" style="margin-top: 10vh">
                                <div class="panel" style="border-radius: 10px">
                                    <div class="panel-body">
                                        <form action="<?=$templateFolder;?>/ajax.php" class="bg-white rounded pb_form_v1 ajax_form" method="POST" >
                                            <input type="hidden" name="FORM" value="MAIN_FEEDBACK">
                                            <h2 class="mb-4 mt-0 text-center">Обратная связь</h2>
                                            <div class="sub_title" style="margin-bottom: 4rem; text-align: center">Поделитесь мнением о нашей работе или задайте нам любой интересующий вас вопрос в поле комментарий</div>
                                            <div class="form-group design_margin">
                                                {{  form_widget(feedbackForm.FIO, {'attr': {'class': 'form-control pb_height-50 reverse', 'placeholder':'Имя'}}) }}
                                            </div>
                                            <div class="form-group design_margin">
                                                {{  form_widget(feedbackForm.email, {'attr': {'class': 'form-control pb_height-50 reverse', 'placeholder':'Email'}}) }}
                                            </div>
                                            <div class="form-group">
                                                {{  form_widget(feedbackForm.number, {'attr': {'class': 'form-control pb_height-50 reverse', 'placeholder':'Телефон'}}) }}
                                            </div>
                                            <div class="form-group design_margin">
                                                {{  form_widget(feedbackForm.topic, {'attr': {'class': 'form-control pb_height-50 reverse', 'placeholder':'Тема сообщение'}}) }}
                                            </div>
                                            <div class="form-group design_margin">
                                                {{  form_widget(feedbackForm.message, {'attr': {'class': 'form-control pb_height-110 reverse', 'rows': '1', 'placeholder':'Комментарий'}}) }}
                                            </div>
                                            <div class="form-group politika custom-control custom-radio">
                                                <div class="col-lg-2 m-5">
                                                    <div>
                                                        <div class="panel-body">
                                                            {{ form_widget(feedbackForm.agree) }}
                                                            {#<input type="checkbox" id="policy_full" name="policy" value="y" class="form-control reverse custom-control-input" required style="float: left">#}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-10 m-5">
                                                    <div>
                                                        <div class="panel-body">
                                                            <label class="custom-control-label" for="policy_full">Согласен с <a href="https://firpo.ru/privacy-policy/" target="_blank">политикой конфиденциальности</a></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 text-center">
                                                    {{  form_widget(feedbackForm.submit, {'attr': {'class': 'btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue'}, label:'Отправить сообщение'}) }}
                                                </div>
                                            </div>
                                        </form>
                                        {{ form_end(feedbackForm) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>