<section data-id="feedback" class="ed-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center text-white">Обратная связь</h2>
                <div class="divider divider-alt divider-center divider-light"></div>
                <p class="lead text-center text-white mb-50">Показывает, собой что важные важную нашей что значение выполнять задача важную проверки собой и высшего эксперимент способствует организационной от представляе.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="contact-form">
                    {{ form_start(feedbackForm) }}

                    <div class="row">

                        <div class="form-process"></div>

                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                {{  form_widget(feedbackForm.FIO, {'attr': {'class': 'form-control fc-bordered light required', 'placeholder':'Введите своё ФИО'}}) }}
                                {#<input type="text" id="cf-name" name="cf-name" placeholder="Введите своё ФИО" class="form-control fc-bordered light required">#}
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                {{  form_widget(feedbackForm.email, {'attr': {'class': 'form-control fc-bordered light required', 'placeholder':'Введите свою электронную почту'}}) }}
                                {#<input type="email" id="cf-email" name="cf-email" placeholder="Введите свою электронную почту" class="form-control fc-bordered light required">#}
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                {{  form_widget(feedbackForm.topic, {'attr': {'class': 'form-control fc-bordered light required', 'placeholder':'Тема письма'}}) }}
                                {#<input type="text" id="cf-subject" name="cf-subject" placeholder="Тема письма (Необязательно)" class="form-control fc-bordered light">#}
                            </div>
                        </div>
                        <div class="col-md-12 mb-20">
                            <div class="form-group">
                                {{  form_widget(feedbackForm.message, {'attr': {'class': 'form-control fc-bordered light required', 'rows': '7', 'placeholder':'Текст сообщения'}}) }}
                                {#<textarea name="cf-message" id="cf-message" placeholder="Текст сообщения" class="form-control fc-bordered light required" rows="7"></textarea>#}
                            </div>
                        </div>
                        <div class="col-lg-12 mb-20">
                            <label class="lead text-center text-white mb-50">
                                {#<input type="checkbox" class="custom-checkbox" id="isHappy" name="isHappy" value="">#}
                                <label for="happy">&nbsp Отправляя форму вы соглашаетесь на &nbsp <a href="https://firpo.ru/privacy-policy/" style="color: #ffffff" target="_blank"> <u> обработку персональных данных</u></a></label>
                            </label>
                        </div>
                        <div class="col-md-12 hidden">
                            <input type="text" id="cf-botcheck" name="cf-botcheck" value class="form-control form-control-noradius">
                        </div>
                        <div class="col-md-12 text-center">
                            {{  form_widget(feedbackForm.submit, {'attr': {'class': 'btn btn-white btn-noradius'}, label:'Отправить сообщения'}) }}
                            {#<button class="btn btn-white btn-noradius" type="submit" id="cf-submit" name="cf-submit">Отправить сообщения</button>#}
                        </div>
                    </div>

                    {{ form_end(feedbackForm) }}
                    <div id="form-success" >
                        <div>
                            Ваша заявка успешно отправлена!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>