<section data-id="il" class="ed-section sm-pb-0" style="background-image: url({{ asset('img/img_start_landing/Background_1.jpg') }}); background-size: cover; background-repeat: inherit; background-position: center; position: sticky">
    <div id="size_doc_inf">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2 id="text_size_header" class="text-center  text-white text_adaptive_size_header">Типовые инфраструктурные листы </h2>
                    <div class="divider divider-alt divider-center divider-light"></div>
                    <p class="lead mb-50 text-center text-white"></p>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6 col-sm-6">
                    <div class="icon-box text-center">
                        <div class="icon-box-icon text-white">
                            <article class="carousel-item portfolio-item web">
                                <a href="{{ path('app_infrastructure_sheets', {'type': 'cluster_IS'}) }}" target="_blank">
                                    <div class="project-container mb-0 scale_img_documents">
                                        <img src="{{ asset('/img/img_start_landing/two-colleagues-at-a-factory_1303-14331.jpg') }}" alt">
                                        <div class="overlay">
                                        </div>
                                        <div class="project-details">
                                            <h4 class="h5 project-title heading-uppercase text_scale_img_documents" style="height: 20%">Типовые инфраструктурные листы для оснащения зон по видам работ образовательно-производственных центров (кластеров)</h4>
                                        </div>
                                    </div>
                                </a>
                            </article>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="icon-box text-center">
                        <div class="icon-box-icon text-white">
                            <article class="carousel-item portfolio-item web">
                                <a href="{{ path('app_infrastructure_sheets', {'type': 'workshops_IS'}) }}" target="_blank">
                                    <div class="project-container mb-0 scale_img_documents">
                                        <img src="{{ asset('/img/img_start_landing/closeup-shot-of-laboratory-microscope-lens-for-conducting-coronavirus-research_181624-44734.jpg') }}" alt>
                                        <div class="project-details">
                                            <h4 class="h5 project-title heading-uppercase text_scale_img_documents" style="height: 20%">Типовые инфраструктурные листы для создания современных мастерских (учебно-производственных участков) &nbsp &nbsp &nbsp &nbsp</h4>
                                        </div>
                                    </div>
                                </a>
                            </article>
                        </div>
                        <h3 class="h4 text-white"></h3>
                        <p class="text-white"></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>