<section data-id="il" class="ed-section sm-pb-0" style="background-image: url({{ asset('img/img_start_landing/Background_1.jpg') }}); background-size: cover; background-repeat: inherit; background-position: center; position: sticky">
    <div id="size_doc_inf">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2 id="text_size_header" class="text-center  text-white text_adaptive_size_header">Типовые инфраструктурные листы </h2>
                    <div class="divider divider-alt divider-center divider-light"></div>
                    <p class="lead mb-50 text-center text-white"></p>
                </div>
            </div>
            <p id="text_size_subtitle_1" class="text-center text-white text_adaptive_size_subtitle design_margin">Документация и инфраструктурные листы Всероссийского чемпионатного движения по профессиональному мастерству
                <a href="https://pro.firpo.ru/kompetentsii/" target="_blank">
                    <button class="btn btn-sm">
                        <div class="glyphicon glyphicon-cloud-download"></div>
                        Просмотреть
                    </button>
                </a>
            </p>
            <div class="row">
                <div>
                    <div id="portfolio-gallery" class="ed-carousel6 ed-slick dots-classic dots-light dots-outside">
                        <article class="carousel-item6 portfolio-item web" style="margin-right: 2vh; margin-left: 2vh">
                            <div class="project-container mb-0 scale_img_documents" style="border-radius: 6rem">
                                <a href="{{ path('app_infrastructure_sheets', {'type': 'workshops_IS'}) }}" target="_blank" style="margin: 1vh">
                                    <img src="{{ asset('/img/img_start_landing/closeup-shot-of-laboratory-microscope-lens-for-conducting-coronavirus-research_181624-44734.jpg') }}" alt style="height: 35vh; border-radius: 6rem">
                                    <div class="overlay">
                                    </div>

                                    <div class="project-details">
                                        <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 12vh">Нормативная документация образовательно-производственных центров (кластеров)</h4>
                                    </div>
                                </a>
                            </div>
                        </article>
                        <article class="carousel-item6 portfolio-item web" style="margin-right: 2vh; margin-left: 2vh">
                            <div class="project-container mb-0 scale_img_documents" style="border-radius: 6rem">
                                <a href="{{ path('app_infrastructure_sheets', {'type': 'cluster_IS'}) }}" target="_blank" style="margin: 1vh">
                                    <img src="{{ asset('/img/img_start_landing/two-colleagues-at-a-factory_1303-14331.jpg') }}" alt style="height: 35vh; border-radius: 6rem">
                                    <div class="overlay">
                                    </div>

                                    <div class="project-details">
                                        <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 12vh">Нормативная документация образовательно-производственных центров (кластеров)</h4>
                                    </div>
                                </a>
                            </div>
                        </article>
                    </div>
                    <h3 class="h4 text-white"></h3>
                    <p class="text-white"></p>
                </div>
            </div>
        </div>
    </div>
</section>