<!-- Главная -->
<style>
    @media screen and (max-width: 1700px) {

        #hide-on-mobile {

            display: none;
        }
    }

    @media screen and (min-width: 1700px) {

        #hide-on-pc {

            display: none;
        }
    }
</style>

<section data-id="home" class="ed-section fullscreen-element sm-pt-180 sm-pb-180">
    <div class="table-container">
        <div class="table-content">
            <div class="container-fluid sm-text-center">
                <div class="col-md-10 col-lg-offset-1" >
                    <h2 id="text_size_header" class="text-center text-white text_adaptive_size_header ">
                        Федеральный центр сопровождения развития материально-технической базы, учебной и производственной инфраструктуры в системе среднего профессионального образования
                    </h2>
                    <div class="divider divider-alt divider-center divider-light design_margin"></div>
                </div>
                <div id="hide-on-mobile" class="col-lg-7 m-5">
                    <div class="row">
                        <table>
                            <tr>
                                <th>
                                    <img src="{{ asset('/img/img_start_landing/Цель.PNG') }}" style="padding-right: 1vw; padding-left: 2vw; max-width: none; margin-left: 10px">
                                </th>
                                <th>
                                    <div class="panel-body">
                                        <p id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 14px; margin-bottom: 0px !important" data-animation="fadeInUp" data-animation-delay="600"><strong>Цель:</strong>
                                        </p>
                                        <div id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 14px; margin-bottom: 0px !important" data-animation="fadeInUp" data-animation-delay="600">
                                            <div class="col-lg-12">
                                                Основной целью деятельности Федерального центра является методическое, информационно-технологическое и экспертно-аналитическое сопровождение (мониторинг) реализации мероприятий по развитию материально-технической базы, учебной и производственной инфраструктуры в системе среднего профессионального образования
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <img src="{{ asset('/img/img_start_landing/Дизайн.PNG') }}" style="padding-right: 1vw; padding-left: 2vw; max-width: none; margin-left: 10px">
                                </th>
                                <th>
                                    <div class="panel-body">
                                        <p id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 14px; margin-bottom: 0px !important" data-animation="fadeInUp" data-animation-delay="600">
                                            <strong>Телефон горячей линии по согласованию дизайн-проектов:</strong>
                                        </p>
                                        <div id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 14px; margin-bottom: 0px !important" data-animation="fadeInUp" data-animation-delay="600">
                                            <div class="col-lg-12">
                                                +7 (495) 899-05-51 (доб. 214)
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <img src="{{ asset('/img/img_start_landing/Email_1.PNG') }}" style="padding-right: 1vw; padding-left: 2vw; max-width: none; margin-left: 10px">
                                </th>
                                <th>
                                    <div class="panel-body">
                                        <p id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 14px; margin-bottom: 0px !important" data-animation="fadeInUp" data-animation-delay="600">
                                            <strong>E-mail по вопросам образовательно-производственных центров (кластеров):</strong>
                                        </p>
                                        <div id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 14px; margin-bottom: 0px !important" data-animation="fadeInUp" data-animation-delay="600">
                                            <div class="col-lg-3">
                                                cluster@firpo.ru
                                            </div>
                                            <div class="col-lg-3">
                                                cluster2023@firpo.ru
                                            </div>
                                            <div class="col-lg-3">
                                                cluster2024@firpo.ru
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <img src="{{ asset('/img/img_start_landing/Email_2.PNG') }}" style="padding-right: 1vw; padding-left: 2vw; max-width: none; margin-left: 10px">
                                </th>
                                <th>
                                    <div class="panel-body">
                                        <p id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 14px; margin-bottom: 0px !important" data-animation="fadeInUp" data-animation-delay="600">
                                            <strong>E-mail по вопросам образовательных кластеров среднего профессионального образования:</strong>
                                        </p>
                                        <div id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 14px; margin-bottom: 0px !important" data-animation="fadeInUp" data-animation-delay="600">
                                            <div class="col-lg-3">
                                                spo-cluster@firpo.ru
                                            </div>
                                            <div class="col-lg-3">
                                                spo-cluster2024@firpo.ru
                                            </div>
                                        </div>

                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <img src="{{ asset('/img/img_start_landing/Телефон_1.PNG') }}" style="padding-right: 1vw; padding-left: 2vw; max-width: none; margin-left: 10px">
                                </th>
                                <th>
                                    <div class="panel-body">
                                        <p id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 14px; margin-bottom: 0px !important" data-animation="fadeInUp" data-animation-delay="600">
                                            <strong>Телефоны горячей линии по вопросам образовательно-производственных центров (кластеров):</strong>
                                        </p>
                                        <div id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 14px; margin-bottom: 0px !important" data-animation="fadeInUp" data-animation-delay="600">
                                            <div class="col-lg-4">
                                                +7 (977) 978-29-43;
                                            </div>

                                            <div class="col-lg-4">
                                                +7 (495) 899-05-51 (доб. 185);
                                            </div>
                                            <div class="col-lg-4">
                                                +7 (495) 899-05-51 (доб. 333);
                                            </div>

                                        </div>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <img src="{{ asset('/img/img_start_landing/Телефон_2.PNG') }}" style="padding-right: 1vw; padding-left: 2vw; max-width: none; margin-left: 10px">
                                </th>
                                <th>
                                    <div class="panel-body">
                                        <p id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 14px; margin-bottom: 0px !important" data-animation="fadeInUp" data-animation-delay="600">
                                            <strong>Телефоны горячей линии по вопросам образовательных кластеров среднего профессионального образования:</strong>
                                        </p>
                                        <div id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 14px; margin-bottom: 0px !important" data-animation="fadeInUp" data-animation-delay="600">
                                            <div class="col-lg-6">
                                                +7 (916) 613-91-69;
                                            </div>
                                            <div class="col-lg-6">
                                                +7 (495) 899-05-52 (доб. 4);
                                            </div>
                                            <div class="col-lg-6">
                                                +7 (495) 899-05-51 (доб. 301, 311, 312, 313);
                                            </div>
                                            <div class="col-lg-6">
                                                +7 (495) 899-05-51 (доб. 314, 641)
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <img src="{{ asset('/img/img_start_landing/Телефон_1.PNG') }}" style="padding-right: 1vw; padding-left: 2vw; max-width: none; margin-left: 10px">
                                </th>
                                <th>
                                    <div class="panel-body">
                                        <p id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 14px; margin-bottom: 0px !important" data-animation="fadeInUp" data-animation-delay="600">
                                            <strong>Телефоны горячей линии по вопросам изменений в инфраструктурные листах:</strong>
                                        </p>
                                        <div id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 14px; margin-bottom: 0px !important" data-animation="fadeInUp" data-animation-delay="600">
                                            <div class="col-lg-4">
                                                +7 (495) 899-05-52 (доб. 7);
                                            </div>
                                            <div class="col-lg-4">
                                                +7 (495) 899-05-52 (доб. 310);
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <img src="{{ asset('/img/img_start_landing/Адрес.PNG') }}" style="padding-right: 1vw; padding-left: 2vw; max-width: none; margin-left: 10px">
                                </th>
                                <th>
                                    <div class="panel-body">
                                        <p id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 14px; margin-bottom: 0px !important" data-animation="fadeInUp" data-animation-delay="600">
                                            <strong>Наш Адрес:</strong>
                                        </p>
                                        <div id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 14px; margin-bottom: 0px !important" data-animation="fadeInUp" data-animation-delay="600">
                                            <div class="col-lg-12">
                                                101000, г. Москва, ул. Покровка, д. 27, строение 6
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
{#                <div id="hide-on-mobile" class="col-lg-3" style="margin-left: 1%; padding: 6vh">#}
{#                    <div class="row">#}
{#                        <div id="portfolio-gallery" class="ed-carousel7 ed-slick dots-classic dots-light dots-outside">#}
{#                            <article class="carousel-item7 portfolio-item web">#}
{#                                <div class="mb-0 scale_img_documents">#}
{#                                    <video class="owl-lazy" controls="controls" preload="none" poster="{{ asset('/img/img_start_landing/ОБЩИЙ.PNG') }}">#}
{#                                        <source src="{{ asset('/video/ОБЩИЙ.mp4') }}" type="video/mp4">#}
{#                                    </video>#}
{#                                </div>#}
{#                            </article>#}
{#                            <article class="carousel-item7 portfolio-item web">#}
{#                                <div class="mb-0 scale_img_documents">#}
{#                                    <video class="owl-lazy" controls="controls" preload="none" poster="{{ asset('/img/img_start_landing/Санкт-Петербург.PNG') }}">#}
{#                                        <source src="{{ asset('/video/Санкт-Петербург.mp4') }}" type="video/mp4">#}
{#                                    </video>#}
{#                                </div>#}
{#                            </article>#}
{#                            <article class="carousel-item7 portfolio-item web">#}
{#                                <div class="mb-0 scale_img_documents">#}
{#                                    <video class="owl-lazy" controls="controls" preload="none" poster="{{ asset('/img/img_start_landing/Ярославль.PNG') }}">#}
{#                                        <source src="{{ asset('/video/Ярославль.mp4') }}" type="video/mp4">#}
{#                                    </video>#}
{#                                </div>#}
{#                            </article>#}
{#                            <article class="carousel-item7 portfolio-item web">#}
{#                                <div class="mb-0 scale_img_documents">#}
{#                                    <video class="owl-lazy" controls="controls" preload="none" poster="{{ asset('/img/img_start_landing/Короча.PNG') }}">#}
{#                                        <source src="{{ asset('/video/Короча.mp4') }}" type="video/mp4">#}
{#                                    </video>#}
{#                                </div>#}
{#                            </article>#}
{#                            <article class="carousel-item7 portfolio-item web">#}
{#                                <div class="mb-0 scale_img_documents">#}
{#                                    <video class="owl-lazy" controls="controls" preload="none" poster="{{ asset('/img/img_start_landing/Реутов.PNG') }}">#}
{#                                        <source src="{{ asset('/video/Реутов.mp4') }}" type="video/mp4">#}
{#                                    </video>#}
{#                                </div>#}
{#                            </article>#}
{#                            <article class="carousel-item7 portfolio-item web">#}
{#                                <div class="mb-0 scale_img_documents">#}
{#                                    <video class="owl-lazy" controls="controls" preload="none" poster="{{ asset('/img/img_start_landing/Саранск.PNG') }}">#}
{#                                        <source src="{{ asset('/video/Саранск.mp4') }}" type="video/mp4">#}
{#                                    </video>#}
{#                                </div>#}
{#                            </article>#}
{#                            <article class="carousel-item7 portfolio-item web">#}
{#                                <div class="mb-0 scale_img_documents">#}
{#                                    <video class="owl-lazy" controls="controls" preload="none" poster="{{ asset('/img/img_start_landing/Озерск.PNG') }}">#}
{#                                        <source src="{{ asset('/video/Озерск.mp4') }}" type="video/mp4">#}
{#                                    </video>#}
{#                                </div>#}
{#                            </article>#}
{#                            <article class="carousel-item7 portfolio-item web">#}
{#                                <div class="mb-0 scale_img_documents">#}
{#                                    <video class="owl-lazy" controls="controls" preload="none" poster="{{ asset('/img/img_start_landing/Череповец.PNG') }}">#}
{#                                        <source src="{{ asset('/video/Череповец.mp4') }}" type="video/mp4">#}
{#                                    </video>#}
{#                                </div>#}
{#                            </article>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

                <div id="hide-on-pc" class="row">
                    <div class="col-lg-12">
                        <div>
                            <div class="panel-body">
                                <p id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 18px !important;" data-animation="fadeInUp" data-animation-delay="600"><strong>Цель:</strong>
                                </p>
                                <div id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 18px !important;" data-animation="fadeInUp" data-animation-delay="600">
                                    <div class="col-lg-12">
                                        Основной целью деятельности Федерального центра является методическое, информационно-технологическое и экспертно-аналитическое сопровождение (мониторинг) реализации мероприятий по развитию материально-технической базы, учебной и производственной инфраструктуры в системе среднего профессионального образования
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="panel-body">
                                <p id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 18px !important;" data-animation="fadeInUp" data-animation-delay="600">
                                    <strong>Телефон горячей линии по согласованию дизайн-проектов:</strong>
                                </p>
                                <div id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 18px !important;" data-animation="fadeInUp" data-animation-delay="600">
                                    <div class="col-lg-12">
                                        +7 (495) 899-05-51 (доб. 214)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="panel-body">
                                <p id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 18px !important;" data-animation="fadeInUp" data-animation-delay="600">
                                    <strong>E-mail по вопросам образовательно-производственных центров (кластеров):</strong>
                                </p>
                                <div id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 18px !important;" data-animation="fadeInUp" data-animation-delay="600">
                                    <div class="col-lg-12">
                                        cluster@firpo.ru<br>
                                        cluster2023@firpo.ru<br>
                                        cluster2024@firpo.ru<br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="panel-body">
                                <p id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 18px !important;" data-animation="fadeInUp" data-animation-delay="600">
                                    <strong>E-mail по вопросам образовательных кластеров среднего профессионального образования:</strong>
                                </p>
                                <div id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 18px !important;" data-animation="fadeInUp" data-animation-delay="600">
                                    <div class="col-lg-12">
                                        spo-cluster@firpo.ru<br>
                                        spo-cluster2024@firpo.ru<br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="panel-body">
                                <p id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 18px !important;" data-animation="fadeInUp" data-animation-delay="600">
                                    <strong>Телефоны горячей линии по вопросам образовательно-производственных центров (кластеров):</strong>
                                </p>
                                <div id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 18px !important;" data-animation="fadeInUp" data-animation-delay="600">
                                    <div class="col-lg-12">
                                        +7 (977) 978-29-43;<br>
                                        +7 (495) 899-05-51 (доб. 185);<br>
                                        +7 (495) 899-05-51 (доб. 333)<br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="panel-body">
                                <p id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 18px !important;" data-animation="fadeInUp" data-animation-delay="600">
                                    <strong>Телефоны горячей линии по вопросам изменений в инфраструктурные листах:</strong>
                                </p>
                                <div id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 18px !important;" data-animation="fadeInUp" data-animation-delay="600">
                                    <div class="col-lg-12">
                                        +7 (495) 899-05-52 (доб. 7);<br>
                                        +7 (495) 899-05-51 (доб. 310);<br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="panel-body">
                                <p id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 18px !important;" data-animation="fadeInUp" data-animation-delay="600">
                                    <strong>Телефоны горячей линии по вопросам образовательных кластеров среднего профессионального образования:</strong>
                                </p>
                                <div id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 18px !important;" data-animation="fadeInUp" data-animation-delay="600">
                                    <div class="col-lg-12">
                                        +7 (916) 613-91-69;<br>
                                        +7 (495) 899-05-52 (доб. 4);<br>
                                        +7 (495) 899-05-51 (доб. 301, 311, 312, 313);<br>
                                        +7 (495) 899-05-51 (доб. 314, 641)<br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="panel-body">
                                <p id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 18px !important;" data-animation="fadeInUp" data-animation-delay="600">
                                    <strong>Наш Адрес:</strong>
                                </p>
                                <div id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 18px !important;" data-animation="fadeInUp" data-animation-delay="600">
                                    <div class="col-lg-12" style="margin-bottom: 5vh">
                                        101000, г. Москва, ул. Покровка, д. 27, строение 5
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 m-5">
                            <div id="portfolio-gallery" class="ed-carousel8 ed-slick dots-classic dots-light dots-outside">
                                <article class="carousel-item8 portfolio-item web">
                                    <div class="mb-0 scale_img_documents">
                                        <video controls="controls" preload="none" poster="{{ asset('/img/img_start_landing/ОБЩИЙ.PNG') }}">
                                            <source src="{{ asset('/video/ОБЩИЙ.mp4') }}" type="video/mp4">
                                        </video>
                                    </div>
                                </article>
                                <article class="carousel-item8 portfolio-item web">
                                    <div class="mb-0 scale_img_documents">
                                        <video controls="controls" preload="none" poster="{{ asset('/img/img_start_landing/Санкт-Петербург.PNG') }}">
                                            <source src="{{ asset('/video/Санкт-Петербург.mp4') }}" type="video/mp4">
                                        </video>
                                    </div>
                                </article>
                                <article class="carousel-item8 portfolio-item web">
                                    <div class="mb-0 scale_img_documents">
                                        <video controls="controls" preload="none" poster="{{ asset('/img/img_start_landing/Ярославль.PNG') }}">
                                            <source src="{{ asset('/video/Ярославль.mp4') }}" type="video/mp4">
                                        </video>
                                    </div>
                                </article>
                                <article class="carousel-item8 portfolio-item web">
                                    <div class="mb-0 scale_img_documents">
                                        <video controls="controls" preload="none" poster="{{ asset('/img/img_start_landing/Короча.PNG') }}">
                                            <source src="{{ asset('/video/Короча.mp4') }}" type="video/mp4">
                                        </video>
                                    </div>
                                </article>
                                <article class="carousel-item8 portfolio-item web">
                                    <div class="mb-0 scale_img_documents">
                                        <video controls="controls" preload="none" poster="{{ asset('/img/img_start_landing/Реутов.PNG') }}">
                                            <source src="{{ asset('/video/Реутов.mp4') }}" type="video/mp4">
                                        </video>
                                    </div>
                                </article>
                                <article class="carousel-item8 portfolio-item web">
                                    <div class="mb-0 scale_img_documents">
                                        <video controls="controls" preload="none" poster="{{ asset('/img/img_start_landing/Саранск.PNG') }}">
                                            <source src="{{ asset('/video/Саранск.mp4') }}" type="video/mp4">
                                        </video>
                                    </div>
                                </article>
                                <article class="carousel-item8 portfolio-item web">
                                    <div class="mb-0 scale_img_documents">
                                        <video controls="controls" preload="none" poster="{{ asset('/img/img_start_landing/Озерск.PNG') }}">
                                            <source src="{{ asset('/video/Озерск.mp4') }}" type="video/mp4">
                                        </video>
                                    </div>
                                </article>
                                <article class="carousel-item8 portfolio-item web">
                                    <div class="mb-0 scale_img_documents">
                                        <video controls="controls" preload="none" poster="{{ asset('/img/img_start_landing/Череповец.PNG') }}">
                                            <source src="{{ asset('/video/Череповец.mp4') }}" type="video/mp4">
                                        </video>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>