<section data-id="participating_industries" class="ed-section sm-pb-0" style="background-image: url({{ asset('img/img_start_landing/Background_2.jpg') }}); background-size: cover; background-repeat: inherit; background-position: center; position: sticky">
    <div id="size_doc_inf">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2 id="text_size_header" class="text-center text-white text_adaptive_size_header">Отрасли участников Федерального проекта "Профессионалитет"</h2>
                    <div class="divider divider-alt divider-center divider-light"></div>
                    <p class="lead mb-50 text-center text-white"></p>
                </div>
            </div>


            <article id="hide-on-pc" class="col-lg-12" style="float: inherit">
                <div id="counter2" style="color: #FFFFFF; text-align: center">
                    <div>
                        <div data-num="141" class="number_op project-title heading-uppercase" style="font-size: 10vh; margin-bottom: 4vh">0</div>
                        <div class="number_op project-title heading-uppercase" style="font-size: 2vh; margin-bottom: 6vh">Образовательно-производственный кластер</div>
                    </div>
                    <div>
                        <div data-num="55" class="number_op project-title heading-uppercase" style="font-size: 10vh; margin-bottom: 4vh">0</div>
                        <div class="number_op project-title heading-uppercase" style="font-size: 2vh; margin-bottom: 6vh">Субъектов</div>
                    </div>
                    <div>
                        <div data-num="16" class="number_op project-title heading-uppercase" style="font-size: 10vh; margin-bottom: 4vh">0</div>
                        <div class="number_op project-title heading-uppercase" style="font-size: 2vh; margin-bottom: 6vh">Отраслей</div>
                    </div>
                </div>
            </article>


            <article id="hide-on-mobile" class="col-sm-3" style="float: left; margin-top: 5vh; margin-left: -25vh">
                <div id="counter" style="color: #FFFFFF">
                    <div>
                        <div data-num="141" class="number_op project-title heading-uppercase" style="font-size: 10vh; margin-bottom: 4vh">0</div>
                        <div class="number_op project-title heading-uppercase text_adaptive_size_header" style="margin-bottom: 6vh">Образовательно-производственный кластер</div>
                    </div>
                    <div>
                        <div data-num="60" class="number_op project-title heading-uppercase" style="font-size: 10vh; margin-bottom: 4vh">0</div>
                        <div class="number_op project-title heading-uppercase text_adaptive_size_header" style="margin-bottom: 6vh">ОбразовательныХ кластеров СПО</div>
                    </div>
                    <div>
                        <div data-num="68" class="number_op project-title heading-uppercase" style="font-size: 10vh; margin-bottom: 4vh">0</div>
                        <div class="number_op project-title heading-uppercase text_adaptive_size_header" style="margin-bottom: 6vh">Субъектов РФ</div>
                    </div>
                    <div>
                        <div data-num="22" class="number_op project-title heading-uppercase" style="font-size: 10vh; margin-bottom: 4vh">0</div>
                        <div class="number_op project-title heading-uppercase text_adaptive_size_header">ОтраслИ</div>
                    </div>
                </div>
            </article>
            <div class="row">
                <div>
                    <div id="portfolio-gallery" class="ed-carousel9 ed-slick dots-classic dots-light dots-outside row">
                        <article class="carousel-item9 portfolio-item web col-lg-12" style="margin-right: 2vh; margin-left: 2vh">
                            <div class="mb-0 scale_img_documents row">
                                <div class="col-lg-12 row" style="margin-bottom: 2vh">
                                    <div>
                                        <div class="col-lg-8">
                                            <h1  class="project-title heading-uppercase text_adaptive_size_header " style="display: flex; align-items: center; justify-content: left; height: 6vh; margin-top: 2rem; margin-left: 2rem; color: #FFFFFF">
                                                Образовательно-производственные центры (Кластеры)</h1>
                                        </div>
                                        <div class="col-lg-4">
                                            <h1 class="project-title heading-uppercase text_adaptive_size_header" style="display: flex; align-items: center; justify-content: right; height: 6vh; margin-top: 2rem; margin-right: 8rem; color: #FFFFFF">
                                                <b>2022г.</b>
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 my-auto" style="text-align: center">
                                        <a href="{{ path('app_listclusters', {'search_ind': 'Металлургия', '_year': 2022}) }}" target="_blank" style="margin: 1vh">
                                            <img src="{{ asset('/img/img_start_landing/Металлургия_1.png') }}" alt style="height: 12vh; width: 12vh;margin-left: auto; margin-right: auto; display: block">
                                            <div class="overlay">
                                            </div>

                                            <div class="project-details">
                                                <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 5vh; color: #FFFFFF">
                                                    Металлургия</h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-3" style="text-align: center">
                                        <a href="{{ path('app_listclusters', {'search_ind': 'Сельское', '_year': 2022}) }}" target="_blank" style="margin: 1vh">
                                            <img src="{{ asset('/img/img_start_landing/Сельское_хозяйство_1.png') }}" alt style="height: 12vh; width: 12vh;margin-left: auto; margin-right: auto; display: block">
                                            <div class="overlay">
                                            </div>

                                            <div class="project-details">
                                                <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 5vh; color: #FFFFFF">
                                                    Сельское хозяйство</h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-3" style="text-align: center">
                                        <a href="{{ path('app_listclusters', {'search_ind': 'Атомная', '_year': 2022}) }}" target="_blank" style="margin: 1vh">
                                            <img src="{{ asset('/img/img_start_landing/Атомная_отрасль_1.png') }}" alt style="height: 12vh; width: 12vh;margin-left: auto; margin-right: auto; display: block">
                                            <div class="overlay">
                                            </div>

                                            <div class="project-details">
                                                <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 5vh; color: #FFFFFF">
                                                    Атомная отрасль</h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-3" style="text-align: center">
                                        <a href="{{ path('app_listclusters', {'search_ind': 'Железнодорожный', '_year': 2022}) }}" target="_blank" style="margin: 1vh">
                                            <img src="{{ asset('/img/img_start_landing/Железнодорожный_транспорт_1.png') }}" alt style="height: 12vh; width: 12vh;margin-left: auto; margin-right: auto; display: block">
                                            <div class="overlay">
                                            </div>

                                            <div class="project-details">
                                                <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 5vh; color: #FFFFFF">
                                                    Железнодорожный транспорт</h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-3" style="text-align: center">
                                        <a href="{{ path('app_listclusters', {'search_ind': 'Легкая', '_year': 2022}) }}" target="_blank" style="margin: 1vh">
                                            <img src="{{ asset('/img/img_start_landing/Легкая_промышленность_1.png') }}" alt style="height: 12vh; width: 12vh;margin-left: auto; margin-right: auto; display: block">
                                            <div class="overlay">
                                            </div>

                                            <div class="project-details">
                                                <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 5vh; color: #FFFFFF">
                                                    Легкая промышленность</h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-3" style="text-align: center">
                                        <a href="{{ path('app_listclusters', {'search_ind': 'Машиностроение', '_year': 2022}) }}" target="_blank" style="margin: 1vh">
                                            <img src="{{ asset('/img/img_start_landing/Машиностроение_1.png') }}" alt style="height: 12vh; width: 12vh;margin-left: auto; margin-right: auto; display: block">
                                            <div class="overlay">
                                            </div>

                                            <div class="project-details">
                                                <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 5vh; color: #FFFFFF">
                                                    Машиностроение</h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-3" style="text-align: center">
                                        <a href="{{ path('app_listclusters', {'search_ind': 'Фармацевтическая', '_year': 2022}) }}" target="_blank" style="margin: 1vh">
                                            <img src="{{ asset('/img/img_start_landing/Фармацевтическая_отрасль_1.png') }}" alt style="height: 12vh; width: 12vh;margin-left: auto; margin-right: auto; display: block">
                                            <div class="overlay">
                                            </div>

                                            <div class="project-details">
                                                <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 5vh; color: #FFFFFF">
                                                    Фармацевтическая отрасль</h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-3" style="text-align: center">
                                        <a href="{{ path('app_listclusters', {'search_ind': 'Транспортная', '_year': 2022}) }}" target="_blank" style="margin: 1vh">
                                            <img src="{{ asset('/img/img_start_landing/Транспортная_отрасль_1.png') }}" alt style="height: 12vh; width: 12vh;margin-left: auto; margin-right: auto; display: block">
                                            <div class="overlay">
                                            </div>

                                            <div class="project-details">
                                                <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 5vh; color: #FFFFFF">
                                                    Транспортная отрасль</h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-3" style="text-align: center">
                                        <a href="{{ path('app_listclusters', {'search_ind': 'Химическая', '_year': 2022}) }}" target="_blank" style="margin: 1vh">
                                            <img src="{{ asset('/img/img_start_landing/Химическая_отрасль_1.png') }}" alt style="height: 12vh; width: 12vh;margin-left: auto; margin-right: auto; display: block">
                                            <div class="overlay">
                                            </div>

                                            <div class="project-details">
                                                <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 5vh; color: #FFFFFF">
                                                    Химическая отрасль</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="carousel-item9 portfolio-item web col-lg-12" style="margin-right: 2vh; margin-left: 2vh">
                            <div class="mb-0 scale_img_documents">
                                <div class="col-lg-12 row" style="margin-bottom: 2vh">
                                    <div>
                                        <div class="col-lg-8">
                                            <h1  class="project-title heading-uppercase text_adaptive_size_header " style="display: flex; align-items: center; justify-content: left; height: 6vh; margin-top: 2rem; margin-left: 2rem; color: #FFFFFF">
                                                Образовательно-производственные центры (Кластеры)</h1>
                                        </div>
                                        <div class="col-lg-4">
                                            <h1 class="project-title heading-uppercase text_adaptive_size_header" style="display: flex; align-items: center; justify-content: right; height: 6vh; margin-top: 2rem; margin-right: 8rem; color: #FFFFFF">
                                                <b>2023г.</b>
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-lg-12 row">
                                    <div>
                                        <div class="col-sm-3" style="text-align: center">
                                            <a href="{{ path('app_listclusters', {'search_ind': 'Лесная', '_year': 2023}) }}" target="_blank" style="margin: 1vh">
                                                <img src="{{ asset('/img/img_start_landing/Лесная_промышленность_1.png') }}" alt style="height: 7vh; width: 7vh;margin-left: auto; margin-right: auto; display: block">
                                                <div class="overlay">
                                                </div>

                                                <div class="project-details">
                                                    <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 5vh; color: #FFFFFF">
                                                        Лесная промышленность</h4>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-sm-3" style="text-align: center">
                                            <a href="{{ path('app_listclusters', {'search_ind': 'Радиоэлектроника', '_year': 2023}) }}" target="_blank" style="margin: 1vh">
                                                <img src="{{ asset('/img/img_start_landing/Радиоэлектроника_1.png') }}" alt style="height: 7vh; width: 7vh;margin-left: auto; margin-right: auto; display: block">
                                                <div class="overlay">
                                                </div>

                                                <div class="project-details">
                                                    <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 5vh; color: #FFFFFF">
                                                        Радиоэлектроника</h4>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-sm-3" style="text-align: center">
                                            <a href="{{ path('app_listclusters', {'search_ind': 'Горнодобывающая', '_year': 2023}) }}" target="_blank" style="margin: 1vh">
                                                <img src="{{ asset('/img/img_start_landing/Горнодобывающая_промышленность_1.png') }}" alt style="height: 7vh; width: 7vh;margin-left: auto; margin-right: auto; display: block">
                                                <div class="overlay">
                                                </div>

                                                <div class="project-details">
                                                    <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 5vh; color: #FFFFFF">
                                                        Горнодобывающая промышленность</h4>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-sm-3" style="text-align: center">
                                            <a href="{{ path('app_listclusters', {'search_ind': 'Топливно', '_year': 2023}) }}" target="_blank" style="margin: 1vh">
                                                <img src="{{ asset('/img/img_start_landing/Топливно-энергетический_комплекс_1.png') }}" alt style="height: 7vh; width: 7vh;margin-left: auto; margin-right: auto; display: block">
                                                <div class="overlay">
                                                </div>

                                                <div class="project-details">
                                                    <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 5vh; color: #FFFFFF">
                                                        Топливно-энергетический комплекс</h4>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-sm-3" style="text-align: center">
                                            <a href="{{ path('app_listclusters', {'search_ind': 'Машиностроение', '_year': 2023}) }}" target="_blank" style="margin: 1vh">
                                                <img src="{{ asset('/img/img_start_landing/Машиностроение_1.png') }}" alt style="height: 7vh; width: 7vh;margin-left: auto; margin-right: auto; display: block">
                                                <div class="overlay">
                                                </div>

                                                <div class="project-details">
                                                    <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 5vh; color: #FFFFFF">
                                                        Машиностроение</h4>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-sm-3" style="text-align: center">
                                            <a href="{{ path('app_listclusters', {'search_ind': 'Атомная', '_year': 2023}) }}" target="_blank" style="margin: 1vh">
                                                <img src="{{ asset('/img/img_start_landing/Атомная_отрасль_1.png') }}" alt style="height: 7vh; width: 7vh;margin-left: auto; margin-right: auto; display: block">
                                                <div class="overlay">
                                                </div>

                                                <div class="project-details">
                                                    <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 5vh; color: #FFFFFF">
                                                        Атомная отрасль</h4>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-sm-3" style="text-align: center">
                                            <a href="{{ path('app_listclusters', {'search_ind': 'Химическая', '_year': 2023}) }}" target="_blank" style="margin: 1vh">
                                                <img src="{{ asset('/img/img_start_landing/Химическая_отрасль_1.png') }}" alt style="height: 7vh; width: 7vh;margin-left: auto; margin-right: auto; display: block">
                                                <div class="overlay">
                                                </div>

                                                <div class="project-details">
                                                    <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 5vh; color: #FFFFFF">
                                                        Химическая отрасль</h4>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-sm-3" style="text-align: center">
                                            <a href="{{ path('app_listclusters', {'search_ind': 'Информационные', '_year': 2023}) }}" target="_blank" style="margin: 1vh">
                                                <img src="{{ asset('/img/img_start_landing/Информационные_технологии_1.png') }}" alt style="height: 7vh; width: 7vh;margin-left: auto; margin-right: auto; display: block">
                                                <div class="overlay">
                                                </div>

                                                <div class="project-details">
                                                    <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 5vh; color: #FFFFFF">
                                                        Информационные технологии</h4>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-sm-3" style="text-align: center">
                                            <a href="{{ path('app_listclusters', {'search_ind': 'Строительная', '_year': 2023}) }}" target="_blank" style="margin: 1vh">
                                                <img src="{{ asset('/img/img_start_landing/Строительная_отрасль_1.png') }}" alt style="height: 7vh; width: 7vh;margin-left: auto; margin-right: auto; display: block">
                                                <div class="overlay">
                                                </div>

                                                <div class="project-details">
                                                    <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 5vh; color: #FFFFFF">
                                                        Строительная отрасль</h4>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-sm-3" style="text-align: center">
                                            <a href="{{ path('app_listclusters', {'search_ind': 'Электротехническая', '_year': 2023}) }}" target="_blank" style="margin: 1vh">
                                                <img src="{{ asset('/img/img_start_landing/Электротехническая_промышленность_1.png') }}" alt style="height: 7vh; width: 7vh;margin-left: auto; margin-right: auto; display: block">
                                                <div class="overlay">
                                                </div>

                                                <div class="project-details">
                                                    <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 5vh; color: #FFFFFF">
                                                        Электротехническая промышленность</h4>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-sm-3" style="text-align: center">
                                            <a href="{{ path('app_listclusters', {'search_ind': 'Сельское', '_year': 2023}) }}" target="_blank" style="margin: 1vh">
                                                <img src="{{ asset('/img/img_start_landing/Сельское_хозяйство_1.png') }}" alt style="height: 7vh; width: 7vh;margin-left: auto; margin-right: auto; display: block">
                                                <div class="overlay">
                                                </div>

                                                <div class="project-details">
                                                    <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 5vh; color: #FFFFFF">
                                                        Сельское хозяйство</h4>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-sm-3" style="text-align: center">
                                            <a href="{{ path('app_listclusters', {'search_ind': 'Железнодорожный', '_year': 2023}) }}" target="_blank" style="margin: 1vh">
                                                <img src="{{ asset('/img/img_start_landing/Железнодорожный_транспорт_1.png') }}" alt style="height: 7vh; width: 7vh;margin-left: auto; margin-right: auto; display: block">
                                                <div class="overlay">
                                                </div>

                                                <div class="project-details">
                                                    <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 5vh; color: #FFFFFF">
                                                        Железнодорожный транспорт</h4>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-sm-3" style="text-align: center">
                                            <a href="{{ path('app_listclusters', {'search_ind': 'Металлургия', '_year': 2023}) }}" target="_blank" style="margin: 1vh">
                                                <img src="{{ asset('/img/img_start_landing/Металлургия_1.png') }}" alt style="height: 7vh; width: 7vh;margin-left: auto; margin-right: auto; display: block">
                                                <div class="overlay">
                                                </div>

                                                <div class="project-details">
                                                    <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 5vh; color: #FFFFFF">
                                                        Металлургия</h4>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-sm-3" style="text-align: center">
                                            <a href="{{ path('app_listclusters', {'search_ind': 'Легкая', '_year': 2023}) }}" target="_blank" style="margin: 1vh">
                                                <img src="{{ asset('/img/img_start_landing/Легкая_промышленность_1.png') }}" alt style="height: 7vh; width: 7vh;margin-left: auto; margin-right: auto; display: block">
                                                <div class="overlay">
                                                </div>

                                                <div class="project-details">
                                                    <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 5vh; color: #FFFFFF">
                                                        Легкая промышленность</h4>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-sm-3" style="text-align: center">
                                            <a href="{{ path('app_listclusters', {'search_ind': 'Транспортная', '_year': 2023}) }}" target="_blank" style="margin: 1vh">
                                                <img src="{{ asset('/img/img_start_landing/Транспортная_отрасль_1.png') }}" alt style="height: 7vh; width: 7vh;margin-left: auto; margin-right: auto; display: block">
                                                <div class="overlay">
                                                </div>

                                                <div class="project-details">
                                                    <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 5vh; color: #FFFFFF">
                                                        Транспортная отрасль</h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>

{#                        <article class="carousel-item9 portfolio-item web col-lg-12" style="margin-right: 2vh; margin-left: 2vh">#}
{#                            <div class="mb-0 scale_img_documents">#}
{#                                <table class="col-lg-12">#}
{#                                    <tr>#}
{#                                        <th class="col-lg-8">#}
{#                                            <h1  class="project-title heading-uppercase text_adaptive_size_header " style="display: flex; align-items: center; justify-content: left; height: 6vh; margin-top: 2rem; margin-left: 2rem; color: #FFFFFF">#}
{#                                                Образовательные кластеры СПО</h1>#}
{#                                        </th>#}
{#                                        <th class="col-lg-4">#}
{#                                            <h1 class="project-title heading-uppercase text_adaptive_size_header" style="display: flex; align-items: center; justify-content: right; height: 6vh; margin-top: 2rem; margin-right: 8rem; color: #FFFFFF">#}
{#                                                <b>2023</b>#}
{#                                            </h1>#}
{#                                        </th>#}
{#                                    </tr>#}
{#                                </table>#}
{#                                <table class="row col-lg-12">#}
{#                                    <tr>#}
{#                                        <th style="text-align: center; text-align: -moz-center">#}
{#                                            <a href="{{ path('app_listclusters') }}" target="_blank" style="margin: 1vh">#}
{#                                                <img src="{{ asset('/img/img_start_landing/businessmen-and-businesswomen-meeting.jpg') }}" alt style="height: 12vh; border-radius: 6rem">#}
{#                                                <div class="overlay">#}
{#                                                </div>#}

{#                                                <div class="project-details">#}
{#                                                    <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 5vh">#}
{#                                                        Тест</h4>#}
{#                                                </div>#}
{#                                            </a>#}
{#                                        </th>#}
{#                                        <th style="text-align: center; text-align: -moz-center">#}
{#                                            <a href="{{ path('app_listclusters') }}" target="_blank" style="margin: 1vh">#}
{#                                                <img src="{{ asset('/img/img_start_landing/businessmen-and-businesswomen-meeting.jpg') }}" alt style="height: 12vh; border-radius: 6rem">#}
{#                                                <div class="overlay">#}
{#                                                </div>#}

{#                                                <div class="project-details">#}
{#                                                    <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 5vh">#}
{#                                                        Тест</h4>#}
{#                                                </div>#}
{#                                            </a>#}
{#                                        </th>#}
{#                                        <th style="text-align: center; text-align: -moz-center">#}
{#                                            <a href="{{ path('app_listclusters') }}" target="_blank" style="margin: 1vh">#}
{#                                                <img src="{{ asset('/img/img_start_landing/businessmen-and-businesswomen-meeting.jpg') }}" alt style="height: 12vh; border-radius: 6rem">#}
{#                                                <div class="overlay">#}
{#                                                </div>#}

{#                                                <div class="project-details">#}
{#                                                    <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 5vh">#}
{#                                                        Тест</h4>#}
{#                                                </div>#}
{#                                            </a>#}
{#                                        </th>#}
{#                                    <tr>#}
{#                                    <tr>#}
{#                                        <th style="text-align: center; text-align: -moz-center">#}
{#                                            <a href="{{ path('app_listclusters') }}" target="_blank" style="margin: 1vh">#}
{#                                                <img src="{{ asset('/img/img_start_landing/businessmen-and-businesswomen-meeting.jpg') }}" alt style="height: 12vh; border-radius: 6rem">#}
{#                                                <div class="overlay">#}
{#                                                </div>#}

{#                                                <div class="project-details">#}
{#                                                    <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 5vh">#}
{#                                                        Тест</h4>#}
{#                                                </div>#}
{#                                            </a>#}
{#                                        </th>#}
{#                                        <th style="text-align: center; text-align: -moz-center">#}
{#                                            <a href="{{ path('app_listclusters') }}" target="_blank" style="margin: 1vh">#}
{#                                                <img src="{{ asset('/img/img_start_landing/businessmen-and-businesswomen-meeting.jpg') }}" alt style="height: 12vh; border-radius: 6rem">#}
{#                                                <div class="overlay">#}
{#                                                </div>#}

{#                                                <div class="project-details">#}
{#                                                    <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 5vh">#}
{#                                                        Тест</h4>#}
{#                                                </div>#}
{#                                            </a>#}
{#                                        </th>#}
{#                                        <th style="text-align: center; text-align: -moz-center">#}
{#                                            <a href="{{ path('app_listclusters') }}" target="_blank" style="margin: 1vh">#}
{#                                                <img src="{{ asset('/img/img_start_landing/businessmen-and-businesswomen-meeting.jpg') }}" alt style="height: 12vh; border-radius: 6rem">#}
{#                                                <div class="overlay">#}
{#                                                </div>#}

{#                                                <div class="project-details">#}
{#                                                    <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 5vh">#}
{#                                                        Тест</h4>#}
{#                                                </div>#}
{#                                            </a>#}
{#                                        </th>#}
{#                                    <tr>#}
{#                                </table>#}
{#                            </div>#}
{#                        </article>#}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>