<section data-id="listclusters" class="ed-section sm-pb-0" style="background-image: url({{ asset('img/img_start_landing/Background_1.jpg') }}); background-size: cover; background-repeat: inherit; background-position: center; position: sticky">
    <div id="size_doc_inf">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2 id="text_size_header" class="text-center  text-white text_adaptive_size_header">Перечень кластеров</h2>
                    <div class="divider divider-alt divider-center divider-light"></div>
                    <p class="lead mb-50 text-center text-white"></p>
                </div>
            </div>
            <p id="text_size_subtitle_1" class="text-center text-white text_adaptive_size_subtitle design_margin">
                Перечень образовательно-производственных кластеров и образовательных кластеров среднего профессионального образования
            </p>
            <div class="row">
                <div>
                    <div id="portfolio-gallery" class="ed-carousel6 ed-slick dots-classic dots-light dots-outside">
                        <article class="carousel-item6 portfolio-item web" style="margin-right: 2vh; margin-left: 2vh">
                            <div class="project-container mb-0 scale_img_documents" style="border-radius: 6rem">
                                <a href="{{ path('app_list_clusters_with_type', {"type": "cluster"}) }}" target="_blank" style="margin: 1vh">
                                    <img src="{{ asset('/img/img_start_landing/Электромонтажные_работы.png') }}" alt style="height: 35vh; border-radius: 6rem">
                                    <div class="overlay">
                                    </div>

                                    <div class="project-details">
                                        <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 12vh">
                                            образовательно-производственные кластеры
                                        </h4>
                                    </div>
                                </a>
                            </div>
                        </article>
                        <article class="carousel-item6 portfolio-item web" style="margin-right: 2vh; margin-left: 2vh">
                            <div class="project-container mb-0 scale_img_documents" style="border-radius: 6rem">
                                <a href="{{ path('app_list_clusters_with_type', {"type": "small-cluster"}) }}" target="_blank" style="margin: 1vh">
                                    <img src="{{ asset('/img/img_start_landing/photo_2023-11-01_13-21-11.jpg') }}" alt style="height: 35vh; border-radius: 6rem">
                                    <div class="overlay">
                                    </div>

                                    <div class="project-details">
                                        <h4 id="text_size_subtitle_1" class="h5 project-title heading-uppercase text_scale_img_documents text_adaptive_size_subtitle_2 " style="display: flex; align-items: center; justify-content: center; height: 12vh">
                                            образовательные кластеры среднего профессионального образования
                                        </h4>
                                    </div>
                                </a>
                            </div>
                        </article>
                    </div>
                    <h3 class="h4 text-white"></h3>
                    <p class="text-white"></p>
                </div>
            </div>
        </div>
    </div>
</section>