{% if i.getUserInfo().getRfSubject() is not null %}
    {% set isRegion = true %}
{% else %}
    {% set isRegion = false %}
{% endif %}
{% set isInspector = is_granted('ROLE_INSPECTOR') or is_granted('ROLE_SMALL_CURATOR') %}
<div class="col-lg-4 animated fadeIn cluster-card mb-3"
     data-year="{{ i.getUserInfo().getYear() }}"
     data-industry="{{ i.getUserInfo().getDeclaredIndustry() }}"
        {% if isRegion %}
            data-region="{{ i.getUserInfo().getRfSubject().getName() }}"
            data-district="{{ i.getUserInfo().getRfSubject().getDistrict() }}"
        {% endif %}

>
    <div class="contact-box">
        <div class="row contact-box-content">
            <div class="col-lg-12">
                {% if isInspector %}
                    <div class="row">
                        <div class="col-lg-12">
                            {% if i.getUserInfo().getContractCertifications()|length > 0 %}
                                {% set statusLib = {
                                    'Справка не прислана' : '-danger',
                                    'Файл на проверке' : '-warning',
                                    'Новый файл на проверке' : '-warning',
                                    'Отправлен на доработку' : '-revision',
                                    'Справка принята' : '-primary',

                                } %}
                                {% set status = i.getUserInfo().getContractCertifications().last().getStatus() %}
                                <b>Состояние справки о контрактации: </b>
                                <a type="button" data-toggle="modal" data-target="#contractCertificateModal-{{ i.getUserIdentifier() }}">
                                    <span class="badge badge{{ statusLib[status] }}">
                                        {{ status }}
                                    </span>
                                </a>


                            {% endif %}



                        </div>

                    </div>

                    {% set ReadinessMapChecks = i.getReadinessMapChecks().last() %}
                    {% if ReadinessMapChecks %}
                    {% set statusLib2 = {
                        'На рассмотрении' : '-danger',
                        'Исправлено' : '-warning',
                        'На доработке' : '-revision',
                        'Принято' : '-primary',

                    } %}
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            {% set status_rm = ReadinessMapChecks.getStatus().last() %}
                            <b>Состояние проверки карт готовности: </b>
                            {% if status_rm %}
                            <a href="{{ path('app_inspector_readiness_map', {'id': i.getId()}) }}" >
                                    <span class="badge badge{{ statusLib2[status_rm.getStatus()] }}">
                                        {{ status_rm.getStatus() }}
                                    </span>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    <hr>
                    {% if  buttons is defined %}
                        {{ buttons }}
                    {% endif %}
                {% endif %}


                <h3>
                    <strong>
                        {{ i.getUserInfo().getEducationalOrganization() }}
                    </strong>

                </h3>


                {% if isRegion %}
                    <p><i class="fa fa-map-marker"></i> {{ i.getUserInfo().getRfSubject().getName() }}</p>
                {% else %}
                    <p class="red-bg"><i class="fa fa-map-marker"></i> Не указан регион!</p>
                {% endif %}
                <span class="badge badge-success">
                    {{ i.getUserInfo().getYear() }} год
                </span>
                <br>
                {% if "ROLE_SMALL_CLUSTERS" in  i.getRoles() %}
                    <span class="badge badge-success">
                        Малый кластер
                    </span>
                {% endif %}
                {% if "ROLE_REGION" in  i.getRoles() %}
                    <span class="badge badge-primary">
                        Производственный кластер
                    </span>
                {% endif %}
                <address>
                    <b>Кластер: </b>{{ i.getUserInfo().getCluster() }}<br>
                    <b>Отрасль: </b>{{ i.getUserInfo().getDeclaredIndustry() }} <br>
                    <b>Организация: </b>{{ i.getUserInfo().getOrganization() }}<br>
                    <b>Пользователь: </b>{{ i.getUuid() }} <br>

                    {#<abbr title="Phone">P:</abbr> (123) 456-7890#}
                </address>

            </div>
        </div>

        <div class="contact-box-footer card-btns">

            <div class="flex-container" style="overflow: hidden">
                <a href="{{ path('app_inspector_show_info_about_cluster', {'id': i.getId()}) }}">
                    <button class="btn btn-cyan col-lg-12 mb-2">
                        <div class="fa fa-archive"></div>
                        Подробная информация о кластере
                    </button>
                </a>

                {% if is_granted('ROLE_SPECTATOR') %}
                    <a href="{{ path('app_spectator_readiness_map', {'id': i.getId()}) }}">
                        <button class="btn btn-primary col-lg-12 mb-2">
                            <div class="fa fa-check-circle"></div>
                            Карта готовности
                        </button>
                    </a>
                {% endif %}
                {% if is_granted('ROLE_DIRECTORATE') %}
                    <a href="{{ path('app_inspector_show_purchases', {'id': i.getId()}) }}">
                        <button class="btn btn-info col-lg-12 mb-2">
                            <div class="fa fa-archive"></div>
                            Просмотр Закупок
                        </button>
                    </a>
                    <a href="{{ path('app_roiv_readiness_map', {'id': i.getId()}) }}">
                        <button class="btn btn-primary col-lg-12 mb-2">
                            <div class="fa fa-check-circle"></div>
                            Карта готовности
                        </button>
                    </a>
                {% endif %}
                {% if isInspector %}
                    <a href="{{ path('app_inspector_show_purchases', {'id': i.getId()}) }}">
                        <button class="btn btn-info col-lg-12 mb-2">
                            <div class="fa fa-archive"></div>
                            Просмотр Закупок
                        </button>
                    </a>
                {% endif %}

                {% if isInspector %}
                    <a href="{{ path('app_weekly_budget_amount', {'id': i.getId()}) }}">
                        <button class="btn btn-success col-lg-12 mb-2">
                            <div class="fa fa-money"></div>
                            Недельная сумма по бюджету
                        </button>
                    </a>
                {% endif %}

                {% if isInspector %}
                    <a href="{{ path('app_inspector_readiness_map', {'id': i.getId()}) }}">
                        <button class="btn btn-primary col-lg-12 mb-2">
                            <div class="fa fa-check-circle"></div>
                            Карта готовности
                        </button>
                    </a>
                    <a href="{{ path('app_curator_infrastructure_sheet', {'id': i.getId()}) }}">
                        <button class="btn btn-light-green col-lg-12 mb-2">
                            <div class="fa fa-table"></div>
                            Инфраструктурный лист
                        </button>
                    </a>
                    {% if i.getUserInfo().getYear() > 2023 %}
                    <a href="{{ path('app_inspector_co_financing_funds', {'id': i.getId()}) }}">
                        <button class="btn btn-light-yellow col-lg-12 mb-2">
                            <div class="fa fa-bookmark"></div>
                            Средства софинансирования
                            <span class="badge cofinancing-badge" id="" data-id="{{ i.getId() }}">

                            </span>
                        </button>
                    </a>
                    {% endif %}

                    <a href="{{ path('app_inspector_view_contacts', {'id': i.getId()}) }}">
                        <button class="btn btn-contact col-lg-12 mb-2">
                            <div class="fa fa-pencil"></div>
                            Контакты
                        </button>
                    </a>

                    <a href="{{ path('app_login', {'_switch_user': i.getUserIdentifier()}) }}">
                        <button class="btn btn-warning col-lg-12">
                            <div class="fa fa-leaf"></div>
                            Переключиться
                        </button>
                    </a>
                {% endif %}

            </div>
            <hr>
            <div class="row">

                {% if isInspector %}


                    {% for tag in i.getUserTags() %}
                        <span class="badge mr-1">
                        {{ tag.getTag() }}
                    </span>
                    {% endfor %}
                    <button class="btn badge tag-button" id="tag-{{ i.getId() }}"
                            data-tag-id="{{ i.getId() }}"
                            data-org=" {{ i.getUserInfo().getEducationalOrganization() }}"
                            data-toggle="modal"
                            data-target="#tagModal">
                        <i class="fa fa-plus" data-tag-id="{{ i.getId() }}"></i>
                    </button>
                {% endif %}
            </div>
        </div>
        {% if isInspector and i.getUserInfo().getContractCertifications()|length > 0 %}
            <div class="modal fade" id="contractCertificateModal-{{ i.getUserIdentifier() }}" tabindex="-1"
                 role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"> {{ i.getUserInfo().getEducationalOrganization() }} </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="{{ path('app_certificate_approve', {'id': i.getUserInfo().getContractCertifications().last().getId()}) }}" method="post">
                        <div class="modal-body">
                            {% set file = i.getUserInfo().getContractCertifications().last().getFile() %}
                            {% set table = i.getUserInfo().getContractCertifications().last().getPurchasesTable() %}
                            {% if file %}
                                <a href="{{ path('app_download_file_by_route', {'file': file, 'route': 'certificate_files_directory'}) }}">
                                    <i class="fa fa-download"></i> {{ file }}
                                </a>
                                {% if table %}
                                    <hr>
                                    <a href="{{ path('app_download_file_by_route', {'file': table, 'route': 'purchases_table_directory'}) }}">
                                        <i class="fa fa-download"></i> Таблица закупок
                                    </a>
                                {% endif %}
                                <hr>


                                    <div class="col-sm-10">
                                        <div>
                                            <label>
                                                <input type="radio" checked="" value="Справка принята" id="optionsRadios1" name="optionsRadios">
                                                Принято
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                <input type="radio" value="Отправлен на доработку" id="optionsRadios2" name="optionsRadios">
                                                На доработку
                                            </label>
                                        </div>
                                    </div>
                                    <input type="hidden" name="token" value="{{ csrf_token('approve-certification') }}"/>

                            {% else %}
                                <p>
                                    <span class="badge badge-danger">Справки нет</span>
                                </p>
                            {% endif %}
                        </div>
                        <div class="modal-footer">

                            {% if file %}
                                <button type="submit" class="btn btn-primary">Сохранить</button>
                            {% endif %}
                            <button type="button" class="btn" data-dismiss="modal">Закрыть</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>