{% set isInspector = is_granted('ROLE_INSPECTOR') or is_granted('ROLE_SMALL_CURATOR')  %}
<div class="row">
    <div class="col-lg-12 mt-3">
        <div class="ibox">
            <a class="collapse-link">
                <div class="ibox-title">
                    <h5>Инфо о кластере</h5>
                    <div class="ibox-tools">

                        <i class="fa fa-chevron-up"></i>


                    </div>
                </div>
            </a>
            <div class="ibox-content">
                {#{% set user_info = user.getUserInfo() %}#}
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td class="col-md-4">
                            Субъект РФ
                        </td>
                        <td style="vertical-align: middle">
                            {% if  user_info.getRfSubject() %}
                                {{ user_info.getRfSubject().getName() }}
                            {% endif %}

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            Инициатор создания кластера
                        </td>
                        <td style="vertical-align: middle">
                            {{ user_info.getInitiatorOfCreation() }}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            Наименование организации грантополучателя
                        </td>
                        <td style="vertical-align: middle">
                            {{ user_info.getOrganization() }}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            Наименование базовой образовательной организации
                        </td>
                        <td style="vertical-align: middle">
                            {{ user_info.getEducationalOrganization() }}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            Наименование кластера
                        </td>
                        <td style="vertical-align: middle">
                            {{ user_info.getCluster() }}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            Заявленная отрасль
                        </td>
                        <td style="vertical-align: middle">
                            {{ user_info.getDeclaredIndustry() }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="ibox-footer">
                {% if isInspector %}
                    <div class="container">
                        <a href="{{ path('app_inspector_show_info_about_cluster', {'id': user_info.getId()}) }}">
                            <button class="btn btn-cyan mb-2 child">
                                <div class="fa fa-archive"></div>
                                Подробная информация о кластере
                            </button>
                        </a>
                        <a href="{{ path('app_inspector_show_purchases', {'id': user_info.getId()}) }}">
                            <button class="btn btn-info mb-2 child">
                                <div class="fa fa-archive"></div>
                                Просмотр Закупок
                            </button>
                        </a>
                        <a href="{{ path('app_weekly_budget_amount', {'id': user_info.getId()}) }}">
                            <button class="btn btn-success mb-2 child">
                                <div class="fa fa-money"></div>
                                Недельная сумма по бюджету
                            </button>
                        </a>
                        <a href="{{ path('app_inspector_readiness_map', {'id': user_info.getId()}) }}">
                            <button class="btn btn-primary mb-2 child">
                                <div class="fa fa-check-circle"></div>
                                Карта готовности
                            </button>
                        </a>
                        <a href="{{ path('app_login', {'_switch_user': user_info.getId()}) }}">
                            <button class="btn btn-warning mb-2 child">
                                <div class="fa fa-leaf"></div>
                                Переключиться
                            </button>
                        </a>
                    </div>

                {% endif %}
            </div>
        </div>
    </div>
</div>