    <div class="footer block-shadow">
        <div class="float-right">

        </div>
        <div>

        </div>
    </div>
</div>



</body>
</html>


{#<script src="{{ asset('js/popper.min.js') }}"></script>#}
<script src="{{ asset('js/bootstrap.js') }}"></script>
<script src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
<script src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
<script src="{{ asset('js/plugins/toastr/toastr.min.js') }}"></script>

<script src="{{ asset('js/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
<script src="{{ asset('js/scripts/delete_alert.js') }}"></script>
{#    Уведамления по типу тоста(сверху)#}
{#<script src="{{ asset('js/plugins/gritter/jquery.gritter.min.js') }}"></script>#}

{# Тоаст уведомления #}
{#<script src="{{ asset('js/plugins/toastr/toastr.min.js') }}"></script>#}
<script>
    $(document).ready(function(){
        toastr.options = {
            "debug": false,
            "positionClass": "toast-bottom-right",
            "onclick": null,
            "fadeIn": 100,
            "fadeOut": 100,
            "timeOut": 5000,
            "extendedTimeOut": 100,
            "closeDuration": 100,
        };



    });
</script>
<script>
    $(document).ready(function(){
        document.addEventListener('keydown', function(event) {
            if (event.shiftKey && event.key === '+') {
                $('.collapsed > .ibox-content').css('display', 'block')
            }
            if (event.shiftKey && event.key === '_') {
                $('.collapsed > .ibox-content').css('display', 'none')
            }
        });
    });
</script>
<script>
    $(document).ready(function(){
        function isFloat(n){
            return Number(n) === n && n % 1 !== 0;
        }
        function isInt(n) {
            return n % 1 === 0;
        }
        let numberCells = $('.cell-number');
        numberCells.each((elem) => {
            let _cell = $(numberCells[elem]);
            let _text = "";

            if(isFloat(parseFloat(_cell.text())) || isInt(parseInt(_cell.text())))
                _text = parseFloat(_cell.text()).toLocaleString('ru-RU') + " ₽";

            _cell.text(_text);

        });
        let numberCellsInd = $('.cell-number-ind');
        numberCellsInd.each((elem) => {
            let _cell = $(numberCellsInd[elem]);
            let _text = "";

            if(isFloat(parseFloat(_cell.text())) || isInt(parseInt(_cell.text())))
                _text = parseFloat(_cell.text()).toLocaleString('ru-RU');

            _cell.text(_text);

        });
    });
</script>
{% if is_granted('ROLE_INSPECTOR') %}
    <script>
        $(document).ready(function(){
            fetch('https://mtb-spo.ru/api/feedback-unviewed').then(function(response) {
                response.json().then(function(data) {
                    let feedbackCount = $('#feedback-count');
                    if(data === '0'){
                        feedbackCount.hide();
                    }
                    else{
                        toastr.info(data + ' новых сообщений по обратной связи');
                        feedbackCount.html(data);
                    }
                })
            });
        })
    </script>
{% endif %}
{% if is_granted('ROLE_REGION') or is_granted('ROLE_SMALL_CLUSTERS') %}
    <script>
        $(document).ready(function(){
            fetch('/api/purchase-notes').then(function(response) {
                response.json().then(function(data) {
                    let purchaseNote = $('#purchase-notes-count');

                    if(data === '0'){
                        purchaseNote.hide();
                    }
                    else{
                        toastr.info('Есть новые замечания к закупкам');
                        console.log(data);
                        purchaseNote.html(data.toString());

                    }
                })
            });
            fetch('/api/certificate-notification').then(function(response) {
                response.json().then(function(data) {

                    let purchaseNote = $('#certificate-notification');
                    if(typeof data === 'object')
                    {
                        console.log('?????');
                        purchaseNote.hide();
                        return;
                    }
                    console.log(data);
                    if(data.includes("Справка не прислана"))
                    {
                        console.log(1);
                        purchaseNote.addClass('badge-danger');
                        purchaseNote.find('i').addClass('fa-times');
                        return;
                    }
                    if(data.includes("Файл на проверке"))
                    {
                        console.log(2);
                        purchaseNote.addClass('badge-warning');
                        purchaseNote.find('i').addClass('fa-repeat');
                        return;
                    }
                    if(data.includes("Новый файл на проверке"))
                    {
                        console.log(3);
                        purchaseNote.addClass('badge-warning');
                        purchaseNote.find('i').addClass('fa-repeat');
                        return;
                    }
                    if(data.includes("Отправлен на доработку"))
                    {
                        console.log(4);
                        purchaseNote.addClass('badge-revision');
                        purchaseNote.find('i').addClass('fa-times');
                        return;
                    }
                    if(data.includes("Справка принята"))
                    {
                        console.log(5);
                        purchaseNote.addClass('badge-primary');
                        purchaseNote.find('i').addClass('fa-thumbs-up');
                        return;
                    }
                    console.log('?????');
                    purchaseNote.hide();
                })
            });
        })
    </script>

{% endif %}
{% block scripts %}

{% endblock %}