<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>ИРПО Закупки</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('img/ico/rpop_icon.png') }}">

    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('font-awesome/css/font-awesome.css') }}" rel="stylesheet">

    <link href="{{ asset('css/plugins/iCheck/custom.css') }}" rel="stylesheet">
    <link href="{{ asset('css/plugins/steps/jquery.steps.css') }}" rel="stylesheet">

    <!-- Toastr style -->
    <link href="{{ asset('css/plugins/toastr/toastr.min.css') }}" rel="stylesheet">

    <!-- Gritter -->
    <link href="{{ asset('js/plugins/gritter/jquery.gritter.css') }}" rel="stylesheet">

    <link href="{{ asset('css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css?v=1.1') }}" rel="stylesheet">
    <link href="{{ asset('css/my_style.css?v=1.1') }}" rel="stylesheet">



    <link  href="{{ asset('./js/cropper/cropper.css') }}" rel="stylesheet">
    <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    {#<script src="{{ asset('js/Horizontal-Click-and-Drag-Scrolling.js') }}"></script>#}

    {% block styles %}

    {% endblock %}
</head>

<body class="left-bar-color-bg">
<div id="wrapper" class="left-bar">
{#    правое меню#}
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu left-bar" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        {% if is_granted('ROLE_REGION') or is_granted("ROLE_SMALL_CLUSTERS") %}
                            <a href="{{ path("app_profile") }}" >
                                <span class="block m-t-xs font-bold left-bar-color-text">{{ app.user.getUsername() }}</span>

                                {% if  app.user.getUserInfo().getRfSubject().getName() is  defined %}
                                    <span class="small text-xs block">{{ app.user.getUserInfo().getRfSubject().getName() }} </span>
                                {% else %}
                                    <span class="small text-xs block">?</span>
                                {% endif %}

                            </a>
                        {% else %}
                            <span class="block m-t-xs font-bold left-bar-color-text">{{ app.user.getUsername() }}</span>
                        {% endif %}

                    </div>
                </li>
                {% if is_granted('ROLE_SMI') %}
                    <li>
                        <span class="nav-label badge badge-primary">СМИ</span>
                    </li>
                    <li>
                        <a href="{{ path("app_smi") }}"><i class="fa fa-file left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Кластеры </span></a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <span class="nav-label badge badge-primary">Кластеры</span>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_REGION') or is_granted("ROLE_SMALL_CLUSTERS") %}
                    <li>
                        <a href="{{ path("app_main") }}"><i class="fa fa-home left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Добавление закупок</span></a>
                    </li>
                    <li>
                        <a href="{{ path("app_region_purchase_notes") }}">
                            <i class="fa fa-at left-bar-color-text"></i>
                            <span class="nav-label left-bar-color-text">
                                История <br> замечаний
                                <span class="label float-right " id="purchase-notes-count"></span>
                            </span>
                        </a>
                        {#<a href="{{ path("app_main") }}"><i class="fa fa-warning left-bar-color-text"></i> <span class="nav-label left-bar-color-text"><span class="label float-right mt-1" id="purchase-notes-count"></span></span></a>#}
                    </li>
                    {#<li>#}
                        {#<a href="{{ path("app_region_is") }}"><i class="fa fa-table left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Инфраструктурный лист <span class="label float-right " id="infrastructure-sheet-count"></span></span></a>#}
                    {#</li>#}
                    <li>
                        <a href="{{ path("app_region_readiness_map") }}"><i class="fa fa-check-circle left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Карта готовности <span class="badge badge-danger pull-right" id="zone-remarks"></span></span></a>
                    </li>
                    <li>
                        <a href="{{ path("app_region_certificate") }}"><i class="fa fa-file left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Справки <span id="certificate-notification" class="badge pull-right"><i class="fa m-0 p-0"></i></span></span></a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_INSPECTOR') %}
                    <li>
                        <span class="nav-label badge badge-primary">Производственные кластеры</span>

                    </li>
                    {#<li > #}{# class="active" #}
                        {#<a href="{{ path("app_inspector_main") }}"><i class="fa fa-archive left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Закупки</span></a>#}
                    {#</li>#}



                    <li > {# class="active" #}
                        <a href="{{ path("app_inspector_infrastructure_sheet") }}"><i class="fa fa-table left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Производственные кластеры</span></a>
                    </li>

                    <li >
                        <a href="{{ path("app_inspector_contracting") }}"><i class="fa fa-money left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Актуальная выгрузка (ПК)</span></a>
                    </li>
                    <li > {# class="active" #}
                        <a href="{{ path("app_certificate_by_cluster_insperctor") }}"><i class="fa fa-file left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Справка по кластерам (ПК) </span></a>
                    </li>

                    <li > {# class="active" #}
                        <a href="{{ path("app_admin_org_list") }}"><i class="fa fa-building left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Список организаций </span></a>
                    </li>

                {% endif %}

                {% if is_granted('ROLE_SMALL_CURATOR') %}
                    <li>
                        <span class="nav-label badge badge-primary">Малые кластеры</span>

                    </li>
                    <li > {# class="active" #}
                        <a href="{{ path("app_sc_infrastructure_sheet") }}"><i class="fa fa-table left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Малые кластеры</span></a>
                    </li>
                    <li >
                        <a href="{{ path("app_inspector_sc_contracting") }}"><i class="fa fa-money left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Актуальная выгрузка (МК)</span></a>
                    </li>
                    <li > {# class="active" #}
                        <a href="{{ path("app_certificate_by_cluster_insperctor_sc") }}"><i class="fa fa-file left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Справка по кластерам (МК) </span></a>
                    </li>
                    <li > {# class="active" #}
                        <a href="{{ path("app_sc_org_and_empl") }}"><i class="fa fa-building left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Список организаций </span></a>
                    </li>
                {% endif %}


                {% if is_granted('ROLE_JOURNALIST') %}
                    <li>
                        <span class="nav-label  badge badge-primary">Журналист</span>

                    </li>
                    <li >
                        <a href="{{ path("app_journalist") }}"><i class="fa fa-compass left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Редактор главной страницы</span></a>
                    </li>

                {% endif %}
                {% if is_granted('ROLE_ANALYTIC') %}
                    <li>
                        <span class="nav-label badge badge-primary">Аналитик</span>

                    </li>
                    <li>
                        <a href="{{ path("app_statistic_and_analytic") }}"><i class="fa fa-area-chart left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Статистика</span></a>
                    </li>
                    <li>
                        <a href="{{ path("app_analyst_employers") }}"><i class="fa fa-star-half-empty left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Список работодателей</span></a>
                    </li>
                    <li>
                        <a href="{{ path("app_roiv_list") }}"><i class="fa fa-bank left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Список РОИВов</span></a>
                    </li>
                    <li>
                        <a href="{{ path("app_cluster_request_certification") }}"><i class="fa fa-map-o left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Справка по заявкам кластеров</span></a>
                    </li>
                    <li > {# class="active" #}
                        <a href="{{ path("app_certificate_by_cluster_analyst") }}"><i class="fa fa-star left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Справка по всем кластерам  </span></a>
                    </li>

                    {#<li>#}
                        {#<a href="{{ path("app_certificate") }}"><i class="fa fa-pencil left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Справки по всем кластерам</span></a>#}
                    {#</li>#}
                {% endif %}
                {% if is_granted('ROLE_ROIV') %}
                    <li>
                        <span class="nav-label badge badge-primary">РОИВ</span>

                    </li>
                    <li>
                        <a href="{{ path("app_roiv_cluster_list") }}"><i class="fa fa-list left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Список кластеров</span></a>
                    </li>
                    {#<li>#}
                        {#<a href="{{ path("app_roiv") }}"><i class="fa fa-list left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Список организаций</span></a>#}
                    {#</li>#}
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <span class="nav-label badge badge-primary">Админ</span>

                    </li>
                    <li >
                        {#fa-wheelchair-alt#}
                        <a href="{{ path("app_admin") }}"><i class="fa  left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Админ панель</span></a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_SPECTATOR') %}

                    <li>
                        <span class="nav-label badge badge-primary">Производственные кластеры</span>
                    </li>

                    <li > {# class="active" #}
                        <a href="{{ path("app_inspector_infrastructure_sheet") }}"><i class="fa fa-table left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Производственные кластеры</span></a>
                    </li>
                    <li > {# class="active" #}
                        <a href="{{ path("app_certificate_by_cluster_insperctor") }}"><i class="fa fa-file left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Справка по кластерам </span></a>
                    </li>

                    <li>
                        <span class="nav-label badge badge-primary">Малые кластеры</span>
                    </li>

                    <li > {# class="active" #}
                        <a href="{{ path("app_sc_infrastructure_sheet") }}"><i class="fa fa-table left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Кластеры СПО</span></a>
                    </li>
                    <li > {# class="active" #}
                        <a href="{{ path("app_certificate_by_cluster_insperctor_sc") }}"><i class="fa fa-file left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Справка по кластерам СПО </span></a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_DISCIPLINE') %}

                    <li>
                        <span class="nav-label badge badge-primary">Производственные кластеры</span>
                    </li>

                    <li > {# class="active" #}
                        <a href="{{ path("app_inspector_infrastructure_sheet") }}"><i class="fa fa-table left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Производственные кластеры</span></a>
                    </li>

                    <li>
                        <span class="nav-label badge badge-primary">Малые кластеры</span>
                    </li>

                    <li > {# class="active" #}
                        <a href="{{ path("app_sc_infrastructure_sheet") }}"><i class="fa fa-table left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Кластеры СПО</span></a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_DIRECTORATE') %}

                    <li>
                        <span class="nav-label badge badge-primary">Производственные кластеры</span>
                    </li>

                    <li > {# class="active" #}
                        <a href="{{ path("app_inspector_infrastructure_sheet") }}"><i class="fa fa-table left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Производственные кластеры</span></a>
                    </li>
                    <li > {# class="active" #}
                        <a href="{{ path("app_admin_org_list") }}"><i class="fa fa-building left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Список организаций </span></a>
                    </li>
                    <li > {# class="active" #}
                        <a href="{{ path("app_certificate_by_cluster_insperctor") }}"><i class="fa fa-file left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Справка по кластерам (ПК) </span></a>
                    </li>

                    <li>
                        <span class="nav-label badge badge-primary">Малые кластеры</span>
                    </li>

                    <li > {# class="active" #}
                        <a href="{{ path("app_sc_infrastructure_sheet") }}"><i class="fa fa-table left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Кластеры СПО</span></a>
                    </li>
                    <li > {# class="active" #}
                        <a href="{{ path("app_sc_org_and_empl") }}"><i class="fa fa-building left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Список организаций </span></a>
                    </li>
                    <li > {# class="active" #}
                        <a href="{{ path("app_certificate_by_cluster_insperctor_sc") }}"><i class="fa fa-file left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Справка по кластерам (МК) </span></a>
                    </li>

                {% endif %}
                {% if is_granted('ROLE_INSPECTOR') or is_granted('ROLE_SMALL_CURATOR') %}
                    <li>
                        <hr>
                    </li>
                    <li > {# class="active" #}
                        <a href="{{ path("app_inspector_my_clusters") }}"><i class="fa fa-star left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Мои кластеры</span></a>
                    </li>
                    <li > {# class="active" #}
                        <a href="{{ path("app_inspector_contracting_history") }}"><i class="fa fa-save left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Сохраненная контрактация</span></a>
                    </li>
                    <li > {# class="active" #}
                        <a href="{{ path("app_inspector_rm_history") }}"><i class="fa fa-map-o left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Сохраненные карты готовности</span></a>
                    </li>
                    <li>
                        <a href="{{ path("app_analyst_employers") }}"><i class="fa fa-star-half-empty left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Список работодателей</span></a>
                    </li>
                    <li > {# class="active" #}
                        <a href="{{ path("app_feedback") }}"><i class="fa fa-at left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Обратная связь <span class="label float-right mt-1" id="feedback-count"></span></span></a>
                    </li>
                    <li > {# class="active" #}
                        <a href="{{ path("app_users_tags") }}"><i class="fa fa-bandcamp left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Теги </span></a>
                    </li>

                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <li>
                        <hr>
                    </li>
                    <li > {# class="active" #}
                        <a href="{{ path("app_user_password_change") }}"><i class="fa fa-edit left-bar-color-text"></i> <span class="nav-label left-bar-color-text">Сменить пароль</span></a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top upper-menu" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">

                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        {% if is_granted('IS_IMPERSONATOR') %}
                            <a href="{{ impersonation_exit_path(path('app_login', {'_switch_user': '_exit'}) ) }}">
                                <button class="btn btn-danger">
                                    <i class="fa fa-ban">
                                        Выйти из пользователя
                                    </i>
                                </button>

                            </a>
                        {% endif %}
                    </li>
                    <li>
                        {#{% if is_granted('ROLE_SUPERADMIN') %}#}
                            <a href="{{ path("app_logout") }}">
                                <i class="fa fa-mail-forward"></i> Выйти
                            </a>
                        {#{% endif %}#}
                    </li>
                    <li>
                        <a href="{{ path("app_start_landing") }}">
                            <i class="fa fa-sign-out"></i> На главную
                        </a>

                    </li>

                </ul>

            </nav>
        </div>

