{% extends 'base.html.twig' %}



{% block body %}
    <style>
        .img-cluster {
            width: 100%;
            border-radius: 1rem;
        }
        .cluster-box {
            height: 650px;
            flex-direction: column;
            display: flex;
            justify-content: space-around;
        }
        .cluster-photo-block{
            display: inline-block;
            align-self: flex-start;
        }
        .cluster-info-block {
            display: inline-block;
            align-self: flex-end;
            text-align: center;
        }
    </style>
<body style="background-image: url({{ asset('img/img_start_landing/Background_1.jpg') }}); background-size: cover; background-repeat: inherit; background-position: center; position: sticky">
    <main class="main-wrapper">
        <section class="section-wrap pb-72 col-lg-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 mb-2">
                        <a href="{{ path('app_start_landing') }}">
                            <button class="btn btn-success" >
                                <i class="fa fa-arrow-left m-0 p-0"></i>
                                <i class="fa fa-home m-0 p-0"></i>
                                На главную
                            </button>
                        </a>

                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            {{ form_start(form) }}
                            <div class="ibox-content" style="border-radius: 20px">
                                    <div class="form-group">
                                        <label>Отрасль / Наименование базовой образовательной организации</label>
                                        {{ form_widget(form.search) }}
                                    </div>
                                    <div class="form-group">
                                        <label>Регион</label>
                                        {{ form_widget(form.rf_subject) }}
                                    </div>
                                    <div class="form-group">
                                        <label>Год</label>
                                        {{ form_widget(form.year) }}
                                    </div>
                            <div class="ibox-footer">
                                <button class="col-lg-12 btn" style="background: #1043cc; border-radius: 25px;font-family: Roboto">
                                    <i class="fa m-0">Найти</i>
                                </button>
                            </div>
                            {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for i in pagination %}
                        {% set userInfo = i.getUserInfo() %}
                        <div class="col-lg-4">
                            <a href="#" type="button" data-toggle="modal" data-target="#exampleModal-{{ userInfo.getId() }}">
                                <div class="feature box-shadow hover-up hover-line cluster-box">

                                    <div class="cluster-photo-block">
                                        <img src="{{ asset('uploads/clusterPhoto/'~userInfo.getPhoto()) }}" style="height: 200px; width: 270px" alt
                                             class="img-cluster">
                                    </div>
                                    <div class="cluster-info-block">
                                        <h4 class="feature__title"
                                            style="color: #000000">{{ userInfo.getDeclaredIndustry() }} </h4>
                                        <h6 class="feature__title" style="color: #000000">{{ userInfo.getYear() }}</h6>
                                        <p class="feature__title"
                                           style="color: #000000">{{ userInfo.getEducationalOrganization() }}</p>
                                        <p class="feature__text">{{ userInfo.getRfSubject().getName() }} </p>
                                    </div>

                                </div>
                            </a>

                        </div>
                        <div class="modal fade" id="exampleModal-{{ userInfo.getId() }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered ml-5 mr-5" role="document" style="max-width: none">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">{{ userInfo.getEducationalOrganization() }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <table class="table table-bordered">
                                                    <tbody>
                                                    <tr>
                                                        <td class="col-md-4">
                                                            Субъект РФ
                                                        </td>
                                                        <td style="vertical-align: middle">
                                                            {% if  userInfo.getRfSubject() %}
                                                                {{ userInfo.getRfSubject().getName() }}
                                                            {% endif %}

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-md-4">
                                                            Город
                                                        </td>
                                                        <td>
                                                            {{ userInfo.getCity() }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-md-4">
                                                            Инициатор создания кластера
                                                        </td>
                                                        <td style="vertical-align: middle">
                                                            {{ userInfo.getInitiatorOfCreation() }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-md-4">
                                                            Наименование организации грантополучателя
                                                        </td>
                                                        <td style="vertical-align: middle">
                                                            {{ userInfo.getOrganization() }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-md-4">
                                                            Наименование базовой образовательной организации
                                                        </td>
                                                        <td style="vertical-align: middle">
                                                            {{ userInfo.getEducationalOrganization() }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-md-4">
                                                            Наименование кластера
                                                        </td>
                                                        <td style="vertical-align: middle">
                                                            {{ userInfo.getCluster() }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-md-4">
                                                            Заявленная отрасль
                                                        </td>
                                                        <td style="vertical-align: middle">
                                                            {{ userInfo.getDeclaredIndustry() }}
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <div class="panel-group" id="accordion">
                                                    {% if userInfo.getListOfEdicationOrganization()|length > 0 %}

                                                        <div class="panel panel-default">
                                                            <div class="panel-heading p-0">
                                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne-{{ userInfo.getId() }}" class="collapsed " aria-expanded="false">

                                                                        <h5 class="panel-title p-3 m-0">
                                                                            Образовательные организации
                                                                        </h5>


                                                                </a>
                                                            </div>
                                                            <div id="collapseOne-{{ userInfo.getId() }}" class="panel-collapse in collapse" style="">
                                                                <div class="panel-body">
                                                                    <ul>
                                                                        {% for i in  userInfo.getListOfEdicationOrganization() %}
                                                                            <li>{{ i }}</li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    {% if userInfo.getEmployers()|length > 0 %}
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading p-0">
                                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo-{{ userInfo.getId() }}" class="collapsed" aria-expanded="false">
                                                                <h5 class="panel-title p-3 m-0">
                                                                    Работодатели
                                                                </h5>
                                                                </a>
                                                            </div>
                                                            <div id="collapseTwo-{{ userInfo.getId() }}" class="panel-collapse collapse" style="">
                                                                <div class="panel-body">
                                                                    <ul>
                                                                        {% for i in  userInfo.getEmployers() %}
                                                                            <li>{{ i.getName() }}</li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    {% endif %}
                                                    {% if userInfo.getListOfAnotherOrganization()|length > 0 %}
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading p-0 ">
                                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree-{{ userInfo.getId() }}" class="collapsed" aria-expanded="false">
                                                                <h5 class="panel-title p-3 m-0">
                                                                   Иные организации
                                                                </h5>
                                                                </a>
                                                            </div>
                                                            <div id="collapseThree-{{ userInfo.getId() }}" class="panel-collapse collapse">
                                                                <div class="panel-body">
                                                                    <ul>
                                                                        {% for i in  userInfo.getListOfAnotherOrganization() %}
                                                                            <li>{{ i }}</li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    {% if userInfo.getUGPS()|length > 0 %}

                                                        <div class="panel panel-default">
                                                            <div class="panel-heading p-0 ">
                                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFitht-{{ userInfo.getId() }}" class="collapsed" aria-expanded="false">
                                                                <h5 class="panel-title p-3 m-0">
                                                                    Профессии и специальности
                                                                </h5>
                                                                </a>
                                                            </div>
                                                            <div id="collapseFitht-{{ userInfo.getId() }}" class="panel-collapse collapse">
                                                                <div class="panel-body ">
                                                                    <ul>
                                                                        {% for i in  userInfo.getUGPS() %}
                                                                            <li>{{ i }}</li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    {% if userInfo.getZone()|length > 0 %}
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading p-0 ">
                                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSixth-{{ userInfo.getId() }}" class="collapsed" aria-expanded="false">
                                                                    <h5 class="panel-title p-3 m-0">
                                                                        Зоны по видам работ
                                                                    </h5>
                                                                </a>
                                                            </div>
                                                            <div id="collapseSixth-{{ userInfo.getId() }}" class="panel-collapse collapse">
                                                                <div class="panel-body">
                                                                    <ul>
                                                                        {% for i in  userInfo.getZone() %}
                                                                            <li>{{ i }}</li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    {% endif %}

                                                </div>

                                            </div>
                                            <div class="col-sm-6">
                                                <img src="{{ asset('uploads/clusterPhoto/'~userInfo.getPhoto()) }}" alt class="img-cluster p-1">
                                            </div>
                                        </div>
                                        {% set clusterDocument = userInfo.getClusterDocument() %}
                                        {% if clusterDocument %}
                                        {% if clusterDocument.getDesignProject() %}
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading p-0 p-3 m-0">
                                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseForth-{{ userInfo.getId() }}" class="collapsed" aria-expanded="false">
                                                                <h5 class="panel-title text-center">
                                                                   Дизайн-проект
                                                                </h5>
                                                            </a>
                                                        </div>
                                                        <div id="collapseForth-{{ userInfo.getId() }}" class="panel-collapse collapse">
                                                            <div class="panel-body">
                                                                <embed src="{{ asset('uploads/clusterDocuments/'~clusterDocument.getDesignProject()) }}"
                                                                       data-file="{{ clusterDocument.getDesignProject() }}"
                                                                       width="20%"
                                                                       height="100%"
                                                                       frameBorder="0"
                                                                       scrolling="auto"

                                                                />
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            {#<tr>#}
                                                {#<td>#}
                                                    {#<a href="{{ path('app_download_file_by_route', {'route': 'cluster_documents_directory', 'file': clusterDocument.getDesignProject()}) }}">#}
                                                        {#<i class="fa fa-download">#}
                                                            {#Дизайн-проект#}
                                                        {#</i>#}

                                                    {#</a>#}
                                                {#</td>#}
                                            {#</tr>#}
                                        {% endif %}
                                        {% endif %}


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{ knp_pagination_render(pagination, 'default/twitter_bootstrap_v3_pagination.html.twig') }}
                    </div>

                </div>
            </div>
        </section>
    </main>
</body>
    <script>
        $(document).ready(function(){
            // let designFile = $('embed').data('file');
            let designFile = $('embed');
            designFile.each((e)=>{
                let data = $(designFile[e]).data('file');

                if($(designFile[e]) && data.includes('.pdf'))
                {
                    $(designFile[e]).height('1000');
                    $(designFile[e]).width('100%');
                }
                // console.log(e);
                // console.log($(designFile[e]) );
                // console.log($(designFile[e]).data('file').includes('.pdf') );
                // if(designFile && designFile.includes('.pdf'))
                // {
                //     $('embed').height('800');
                //     $('embed').width('100%');
                // }
            });






            $(".button-toggle").hide();



        });
    </script>
{% endblock %}
