{% extends 'base.html.twig' %}



{% block body %}
<body style="background-image: url({{ asset('img/img_start_landing/Background_1.jpg') }}); background-size: cover; background-repeat: inherit; background-position: center; position: sticky">
    <main class="main-wrapper">
        <section class="section-wrap pb-72 col-lg-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            {{ form_start(form) }}
                            <div class="ibox-content" style="border-radius: 20px">
                                    <div class="form-group">
                                        <label>Наименование</label>
                                        {{ form_widget(form.search) }}
                                    </div>
                                    <div class="form-group">
                                        <label>Регион</label>
                                        {{ form_widget(form.rf_subject) }}
                                    </div>
                                    <div class="form-group">
                                        <label>Год</label>
                                        {{ form_widget(form.year) }}
                                    </div>
                            <div class="ibox-footer">
                                <button class="col-lg-12 btn" style="background: #1043cc; border-radius: 25px;font-family: Roboto">
                                    <i class="fa m-0">Найти</i>
                                </button>
                            </div>
                            {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for i in pagination %}
                        {% set userInfo = i.getUserInfo() %}
                    <div class="col-lg-4">
                        <a href="#">
                            <div class="feature box-shadow hover-up hover-line" style="height: 550px; vertical-align: inherit; text-align: center">
                                <img src="{{ asset('uploads/clusterPhoto/'~userInfo.getPhoto()) }}" alt style="padding: 2rem;border-radius: 6rem; height: 200px">
                                {#<h4 class="feature__title">Наименование базовой образовательной организации</h4>#}
                                <h4 class="feature__title" style="color: #000000">{{ userInfo.getDeclaredIndustry() }} </h4>
                                <h6 class="feature__title" style="color: #000000">{{ userInfo.getYear() }}</h6>
                                <p class="feature__title" style="color: #000000">{{ userInfo.getEducationalOrganization() }}</p>
                                <p class="feature__text">{{ userInfo.getRfSubject().getName() }} </p>
{#                                <h5 class="feature__title"><b>Наименование кластера:</b> {{ userInfo.getCluster() }} </h5>#}
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{ knp_pagination_render(pagination, 'default/twitter_bootstrap_v3_pagination.html.twig') }}
                    </div>

                </div>
            </div>
        </section>
    </main>
</body>
{% endblock %}
