{% extends 'base.html.twig' %}



{% block body %}
    <style>
        .img-cluster {
            width: 100%;
            border-radius: 1rem;
        }
        .cluster-box {
            height: 650px;
            flex-direction: column;
            display: flex;
            justify-content: space-around;
        }
        .cluster-photo-block{
            display: inline-block;
            align-self: flex-start;
        }
        .cluster-info-block {
            display: inline-block;
            align-self: flex-end;
            text-align: center;
        }
    </style>
<body style="background-image: url({{ asset('img/img_start_landing/Background_1.jpg') }}); background-size: cover; background-repeat: inherit; background-position: center; position: sticky">
    <main class="main-wrapper">
        <section class="section-wrap pb-72 col-lg-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            {{ form_start(form) }}
                            <div class="ibox-content" style="border-radius: 20px">
                                    <div class="form-group">
                                        <label>Отрасль / Наименование базовой образовательной организации</label>
                                        {{ form_widget(form.search) }}
                                    </div>
                                    <div class="form-group">
                                        <label>Регион</label>
                                        {{ form_widget(form.rf_subject) }}
                                    </div>
                                    <div class="form-group">
                                        <label>Год</label>
                                        {{ form_widget(form.year) }}
                                    </div>
                            <div class="ibox-footer">
                                <button class="col-lg-12 btn" style="background: #1043cc; border-radius: 25px;font-family: Roboto">
                                    <i class="fa m-0">Найти</i>
                                </button>
                            </div>
                            {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for i in pagination %}
                        {% set userInfo = i.getUserInfo() %}
                    <div class="col-lg-4">
                        <a href="#">
                            <div class="feature box-shadow hover-up hover-line cluster-box" >

                                <div class="cluster-photo-block">
                                    <img src="{{ asset('uploads/clusterPhoto/'~userInfo.getPhoto()) }}" alt class="img-cluster">
                                </div>
                                <div class="cluster-info-block">
                                    <h4 class="feature__title" style="color: #000000">{{ userInfo.getDeclaredIndustry() }} </h4>
                                    <h6 class="feature__title" style="color: #000000">{{ userInfo.getYear() }}</h6>
                                    <p class="feature__title" style="color: #000000">{{ userInfo.getEducationalOrganization() }}</p>
                                    <p class="feature__text">{{ userInfo.getRfSubject().getName() }} </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{ knp_pagination_render(pagination, 'default/twitter_bootstrap_v3_pagination.html.twig') }}
                    </div>

                </div>
            </div>
        </section>
    </main>
</body>
{% endblock %}
