{% if not app.user.getUserInfo().isAllFull() %}
<div class="row d-flex justify-content-center m-2 animated fadeInRight">
    <div class="col-lg-10 ">
        <div>
            <div class="">
                <div class="widget yellow-bg p-lg text-center left-bar-color-text">
                    <div class="m-b-md">
                        <i class="fa fa-warning fa-4x"></i>
                        <h1 class="m-xs">Предупреждение</h1>
                        <h3 class="font-bold no-margins">
                            Заполните общие данные!
                        </h3>
                        <a href="{{ path("app_profile_edit") }}">
                            <button class="btn btn-danger m-2">
                                Заполнить
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="row d-flex justify-content-center animated fadeInRight">
    <div class="col-lg-10">
        {% if not app.user.getUserInfo().isNOTAllFull() %}
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <a href="{{ path("app_add_purchases_v2") }}">
                    <button class="btn-gray-all btn btn-outline-success col-lg-12 ">
                        <div class="fa fa-plus"></div>
                        Добавить закупку
                    </button>
                </a>

            </div>
        </div>
        {% endif %}
    </div>
</div>


<div class="row animated fadeInRight">
    <div class="col-lg-10 offset-lg-1 " >
        <div class="wrapper wrapper-content " >

            <div class="row " >
                <h2 style="font-weight: bold; margin-bottom: 2rem">
                    Список закупок
                </h2>
                <table class="table block-shadow white-bg table-responsive horizontal-drag">
                    <thead>
                    <tr>
                        <th>№</th>

                        <th>Предмет закупки</th>
                        <th>Способ определения поставщика</th>
                        <th>НМЦК</th>
                        <th>Дата публикации извещения</th>
                        <th>Дата окончания подачи заявок</th>
                        <th>Дата подведения итогов</th>
                        <th>Дата заключения договоров</th>
                        <th>Стоимость договора</th>
                        <th>Источник финансирования</th>


                        <th>Действия</th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for i in procurement_procedures %}
                        <tr class="table-item" href="{{ path("app_purchases_detail", {id: i.getId()}) }}">
                            <td>
                                {{ loop.index }}
                            </td>
                            {# Предмет закупки #}
                            <td>{{ i.getPurchaseObject() }} </td>
                            {# Способ определения поставщика #}
                            <td>{{ i.getMethodOfDetermining() }}</td>
                            {# НМЦК #}
                            <td> {{ i.getNMCK() }}₽</td>

                            {# даты #}
                            {# Дата публикации извещения #}
                            {% if i.getPublicationDate is null %}
                                <td></td>
                            {% else %}
                                <td>{{ i.getPublicationDate().format("d.m.y") }}</td>
                            {% endif %}

                             {#Дата окончания подачи заявок#}
                            {% if i.getDeadlineDate is null %}
                                <td></td>
                            {% else %}
                                <td>{{ i.getDeadlineDate().format("d.m.y") }}</td>
                            {% endif %}

                            {# Дата подведения итогов #}
                            {% if i.getDateOfSummingUp is null %}
                                <td></td>
                            {% else %}
                                <td>{{ i.getDateOfSummingUp().format("d.m.y") }}</td>
                            {% endif %}

                            {# Дата заключения договоров #}
                            {% if i.getDateOfConclusion is null %}
                                <td></td>
                            {% else %}
                                <td>{{ i.getDateOfConclusion().format("d.m.y") }}</td>
                            {% endif %}



                            {# Стоимость договора #}
                            {% if i.getMethodOfDetermining() == "Единственный поставщик" %}
                                <td>{{ i.getNMCK() }}₽</td>
                            {% else %}
                                <td>{{ i.getContractCost() }}₽</td>
                            {% endif %}
                            {# Источник финансирования #}
                            <td>{{ i.getSourceOfFunding() }}</td>

                            {# Действия #}
                            <td>
                                <a href="{{ path('app_purchases_detail', {'id': i.getId()}) }}">
                                    <button class="btn btn-info col-lg-12" >
                                        <div class="fa fa-info"></div>
                                        Просмотр
                                    </button>
                                </a>
                                <a href="{{ path('app_purchases_delete', {'id': i.getId()}) }}" class="delete-alert">
                                    <button class="btn btn-danger col-lg-12">
                                        <div class="fa fa-trash"></div>
                                        Удалить
                                    </button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}




                    </tbody>
                </table>
                <div class="row">
                    <div class="navigation">
                        {{ knp_pagination_render(procurement_procedures, 'default/twitter_bootstrap_v3_pagination.html.twig') }}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    const slider = document.querySelector('.horizontal-drag');
    let isDown = false;
    let startX;
    let scrollLeft;

    slider.addEventListener('mousedown', (e) => {

        isDown = true;
        slider.classList.add('active_scroll')
        startX = e.pageX - slider.offsetLeft;
        scrollLeft = slider.scrollLeft;
    });

    slider.addEventListener('mouseleave', () => {

        isDown = false;
        slider.classList.remove('active_scroll')
    });

    slider.addEventListener('mouseup', () => {

        isDown = false;
        slider.classList.remove('active_scroll')
    });

    slider.addEventListener('mousemove', (e) => {

        if (!isDown) return;
        e.preventDefault()
        const x = e.pageX - slider.offsetLeft;
        const walk = (x - startX) * 3;
        slider.scrollLeft = scrollLeft - walk;
    });
</script>

