{% if not app.user.getUserInfo().isAllFull() %}
<div class="row d-flex justify-content-center m-2 animated fadeInRight">
    <div class="col-lg-10 ">
        <div>
            <div class="">
                <div class="widget yellow-bg p-lg text-center left-bar-color-text">
                    <div class="m-b-md">
                        <i class="fa fa-warning fa-4x"></i>
                        <h1 class="m-xs">Предупреждение</h1>
                        <h3 class="font-bold no-margins">
                            Заполните общие данные!
                        </h3>
                        <a href="{{ path("app_profile_edit") }}">
                            <button class="btn btn-danger m-2">
                                Заполнить
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="row d-flex justify-content-center animated fadeInRight">
    <div class="col-lg-10">
        {% if not app.user.getUserInfo().isNOTAllFull() and  app.user.getUserInfo().isAccessToPurchases() %}
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <a href="{{ path("app_add_purchases_v2") }}">
                    <button class="btn-gray-all btn btn-outline-success col-lg-12 ">
                        <div class="fa fa-plus"></div>
                        Добавить закупку
                    </button>
                </a>

            </div>
        </div>
        {% endif %}
    </div>
</div>
{% if purchases_with_note|length > 0 %}
    <div class="row animated fadeInRight">
        <div class="col-lg-10 offset-lg-1 " >
            <div class="wrapper wrapper-content " >

                <div class="table-responsive">
                    <h2 style="font-weight: bold; margin-bottom: 2rem">
                        Закупки с новыми замечаниями
                    </h2>
                    <style>
                        table{

                        }
                        table tr td{
                            border: 1px #808486 solid;
                        }
                    </style>
                    <table class="table  ">
                        <thead>
                        <tr>
                            <th>№</th>

                            <th>Предмет закупки</th>
                            <th>Способ определения поставщика</th>
                            <th>НМЦК</th>
                            <th>Дата публикации извещения</th>
                            <th>Дата окончания подачи заявок</th>
                            <th>Дата подведения итогов</th>
                            <th>Дата заключения договоров</th>
                            <th>Стоимость договора</th>
                            <th>Источник финансирования</th>

                            <th>Замечания</th>


                            <th>Действия</th>

                        </tr>
                        </thead>
                        <tbody>

                        {% for i in purchases_with_note %}
                            {% set purchase = i.getPurchase() %}
                            <tr class="table-item" href="{{ path("app_purchases_detail", {id: i.getId()}) }}">
                                <td>
                                    {{ loop.index }}
                                </td>
                                {# Предмет закупки #}
                                <td style="vertical-align: inherit">{{ purchase.getPurchaseObject() }} </td>
                                {# Способ определения поставщика #}
                                <td style="vertical-align: inherit; text-align: center">{{ purchase.getMethodOfDetermining() }}</td>
                                {# НМЦК #}
                                <td style="vertical-align: inherit; text-align: center"> {{ purchase.getNMCK() }}₽</td>

                                {# даты #}
                                {# Дата публикации извещения #}
                                {% if purchase.getPublicationDate is null %}
                                    <td style="vertical-align: inherit; text-align: center"></td>
                                {% else %}
                                    <td style="vertical-align: inherit; text-align: center">{{ purchase.getPublicationDate().format("d.m.y") }}</td>
                                {% endif %}

                                {#Дата окончания подачи заявок#}
                                {% if purchase.getDeadlineDate is null %}
                                    <td style="vertical-align: inherit; text-align: center"></td>
                                {% else %}
                                    <td style="vertical-align: inherit; text-align: center">{{ purchase.getDeadlineDate().format("d.m.y") }}</td>
                                {% endif %}

                                {# Дата подведения итогов #}
                                {% if purchase.getDateOfSummingUp is null %}
                                    <td style="vertical-align: inherit; text-align: center"></td>
                                {% else %}
                                    <td style="vertical-align: inherit; text-align: center">{{ purchase.getDateOfSummingUp().format("d.m.y") }}</td>
                                {% endif %}

                                {# Дата заключения договоров #}
                                {% if purchase.getDateOfConclusion is null %}
                                    <td style="vertical-align: inherit; text-align: center"></td>
                                {% else %}
                                    <td style="vertical-align: inherit; text-align: center">{{ purchase.getDateOfConclusion().format("d.m.y") }}</td>
                                {% endif %}



                                {# Стоимость договора #}
                                {% if purchase.getMethodOfDetermining() == "Единственный поставщик" %}
                                    <td style="vertical-align: inherit; text-align: center">{{ purchase.getNMCK() }}₽</td>
                                {% else %}
                                    <td style="vertical-align: inherit; text-align: center">{{ purchase.getContractCost() }}₽</td>
                                {% endif %}
                                {# Источник финансирования #}
                                <td style="vertical-align: inherit; text-align: center">{{ purchase.getSourceOfFunding() }}</td>
                                {# Замечания #}
                                <td style="vertical-align: inherit; text-align: center">
                                    {% set count = 0 %}
                                    {% for n in purchase.getPurchaseNotes() %}
                                        {% if not n.isIsRead() %}
                                            {% set count = count+1 %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if count > 0 %}
                                        <a href="#">
                                             <span class="badge badge-warning notes-count">
                                                {{ count }} замечаний
                                            </span>
                                        </a>

                                    {% else %}
                                        <span class="badge badge-success">
                                            Нет замечаний
                                        </span>
                                    {% endif %}

                                </td>
                                {# Действия #}
                                <td style="vertical-align: inherit; text-align: center">
                                    <a href="{{ path('app_purchases_detail', {'id': purchase.getId()}) }}">
                                        <button class="btn btn-info col-lg-12" >
                                            <div class="fa fa-info"></div>
                                            Просмотр
                                        </button>
                                    </a>

                                </td>
                            </tr>
                        {% endfor %}




                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

{% endif %}

<div class="row animated fadeInRight">
    <div class="col-lg-10 offset-lg-1 " >
        <div class="wrapper wrapper-content " >

            <div class="table-responsive horizontal-drag">
                <h2 style="font-weight: bold; margin-bottom: 2rem">
                    Список закупок
                </h2>
                <style>
                    table{

                    }
                    table tr td{
                        border: 1px #808486 solid;
                    }
                </style>
                <table class="table  ">
                    <thead>
                    <tr>
                        <th>№</th>

                        <th>Предмет закупки</th>
                        <th>Способ определения поставщика</th>
                        <th>НМЦК</th>
                        <th>Дата публикации извещения</th>
                        <th>Дата окончания подачи заявок</th>
                        <th>Дата подведения итогов</th>
                        <th>Дата заключения договоров</th>
                        <th>Стоимость договора</th>
                        <th>Источник финансирования</th>

                        <th>Замечания</th>


                        <th>Действия</th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for i in procurement_procedures %}
                        {% if i.isIsCancelled() %}
                        <tr class="table-item" style="background-color: rgba(177,92,94,0.49)" href="{{ path("app_purchases_detail", {id: i.getId()}) }}">
                        {% else %}
                        <tr class="table-item" href="{{ path("app_purchases_detail", {id: i.getId()}) }}">
                        {% endif %}
                            <td style="vertical-align: middle; text-align: center;">
                                {{ procurement_procedures.getPaginationData.firstItemNumber + loop.index - 1 }}
                            </td>
                            {# Предмет закупки #}
                            <td style="vertical-align: inherit">{{ i.getPurchaseObject() }} </td>
                            {# Способ определения поставщика #}
                            <td style="vertical-align: inherit; text-align: center">{{ i.getMethodOfDetermining() }}</td>
                            {# НМЦК #}
                            <td style="vertical-align: inherit; text-align: center"> {{ i.getNMCK() }}₽</td>

                            {# даты #}
                            {# Дата публикации извещения #}
                            {% if i.getPublicationDate is null %}
                                <td style="vertical-align: inherit; text-align: center"></td>
                            {% else %}
                                <td style="vertical-align: inherit; text-align: center">{{ i.getPublicationDate().format("d.m.y") }}</td>
                            {% endif %}

                             {#Дата окончания подачи заявок#}
                            {% if i.getDeadlineDate is null %}
                                <td style="vertical-align: inherit; text-align: center"></td>
                            {% else %}
                                <td style="vertical-align: inherit; text-align: center">{{ i.getDeadlineDate().format("d.m.y") }}</td>
                            {% endif %}

                            {# Дата подведения итогов #}
                            {% if i.getDateOfSummingUp is null %}
                                <td style="vertical-align: inherit; text-align: center"></td>
                            {% else %}
                                <td style="vertical-align: inherit; text-align: center">{{ i.getDateOfSummingUp().format("d.m.y") }}</td>
                            {% endif %}

                            {# Дата заключения договоров #}
                            {% if i.getDateOfConclusion is null %}
                                <td style="vertical-align: inherit; text-align: center"></td>
                            {% else %}
                                <td style="vertical-align: inherit; text-align: center">{{ i.getDateOfConclusion().format("d.m.y") }}</td>
                            {% endif %}



                            {# Стоимость договора #}
                            {% if i.getMethodOfDetermining() == "Единственный поставщик" %}
                                <td style="vertical-align: inherit; text-align: center">{{ i.getNMCK() }}₽</td>
                            {% else %}
                                <td style="vertical-align: inherit; text-align: center">{{ i.getContractCost() }}₽</td>
                            {% endif %}
                            {# Источник финансирования #}
                            <td style="vertical-align: inherit; text-align: center">{{ i.getSourceOfFunding() }}</td>
                            {# Замечания #}
                            <td style="vertical-align: inherit; text-align: center">
                                {% if i.isIsCancelled() %}
                                    <span class="badge badge-danger">
                                        Закупка отменена
                                    </span>
                                {% else %}
                                    {% set count = 0 %}
                                    {% for n in i.getPurchaseNotes() %}
                                        {% if not n.isIsRead() %}
                                            {% set count = count+1 %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if count > 0 %}
                                        <a href="#">
                                             <span class="badge badge-warning notes-count">
                                                {{ count }} замечаний
                                            </span>
                                        </a>

                                    {% else %}
                                        <span class="badge badge-success">
                                            Нет замечаний
                                        </span>
                                    {% endif %}
                                {% endif %}

                            </td>
                            {# Действия #}
                            <td style="vertical-align: inherit; text-align: center">
                                <a href="{{ path('app_purchases_detail', {'id': i.getId()}) }}">
                                    <button class="btn btn-info col-lg-12" >
                                        <div class="fa fa-info"></div>
                                        Просмотр
                                    </button>
                                </a>

                            </td>
                        </tr>
                    {% endfor %}




                    </tbody>
                </table>

            </div>
            <div class="row">
                <div class="navigation">
                    {{ knp_pagination_render(procurement_procedures, 'default/twitter_bootstrap_v3_pagination.html.twig') }}
                </div>
            </div>
        </div>

    </div>
</div>
{% if procurement_procedures|length > 0 %}
<div class="row animated fadeInRight">
    <div class="col-lg-10 offset-lg-1">
        <div class="ibox">
            <div class="ibox-title">
                <h5>
                    Выгрузка
                </h5>
            </div>
            <div class="ibox-content">
                <a href="{{ path('download_region_xlsx') }}">
                    <button class="btn btn-primary col-lg-12">
                        <i class="fa fa-download">
                            Скачать закупки в виде таблицы
                        </i>
                    </button>
                </a>

            </div>
        </div>
    </div>
</div>
{% endif %}
<script>
    const slider = document.querySelector('.horizontal-drag');
    let isDown = false;
    let startX;
    let scrollLeft;

    slider.addEventListener('mousedown', (e) => {

        isDown = true;
        slider.classList.add('active_scroll')
        startX = e.pageX - slider.offsetLeft;
        scrollLeft = slider.scrollLeft;
    });

    slider.addEventListener('mouseleave', () => {

        isDown = false;
        slider.classList.remove('active_scroll')
    });

    slider.addEventListener('mouseup', () => {

        isDown = false;
        slider.classList.remove('active_scroll')
    });

    slider.addEventListener('mousemove', (e) => {

        if (!isDown) return;
        e.preventDefault()
        const x = e.pageX - slider.offsetLeft;
        const walk = (x - startX) * 3;
        slider.scrollLeft = scrollLeft - walk;
    });


    // $(document).ready(function(){
    //     let notesCount = $('.notes-count');
    //
    //     notesCount.each((i) =>
    //         {
    //             console.log(notesCount[i])
    //
    //         }
    //     )
    // });
</script>

