{% extends 'default/base.html.twig' %}
{% block styles %}
    <style>
        .row-middle{
            vertical-align: middle;
            text-align: center;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row mt-5">
        <div class="col-lg-6 offset-lg-3">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        Справки
                    </h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td class="col-md-8">Название</td>
                                <td class="col-md-2">Скачать</td>
                                <td class="col-md-2">Скачать с указанием даты</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% if is_granted('ROLE_REGION') %}
                                <td>
                                    Справка о контрактации и расходовании средств в рамках оснащения образовательно-производственного центра (кластера)
                                </td>
                                {% endif %}
                                {% if is_granted('ROLE_SMALL_CLUSTERS') %}
                                    <td>
                                        Справка о контрактации и расходовании средств в рамках оснащения образовательного кластера среднего профессионального образования
                                    </td>
                                {% endif %}
                                <td>
                                    <a href="{{ path('app_region_certificate_download', {'id': user.getId()}) }}">
                                        <button class="btn btn-primary col-lg-12">
                                            <i class="fa fa-download">
                                                Скачать
                                            </i>
                                        </button>
                                    </a>
                                </td>
                                <td>
                                    {{ form_start(form) }}
                                        <div class="form-group">
                                            <label>Дата заполнения</label>
                                            {{ form_widget(form.date) }}
                                        </div>
                                        {{ form_widget(form.submit, {'attr':{'class': 'btn btn-primary col-lg-12'}}) }}
                                    {{ form_end(form) }}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock %}