{% extends 'default/base.html.twig' %}
{% block styles %}
    <style>
        .row-middle{
            vertical-align: middle;
            text-align: center;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row mt-5">
        <div class="col-lg-6 offset-lg-3">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        Справки
                    </h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td class="col-md-8">Название</td>
                                <td class="col-md-2">Скачать</td>
                                {#<td class="col-md-2">Скачать с указанием даты</td>#}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% if is_granted('ROLE_REGION') %}
                                <td>
                                    Справка о контрактации и расходовании средств в рамках оснащения образовательно-производственного центра (кластера)
                                </td>
                                {% endif %}
                                {% if is_granted('ROLE_SMALL_CLUSTERS') %}
                                    <td>
                                        Справка о контрактации и расходовании средств в рамках оснащения образовательного кластера среднего профессионального образования
                                    </td>
                                {% endif %}
                                <td>
                                    <button type="button" class="btn btn-primary col-lg-12" data-toggle="modal" data-target="#Modal">
                                        <i class="fa fa-download">
                                            Скачать
                                        </i>
                                    </button>
                                </td>
                                {#<td>#}

                                {#</td>#}
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Справка о контрактации и расходовании средств</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{ form_start(form) }}
                <div class="modal-body">
                    {{ form_row(form.ExtraFundsEconomicSector, {"type":"number"}) }}
                    {{ form_row(form.FinancingFundsOfSubject, {"type":"number"}) }}
                    {{ form_row(form.ExtraFundsOO, {"type":"number"}) }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Скачать</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}