{% extends 'default/base.html.twig' %}
{% block styles %}
    <style>
        .row-middle{
            vertical-align: middle;
            text-align: center;
        }
        .custom-file-label::after{
            content:"Обзор"
        }
    </style>
    {#<link href="{{ asset("css/plugins/jasny/jasny-bootstrap.min.css") }}" rel="stylesheet">#}
{% endblock %}
{% block content %}
    <div class="row mt-5">
        <div class="col-lg-6 offset-lg-3">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        Справки
                    </h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered table-responsive horizontal-drag">
                        <thead>
                            <tr>
                                <td class="col-md-5">Название</td>
                                <td class="col-md-2">Скачать</td>
                                {% if(contract_certificate) %}
                                <td class="col-md-1">Статус</td>
                                <td class="col-md-4">Загрузить</td>
                                {% endif %}
                                {#<td class="col-md-2">Скачать с указанием даты</td>#}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% if is_granted('ROLE_REGION') %}
                                <td>
                                    Справка о контрактации и расходовании средств в рамках оснащения образовательно-производственного центра (кластера)
                                </td>
                                {#{% endif %}#}
                                {% elseif is_granted('ROLE_SMALL_CLUSTERS') %}
                                    <td>
                                        Справка о контрактации и расходовании средств в рамках оснащения образовательного кластера среднего профессионального образования
                                    </td>
                                {% elseif is_granted('ROLE_BAS') %}
                                    <td>
                                        Справка о контрактации и расходовании средств в рамках оснащения специализированных классов (кружков) и центров практической подготовки
                                    </td>
                                {% endif %}
                                <td>
                                    <button type="button" class="btn btn-primary col-lg-12" data-toggle="modal" data-target="#Modal">
                                        <i class="fa fa-download">
                                            Скачать
                                        </i>
                                    </button>
                                </td>
                                {% if(contract_certificate) %}
                                <td>
                                    <p>
                                        <span class="badge badge{{ status_lib[contract_certificate.getStatus()] }} col-sm-12">
                                            {{ contract_certificate.getStatus() }}
                                        </span>
                                    </p>
                                </td>
                                <td>
                                    <form action="{{ path('app_region_certificate_upload') }}" method="post" enctype="multipart/form-data">
                                        <div class="custom-file">
                                            <input id="logo" type="file" class="custom-file-input" name="file">
                                            <label for="logo" class="custom-file-label" style="overflow: hidden">Выбрать файл...</label>
                                        </div>
                                        <button  type="submit" class="btn btn-success col-sm-12 mt-2">
                                            <i class="fa fa-upload"></i>
                                            Отправить
                                        </button>
                                        <input type="hidden" name="token" value="{{ csrf_token('upload-certification') }}"/>
                                    </form>
                                </td>
                                {% endif %}
                                {#<td>#}

                                {#</td>#}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Справка о контрактации и расходовании средств</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{ form_start(form) }}
                <div class="modal-body">
                    {{ form_row(form.grandFunds, {"type":"number"}) }}
                    {{ form_row(form.ExtraFundsEconomicSector, {"type":"number"}) }}
                    {{ form_row(form.FinancingFundsOfSubject, {"type":"number"}) }}
                    {{ form_row(form.ExtraFundsOO, {"type":"number"}) }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Скачать</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {#<script src="{{ asset("js/plugins/jasny/jasny-bootstrap.min.js") }}"></script>#}
    <script>
        $('.custom-file-input').on('change', function() {
            let fileName = $(this).val().split('\\').pop();
            $(this).next('.custom-file-label').addClass("selected").html(fileName);
        });
    </script>
{% endblock %}
