{% extends "default/base.html.twig" %}


{% block content %}
    {% if infrastructureSheets is empty %}
        <div class="row">
            <div class="col-sm-10 offset-sm-1 ">
                <div class="wrapper wrapper-content ">
                    <div class="ibox-content block-shadow ">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h2>Инфраструктурный лист</h2>
                            </div>
                            <div class="ibox-content d-flex justify-content-center align-items-center">
                                <h3>Инфраструктурных листов нет</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% set actualInfrastructureSheet = infrastructureSheets[0] %}
        <div class="row">
            <div class="col-sm-10 offset-sm-1 ">
                <div class="wrapper wrapper-content ">
                    <div class="ibox-content block-shadow ">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h2>Инфраструктурный лист</h2>
                                <div class="ibox-tools">
                                    <div>
                                        Дата изменения: {{ actualInfrastructureSheet.getCreatedAt().format('d.m.Y h:i:s') }}
                                    </div>
                                </div>
                            </div>
                            <div class="ibox-content d-flex justify-content-center align-items-center">
                                <img class="img-sm" src="{{ asset('img/ico/excel_icon.png') }}">
                                <h3 class="mr-3">{{ actualInfrastructureSheet.getName() }}</h3>

                                <div>
                                    <a href="{{ path('app_download_region_is_file', {'file': actualInfrastructureSheet.getFile()}) }}">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-download"> Скачать</i>
                                        </button>
                                    </a>


                                    {#<button class="btn btn-success" type="button"><i class="fa fa-search"> Просмотр</i></button>#}
                                </div>

                            </div>
                            <div class="col-lg-12">
                                <h4>
                                    Комментарий
                                </h4>
                                <hr>
                                <p>
                                    {{ actualInfrastructureSheet.getComment() }}
                                </p>
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-sm-10 offset-sm-1 ">
                        <div class="wrapper wrapper-content ">
                            <div class="ibox-content block-shadow ">
                                <div class="ibox ">
                                    <div class="ibox-title">
                                        <h2>История файлов</h2>
                                        <div class="ibox-tools">

                                        </div>
                                    </div>

                                    <div class="ibox-content inspinia-timeline">
                                        {% for i in infrastructureSheets %}
                                            <div class="timeline-item">
                                                <div class="row">
                                                    <div class="col-4 date">
                                                        <i class="fa fa-table"></i>
                                                        {{ i.getCreatedAt().format('d.m.Y h:i:s') }}
                                                        <br>
                                                        {#<small class="text-navy">2 hour ago</small>#}
                                                    </div>
                                                    <div class="col content no-top-border">
                                                        <p class="m-b-xs"><strong>{{ i.getName() }}</strong></p>

                                                        <p>
                                                            {{ i.getComment() }}

                                                        <a href="{{ path('app_download_region_is_file', {'file': i.getFile()}) }}">
                                                            <button class="btn btn-primary" type="button">
                                                                <i class="fa fa-download"> Скачать</i>
                                                            </button>
                                                        </a>


                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}