{% extends "journalist/index.html.twig" %}


{% block content %}

    <style>
        input[type='number'] {
            -moz-appearance:textfield;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        .error-message {
            color: #cc0033;
            /*display: inline-block;*/
            font-size: 12px;
            line-height: 15px;
            margin: 5px 0 0;
        }
    </style>

    <div class="row col-lg-12">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <div class="row d-flex justify-content-center m-3">
                    <div>
                        <h2>
                            <nav>{{ title }}</nav>
                        </h2>
                    </div>
                </div>


                <div class="row d-flex justify-content-center col-lg-12" >
                    {{ form_start(form, {'attr': {'class': 'col-lg-12'}}) }}
                    <table class="table block-shadow white-bg block-border">
                        <thead>
                        <tr>
                            <th class="col-lg-4 table-title">Закупка</th>
                            <th class="col-lg-4 table-title"></th>
                            <th class="col-lg-4 table-title"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Наименование / Объект закупки (В соответсвии с извещением о проведении закупки)</td>


                            <td colspan="2">
                                {{ form_widget(form.PurchaseObject) }}
                            </td>

                        </tr>
                        <tr>
                            <td>Способ определения поставщика (подрядчика, исполнителя)</td>


                            <td colspan="2">
                                {{ form_widget(form.MethodOfDetermining) }}
                            </td>

                        </tr>
                        <tr id="anotherMethodOfDetermining">
                            <td >
                                Другое
                            </td>
                            <td colspan="2">
                                {{ form_widget(form.anotherMethodOfDetermining,
                                    {attr: {'value' : method}}) }}
                            </td>

                        </tr>
                        <tr class="separate-row">
                            <td colspan="3"></td>
                        </tr>

                        <tr>
                            <td class="table-title"></td>
                            <td class="table-title" colspan="1">
                                <strong>
                                    Начальная (максимальная) цена контракта (РУБЛИ)
                                </strong>
                            </td>
                            <td class="table-title">
                                <strong>
                                    Цена контракта / договора (РУБЛИ)
                                </strong>
                            </td>


                        </tr>

                        <tr>
                            <td>средства федерального бюджета</td>


                            <td>
                                {{ form_widget(form.initialFederalFunds, {"type":"number"}) }}
                            </td>

                            <td>
                                {{ form_widget(form.finFederalFunds, {"type":"number"}) }}
                            </td>

                        </tr>
                        <tr>
                            <td>средства субъекта РФ</td>


                            <td>
                                {{ form_widget(form.initialFundsOfSubject, {"type":"number"}) }}
                            </td>
                            <td>
                                {{ form_widget(form.finFundsOfSubject, {"type":"number"}) }}
                            </td>

                        </tr>
                        <tr>
                            <td class="table-subtitle" colspan="3">
                                <strong>
                                    внебюджетные средства
                                </strong>
                            </td>



                        </tr>
                        <tr>
                            <td>средства работодателей</td>
                            <td>
                                {{ form_widget(form.initialEmployersFunds, {"type":"number"}) }}
                            </td>
                            <td>
                                {{ form_widget(form.finEmployersFunds, {"type":"number"}) }}
                            </td>

                        </tr>
                        <tr>
                            <td>средства образовательной организации</td>


                            <td>
                                {{ form_widget(form.initialEducationalOrgFunds, {"type":"number"}) }}
                            </td>
                            <td>
                                {{ form_widget(form.finFundsOfEducationalOrg, {"type":"number"}) }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Сумма
                            </td>
                            <td>
                                <p class="sum_initial">0</p>

                            </td>
                            <td>
                                <p class="sum_fin">0</p>

                            </td>
                        </tr>




                        <tr class="separate-row">
                            <td colspan="3"></td>
                        </tr>

                        <tr>
                            <td class="table-title" colspan="3">
                                <strong>
                                    Срок размещения закупки в ЕИС / ЭМ
                                </strong>
                            </td>


                        </tr>
                        <tr>
                            <td>Дата публикации извещения</td>


                            <td colspan="2">
                                {{ form_widget(form.publicationDate) }}
                                <div class="error-message" id="publication-date-error">Неправильно указанна дата</div>
                            </td>

                        </tr>
                        <tr>
                            <td>Дата окончания подачи заявок</td>


                            <td colspan="2">
                                {{ form_widget(form.deadlineDate) }}
                                <div class="error-message" id="deadline-date-error">Дата окончания подачи заявок не может быть раньше Даты публикации извещения</div>
                            </td>

                        </tr>
                        <tr>
                            <td>Дата подведения итогов</td>


                            <td colspan="2">
                                {{ form_widget(form.dateOfSummingUp) }}
                                <div class="error-message" id="summing-up-date-error">Дата подведения итогов  не может быть раньше Даты окончания подачи заявок</div>
                            </td>

                        </tr>

                        <tr class="separate-row">
                            <td colspan="3"></td>
                        </tr>

                        <tr>
                            <td>Ссылка на закупку на портале zakupki.gov.ru, прочие площадки</td>


                            <td colspan="2">
                                {{ form_widget(form.PurchaseLink) }}
                            </td>

                        </tr>
                        <tr>
                            <td>Номер закупки</td>


                            <td colspan="2">
                                {{ form_widget(form.PurchaseNumber, {'type':'number'}) }}
                            </td>

                        </tr>

                        <tr class="separate-row">
                            <td colspan="3"></td>
                        </tr>

                        <tr>
                            <td class="table-title" colspan="3">
                                <strong>
                                    Перенос срока размещения закупки в ЕИС / ЭМ
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>дата</td>


                            <td colspan="2">
                                {{ form_widget(form.postponementDate) }}
                                <div class="error-message" id="postponement-date-error">Дата перенос срока размещения закупки в ЕИС / ЭМ не может быть раньше Даты подведения итогов</div>

                            </td>

                        </tr>
                        <tr>
                            <td>причина (обоснование)</td>


                            <td colspan="2">
                                {{ form_widget(form.postonementComment) }}
                            </td>

                        </tr>
                        <tr class="separate-row">
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td class="table-title" colspan="3">
                                <strong>
                                    Дата заключения контракта / договора
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>Дата заключения контракта / договора</td>


                            <td colspan="2">
                                {{ form_widget(form.DateOfConclusion) }}
                                <div class="error-message" id="conclusion-date-error">Дата заключения контракта / договора не может быть раньше Даты перенос срока размещения закупки в ЕИС / ЭМ</div>
                            </td>

                        </tr>
                        <tr class="separate-row">
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td class="table-title" colspan="3">
                                <strong>
                                    Поставщик (подрядчик, исполнитель)
                                </strong>
                            </td>


                        </tr>
                        <tr>
                            <td>Наименование организации-поставщика (подрядчика, исполнителя)</td>


                            <td colspan="2">
                                {{ form_widget(form.supplierName) }}
                            </td>

                        </tr>
                        <tr>
                            <td>ИНН</td>


                            <td colspan="2">
                                {{ form_widget(form.supplierINN) }}
                            </td>

                        </tr>
                        <tr>
                            <td>КПП</td>


                            <td colspan="2">
                                {{ form_widget(form.supplierKPP) }}
                            </td>

                        </tr>
                        <tr class="separate-row">
                            <td colspan="3"></td>
                        </tr>

                        <tr>
                            <td>Срок поставки (подписание акта), дата</td>


                            <td colspan="2">
                                {{ form_widget(form.DeliveryTime) }}
                                <div class="error-message" id="delivery-date-error">Дата поставки не может быть раньше Даты заключения контракта / договора</div>
                            </td>

                        </tr>
                        <tr>
                            <td>Комментарии / Примечания</td>


                            <td colspan="2">
                                {{ form_widget(form.Comments) }}
                            </td>

                        </tr>
                        <tr>
                            <td>Добавить файл при необходимости</td>


                            <td colspan="2">
                                {{ form_widget(form.file) }}
                            </td>

                        </tr>

                        </tbody>
                    </table>

                    <div>
                        {{ form_widget(form.save) }}
                        {% if edit %}
                            {{ form_widget(form.saveAndAddNew,
                                {'attr': {
                                    'hidden': true
                                }}) }}
                        {% else %}
                            {{ form_widget(form.saveAndAddNew) }}
                        {% endif %}
                    </div>
                    {{ form_end(form) }}
                </div>


            </div>

        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/scripts/purchases_detail_new.js') }}"></script>

{% endblock %}