{% extends "default/base.html.twig" %}
{% block styles %}
    {#<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />#}
    <link href="{{ asset('css/plugins/select2/select2.min.css') }}" rel="stylesheet" />
    <style>
        .select2-container {
            min-width: 400px;
            /*min-height: 500px;*/
        }

        .select2-results__option {
            padding-right: 20px;
            vertical-align: middle;
            /*min-height: 100px;*/
        }
        #make_certificate_form_UGPS {
            /*padding-right: 20px;*/
            /*vertical-align: middle;*/
            max-height: 750px;
        }
        .select2-results__option:before {
            content: "";
            display: inline-block;
            position: relative;
            height: 20px;
            width: 20px;
            border: 2px solid #e9e9e9;
            border-radius: 4px;
            background-color: #fff;
            margin-right: 20px;
            vertical-align: middle;


        }


        .select2-results__option[aria-selected=true]:before {
            content: "\f00c";
            color: #fff;
            background-color: #f77750;
            border: 0;
            display: inline-block;
            padding-left: 3px;
        }
        .select2-container--default .select2-results__option[aria-selected=true] {
            background-color: #fff;
        }
        .select2-container--default .select2-results__option--highlighted[aria-selected] {
            background-color: #eaeaeb;
            color: #272727;
        }
        .select2-container--default .select2-selection--multiple {
            margin-bottom: 10px;
        }
        .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
            border-radius: 4px;
        }
        .select2-container--default.select2-container--focus .select2-selection--multiple {
            border-color: #f77750;
            border-width: 2px;
        }
        .select2-container--default .select2-selection--multiple {
            border-width: 2px;
        }
        .select2-container--open .select2-dropdown--below {

            border-radius: 6px;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            /*min-height: 500px;*/
        }


    </style>
{% endblock %}

{% block content %}

    <style>
        input[type='number'] {
            -moz-appearance:textfield;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        fieldset {
            color: #191919;
        }
        .error-message {
            color: #cc0033;
            /*display: inline-block;*/
            font-size: 12px;
            line-height: 15px;
            margin: 5px 0 0;
        }
    </style>
    <div class="row mt-3 col-lg-12">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Сформировать справку</h5>

                </div>
                {{ form_start(form) }}
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-3">
                            <label>Год</label>
                            <select id="year-input" class="form-control m-b select2" multiple="multiple">

                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label>Отрасль</label>
                            <select id="industry-input" class="form-control m-b select2" multiple="multiple">
                                {#<option></option>#}
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label>Регион</label>
                            <select id="region-input" class="form-control m-b select2" multiple="multiple">
                                {#<option></option>#}
                            </select>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <label>Округ</label>
                            <select id="district-input" class="form-control m-b select2" multiple="multiple">
                                {#<option></option>#}
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label>Зоны по видам работ</label>
                            {#<select id="zone-input" class="form-control m-b select2" multiple="multiple">#}
                                {#<option></option>#}
                            {#</select>#}
                            {{ form_widget(form.zones) }}
                        </div>
                        <div class="col-lg-3">
                            <label>Работадатели</label>
                            {#<select id="employer-input" class="form-control m-b select2" multiple="multiple">#}
                                {#<option></option>#}
                            {#</select>#}
                            {{ form_widget(form.employers) }}
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-9">
                            <label>УГПС</label>
                            {#<select id="ugps-input" class="form-control m-b select2" multiple="multiple">#}
                                {#<option></option>#}
                            {#</select>#}

                            {{ form_widget(form.UGPS) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9">
                            <label>Базовая организация</label>
                            <select id="base-input" class="form-control m-b select2" >
                                <option></option>
                            </select>
                            {#{{ form_widget(form.base_org) }}#}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-12">
                            <button id="filter-btn" type="button mr-3" class="btn" type="button">
                                <i class="fa fa-check">
                                    Отфильтровать
                                </i>
                            </button>
                            <button id="cancel-filter-btn" type="button" class="btn"  type="button">
                                <i class="fa fa-close">
                                    Сбросить фильтр
                                </i>
                            </button>
                            <button id="choose-all-btn" type="button" class="btn btn-primary"  type="button">
                                <i class="fa fa-check-circle">
                                    Выбрать все
                                </i>
                            </button>
                            <button id="choose-null-btn" type="button" class="btn btn-warning"  type="button">
                                <i class="fa fa-box">
                                    Снять выделение
                                </i>
                            </button>
                        </div>

                    </div>
                    <hr>


                    <div id="clusters" class="row">
                        {% for i in form.clusters %}
                            <div class="form-control col-lg-3 m-2">
                                <div class="row">
                                    <div class="col-lg-1">
                                        {{ form_widget(i) }}
                                    </div>
                                    <div class="col-lg-10">
                                        <h3>
                                            <b>Субъект РФ:</b> {{ i.vars.attr["data-region"] }}
                                        </h3>
                                        <h3>
                                            <b>Отрасль:</b> {{ i.vars.attr["data-industry"] }} <br>
                                        </h3>
                                        <h3>
                                            <b>Базовая организация:</b> {{ i.vars.attr["data-base"] }} <br>
                                        </h3>

                                    </div>
                                    <div class="col-lg-10">
                                        <hr>
                                        <b>Кластер:</b> {{ form_label(i) }} <br>
                                        <b>Год:</b> {{ i.vars.attr["data-year"] }} <br>
                                        <b>Округ:</b> {{ i.vars.attr["data-district"] }} <br>
                                    </div>
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-3">
                                <label>
                                    Опции
                                </label>
                            <ul class="list-group">
                                {% for i in form.option %}
                                    <li class="list-group-item">
                                        {{ form_widget(i) }}
                                        {{ form_label(i) }}
                                    </li>
                                {% endfor %}
                            </ul>



                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-9 ">

                            {{ form_widget(form.download_as_table) }}
                            {{ form_label(form.download_as_table) }}
                            <hr>
                            {{ form_widget(form.as_choose) }}
                            {{ form_label(form.as_choose) }}
                            <hr>
                            {{ form_row(form.submit) }}

                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    </div>
    <div style="display: none">
        <input type="date" id="today" name="today_input">
    </div>

{% endblock %}

{% block scripts %}
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
    {#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>#}
    <script src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $.fn.filterAttribute = function(attr, values, reverse) {
                var remaining = [];
                this.each(function(index, el) {
                    for (var i = 0; i < values.length; i++) {

                        if (el.getAttribute(attr) == values[i]) {
                            remaining.push(el);
                            break;
                        }
                    }
                });
                if (reverse) {
                    return(this.not(remaining));
                } else {
                    return($(remaining));
                }
            };
            $.fn.filterAttributeByJson = function(attr, values, reverse) {
                var remaining = [];
                this.each(function(index, el) {
                    for (var i = 0; i < values.length; i++) {
                        if (JSON.stringify(el.getAttribute(attr)).includes(values[i])) {
                            remaining.push(el);
                            break;
                        }
                    }
                });
                if (reverse) {
                    return(this.not(remaining));
                } else {
                    return($(remaining));
                }
            };

            let yearInput = $('#year-input');
            let employersInput = $('#make_certificate_form_employers');
            let industryInput = $('#industry-input');
            let regionInput = $('#region-input');
            let baseInput = $('#base-input');
            let districtInput = $('#district-input');
            let zoneInput = $('#make_certificate_form_zones');
            let ugpsInput = $('#make_certificate_form_UGPS');
            let filterBtn = $('#filter-btn');
            let cancelFilterBtn = $('#cancel-filter-btn');
            let chooseAllBtn = $('#choose-all-btn');
            let chooseNullBtn = $('#choose-null-btn');

            function filter(event) {
                cancelFilter();
                console.log('Отфильтровано');
                if(yearInput.val().length > 0){
                    console.log('Год: ', yearInput.val());

                    let value = yearInput.val();
                    let filtered_year = $('#clusters input[data-year]').filterAttribute("data-year", value, true);;
                    filtered_year.closest('.form-control').hide();
                }
                if(industryInput.val().length > 0){
                    console.log('Отрасль: ', industryInput.val());
                    let value = industryInput.val();
                    // let _industry = "data-industry!='" + industryInput.val() +"'";
                    let filtered_industry = $('#clusters input[data-industry]').filterAttribute("data-industry", value, true);
                    filtered_industry.closest('.form-control').hide();
                }
                if(regionInput.val().length > 0){
                    console.log('Регион: ', regionInput.val());

                    let value = regionInput.val();
                    let filtered_region = $('#clusters input[data-region]').filterAttribute("data-region", value, true);
                    filtered_region.closest('.form-control').hide();
                }
                if(baseInput.val() !== ""){
                    console.log('Базовая организация: ', baseInput.val());
                    let _base = "data-base!='" + baseInput.val() +"'";
                    let filtered_industry = $('#clusters input['+_base+']');
                    filtered_industry.closest('.form-control').hide();
                }
                if(districtInput.val().length > 0){
                    console.log('Округ: ', districtInput.val());

                    let value = districtInput.val();
                    let filtered_region = $('#clusters input[data-district]').filterAttribute("data-district", value, true);
                    filtered_region.closest('.form-control').hide();
                }
                if(zoneInput.val().length > 0){
                    console.log('Зона: ', zoneInput.val());

                    let value = zoneInput.val();
                    let filtered_region = $('#clusters input[data-zone]').filterAttributeByJson("data-zone", value, true);
                    filtered_region.closest('.form-control').hide();
                }
                if(ugpsInput.val().length > 0){
                    console.log('Угпс: ', ugpsInput.val());

                    let value = ugpsInput.val();
                    let filtered_region = $('#clusters input[data-ugps]').filterAttributeByJson("data-ugps", value, true);
                    filtered_region.closest('.form-control').hide();
                }
                if(employersInput.val().length > 0){
                    console.log('Работадатели: ', employersInput.val());

                    let value = employersInput.val();
                    let filtered_region = $('#clusters input[data-employers]').filterAttributeByJson("data-employers", value, true);
                    filtered_region.closest('.form-control').hide();
                }


                event.preventDefault();
            }
            function cancelFilter() {
                console.log('фильтр сброшен');
                $('.form-control').show();
                // let filtered_year = $('#clusters input[data-year]')
                // clearInput();

            }
            function clearInput() {
                $('#clusters input').prop('checked',false);
            }
            function chooseAll() {
                $('#clusters .form-control:visible input').prop('checked',true);
            }
            function clickOnCard(card) {

            }
            function onLoad() {
                let data = $('#clusters input');
                let _industry = [];
                let _region = [];
                let _base = [];
                let _year = [];
                let _district = [];
                let _ugps = [];
                let _zone = [];
                let _employers = [];
                data.each(function( index ) {
                    _industry.push( $( this ).data("industry"));
                    _region.push( $( this ).data("region"));
                    _base.push( $( this ).data("base"));
                    _year.push( $( this ).data("year"));
                    _district.push( $( this ).data("district"));
                    for(let i in $( this ).data("ugps"))
                        _ugps.push( $( this ).data("ugps") [i]);
                    // _ugps.push( $( this ).data("ugps"));
                    for(let i in $( this ).data("zone"))
                        _zone.push( $( this ).data("zone")[i]);
                    for(let i in $( this ).data("employers"))
                        _employers.push( $( this ).data("employers")[i]);


                });

                let uniq_industry = [...new Set(_industry)];
                uniq_industry.forEach((element) => {
                    industryInput
                        .append('<option>'+element+'</option>');
                });

                let uniq_region = [...new Set(_region.sort())];
                uniq_region.forEach((element) => {
                    regionInput
                        .append('<option>'+element+'</option>');
                });

                let uniq_base = [...new Set(_base)];
                uniq_base.forEach((element) => {
                    baseInput
                        .append('<option>'+element+'</option>');
                });

                let uniq_year = [...new Set(_year.sort())];
                uniq_year.forEach((element) => {
                    yearInput
                        .append('<option>'+element+'</option>');
                });

                let uniq_district = [...new Set(_district.sort())];
                uniq_district.forEach((element) => {
                    districtInput
                        .append('<option>'+element+'</option>');
                });

                let uniq_ugps = [...new Set(_ugps)];
                uniq_ugps.forEach((element) => {
                    ugpsInput
                        .append('<option>'+element+'</option>');
                });

                let uniq_zone = [...new Set(_zone)];
                uniq_zone.forEach((element) => {
                    zoneInput
                        .append('<option>'+element+'</option>');
                });
                let uniq_employers = [...new Set(_employers)];
                // console.log(uniq_employers);
                uniq_employers.forEach((element) => {
                    employersInput
                        .append('<option>'+element+'</option>');
                });

                // console.log(_ugps);
                // console.log(_zone);

            }



            filterBtn.click((e) => {
                filter(e);
            });
            cancelFilterBtn.click((e) => {
                cancelFilter();
            });
            chooseAllBtn.click((e) => {
                chooseAll();
            });
            chooseNullBtn.click((e) => {
                clearInput();
            });
            $('form[name="make_certificate_form"]').submit(function(e) {
                e.preventDefault(); // don't submit multiple times
                this.submit(); // use the native submit method of the form element
                clearInput();
            });
            $('#clusters .form-control').click(function() {  //use a class, since your ID gets mangled

                if($(this).find('input').is(':checked'))
                {
                    // $(this).removeClass("panel-primary");      //add the class to the clicked element
                    $(this).find('input').prop('checked',false);
                }
                else{
                    // $(this).addClass("panel-primary");      //add the class to the clicked element
                    $(this).find('input').prop('checked',true);
                }
            });
            $('#clusters input').click(function() {  //use a class, since your ID gets mangled

                if($(this).is(':checked'))
                {
                    // $(this).removeClass("panel-primary");      //add the class to the clicked element
                    $(this).prop('checked',false);
                }
                else{
                    // $(this).addClass("panel-primary");      //add the class to the clicked element
                    $(this).prop('checked',true);
                }
            });

            // submitBtn.click((e)=>{
            //     clearInput();
            // });
            $('.select2').select2({
                closeOnSelect : false,
                placeholder : "...",
                allowHtml: true,
                allowClear: true
            });
            onLoad();

        });
    </script>
{% endblock %}