{% extends "default/base.html.twig" %}
{% block styles %}
    {#<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />#}
    <link href="{{ asset('css/plugins/select2/select2.min.css') }}" rel="stylesheet" />
    <style>
        .select2-container {
            min-width: 400px;
        }

        .select2-results__option {
            padding-right: 20px;
            vertical-align: middle;
        }
        .select2-results__option:before {
            content: "";
            display: inline-block;
            position: relative;
            height: 20px;
            width: 20px;
            border: 2px solid #e9e9e9;
            border-radius: 4px;
            background-color: #fff;
            margin-right: 20px;
            vertical-align: middle;
        }
        .select2-results__option[aria-selected=true]:before {
            content: "\f00c";
            color: #fff;
            background-color: #f77750;
            border: 0;
            display: inline-block;
            padding-left: 3px;
        }
        .select2-container--default .select2-results__option[aria-selected=true] {
            background-color: #fff;
        }
        .select2-container--default .select2-results__option--highlighted[aria-selected] {
            background-color: #eaeaeb;
            color: #272727;
        }
        .select2-container--default .select2-selection--multiple {
            margin-bottom: 10px;
        }
        .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
            border-radius: 4px;
        }
        .select2-container--default.select2-container--focus .select2-selection--multiple {
            border-color: #f77750;
            border-width: 2px;
        }
        .select2-container--default .select2-selection--multiple {
            border-width: 2px;
        }
        .select2-container--open .select2-dropdown--below {

            border-radius: 6px;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);

        }

    </style>
{% endblock %}

{% block content %}

    <style>
        input[type='number'] {
            -moz-appearance:textfield;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        fieldset {
            color: #191919;
        }
        .error-message {
            color: #cc0033;
            /*display: inline-block;*/
            font-size: 12px;
            line-height: 15px;
            margin: 5px 0 0;
        }
    </style>
    <div class="row mt-3">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Сформировать справку</h5>

                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-3">
                            <label>Год</label>
                            <select id="year-input" class="form-control m-b select2" multiple="multiple">

                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label>Отрасль</label>
                            <select id="industry-input" class="form-control m-b select2" multiple="multiple">
                                {#<option></option>#}
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label>Регион</label>
                            <select id="region-input" class="form-control m-b select2" multiple="multiple">
                                {#<option></option>#}
                            </select>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-9">
                            <label>Базовая организация</label>
                            <select id="base-input" class="form-control m-b select2" >
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-12">
                            <button id="filter-btn" type="button mr-3" class="btn">
                                <i class="fa fa-check">
                                    Отфильтровать
                                </i>
                            </button>
                            <button id="cancel-filter-btn" type="button" class="btn">
                                <i class="fa fa-close">
                                    Сбросить фильтр
                                </i>
                            </button>
                        </div>

                    </div>
                    <hr>
                    {{ form_start(form) }}

                    <div id="clusters" class="row">
                        {% for i in form.clusters %}
                            <div class="form-control col-lg-3 m-2">
                                <div class="row">
                                    <div class="col-lg-1">
                                        {{ form_widget(i) }}
                                    </div>
                                    <div class="col-lg-10">
                                        <h3>
                                            <b>Субъект РФ:</b> {{ i.vars.attr["data-region"] }}
                                        </h3>
                                        <h3>
                                            <b>Отрасль:</b> {{ i.vars.attr["data-industry"] }} <br>
                                        </h3>
                                        <h3>
                                            <b>Базовая организация:</b> {{ i.vars.attr["data-base"] }} <br>
                                        </h3>

                                    </div>
                                    <div class="col-lg-10">
                                        <hr>
                                        <b>Кластер:</b> {{ form_label(i) }} <br>
                                        <b>Год:</b> {{ i.vars.attr["data-year"] }} <br>
                                    </div>
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    </div>
    <div style="display: none">
        <input type="date" id="today" name="today_input">
    </div>

{% endblock %}

{% block scripts %}
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
    {#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>#}
    <script src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $.fn.filterAttribute = function(attr, values, reverse) {
                var remaining = [];
                this.each(function(index, el) {
                    for (var i = 0; i < values.length; i++) {
                        if (el.getAttribute(attr) == values[i]) {
                            remaining.push(el);
                            break;
                        }
                    }
                });
                if (reverse) {
                    return(this.not(remaining));
                } else {
                    return($(remaining));
                }
            }

            let yearInput = $('#year-input');
            let industryInput = $('#industry-input');
            let regionInput = $('#region-input');
            let baseInput = $('#base-input');
            let filterBtn = $('#filter-btn');
            let cancelFilterBtn = $('#cancel-filter-btn');
            let submitBtn = $('#make_certificate_form_submit');
            function filter() {
                cancelFilter();
                console.log('Отфильтровано');
                if(yearInput.val().length > 0){
                    console.log('Год: ', yearInput.val());

                    let value = yearInput.val();
                    let filtered_year = $('#clusters input[data-year]').filterAttribute("data-year", value, true);;
                    filtered_year.closest('.form-control').hide();
                }
                if(industryInput.val().length > 0){
                    console.log('Отрасль: ', industryInput.val());
                    let value = industryInput.val();
                    // let _industry = "data-industry!='" + industryInput.val() +"'";
                    let filtered_industry = $('#clusters input[data-industry]').filterAttribute("data-industry", value, true);
                    filtered_industry.closest('.form-control').hide();
                }
                if(regionInput.val().length > 0){
                    console.log('Регион: ', regionInput.val());

                    let value = regionInput.val();
                    let filtered_region = $('#clusters input[data-region]').filterAttribute("data-region", value, true);
                    filtered_region.closest('.form-control').hide();
                }
                if(baseInput.val() !== ""){
                    console.log('Базовая организация: ', baseInput.val());
                    let _base = "data-base!='" + baseInput.val() +"'";
                    let filtered_industry = $('#clusters input['+_base+']');
                    filtered_industry.closest('.form-control').hide();
                }




            }
            function cancelFilter() {
                console.log('фильтр сброшен');
                $('.form-control').show();
                // let filtered_year = $('#clusters input[data-year]')
                // clearInput();

            }
            function clearInput() {
                let inputs = $('#clusters input').prop('checked',false);
            }
            function onLoad() {
                let data = $('#clusters input');
                let _industry = [];
                let _region = [];
                let _base = [];
                let _year = [];
                data.each(function( index ) {
                    _industry.push( $( this ).data("industry"));
                    _region.push( $( this ).data("region"));
                    _base.push( $( this ).data("base"));
                    _year.push( $( this ).data("year"));

                });

                let uniq_industry = [...new Set(_industry)];
                uniq_industry.forEach((element) => {
                    industryInput
                        .append('<option>'+element+'</option>');
                });

                let uniq_region = [...new Set(_region.sort())];
                uniq_region.forEach((element) => {
                    regionInput
                        .append('<option>'+element+'</option>');
                });

                let uniq_base = [...new Set(_base)];
                uniq_base.forEach((element) => {
                    baseInput
                        .append('<option>'+element+'</option>');
                });

                let uniq_year = [...new Set(_year.sort())];
                uniq_year.forEach((element) => {
                    yearInput
                        .append('<option>'+element+'</option>');
                });



            }



            filterBtn.click((e) => {
                filter();
            });
            cancelFilterBtn.click((e) => {
                cancelFilter();
            });
            $('form[name="make_certificate_form"]').submit(function(e) {
                e.preventDefault(); // don't submit multiple times
                this.submit(); // use the native submit method of the form element
                clearInput();
            });
            // submitBtn.click((e)=>{
            //     clearInput();
            // });
            $('.select2').select2({
                closeOnSelect : false,
                placeholder : "...",
                allowHtml: true,
                allowClear: true
            });
            onLoad();
        });
    </script>
{% endblock %}