{% extends 'default/base.html.twig' %}
{% block styles %}
    <link href="{{ asset('css/plugins/blueimp/css/blueimp-gallery.min.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    {% set addresses = user.getClusterAddresses() %}
    {#{% if addresses|length > 0 %}#}
       <div class="row mt-3">
           <div class="col-lg-10 offset-lg-1">
               <div class="tabs-container">
                   <ul class="nav nav-tabs" role="tablist">
                       {% for i in addresses %}
                        <li><a class="nav-link {% if loop.index == 1 %}active show{% endif %}" data-toggle="tab" href="#tab-{{ loop.index }}"> {{ i.getAddresses() }}</a></li>
                       {% endfor %}
                       <li>
                           <a class="nav-link show active   btn-primary" href="{{ path('app_inspector_add_addresses', {'id': user.getId()}) }}">
                               {#<button class="btn btn-primary">#}
                                   <i class="fa fa-plus">
                                       Добавить Адрес
                                   </i>
                               {#</button>#}
                           </a>
                       </li>
                   </ul>
                   <div class="tab-content">
                       {% for i in addresses %}
                           <div role="tabpanel" id="tab-{{ loop.index }}" class="tab-pane {% if loop.index == 1 %}active show{% endif %}">
                               <div class="panel-body">
                                   <table class="table table-bordered">
                                       <thead>
                                       <tr>

                                           <td class="col-md-2" style="vertical-align: inherit; text-align: center">
                                               <strong>Адрес</strong>
                                           </td>
                                           <td class="col-md-2" style="vertical-align: inherit; text-align: center">
                                               <strong>Зоны</strong>
                                           </td>
                                           <td style="vertical-align: inherit; text-align: center"><strong>Средний % ремонтных работ зон под вид работ</strong></td>
                                           <td style="vertical-align: inherit; text-align: center"><strong>Средний % ремонтных работ общих помещений</strong></td>
                                           <td style="vertical-align: inherit; text-align: center"><strong>Средний % ремонтных работ в общем</strong></td>
                                           <td style="vertical-align: inherit; text-align: center"><strong>Крайний срок поставки оборудования</strong></td>
                                           <td style="vertical-align: inherit; text-align: center"><strong>Крайняя дата завершения ремонта</strong></td>
                                           <td class="col-md-1" style="vertical-align: inherit; text-align: center">
                                               <strong>Действия</strong>
                                           </td>
                                       </tr>
                                       </thead>
                                       <tbody>

                                       <tr>

                                           <td style="vertical-align: inherit; text-align: center">
                                               {{ i.getAddresses() }}
                                           </td>

                                           <td class="col-md-2" style="vertical-align: inherit; text-align: center">
                                               {% set zones = i.getSortedClusterZones() %}
                                               {% if zones|length > 0 %}
                                                   <ul style=" list-style-type: none;" class="m-0 p-0">
                                                       {% for j in zones %}
                                                           {% if j.isDoNotTake() %}
                                                               <li>
                                                                   <button class="btn btn-outline-danger mb-2 col-lg-12" style="margin-bottom:4px;white-space: normal;">
                                                                       {{ j.getName() }}
                                                                   </button>
                                                               </li>
                                                           {% else %}
                                                               <a href="{{ path('app_inspector_view_zone', {'id' : j.getId()}) }}">
                                                                   <li>
                                                                       <button class="btn btn-outline-dark mb-2 col-lg-12" style="margin-bottom:4px;white-space: normal;">
                                                                           {{ j.getName() }}
                                                                       </button>
                                                                   </li>
                                                               </a>
                                                           {% endif %}
                                                       {% endfor %}
                                                   </ul>
                                               {% else %}
                                                   <span class="badge badge-warning">
                                                        Нет зон
                                                    </span>
                                               {% endif %}
                                           </td>
                                           {% set repairMidByZone = i.getMidRepairByZone() %}
                                           {% set repairMidByCommon = i.getMidRepairByCommon() %}
                                           <td style="vertical-align: inherit; text-align: center">{{ repairMidByZone|round(2, 'floor') }} %</td>
                                           <td style="vertical-align: inherit; text-align: center">{{ repairMidByCommon|round(2, 'floor') }} %</td>
                                           <td style="vertical-align: inherit; text-align: center">{{ ((repairMidByZone+repairMidByCommon)/2)|round(2, 'floor') }} %</td>
                                           <td style="vertical-align: inherit; text-align: center">
                                               {% if i.getEquipmentDeliveryDeadline() %}
                                                   {{ i.getEquipmentDeliveryDeadline().format('d.m.Y') }}
                                               {% endif %}
                                           </td>
                                           <td style="vertical-align: inherit; text-align: center">
                                               {% if i.getDeadlineForCompletionOfRepairs() %}
                                                   {{ i.getDeadlineForCompletionOfRepairs().format('d.m.Y') }}
                                               {% endif %}
                                           </td>
                                           <td style="vertical-align: inherit; text-align: center">
                                               <a href="{{ path('app_inspector_view_address', {'id': i.getId()}) }}">
                                                   <button class="btn btn-success col-lg-12 mb-2">
                                                       <i class="fa fa-search">
                                                           Просмотр
                                                       </i>
                                                   </button>
                                               </a>
                                               <a href="{{ path('app_inspector_add_zone', {'id': i.getId()}) }}">
                                                   <button class="btn btn-primary col-lg-12 mb-2">
                                                       <i class="fa fa-plus">
                                                           Добавить зону
                                                       </i>
                                                   </button>
                                               </a>
                                               <a href="{{ path('app_inspector_edit_addresses', {'id': i.getId()}) }}">
                                                   <button class="btn btn-warning col-lg-12 mb-2" style="white-space: normal;">
                                                       <i class="fa fa-edit">
                                                           Редактировать адресс
                                                       </i>
                                                   </button>
                                               </a>

                                           </td>
                                       </tr>

                                       </tbody>
                                   </table>
                               </div>

                           </div>
                       {% endfor %}
                   </div>
               </div>
           </div>
       </div>
    {#{% endif %}#}
    <div class="row mt-3">
        <div class="col-lg-10 offset-lg-1">

        </div>
    </div>
    {% if addresses|length > 0 %}
        <div class="row mt-3">
            <div class="col-lg-10 offset-lg-1">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>
                            Общая статистика по кластеру
                        </h5>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td style="vertical-align: inherit; text-align: center" class="col-md-2"><strong>Средний % ремонтных работ общих помещений</strong></td>
                                    <td style="vertical-align: inherit; text-align: center" class="col-md-2"><strong>Средний % ремонтных работ зон под вид работ</strong></td>
                                    <td style="vertical-align: inherit; text-align: center" class="col-md-2"><strong>Средний % ремонтных работ в общем</strong></td>

                                    <td style="vertical-align: inherit; text-align: center" class="col-md-2"><strong>Крайний срок поставки оборудования</strong></td>
                                    <td style="vertical-align: inherit; text-align: center" class="col-md-2"><strong>Крайняя дата завершения ремонта</strong></td>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td style="vertical-align: inherit; text-align: center">{{ user.getMidRepairByCommon()|round(2, 'floor') }} %</td>
                                    <td style="vertical-align: inherit; text-align: center">{{ user.getMidRepairByZone()|round(2, 'floor') }} %</td>
                                    <td style="vertical-align: inherit; text-align: center">{{ ((user.getMidRepairByZone()+user.getMidRepairByCommon())/2)|round(2, 'floor') }} %</td>

                                    <td style="vertical-align: inherit; text-align: center">{{ user.getEquipmentDeliveryDeadline() }}</td>
                                    <td style="vertical-align: inherit; text-align: center">{{ user.getDeadlineForCompletionOfRepairs() }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td style="vertical-align: inherit; text-align: center" class="col-md-2"><strong>Общее кол-во оборудования по ИЛу</strong></td>
                                    <td style="vertical-align: inherit; text-align: center" class="col-md-2"><strong>Поставлено оборудования</strong></td>
                                    <td style="vertical-align: inherit; text-align: center" class="col-md-2"><strong>Введено в эксплуатацию</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                            {% set equipment = user.getCountOfEquipment() %}
                                <tr>
                                    <td style="vertical-align: inherit; text-align: center">{{ equipment['total'] }}</td>
                                    {% if equipment['total'] > 0 %}
                                        <td style="vertical-align: inherit; text-align: center">{{ equipment['fact'] }} / {{ ((equipment['fact']/equipment['total'])*100)|round(2, 'floor') }} %</td>
                                    {% else %}
                                        <td>{{ equipment['fact'] }} / 0%</td>
                                    {% endif %}
                                    {% if equipment['fact'] > 0 %}
                                        <td style="vertical-align: inherit; text-align: center">{{ equipment['putInOperation'] }} / {{ ((equipment['putInOperation']/equipment['fact'])*100)|round(2, 'floor') }} %</td>
                                    {% else %}
                                        <td style="vertical-align: inherit; text-align: center">{{ equipment['putInOperation'] }} / 0%</td>
                                    {% endif %}
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-lg-12">
                                <a href="{{ path('app_inspector_readiness_map_download', {'id': user.getId()}) }}">
                                    <button class="btn btn-primary">
                                        <i class="fa fa-download">
                                            Скачать справку
                                        </i>
                                    </button>
                                </a>
                                <a href="{{ path('app_inspector_readiness_map_archive', {'id': user.getId()}) }}">
                                    <button class="btn btn-warning">
                                        <i class="fa fa-archive">
                                            Архив справок
                                        </i>
                                    </button>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-10 offset-lg-1">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>
                            Галерея
                        </h5>
                    </div>
                    <div class="ibox-content">


                        {{ form_start(form) }}
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>От: </label>
                                    {{ form_row(form.startDate) }}

                                    <label>До: </label> <br>
                                    {{ form_widget(form.endDate) }}
                                </div>
                                {{ form_row(form.addres) }}
                            </div>

                            <div class="form-inline">
                                <div class="form-group mt-3">
                                    {{ form_row(form.submit) }}
                                    <div class="ml-3"></div>
                                    {{ form_row(form.download) }}
                                </div>
                            </div>
                        {{ form_end(form) }}
                        <hr>
                        <a href="{{ path('app_inspector_rm_actual_gallery_region', {'id': user.getId()}) }}">
                            <button class="btn btn-warning" type="button">
                                <i class="fa fa-photo">
                                    Актуальная галерея
                                </i>
                            </button>
                        </a>
                        <hr>

                        {% if _photos %}
                        <div class="row">
                        <div class="col-lg-12">
                            <div class="lightBoxGallery">
                                {% set title = _photos[0].getRepair().getClusterZone().getName() %}
                                {% set addres = _photos[0].getRepair().getClusterZone().getAddres().getAddresses() %}
                                <div class="row col-lg-12">
                                    {#<h3 class="col-lg-12 mt-3">{{ title }} <br> <i class="fa fa-map-marker">{{ addres }}</i></h3>#}

                                    {% for ver in _photos|reverse %}
                                        {% if
                                            title != ver.getRepair().getClusterZone().getName()
                                            or
                                            addres != ver.getRepair().getClusterZone().getAddres().getAddresses()
                                        %}
                                            {% set title = ver.getRepair().getClusterZone().getName() %}
                                            {% set addres = ver.getRepair().getClusterZone().getAddres().getAddresses() %}
                                            <h3 class="col-lg-12 mt-3" >{{ title }} <br> <i class="fa fa-map-marker">{{ addres }}</i></h3>
                                        {% endif %}
                                        {% for i in ver.getRepairPhotos() %}
                                            <div class="col-lg-2 p-1 ml-2 form-control" >
                                                <a href="{{ path('app_download_file_by_route', {'route': 'repair_photos_directory', 'file': i.getPhoto()}) }}">
                                                    <span class="btn btn-primary pull-right">
                                                        <i class="fa fa-download">Скачать</i>
                                                    </span>
                                                </a>

                                                <a href="{{ asset('/uploads/repairPhotos/'~i.getPhoto()) }}" title="{{ title }}" data-gallery="">
                                                    <img src="{{ asset('/uploads/repairPhotos/'~i.getPhoto()) }}" class="col-lg-12" >
                                                </a>

                                                <div class="col-lg-12">
                                                    {{ ver.getCreatedAt().format('d.m.Y') }}
                                                </div>
                                            </div>

                                        {% endfor %}
                                    {% endfor %}
                                </div>

                                <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                                <div id="blueimp-gallery" class="blueimp-gallery">
                                    <div class="slides"></div>
                                    <h3 class="title"></h3>
                                    <a class="prev">‹</a>
                                    <a class="next">›</a>
                                    <a class="close">×</a>
                                    <a class="play-pause"></a>
                                    <ol class="indicator"></ol>
                                </div>

                            </div>
                            </div>
                        </div>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/inspinia.js') }}"></script>
    <script src="{{ asset('js/plugins/blueimp/jquery.blueimp-gallery.min.js') }}"></script>
{% endblock %}
