{% extends 'default/base.html.twig' %}
{% block styles %}
    <link href="{{ asset('css/plugins/blueimp/css/blueimp-gallery.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

    {% set name = zone.getName() %}
    {% set zoneType = zone.getType().getName() == 'Зона по видам работ' %}
    {{ include('default/cluster_info.html.twig', {'user_info': zone.getAddres().getUser().getUserInfo()}) }}
    <div class="row mt-3">
        <div class="col-lg-12 col-md-12  mb-2">
            <div class="ibox collapsed border-bottom">

                <div class="ibox-title">
                    <h5>
                        {{ name }} {% if zone.getPlaceCount() > 0 %} ({{ zone.getPlaceCount() }} рабочих мест) {% endif %}
                    </h5>
                </div>


                <div class="ibox-content" style="display: block;">
                    <a href="{{ path('app_inspector_readiness_map', {'id': zone.getAddres().getUser().getId(), 'tab':zone.getAddres().getId()}) }}">
                        <button class="btn mb-3">
                            <i class="fa fa-arrow-left">
                                Назад
                            </i>
                        </button>
                    </a>
                    <div class="tabs-container">
                        <ul class="nav nav-tabs" role="tablist">
                            <li><a class="nav-link active show" data-toggle="tab" href="#tab-1"> Ремонт</a></li>
                            {% if zoneType %}
                                <li><a class="nav-link" data-toggle="tab" href="#tab-2"> Инфраструктурный лист</a></li>
                            {% endif %}
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" id="tab-1" class="tab-pane active show">
                                <div class="panel-body">

                                    <a href="{{ path('app_inspector_edit_repair_zone', {'id': zone.getZoneRepair.getId()}) }}" class="">
                                        <button class="btn btn-primary mb-3">
                                            <i class="fa fa-edit"></i>
                                            Редактировать
                                        </button>
                                    </a>

                                    <table class="table table-bordered">
                                        {% set repair = zone.getZoneRepair() %}

                                        <thead>
                                            <tr>
                                                <td class="col-md-1">
                                                    Процент готовности
                                                </td>
                                                <td class="col-md-3">
                                                    Дата окончания
                                                </td>
                                                <td>
                                                    Комментарий
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                {{ repair.getTotalPercentage() }} %
                                            </td>
                                            <td>
                                                {% if repair.getEndDate() %}
                                                    {{ repair.getEndDate().format('d.m.Y') }}
                                                {% else %}
                                                    <span class="badge badge-warning">
                                                        Дата не указана
                                                    </span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ repair.getComment() }}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <h4>Процесс ремонта</h4>
                                    <hr>
                                    <h5>Общий процент <b>{{ repair.getTotalPercentage() }} %</b></h5>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-primary" role="progressbar" style="width: {{ repair.getDismaltingPercentage() }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                                <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{ repair.getPlasteringAndCommunicationPercentage()  }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                                <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{ repair.getFinishingPercentage() }}%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                                <div class="progress-bar progress-bar-danger" role="progressbar" style="width: {{ repair.getBrandingPercentage() }}%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            {% if not repair.isNotPlanned() %}
                                            <h5>Демонтажные работы <b>{{ repair.getDismantling() }} %</b></h5>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-primary" style="width: {{ repair.getDismantling() }}%" role="progressbar" aria-valuenow="{{ repair.getTotalPercentage() }}" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <h5>Штукатурные и коммуникационные работы <b>{{ repair.getPlasteringAndCommunication() }} %</b></h5>
                                            <div class="progress">
                                                <div class="progress-bar  progress-bar-success" style="width: {{ repair.getPlasteringAndCommunication() }}%" role="progressbar" aria-valuenow="{{ repair.getTotalPercentage() }}" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <h5>Отделочные работы <b>{{ repair.getFinishing() }} %</b></h5>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-warning" style="width: {{ repair.getFinishing() }}%" role="progressbar" aria-valuenow="{{ repair.getTotalPercentage() }}" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            {% else %}
                                                <span class="badge badge-success">Ремонт не предусмотрен</span>
                                            {% endif %}
                                            {% if zone.getType().getName() != "Иное" %}


                                            <h5>Брендирование <b>{{ repair.getBranding() }} %</b></h5>
                                            <div class="progress">
                                                <div class="progress-bar  progress-bar-danger" style="width: {{ repair.getBranding() }}%" role="progressbar" aria-valuenow="{{ repair.getTotalPercentage() }}" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <hr>
                                    <h5>Фотографии</h5>
                                    <hr>
                                    <div class="row ml-1">
                                        <div class="lightBoxGallery">
                                            <div class="row">
                                            {% for i in pagination %}
                                                {% for j in i.getRepairPhotos() %}

                                                    <div class="form-control col-lg-2 mr-2 photo">
                                                        <h5 class="pull-left" style="height: 30px">
                                                            {{ i.getCreatedAt().format('d.m.Y') }}
                                                        </h5>
                                                        <div class="button-toggle" >
                                                            <a href="{{ path('app_inspector_rm_delete_photo_region', {'zone_id': zone.getId(), 'photo_id': j.getId()}) }}">
                                                            <span class="btn btn-danger pull-right delete-alert">
                                                                <i class="fa fa-trash"></i>
                                                            </span>
                                                            </a>
                                                            <a href="{{ path('app_download_file_by_route', {'route': 'repair_photos_directory', 'file': j.getPhoto()}) }}">
                                                            <span class="btn btn-primary pull-right ">
                                                                <i class="fa fa-download"></i>
                                                            </span>
                                                            </a>
                                                        </div>


                                                        <a href="{{ asset('/uploads/repairPhotos/'~j.getPhoto()) }}" title="{{ name }}" data-gallery="">
                                                            <img src="{{ asset('/uploads/repairPhotos/'~j.getPhoto()) }}" class=" col-lg-12">
                                                        </a>

                                                    </div>
                                                {% endfor %}
                                            {% endfor %}
                                            </div>
                                            <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                                            <div id="blueimp-gallery" class="blueimp-gallery">
                                                <div class="slides"></div>
                                                <h3 class="title"></h3>
                                                <a class="prev">‹</a>
                                                <a class="next">›</a>
                                                <a class="close">×</a>
                                                <a class="play-pause"></a>
                                                <ol class="indicator"></ol>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="navigation">
                                            {{ knp_pagination_render(pagination, 'default/twitter_bootstrap_v3_pagination.html.twig') }}
                                        </div>
                                    </div>
                                    {% if zone.getDesignProjectFile() %}
                                        <div class="row mt-3">
                                            <div class="col-lg-12" >
                                                <div class="ibox collapsed">
                                                    <a class="collapse-link">
                                                        <div class="ibox-title">
                                                            <h5>
                                                                Дизайн-проект
                                                            </h5>
                                                            <div class="ibox-tools">

                                                                <i class="fa fa-chevron-up"></i>


                                                            </div>
                                                        </div>
                                                    </a>
                                                    <div class="ibox-content" style="height: 800px; display:block;">
                                                        <div class="row mt-3">
                                                            <div class="col-lg-12" >
                                                                <embed src="{{ asset('uploads/zonesDesignProject/'~zone.getDesignProjectFile()) }}"
                                                                       data-file="{{ zone.getDesignProjectFile() }}"
                                                                       width="20%"
                                                                       height="100%"
                                                                       frameBorder="0"
                                                                       scrolling="auto"
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    {% endif %}
                                </div>

                            </div>



                            {% set thead %}
                                <tr>
                                    <td class="col-sm-1" style="vertical-align: inherit; text-align: center">
                                        <strong>№ п/п</strong>
                                    </td>
                                    <td class="col-md-2" style="vertical-align: inherit; text-align: center">
                                        <strong>Наименование</strong>
                                    </td>
                                    <td class="col-md-1" style="vertical-align: inherit; text-align: center">
                                        <strong>Вид</strong>
                                    </td>
                                    <td class="col-md-1" style="vertical-align: inherit; text-align: center">
                                        <strong>Общее кол-во</strong>
                                    </td>
                                    <td class="col-md-1" style="vertical-align: inherit; text-align: center">
                                        <strong>Ед. измерения</strong>
                                    </td>
                                    <td class="col-md-1" style="vertical-align: inherit; text-align: center">
                                        <strong>Фактическое <br> кол-во</strong>
                                    </td>
                                    <td class="col-md-1" style="vertical-align: inherit; text-align: center">
                                        <strong>Введено в эксплуатацию</strong>
                                    </td>
                                    <td class="col-md-1" style="vertical-align: inherit; text-align: center">
                                        <strong>Дата поставки (Планируемая)</strong>
                                    </td>
                                    <td class="col-md-1" style="vertical-align: inherit; text-align: center">
                                        <strong>ОКПД2</strong>
                                    </td>
                                    <td class="col-md-1" style="vertical-align: inherit; text-align: center">
                                        <strong>КТРУ</strong>
                                    </td>
                                    <td class="col-md-1" style="vertical-align: inherit; text-align: center">
                                        <strong>Марка / модель</strong>
                                    </td>
                                    <td class="col-md-1" style="vertical-align: inherit; text-align: center">
                                        <strong>Страна-производитель</strong>
                                    </td>
                                    <td class="col-md-3" style="vertical-align: inherit; text-align: center">
                                        <strong>Комментарий</strong>
                                    </td>

                                </tr>
                            {% endset %}
                            {% macro row(count, i) %}
                                <tr>
                                    <td style="vertical-align: inherit; text-align: center">{{ count }}</td>
                                    <td style="vertical-align: inherit">{{ i.getName() }}</td>
                                    <td style="vertical-align: inherit; text-align: center">{{ i.getType() }}</td>
                                    <td style="vertical-align: inherit; text-align: center">{{ i.getTotalNumber() }}</td>
                                    <td style="vertical-align: inherit; text-align: center">{{ i.getUnits() }}</td>
                                    <td style="vertical-align: inherit; text-align: center">{{ i.getFactNumber() }}</td>
                                    <td style="vertical-align: inherit; text-align: center">{{ i.getPutIntoOperation() }}</td>
                                    {% if i.getDeliveryDate() %}
                                        <td style="vertical-align: inherit; text-align: center">{{ i.getDeliveryDate().format('d.m.Y') }}</td>
                                    {% else %}
                                        <td style="vertical-align: inherit; text-align: center">Дата не указана</td>
                                    {% endif %}
                                    <td>{{ i.getOKPD2() }}</td>
                                    <td>{{ i.getKTRU() }}</td>
                                    <td>{{ i.getModel() }}</td>
                                    <td>{{ i.getCountryOfOrigin() }}</td>
                                    <td style="vertical-align: inherit; text-align: center">{{ i.getComment() }}</td>
                                </tr>
                            {% endmacro %}
                            <div role="tabpanel" id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    {% if infrastructure|length > 0 %}
                                        <div class="row mb-3 ml-1">
                                            <a href="{{ path('app_inspector_rm_infrastructure_sheet', {'id' : zone.getId()}) }}">
                                                <button class="btn btn-primary ">
                                                    <i class="fa fa-edit">
                                                        Изменить ИЛ
                                                    </i>
                                                </button>
                                            </a>

                                        </div>

                                        <table class="table table-bordered">

                                            <thead class="table-head">
                                                <tr>
                                                    <td colspan="22">
                                                        <h3>
                                                            Общая зона
                                                        </h3>
                                                    </td>
                                                </tr>
                                                {{ thead }}
                                            </thead>
                                            <tbody class="tbody">
                                                {#{% for item in form.tags %}#}
                                                    {#<li>{{ form_row(tag.name) }}</li>#}
                                                {#{% endfor %}#}
                                                {% set count = 1 %}
                                                {% for i in infrastructure|reverse %}
                                                    {% if i.getZoneType() == 'Общая зона' %}
                                                        {{ _self.row(count, i) }}
                                                        {% set count = count + 1 %}
                                                    {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered">
                                            <thead class="table-head">
                                                <tr>
                                                    <td colspan="22">
                                                        <h3>
                                                            Рабочее место учащегося
                                                        </h3>
                                                    </td>
                                                </tr>
                                                {{ thead }}
                                            </thead>
                                            <tbody  class="tbody">
                                                {#{% for item in form.tags %}#}
                                                    {#<li>{{ form_row(tag.name) }}</li>#}
                                                {#{% endfor %}#}
                                                {% set count = 1 %}
                                                {% for i in infrastructure|reverse %}
                                                    {% if i.getZoneType() == 'Рабочее место учащегося' %}
                                                        {{ _self.row(count, i) }}
                                                        {% set count = count + 1 %}
                                                    {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered">
                                            <thead class="table-head">
                                                <tr>
                                                    <td colspan="22">
                                                        <h3>
                                                            Рабочее место преподавателя
                                                        </h3>
                                                    </td>
                                                </tr>
                                                {{ thead }}
                                            </thead>
                                            <tbody  class="tbody">
                                                {#{% for item in form.tags %}#}
                                                    {#<li>{{ form_row(tag.name) }}</li>#}
                                                {#{% endfor %}#}
                                                {% set count = 1 %}
                                                {% for i in infrastructure|reverse %}
                                                    {% if i.getZoneType() == 'Рабочее место преподавателя' %}
                                                        {{ _self.row(count, i) }}
                                                        {% set count = count + 1 %}
                                                    {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    {% else %}
                                        <div class="col-lg-6 offset-lg-3">
                                            <div class="panel panel-warning">
                                                <div class="panel-heading">
                                                    <i class="fa fa-warning"></i> Нет инфраструктурного листа
                                                </div>
                                                <div class="panel-body">
                                                    <a href="{{ path('app_inspector_rm_infrastructure_sheet', {'id' : zone.getId()}) }}">
                                                        <button class="btn col-lg-12">
                                                            <i class="fa fa-table">
                                                                Добавить ИЛ
                                                            </i>
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}


                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="ibox-footer">

                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/inspinia.js') }}"></script>
    <script src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>
    <script src="{{ asset('js/plugins/blueimp/jquery.blueimp-gallery.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            let designFile = $('embed').data('file');
            if(designFile && designFile.includes('.pdf'))
            {
                $('embed').height('800');
                $('embed').width('100%');
            }

            $('thead').click(function(event) {
                console.log($(event.target).parent().parent().parent());
                $(event.target).parent().parent().parent().parent().find('.tbody').toggle('fast');
            });

            $('.photo').on({
                mouseenter: function() {
                    $( this ).find( ".button-toggle" ).show('fast');
                }, mouseleave: function() {
                    $( this ).find( ".button-toggle" ).hide('fast');
                }
            });


            $(".button-toggle").hide();



        });
    </script>
{% endblock %}