{% extends 'default/base.html.twig' %}



{% block content %}
<row class="row mt-3">
    <div class="col-lg-12">
        <a href="{{ path('app_region_cofinancing_add') }}">
            <button class="btn btn-primary col-lg-12">
                <i class="fa fa-plus"></i>
                Добавть источник софинансирования
            </button>
        </a>
    </div>
</row>
<div class="row mt-3">
    <div class="col-lg-3">
        <div class="ibox">
            <div class="ibox-title">
                <h5>
                    Средства
                </h5>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered">
                    <thead>
                        <tr class="text-center">
                            <td class="col-md-1">Источник</td>
                            <td class="col-md-3">Фин. соглашение</td>
                            <td class="col-md-3">Принято</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% set _funds = user.getCofinancingSum() %}
                        <tr class="text-center">
                            <td>РД</td>
                            <td class="cell-number">{{ funds.getEmployerFunds() }}</td>
                            <td class="cell-number">{{ _funds['employersFunds'] }}</td>
                        </tr>
                        <tr class="text-center">
                            <td>Субъект</td>
                            <td class="cell-number">{{ funds.getRegionFunds() }}</td>
                            <td class="cell-number">{{ _funds['subjectFunds'] }}</td>
                        </tr>
                        <tr class="text-center">
                            <td>ОО</td>
                            <td class="cell-number">{{ funds.getEducationFunds() }}</td>
                            <td class="cell-number">{{ _funds['OOFunds'] }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="ibox-footer">

            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="ibox">
            <div class="ibox-title">
                <h5>
                    Сценарии
                </h5>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered">
                    <thead>
                    <tr class="text-center">
                        <td class="col-md-1">id</td>
                        <td class="col-md-2">Вид софинансирования</td>
                        <td class="col-md-4">Файлы</td>
                        <td class="col-md-2">Комментарий</td>
                        <td class="col-md-1">Статус</td>
                        <td class="col-md-1"></td>
                    </tr>

                    </thead>
                    <tbody>
                    {% set statusLib = {
                        'Не принято' : '-danger',
                        'На проверке' : '-warning',
                        'Принято' : '-primary',

                    } %}
                    {% for i in cofinancing_scenarion %}
                        <tr class="text-center">
                            <td>{{ i.getId() }}</td>
                            <td>
                                {{ i.getScenario() }}
                            </td>
                            <td>
                                {% for file in i.getFiles() %}
                                <div class="row mb-3">
                                    <div class="col-sm-6">
                                        <a href="{{ path('app_download_file_by_route', {'route': 'cofinancing_file_directory', 'file': file.getFile()}) }}">
                                            <i class="fa fa-download"></i>
                                            {{ file.getFile() }}
                                        </a>
                                    </div>
                                    <div class="col-sm-6">
                                        <span class="badge badge{{ statusLib[file.getStatus()] }}">
                                            {{ file.getStatus() }}
                                        </span>
                                    </div>

                                </div>
                                <hr>
                                {% endfor %}
                            </td>
                            <td>
                                {{ i.getComment() }}
                            </td>
                            <td>
                                 <span class="badge badge{{ statusLib[i.getStatus()] }}">
                                    {{ i.getStatus() }}
                                </span>
                            </td>
                            <td>
                                <a href="{{ path('app_region_cofinancing_edit', {'id': i.getId()}) }}">
                                    <button class="btn btn-success btn-lg">
                                        <i class="fa fa-edit"></i>
                                        Редактировать
                                    </button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="ibox-footer">
                <div class="navigation">
                    {{ knp_pagination_render(cofinancing_scenarion, 'default/twitter_bootstrap_v3_pagination.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
