



<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-top: -5px">Общие сведения</h2>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="col-md-4">
                                        Субъект РФ
                                    </td>
                                    <td style="vertical-align: middle">
                                        {% if  user_info.getRfSubject() %}
                                            {{ user_info.getRfSubject().getName() }}
                                        {% endif %}

                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4">
                                        Инициатор создания кластера
                                    </td>
                                    <td style="vertical-align: middle">
                                        {{ user_info.getInitiatorOfCreation() }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4">
                                        Наименование организации грантополучателя
                                    </td>
                                    <td style="vertical-align: middle">
                                        {{ user_info.getOrganization() }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4">
                                        Наименование базовой образовательной организации
                                    </td>
                                    <td style="vertical-align: middle">
                                        {{ user_info.getEducationalOrganization() }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4">
                                        Наименование кластера
                                    </td>
                                    <td style="vertical-align: middle">
                                        {{ user_info.getCluster() }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4">
                                        Заявленная отрасль
                                    </td>
                                    <td style="vertical-align: middle">
                                        {{ user_info.getDeclaredIndustry() }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-top: -5px">Участники кластера</h2>
                    </div>
                    <div class="ibox-content">

                        <h3>Образовательные организации</h3>
                        <div>
                            <ol>
                                {% for i in  user_info.getListOfEdicationOrganization() %}
                                    <li>{{ i }}</li>
                                {% endfor %}
                            </ol>
                        </div>


                        <h3>Работодатели</h3>
                        <div>
                            <ol>
                                {% for i in  user_info.getListOfEmployers() %}
                                    <li>{{ i }}</li>
                                {% endfor %}
                            </ol>
                        </div>

                        <h3>Иные организации</h3>
                        <div>
                            <ol>
                                {% for i in  user_info.getListOfAnotherOrganization() %}
                                    <li>{{ i }}</li>
                                {% endfor %}
                            </ol>
                        </div>


                        <div class="ibox-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% set clusterDocument = user_info.getClusterDocument() %}

    <div class="row animated fadeInRight">
        <div class="col-sm-10 offset-sm-1 ">
            <div class="wrapper wrapper-content ">
                <div class="ibox-content block-shadow ">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h2 style="font-weight: bold; margin-top: -5px">Документы кластера</h2>

                        </div>
                        <div class="ibox-content">


                            <div>
                                {% if clusterDocument %}
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <td>
                                                    Файл
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% if clusterDocument.getPartnershipAgreement() %}
                                            <tr>
                                                <td>
                                                    <a href="{{ path('app_download_file_by_route', {'route': 'cluster_documents_directory', 'file': clusterDocument.getPartnershipAgreement()}) }}">
                                                        <i class="fa fa-download">
                                                            Соглашение о партнерстве
                                                        </i>

                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if clusterDocument.getFinancialAgreement() %}
                                            <tr>
                                                <td>
                                                    <a href="{{ path('app_download_file_by_route', {'route': 'cluster_documents_directory', 'file': clusterDocument.getFinancialAgreement()}) }}">
                                                        <i class="fa fa-download">
                                                            Финансовое соглашение
                                                        </i>

                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if clusterDocument.getInfrastructureSheet() %}
                                            <tr>
                                                <td>


                                                    <a href="{{ path('app_download_file_by_route', {'route': 'cluster_documents_directory', 'file': clusterDocument.getInfrastructureSheet()}) }}">
                                                        <i class="fa fa-download">
                                                            Инфраструктурный лист
                                                        </i>

                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if clusterDocument.getDesignProject() %}
                                            <tr>
                                                <td>
                                                    <a href="{{ path('app_download_file_by_route', {'route': 'cluster_documents_directory', 'file': clusterDocument.getDesignProject()}) }}">
                                                        <i class="fa fa-download">
                                                            Дизайн-проект
                                                        </i>

                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if clusterDocument.getActivityProgram() %}
                                            <tr>
                                                <td>
                                                    <a href="{{ path('app_download_file_by_route', {'route': 'cluster_documents_directory', 'file': clusterDocument.getActivityProgram()}) }}">
                                                        <i class="fa fa-download">
                                                            Программа деятельности
                                                        </i>

                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <div class="col-lg-10 offset-lg-1">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <i class="fa fa-info-circle"></i> Сообщение
                                            </div>
                                            <div class="panel-body">
                                                <p>Файлы не прикреплены</p>
                                            </div>

                                        </div>
                                    </div>
                                {% endif %}
                            </div>




                            <div class="ibox-footer">
                                {% if is_granted('ROLE_INSPECTOR') %}
                                    <a href="{{ path('app_inspector_edit_cluster_document', {'id': user_info.getId()}) }}">
                                        <button class="btn btn-success col-lg-12">
                                            <i class="fa fa-edit">
                                                Редактировать "Документы кластера"
                                            </i>
                                        </button>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-top: -5px">Финансовые показатели</h2>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td colspan="2">
                                        Объем финансирования
                                    </td>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col-md-4">
                                        Средства организаций реального сектора экономики, <strong>тыс.руб.</strong>
                                    </td>
                                    <td style="vertical-align: middle" class="cell-number">
                                        {{ user_info.getExtraFundsEconomicSector() }} ₽
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4" >
                                        Средства субъекта РФ, <strong>тыс.руб.</strong>
                                    </td>
                                    <td style="vertical-align: middle" class="cell-number">
                                        {{ user_info.getFinancingFundsOfSubject() }} ₽
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4" >
                                        Средства образовательной организации, <strong>тыс.руб.</strong>
                                    </td>
                                    <td style="vertical-align: middle" class="cell-number">
                                        {{ user_info.getExtraFundsOO() }} ₽
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-top: -5px">Показатели результативности деятельности кластера</h2>
                        <div class="ibox-tools">
                            <span class="badge badge-success">{{ user_info.getYear() }} год</span>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td class="col-md-6">
                                    Количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта "Профессионалитет", разработанных в том числе с применением автоматизированных методов конструирования указанных образовательных программ
                                </td>
                                <td style="vertical-align: middle">

                                    {{ user_info.getStudentsCount() }}

                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-6">
                                    Количество реализуемых образовательных программ в интересах организации реального сектора экономики
                                </td>
                                <td style="vertical-align: middle">
                                    {{ user_info.getProgramCount() }}
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-6">
                                    Количество педагогических работников, владеющих актуальными педагогическими, производственными (профильными), цифровыми навыками или навыками конструирования образовательных программ под запросы работодателей и экономики
                                </td>
                                <td style="vertical-align: middle">
                                    {{ user_info.getTeacherCount() }}
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-6">
                                    Количество работников организаций реального сектора экономики, владеющих актуальными педагогическими навыками, цифровыми навыками или навыками конструирования образовательных программ под запросы работодателей и экономики, включенных в образовательный процесс в качестве преподавателей и мастеров производственного обучения по совместительству
                                </td>
                                <td style="vertical-align: middle">
                                    {{ user_info.getWorkerCount() }}
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-6">
                                    Количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта "Профессионалитет", разработанных, в том числе, с применением автоматизированных методов конструирования указанных образовательных программ, прошедших практическую подготовку на базе образовательно- производственного центра с закреплением наставника, работающего в организации реального сектора экономики
                                </td>
                                <td style="vertical-align: middle">
                                    {{ user_info.getStudentsCountWithMentor() }}
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-6">
                                    Количество заключенных с гарантией трудоустройства выпускников договоров о целевом обучении по образовательным программам среднего профессионального образования в рамках федерального проекта "Профессионалитет", разработанных в том числе с применением автоматизированных методов конструирования указанных образовательных программ (единиц)

                                </td>
                                <td style="vertical-align: middle">
                                    {{ user_info.getJobSecurityCount() }}
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-6">
                                    Объем финансирования (включая расходы на оплату труда преподавателей и мастеров производственного обучения) образовательных организаций, являющихся участниками центра, обеспечиваемый их учредителями, который не может быть менее объемов финансирования образовательных организаций до создания центра <strong>тыс.руб.</strong>

                                </td>
                                <td style="vertical-align: middle" class="cell-number">
                                    {{ user_info.getAmountOfFunding() }} ₽
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-6">
                                    Объем внебюджетных средств (включая стоимость безвозмездно переданного образовательным организациям, являющимся участниками центра, имущества, необходимого для реализации основных профессиональных образовательных программ, основных программ профессионального обучения и дополнительных профессиональных программ), направляемых участниками центра из числа организаций, действующих в реальном секторе экономики, на развитие центра <strong>тыс.руб.</strong>

                                </td>
                                <td style="vertical-align: middle" class="cell-number">
                                    {{ user_info.getAmountOfExtraFunds() }} ₽
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-top: -5px">Профессии и специальности</h2>
                    </div>
                    <div class="ibox-content">

                        <h3>УГПС</h3>
                        <div>
                            <ol>
                                {#{{ dump(user_info.getUGPS()) }}#}
                                {% for i in  user_info.getUGPS() %}
                                    <li>{{ i }}</li>
                                {% endfor %}
                            </ol>
                        </div>



                        <div class="ibox-footer">
                            {% if is_granted('ROLE_INSPECTOR') %}
                                <a href="{{ path('app_inspector_user_ugps_edit', {'id': user_info.getId()}) }}">
                                    <button class="btn btn-success col-lg-12">
                                        <i class="fa fa-edit">
                                            Редактировать "Профессии и специальности"
                                        </i>
                                    </button>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-top: -5px">Зоны по видам работ</h2>
                    </div>
                    <div class="ibox-content">


                        <h3>Зоны по видам работ</h3>
                        <div>
                            <ol>
                                {% for i in  user_info.getZone() %}
                                    <li>{{ i }}</li>
                                {% endfor %}
                            </ol>
                        </div>




                        <div class="ibox-footer">
                            {% if is_granted('ROLE_INSPECTOR') %}
                                <a href="{{ path('app_inspector_user_zone_edit', {'id': user_info.getId()}) }}">
                                    <button class="btn btn-success col-lg-12">
                                        <i class="fa fa-edit">
                                            Редактировать блок
                                        </i>
                                    </button>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

