



<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-top: -5px">Общие сведения</h2>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="col-md-4">
                                        Субъект РФ
                                    </td>
                                    <td style="vertical-align: middle">
                                        {% if  user_info.getRfSubject() %}
                                            {{ user_info.getRfSubject().getName() }}
                                        {% endif %}

                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4">
                                         Город
                                    </td>
                                    <td>
                                        {{ user_info.getCity() }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4">
                                        Инициатор создания кластера
                                    </td>
                                    <td style="vertical-align: middle">
                                        {{ user_info.getInitiatorOfCreation() }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4">
                                        Наименование организации грантополучателя
                                    </td>
                                    <td style="vertical-align: middle">
                                        {{ user_info.getOrganization() }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4">
                                        Наименование базовой образовательной организации
                                    </td>
                                    <td style="vertical-align: middle">
                                        {{ user_info.getEducationalOrganization() }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4">
                                        Наименование кластера
                                    </td>
                                    <td style="vertical-align: middle">
                                        {{ user_info.getCluster() }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4">
                                        Заявленная отрасль
                                    </td>
                                    <td style="vertical-align: middle">
                                        {{ user_info.getDeclaredIndustry() }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{#{% if is_granted('ROLE_ADMIN') %}#}
    {% set contactInfo = user_info.getContactInfo() %}
    {% if contactInfo is null %}
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Контактная информация не найдена
                    </div>
                    <div class="panel-body">
                        <a href="{{ path('app_edit_contact_info' , {'id': user_info.getId()}) }}">
                            <button class="btn btn-success ">
                                <i class="fa fa-plus"></i>
                                Добавить контактную информацию
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row animated fadeInRight">
            <div class="col-sm-10 offset-sm-1 ">
                <div class="wrapper wrapper-content ">
                    <div class="ibox-content block-shadow ">
                        <div class="ibox ">
                            <a href="{{ path('app_edit_contact_info' , {'id': user_info.getId()}) }}">
                                <button class="btn btn-success pull-right">
                                    <i class="fa fa-edit"></i>
                                    Редактировать контактную информацию
                                </button>
                            </a>
                            <a class="collapse-link">
                                <div class="ibox-title">
                                    <h2 style="font-weight: bold; margin-top: -5px">Контактные данные</h2>
                                    <div class="ibox-tools">

                                        <i class="fa fa-chevron-down"></i>
                                    </div>


                                </div>
                            </a>
                            <div class="ibox-content" style="display: none">
                                {% if contactInfo.getDirector() is not null %}
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="contact-box">
                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="text-center">
                                                        {% if contactInfo.getDirector().getPhoto() %}
                                                            <img alt="image" class="rounded-circle m-t-xs img-fluid"
                                                                 src="{{ asset('img/placeholder/employees.png') }}">
                                                        {% else %}
                                                            <img alt="image" class="rounded-circle m-t-xs img-fluid"
                                                                 src="{{ asset('img/placeholder/employees.png') }}">
                                                        {% endif %}
                                                        <div class="m-t-xs font-bold">Директор (ИО)</div>
                                                    </div>
                                                </div>
                                                <div class="col-8">
                                                    <h3><strong>{{ contactInfo.getDirector().getFIO() }}</strong></h3>

                                                    <address>
                                                        <p>Моб.Телефон: {{ contactInfo.getDirector().getPhoneNumber() }} </p>
                                                        <p>Почта: {{ contactInfo.getDirector().getEmail() }} </p>
                                                    </address>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                {% endif %}
                                {% if contactInfo.getResponsibleContacts() is not null %}
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <td class="col-md-2">Отвественный за</td>
                                            <td class="col-md-2">ФИО</td>
                                            <td class="col-md-2">Моб.Телефон</td>
                                            <td class="col-md-2">Почта</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in contactInfo.getResponsibleContacts() %}
                                        <tr>
                                            <td>
                                                {% for type in i.getResponsibleContactTypes() %}
                                                    <p>
                                                        {{ type.getName() }}
                                                    </p>
                                                {% endfor %}
                                            </td>
                                            <td>{{ i.getFIO() }}</td>
                                            <td>{{ i.getPhoneNumber() }}</td>
                                            <td>{{ i.getEmail() }}</td>
                                        </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                                <hr>
                                {% endif %}
                                <h5>
                                    Список работодателей
                                </h5>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <td class="col-md-2">Работодатель</td>
                                        <td class="col-md-2">ФИО</td>
                                        <td class="col-md-2">Должность</td>
                                        <td class="col-md-2">Моб.Телефон</td>
                                        <td class="col-md-2">Почта</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for rd in contactInfo.getEmployersContacts()  %}
                                        <tr>
                                            <td>{{ rd.getEmployer().getName() }}</td>
                                            <td>{{ rd.getFIO() }}</td>
                                            <td>{{ rd.getPost() }}</td>
                                            <td>{{ rd.getPhoneNumber() }}</td>
                                            <td>{{ rd.getEmail() }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{#{% endif %}#}
<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-top: -5px">Участники кластера</h2>
                    </div>
                    <div class="ibox-content">

                        <h3>Образовательные организации</h3>
                        <div>
                            <ol>
                                {% for i in  user_info.getListOfEdicationOrganization() %}
                                    <li>{{ i }}</li>
                                {% endfor %}
                            </ol>
                        </div>


                        {#<h3>Работодатели</h3>#}
                        {#<div>#}
                            {#<ol>#}
                                {#{% for i in  user_info.getListOfEmployers() %}#}
                                    {#<li>{{ i }}</li>#}
                                {#{% endfor %}#}
                            {#</ol>#}
                        {#</div>#}
                        <h3>Работодатели </h3>
                        <div>
                            <ol>
                                {% for i in  user_info.getEmployers() %}
                                    <li>{{ i.getName() }}</li>
                                {% endfor %}
                            </ol>
                        </div>
                        <h3>Иные организации</h3>
                        <div>
                            <ol>
                                {% for i in  user_info.getListOfAnotherOrganization() %}
                                    <li>{{ i }}</li>
                                {% endfor %}
                            </ol>
                        </div>


                        <div class="ibox-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% set clusterDocument = user_info.getClusterDocument() %}

    <div class="row animated fadeInRight">
        <div class="col-sm-10 offset-sm-1 ">
            <div class="wrapper wrapper-content ">
                <div class="ibox-content block-shadow ">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h2 style="font-weight: bold; margin-top: -5px">Документы кластера</h2>

                        </div>
                        <div class="ibox-content">


                            <div>
                                {% if clusterDocument %}
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <td>
                                                    Файл
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% if clusterDocument.getPartnershipAgreement() %}
                                            <tr>
                                                <td>
                                                    <a href="{{ path('app_download_file_by_route', {'route': 'cluster_documents_directory', 'file': clusterDocument.getPartnershipAgreement()}) }}">
                                                        <i class="fa fa-download">
                                                            Соглашение о партнерстве
                                                        </i>

                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if clusterDocument.getFinancialAgreement() %}
                                            <tr>
                                                <td>
                                                    <a href="{{ path('app_download_file_by_route', {'route': 'cluster_documents_directory', 'file': clusterDocument.getFinancialAgreement()}) }}">
                                                        <i class="fa fa-download">
                                                            Финансовое соглашение
                                                        </i>

                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if clusterDocument.getInfrastructureSheet() %}
                                            <tr>
                                                <td>


                                                    <a href="{{ path('app_download_file_by_route', {'route': 'cluster_documents_directory', 'file': clusterDocument.getInfrastructureSheet()}) }}">
                                                        <i class="fa fa-download">
                                                            Инфраструктурный лист
                                                        </i>

                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if clusterDocument.getDesignProject() %}
                                            <tr>
                                                <td>
                                                    <a href="{{ path('app_download_file_by_route', {'route': 'cluster_documents_directory', 'file': clusterDocument.getDesignProject()}) }}">
                                                        <i class="fa fa-download">
                                                            Дизайн-проект
                                                        </i>

                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if clusterDocument.getActivityProgram() %}
                                            <tr>
                                                <td>
                                                    <a href="{{ path('app_download_file_by_route', {'route': 'cluster_documents_directory', 'file': clusterDocument.getActivityProgram()}) }}">
                                                        <i class="fa fa-download">
                                                            Программа деятельности
                                                        </i>

                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <div class="col-lg-10 offset-lg-1">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <i class="fa fa-info-circle"></i> Сообщение
                                            </div>
                                            <div class="panel-body">
                                                <p>Файлы не прикреплены</p>
                                            </div>

                                        </div>
                                    </div>
                                {% endif %}
                            </div>




                            <div class="ibox-footer">
                                {% if is_granted('ROLE_INSPECTOR') %}
                                    <a href="{{ path('app_inspector_edit_cluster_document', {'id': user_info.getId()}) }}">
                                        <button class="btn btn-success col-lg-12">
                                            <i class="fa fa-edit">
                                                Редактировать "Документы кластера"
                                            </i>
                                        </button>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-top: -5px">Финансовые показатели</h2>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td colspan="2">
                                        Объем финансирования
                                    </td>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% if 'ROLE_REGION' in user.getRoles() %}
                                    <td class="col-md-4">
                                        Средства организаций реального сектора экономики, <strong>тыс.руб.</strong>
                                    </td>
                                    {% endif %}
                                    {% if 'ROLE_SMALL_CLUSTERS' in user.getRoles() %}
                                        <td class="col-md-4">
                                            Средства организаций, действующих в отраслях характерных для субъектов малого и среднего предпринимательства
                                            и социальной сферы, <strong>тыс.руб.</strong>
                                        </td>
                                    {% endif %}
                                    <td style="vertical-align: middle" class="cell-number">
                                        {{ user_info.getExtraFundsEconomicSector() }} ₽
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4" >
                                        Средства субъекта РФ, <strong>тыс.руб.</strong>
                                    </td>
                                    <td style="vertical-align: middle" class="cell-number">
                                        {{ user_info.getFinancingFundsOfSubject() }} ₽
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4" >
                                        Средства образовательной организации, <strong>тыс.руб.</strong>
                                    </td>
                                    <td style="vertical-align: middle" class="cell-number">
                                        {{ user_info.getExtraFundsOO() }} ₽
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if is_granted('ROLE_INSPECTOR') or is_granted("ROLE_SMALL_CLUSTERS") %}
    <div class="row">
        <div class="col-sm-10 offset-sm-1 ">
            <a href="{{ path('app_perfomance_indicators_edit', {'id': user_info.getId()}) }}">
                <button class="btn btn-success col-lg-12">
                    <i class="fa fa-edit"></i>
                    Редактировать "Показатели результативности деятельности кластера"
                </button>
            </a>
        </div>
    </div>
{% endif %}
{% if 'ROLE_REGION' in user.getRoles() %}
    {% if user_info.getYear() == 2023 %}
        {% set dict = {
            'studentsCount': 'Количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», в том числе разработанных с применением автоматизированных методов конструирования указанных образовательных программ',
            'programCount': 'Количество реализуемых образовательных программ в интересах организаций реального сектора экономики',
            'teacherCount': 'Количество педагогических работников, владеющих актуальными педагогическими, производственными (профильными), цифровыми навыками или навыками конструирования образовательных программ под запросы работодателей и экономики',
            'workerCount' : 'Количество работников организаций реального сектора экономики, владеющих актуальными педагогическими навыками, цифровыми навыками или навыками конструирования образовательных программ под запросы работодателей и экономики, включенных в образовательный процесс в качестве преподавателей и мастеров производственного обучения по совместительству',
            'studentsCountWithMentor': 'Количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным в том числе с применением автоматизированных методов конструирования указанных образовательных программ, прошедших практическую подготовку на базе центра с закреплением наставника, работающего в организации реального сектора экономики',
            'jobSecurityCount': 'Количество заключенных с гарантией трудоустройства выпускников договоров о целевом обучении по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанных в том числе с применением автоматизированных методов конструирования указанных образовательных программ',
            'amountOfFunding': ' Объем финансирования (включая расходы на оплату труда преподавателей и мастеров производственного обучения) образовательных организаций, являющихся участниками центра, обеспечиваемый их учредителями, который не может быть менее объемов финансирования образовательных организаций до создания центра',
            'amountOfExtraFunds': 'Объем внебюджетных средств (включая стоимость безвозмездно переданного образовательным организациям, являющимся участниками центра, имущества, необходимого для реализации основных профессиональных образовательных программ, основных программ профессионального обучения и дополнительных профессиональных программ), направляемых участниками центра из числа организаций, действующих в реальном секторе экономики, на развитие центра',

        } %}
    {% elseif user_info.getYear() == 2024 %}
        {% set dict = {
            'studentsCount': 'количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным в том числе с применением автоматизированных методов конструирования указанных образовательных программ',
            'programCount': 'количество реализуемых образовательных программ центра в интересах организаций реального сектора экономики, участвующих в реализации программы деятельности центра',
            'teacherCount': 'количество педагогических работников образовательных организаций, прошедших обучение по дополнительным профессиональным программам, в том числе с применением дистанционных образовательных технологий, обеспечивающих реализацию мероприятий федерального проекта «Профессионалитет», в том числе в части получения производственных навыков',
            'workerCount' : 'количество работников, участвующих в реализации программы деятельности центра, призеров и победителей чемпионатов профессионального мастерства, включенных в образовательный процесс в качестве преподавателей и мастеров производственного обучения, прошедших обучение по дополнительным профессиональным программам, в том числе с применением дистанционных образовательных технологий, обеспечивающих реализацию мероприятий федерального проекта «Профессионалитет», в том числе в части получения педагогических навыков',
            'studentsCountWithMentor': 'количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным в том числе с применением автоматизированных методов конструирования указанных образовательных программ, прошедших практическую подготовку на базе центра с закреплением наставника, работающего в организации, участвующей в реализации программы деятельности центра',
            'jobSecurityCount': ' количество заключенных с гарантией трудоустройства выпускников договоров о целевом обучении по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным, в том числе с применением автоматизированных методов конструирования указанных образовательных программ',
            'amountOfFunding': 'объем финансирования (включая расходы на оплату труда преподавателей и мастеров производственного обучения) образовательных организаций, являющихся участниками центра, обеспечиваемый их учредителями, который не может быть менее объемов финансирования образовательных организаций до создания центра',
            'amountOfExtraFunds': 'объем внебюджетных средств (включая стоимость безвозмездно переданного организациями, действующими в реальном секторе экономики и участвующими в реализации программы деятельности центра, образовательным организациям, являющимся участниками центра, имущества, необходимого для реализации основных профессиональных образовательных программ, основных программ профессионального обучения и дополнительных профессиональных программ), направляемых на развитие центра',

        } %}
    {% else %}
        {% set dict = {
            'studentsCount': 'Количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», в том числе разработанных с применением автоматизированных методов конструирования указанных образовательных программ',
            'programCount': 'Количество реализуемых образовательных программ в интересах организаций реального сектора экономики',
            'teacherCount': 'Количество педагогических работников, владеющих актуальными педагогическими, производственными (профильными), цифровыми навыками или навыками конструирования образовательных программ под запросы работодателей и экономики',
            'workerCount' : 'Количество работников организаций реального сектора экономики, владеющих актуальными педагогическими навыками, цифровыми навыками или навыками конструирования образовательных программ под запросы работодателей и экономики, включенных в образовательный процесс в качестве преподавателей и мастеров производственного обучения по совместительству',
            'studentsCountWithMentor': 'Количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным в том числе с применением автоматизированных методов конструирования указанных образовательных программ, прошедших практическую подготовку на базе центра с закреплением наставника, работающего в организации реального сектора экономики',
            'jobSecurityCount': 'Количество заключенных с гарантией трудоустройства выпускников договоров о целевом обучении по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанных в том числе с применением автоматизированных методов конструирования указанных образовательных программ',
            'amountOfFunding': ' Объем финансирования (включая расходы на оплату труда преподавателей и мастеров производственного обучения) образовательных организаций, являющихся участниками центра, обеспечиваемый их учредителями, который не может быть менее объемов финансирования образовательных организаций до создания центра',
            'amountOfExtraFunds': 'Объем внебюджетных средств (включая стоимость безвозмездно переданного образовательным организациям, являющимся участниками центра, имущества, необходимого для реализации основных профессиональных образовательных программ, основных программ профессионального обучения и дополнительных профессиональных программ), направляемых участниками центра из числа организаций, действующих в реальном секторе экономики, на развитие центра',

        } %}
    {% endif %}
{% elseif 'ROLE_SMALL_CLUSTERS' in user.getRoles() %}
    {% if user_info.getYear() == 2023 %}
        {% set dict = {
            'studentsCount': 'количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным в том числе с применением автоматизированных методов конструирования указанных образовательных программ',
            'programCount': 'количество реализуемых образовательных программ образовательного кластера в интересах организаций, участвующих в реализации программы деятельности образовательного кластера',
            'teacherCount': ' количество педагогических работников образовательных организаций, прошедших обучение по дополнительным профессиональным программам, в том числе с применением дистанционных образовательных технологий, обеспечивающих реализацию мероприятий федерального проекта «Профессионалитет», в том числе в части получения производственных навыков',
            'workerCount' : 'количество работников, участвующих в реализации программы деятельности образовательного кластера, призеров и победителей чемпионатов профессионального мастерства, включенных в образовательный процесс в качестве преподавателей и мастеров производственного обучения, прошедших обучение по дополнительным профессиональным программам, в том числе с применением дистанционных образовательных технологий, обеспечивающих реализацию мероприятий федерального проекта «Профессионалитет», в том числе в части получения педагогических навыков',
            'studentsCountWithMentor': 'количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным в том числе с применением автоматизированных методов конструирования указанных образовательных программ, прошедших практическую подготовку на базе образовательного кластера с закреплением наставника, работающего в организации, участвующей в реализации программы деятельности образовательного кластера',
            'jobSecurityCount': 'количество заключенных с гарантией трудоустройства выпускников договоров о целевом обучении по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным в том числе с применением автоматизированных методов конструирования указанных образовательных программ',
            'amountOfFunding': 'объем финансирования (включая расходы на оплату труда преподавателей и мастеров производственного обучения) образовательных организаций, являющихся участниками образовательного кластера, обеспечиваемый их учредителями, который не может быть менее объемов финансирования образовательных организаций до создания образовательного кластера',
            'amountOfExtraFunds': 'объем внебюджетных средств (включая стоимость безвозмездно переданного организациями, участвующими в реализации программы деятельности образовательного кластера, образовательным организациям, являющимся участниками образовательного кластера, имущества, необходимого для реализации основных профессиональных образовательных программ, основных программ профессионального обучения и дополнительных профессиональных программ), направляемых на развитие образовательного кластера (при наличии)',

        } %}
    {% elseif user_info.getYear() == 2024 %}
        {% set dict = {
            'studentsCount': 'количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным в том числе с применением автоматизированных методов конструирования указанных образовательных программ',
            'programCount': 'количество реализуемых образовательных программ образовательного кластера в интересах организаций, участвующих в реализации программы деятельности образовательного кластера',
            'teacherCount': ' количество педагогических работников образовательных организаций, прошедших обучение по дополнительным профессиональным программам, в том числе с применением дистанционных образовательных технологий, обеспечивающих реализацию мероприятий федерального проекта «Профессионалитет», в том числе в части получения производственных навыков',
            'workerCount' : 'количество работников, участвующих в реализации программы деятельности образовательного кластера, призеров и победителей чемпионатов профессионального мастерства, включенных в образовательный процесс в качестве преподавателей и мастеров производственного обучения, прошедших обучение по дополнительным профессиональным программам, в том числе с применением дистанционных образовательных технологий, обеспечивающих реализацию мероприятий федерального проекта «Профессионалитет», в том числе в части получения педагогических навыков',
            'studentsCountWithMentor': 'количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным в том числе с применением автоматизированных методов конструирования указанных образовательных программ, прошедших практическую подготовку на базе образовательного кластера с закреплением наставника, работающего в организации, участвующей в реализации программы деятельности образовательного кластера',
            'jobSecurityCount': 'количество заключенных с гарантией трудоустройства выпускников договоров о целевом обучении по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным в том числе с применением автоматизированных методов конструирования указанных образовательных программ',
            'amountOfFunding': 'объем финансирования (включая расходы на оплату труда преподавателей и мастеров производственного обучения) образовательных организаций, являющихся участниками образовательного кластера, обеспечиваемый их учредителями, который не может быть менее объемов финансирования образовательных организаций до создания образовательного кластера',
            'amountOfExtraFunds': 'объем внебюджетных средств (включая стоимость безвозмездно переданного организациями, участвующими в реализации программы деятельности образовательного кластера, образовательным организациям, являющимся участниками образовательного кластера, имущества, необходимого для реализации основных профессиональных образовательных программ, основных программ профессионального обучения и дополнительных профессиональных программ), направляемых на развитие образовательного кластера (при наличии)',

        } %}
    {% else %}
        {% set dict = {
            'studentsCount': 'количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным в том числе с применением автоматизированных методов конструирования указанных образовательных программ',
            'programCount': 'количество реализуемых образовательных программ образовательного кластера в интересах организаций, участвующих в реализации программы деятельности образовательного кластера',
            'teacherCount': ' количество педагогических работников образовательных организаций, прошедших обучение по дополнительным профессиональным программам, в том числе с применением дистанционных образовательных технологий, обеспечивающих реализацию мероприятий федерального проекта «Профессионалитет», в том числе в части получения производственных навыков',
            'workerCount' : 'количество работников, участвующих в реализации программы деятельности образовательного кластера, призеров и победителей чемпионатов профессионального мастерства, включенных в образовательный процесс в качестве преподавателей и мастеров производственного обучения, прошедших обучение по дополнительным профессиональным программам, в том числе с применением дистанционных образовательных технологий, обеспечивающих реализацию мероприятий федерального проекта «Профессионалитет», в том числе в части получения педагогических навыков',
            'studentsCountWithMentor': 'количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным в том числе с применением автоматизированных методов конструирования указанных образовательных программ, прошедших практическую подготовку на базе образовательного кластера с закреплением наставника, работающего в организации, участвующей в реализации программы деятельности образовательного кластера',
            'jobSecurityCount': 'количество заключенных с гарантией трудоустройства выпускников договоров о целевом обучении по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным в том числе с применением автоматизированных методов конструирования указанных образовательных программ',
            'amountOfFunding': 'объем финансирования (включая расходы на оплату труда преподавателей и мастеров производственного обучения) образовательных организаций, являющихся участниками образовательного кластера, обеспечиваемый их учредителями, который не может быть менее объемов финансирования образовательных организаций до создания образовательного кластера',
            'amountOfExtraFunds': 'объем внебюджетных средств (включая стоимость безвозмездно переданного организациями, участвующими в реализации программы деятельности образовательного кластера, образовательным организациям, являющимся участниками образовательного кластера, имущества, необходимого для реализации основных профессиональных образовательных программ, основных программ профессионального обучения и дополнительных профессиональных программ), направляемых на развитие образовательного кластера (при наличии)',

        } %}
    {% endif %}
{% else %}
    {% set dict = {
        'studentsCount': 'Количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», в том числе разработанных с применением автоматизированных методов конструирования указанных образовательных программ',
        'programCount': 'Количество реализуемых образовательных программ в интересах организаций реального сектора экономики',
        'teacherCount': 'Количество педагогических работников, владеющих актуальными педагогическими, производственными (профильными), цифровыми навыками или навыками конструирования образовательных программ под запросы работодателей и экономики',
        'workerCount' : 'Количество работников организаций реального сектора экономики, владеющих актуальными педагогическими навыками, цифровыми навыками или навыками конструирования образовательных программ под запросы работодателей и экономики, включенных в образовательный процесс в качестве преподавателей и мастеров производственного обучения по совместительству',
        'studentsCountWithMentor': 'Количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным в том числе с применением автоматизированных методов конструирования указанных образовательных программ, прошедших практическую подготовку на базе центра с закреплением наставника, работающего в организации реального сектора экономики',
        'jobSecurityCount': 'Количество заключенных с гарантией трудоустройства выпускников договоров о целевом обучении по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанных в том числе с применением автоматизированных методов конструирования указанных образовательных программ',
        'amountOfFunding': ' Объем финансирования (включая расходы на оплату труда преподавателей и мастеров производственного обучения) образовательных организаций, являющихся участниками центра, обеспечиваемый их учредителями, который не может быть менее объемов финансирования образовательных организаций до создания центра',
        'amountOfExtraFunds': 'Объем внебюджетных средств (включая стоимость безвозмездно переданного образовательным организациям, являющимся участниками центра, имущества, необходимого для реализации основных профессиональных образовательных программ, основных программ профессионального обучения и дополнительных профессиональных программ), направляемых участниками центра из числа организаций, действующих в реальном секторе экономики, на развитие центра',

    } %}
{% endif %}
<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-top: -5px">Показатели результативности деятельности кластера</h2>
                        <div class="ibox-tools">
                            <span class="badge badge-success">{{ user_info.getYear() }} год</span>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td class="col-md-6">
                                        Год
                                    </td>
                                    <td style="vertical-align: middle">
                                        {{ user_info.getYear() }}
                                    </td>
                                    {% for i in user_info.getClusterPerfomanceIndicators() %}
                                        <td style="vertical-align: middle">
                                            {{ i.getYear() }}
                                        </td>
                                    {% endfor %}

                                </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td>
                                    {{ dict['studentsCount'] }}
                                </td>
                                <td style="vertical-align: middle">

                                    {{ user_info.getStudentsCount() }}

                                </td>
                                {% for i in user_info.getClusterPerfomanceIndicators() %}
                                    <td style="vertical-align: middle">
                                        {{ i.getStudentCount() }}
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    {{ dict['programCount'] }}
                                </td>
                                <td style="vertical-align: middle">
                                    {{ user_info.getProgramCount() }}
                                </td>
                                {% for i in user_info.getClusterPerfomanceIndicators() %}
                                    <td style="vertical-align: middle">
                                        {{ i.getProgramCount() }}
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    {{ dict['teacherCount'] }}
                                </td>
                                <td style="vertical-align: middle">
                                    {{ user_info.getTeacherCount() }}
                                </td>
                                {% for i in user_info.getClusterPerfomanceIndicators() %}
                                    <td style="vertical-align: middle">
                                        {{ i.getTeacherCount() }}
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    {{ dict['workerCount'] }}
                                </td>
                                <td style="vertical-align: middle">
                                    {{ user_info.getWorkerCount() }}
                                </td>
                                {% for i in user_info.getClusterPerfomanceIndicators() %}
                                    <td style="vertical-align: middle">
                                        {{ i.getWorkerCount() }}
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    {{ dict['studentsCountWithMentor'] }}
                                </td>
                                <td style="vertical-align: middle">
                                    {{ user_info.getStudentsCountWithMentor() }}
                                </td>
                                {% for i in user_info.getClusterPerfomanceIndicators() %}
                                    <td style="vertical-align: middle">
                                        {{ i.getStudentCountWithMentor() }}
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    {{ dict['jobSecurityCount'] }}

                                </td>
                                <td style="vertical-align: middle">
                                    {{ user_info.getJobSecurityCount() }}
                                </td>
                                {% for i in user_info.getClusterPerfomanceIndicators() %}
                                    <td style="vertical-align: middle">
                                        {{ i.getJobSecurityCount() }}
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    {{ dict['amountOfFunding'] }}
                                    <b>
                                        (тыс. руб.)
                                    </b>
                                </td>
                                <td style="vertical-align: middle" >
                                    <j class="cell-number-ind">{{ user_info.getAmountOfFunding() }} ₽</j>
                                    <b>
                                        (тыс. руб.)
                                    </b>

                                </td>
                                {% for i in user_info.getClusterPerfomanceIndicators() %}
                                    <td style="vertical-align: middle" >
                                        <j class="cell-number-ind">{{ i.getAmountOfFunding() }}</j>
                                        <b>
                                            (тыс. руб.)
                                        </b>

                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    {{ dict['amountOfExtraFunds'] }}
                                    <b>
                                        (тыс. руб.)
                                    </b>
                                </td>
                                <td style="vertical-align: middle" >
                                    <j class="cell-number-ind">{{ user_info.getAmountOfExtraFunds() }} ₽</j>
                                    <b>
                                        (тыс. руб.)
                                    </b>
                                </td>
                                {% for i in user_info.getClusterPerfomanceIndicators() %}
                                    <td style="vertical-align: middle" >
                                        <j class="cell-number-ind">{{ i.getAmountOfExtraFunds() }}</j>
                                        <b>
                                            (тыс. руб.)
                                        </b>

                                    </td>
                                {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-top: -5px">Профессии и специальности</h2>
                    </div>
                    <div class="ibox-content">

                        <h3>УГПС</h3>
                        <div>
                            <ol>
                                {#{{ dump(user_info.getUGPS()) }}#}
                                {% for i in  user_info.getUGPS() %}
                                    <li>{{ i }}</li>
                                {% endfor %}
                            </ol>
                        </div>



                        <div class="ibox-footer">
                            {% if is_granted('ROLE_INSPECTOR') %}
                                <a href="{{ path('app_inspector_user_ugps_edit', {'id': user_info.getId()}) }}">
                                    <button class="btn btn-success col-lg-12">
                                        <i class="fa fa-edit">
                                            Редактировать "Профессии и специальности"
                                        </i>
                                    </button>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-top: -5px">Зоны по видам работ</h2>
                    </div>
                    <div class="ibox-content">


                        <h3>Зоны по видам работ</h3>
                        <div>
                            <ol>
                                {% for i in  user_info.getZone() %}
                                    <li>{{ i }}</li>
                                {% endfor %}
                            </ol>
                        </div>




                        <div class="ibox-footer">
                            {% if is_granted('ROLE_INSPECTOR') %}
                                <a href="{{ path('app_inspector_user_zone_edit', {'id': user_info.getId()}) }}">
                                    <button class="btn btn-success col-lg-12">
                                        <i class="fa fa-edit">
                                            Редактировать блок
                                        </i>
                                    </button>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('js/popper.min.js') }}"></script>
<script src="{{ asset('js/inspinia.js') }}"></script>

