<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-top: -5px">Общие сведения</h2>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>
                                        Субъект РФ
                                    </td>
                                    <td>
                                        {% if  user_info.getRfSubject() %}
                                            {{ user_info.getRfSubject().getName() }}
                                        {% endif %}

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Наименование организации грантополучателя
                                    </td>
                                    <td>
                                        {{ user_info.getOrganization() }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Наименование базовой образовательной организации
                                    </td>
                                    <td>
                                        {{ user_info.getEducationalOrganization() }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Наименование кластера
                                    </td>
                                    <td>
                                        {{ user_info.getCluster() }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Заявленная отрасль
                                    </td>
                                    <td>
                                        {{ user_info.getDeclaredIndustry() }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {#<div class="ibox-footer">#}
                        {#{% if not app.user.getUserInfo().isNOTAllFull() and  app.user.getUserInfo().isAccessToPurchases() %}#}
                            {#<a href="{{ path("app_add_purchases_v2") }}">#}
                                {#<button class="btn-gray-all btn btn-outline-success ">#}
                                    {#<div class="fa fa-plus"></div>#}
                                    {#Добавить закупку#}
                                {#</button>#}
                            {#</a>#}
                        {#{% endif %}#}
                    {#</div>#}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-top: -5px">Дополнительные сведения</h2>
                    </div>
                    <div class="ibox-content">

                        <h3>Образовательные организации</h3>
                        <div>
                            <ol>
                                {% for i in  user_info.getListOfEdicationOrganization() %}
                                    <li>{{ i }}</li>
                                {% endfor %}
                            </ol>
                        </div>


                        <h3>Работадатели</h3>
                        <div>
                            <ol>
                                {% for i in  user_info.getListOfEmployers() %}
                                    <li>{{ i }}</li>
                                {% endfor %}
                            </ol>
                        </div>


                    <div class="ibox-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-top: -5px">Показатель критерия (Приложение 5)</h2>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td>
                                    Количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта "Профессионалитет", разработанных в том числе с применением автоматизированных методов конструирования указанных образовательных программ
                                </td>
                                <td>
                                    {{ user_info.getStudentsCount() }}

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Количество реализуемых образовательных программ в интересах организации реального сектора экономики
                                </td>
                                <td>
                                    {{ user_info.getProgramCount() }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Количество педагогических работников, владеющих актуальными педагогическими, производственными (профильными), цифровыми навыками или навыками конструирования образовательных программ под запросы работодателей и экономики
                                </td>
                                <td>
                                    {{ user_info.getTeacherCount() }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Количество работников организаций реального сектора экономики, владеющих актуальными педагогическими навыками, цифровыми навыками или навыками конструирования образовательных программ под запросы работодателей и экономики, включенных в образовательный процесс в качестве преподавателей и мастеров производственного обучения по совместительству
                                </td>
                                <td>
                                    {{ user_info.getWorkerCount() }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта "Профессионалитет", разработанных, в том числе, с применением автоматизированных методов конструирования указанных образовательных программ, прошедших практическую подготовку на базе образовательно- производственного центра с закреплением наставника, работающего в организации реального сектора экономики
                                </td>
                                <td>
                                    {{ user_info.getStudentsCountWithMentor() }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Количество заключенных с гарантией трудоустройства выпускников договоров о целевом обучении по образовательным программам среднего профессионального образования в рамках федерального проекта "Профессионалитет", разработанных в том числе с применением автоматизированных методов конструирования указанных образовательных программ (единиц)

                                </td>
                                <td>
                                    {{ user_info.getJobSecurityCount() }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Объем финансирования (включая расходы на оплату труда преподавателей и мастеров производственного обучения) образовательных организаций, являющихся участниками центра, обеспечиваемый их учредителями, который не может быть менее объемов финансирования образовательных организаций до создания центра

                                </td>
                                <td>
                                    {{ user_info.getAmountOfFunding() }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Объем внебюджетных средств (включая стоимость безвозмездно переданного образовательным организациям, являющимся участниками центра, имущества, необходимого для реализации основных профессиональных образовательных программ, основных программ профессионального обучения и дополнительных профессиональных программ), направляемых участниками центра из числа организаций, действующих в реальном секторе экономики, на развитие центра

                                </td>
                                <td>
                                    {{ user_info.getAmountOfExtraFunds() }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>