<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-top: -5px">Общие сведения</h2>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="col-md-4">
                                        Субъект РФ
                                    </td>
                                    <td style="vertical-align: middle" colspan="10">
                                        {% if  user_info.getRfSubject() %}
                                            {{ user_info.getRfSubject().getName() }}
                                        {% endif %}

                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4">
                                         Город
                                    </td>
                                    <td colspan="10">
                                        {{ user_info.getCity() }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4">
                                        Инициатор создания кластера
                                    </td>
                                    <td style="vertical-align: middle" colspan="10">
                                        {{ user_info.getInitiatorOfCreation() }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4">
                                        Наименование организации грантополучателя
                                    </td>
                                    <td style="vertical-align: middle">
                                        {{ user_info.getOrganization() }}
                                    </td>
                                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SMALL_CURATOR') or is_granted('ROLE_INSPECTOR') %}
                                    <td class="col-md-1">
                                        ОГРН
                                    </td>
                                    <td style="vertical-align: middle">
                                        {{ user_info.getGrandOGRN() }}
                                    </td>
                                    <td style="vertical-align: middle">
                                       <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#ModalOGRN">
                                           Редактировать ОГРН
                                       </button>
                                    </td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td class="col-md-4">
                                        Наименование базовой образовательной организации
                                    </td>
                                    <td style="vertical-align: middle" colspan="10">
                                        {{ user_info.getEducationalOrganization() }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4">
                                        Наименование кластера
                                    </td>
                                    <td style="vertical-align: middle" colspan="10">
                                        {{ user_info.getCluster() }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4">
                                        Заявленная отрасль
                                    </td>
                                    <td style="vertical-align: middle" colspan="10">
                                        {{ user_info.getDeclaredIndustry() }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{#{% if is_granted('ROLE_ADMIN') %}#}
    {% set contactInfo = user_info.getContactInfo() %}
    {% if contactInfo is null %}
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Контактная информация не найдена
                    </div>
                    <div class="panel-body">
                        {% if is_granted('ROLE_REGION') or is_granted('ROLE_SMALL_CLUSTERS')  %}
                        <a href="{{ path('app_edit_contact_info' , {'id': user_info.getId()}) }}">
                            <button class="btn btn-success ">
                                <i class="fa fa-plus"></i>
                                Добавить контактную информацию
                            </button>
                        </a>
                        {% endif %}
                        {% if  is_granted('ROLE_SMALL_CURATOR') or is_granted('ROLE_INSPECTOR') %}
                            <a href="{{ path('app_edit_contact_info_add' , {'id': user_info.getId()}) }}">
                                <button class="btn btn-primary ">
                                    <i class="fa fa-plus"></i>
                                    Добавить <b>ДОПОЛНИТЕЛЬНУЮ</b> контактную информацию
                                </button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row animated fadeInRight">
            <div class="col-sm-10 offset-sm-1 ">
                <div class="wrapper wrapper-content ">
                    <div class="ibox-content block-shadow ">
                        <div class="ibox ">
                            {% if is_granted('ROLE_REGION') or is_granted('ROLE_SMALL_CLUSTERS')  %}
                            <a href="{{ path('app_edit_contact_info' , {'id': user_info.getId()}) }}">
                                <button class="btn btn-success pull-right">
                                    <i class="fa fa-edit"></i>
                                    Редактировать контактную информацию
                                </button>
                            </a>
                            {% endif %}
                            {% if  is_granted('ROLE_SMALL_CURATOR') or is_granted('ROLE_INSPECTOR') %}
                                <a href="{{ path('app_edit_contact_info_add' , {'id': user_info.getId()}) }}">
                                    <button class="btn btn-primary pull-right mr-2">
                                        <i class="fa fa-plus"></i>
                                        Редактировать <b>ДОПОЛНИТЕЛЬНУЮ</b> контактную информацию
                                    </button>
                                </a>
                            {% endif %}
                            <a class="collapse-link">
                                <div class="ibox-title">
                                    <h2 style="font-weight: bold; margin-top: -5px">Контактные данные</h2>
                                    <div class="ibox-tools">

                                        <i class="fa fa-chevron-down"></i>
                                    </div>
                                </div>
                            </a>
                            <div class="ibox-content" style="display: none">
                                {% if contactInfo.getDirector() is not null %}
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="contact-box">
                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="text-center">
                                                        {% if contactInfo.getDirector().getPhoto() %}
                                                            <img alt="image" class="rounded-circle m-t-xs img-fluid"
                                                                 src="{{ asset('img/placeholder/employees.png') }}">
                                                        {% else %}
                                                            <img alt="image" class="rounded-circle m-t-xs img-fluid"
                                                                 src="{{ asset('img/placeholder/employees.png') }}">
                                                        {% endif %}
                                                        <div class="m-t-xs font-bold">Директор (ИО)</div>
                                                    </div>
                                                </div>
                                                <div class="col-8">
                                                    <h3><strong>{{ contactInfo.getDirector().getFIO() }}</strong></h3>

                                                    <address>
                                                        <p>Моб.Телефон: {{ contactInfo.getDirector().getPhoneNumber() }} </p>
                                                        <p>Почта: {{ contactInfo.getDirector().getEmail() }} </p>
                                                    </address>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                {% endif %}
                                {% if contactInfo.getResponsibleContacts() is not null %}
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <td class="col-md-2">Отвественный за</td>
                                            <td class="col-md-2  text-center">ФИО</td>
                                            <td class="col-md-2 text-center">Моб.Телефон</td>
                                            <td class="col-md-2 text-center">Почта</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in contactInfo.getResponsibleContacts() %}
                                        <tr>
                                            <td class="text-left align-middle">
                                                {% for type in i.getResponsibleContactTypes() %}
                                                    <p class="mb-0">
                                                        - {{ type.getName() }}
                                                    </p>


                                                {% endfor %}
                                            </td>
                                            <td class="text-center align-middle">{{ i.getFIO() }}</td>
                                            <td class="text-center align-middle">{{ i.getPhoneNumber() }}</td>
                                            <td class="text-center align-middle">{{ i.getEmail() }}</td>
                                        </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                                <hr>
                                {% endif %}
                                <h5>
                                    Список работодателей
                                </h5>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <td class="col-md-2">Работодатель</td>
                                        <td class="col-md-2 text-center">ФИО</td>
                                        <td class="col-md-2 text-center">Должность</td>
                                        <td class="col-md-2 text-center">Моб.Телефон</td>
                                        <td class="col-md-2 text-center">Почта</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for rd in contactInfo.getEmployersContacts()  %}
                                        <tr>
                                            <td class="text-left align-middle">{{ rd.getEmployer().getName() }}</td>
                                            <td class="text-center align-middle">{{ rd.getFIO() }}</td>
                                            <td class="text-center align-middle">{{ rd.getPost() }}</td>
                                            <td class="text-center align-middle">{{ rd.getPhoneNumber() }}</td>
                                            <td class="text-center align-middle">{{ rd.getEmail() }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% if  is_granted('ROLE_SMALL_CURATOR') or is_granted('ROLE_INSPECTOR') %}
                                    <hr>
                                    <h5>
                                        Дополнительне контакты
                                    </h5>
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <td class="col-md-2">-</td>
                                            <td class="col-md-2 text-center">ФИО</td>
                                            <td class="col-md-2 text-center">Должность</td>
                                            <td class="col-md-2 text-center">Моб.Телефон</td>
                                            <td class="col-md-2 text-center">Почта</td>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for rd in contactInfo.getAddContacts()  %}

                                            <tr>
                                                <td class="text-left align-middle">{{ rd.getType() }}</td>
                                                <td class="text-center align-middle">{{ rd.getFIO() }}</td>
                                                <td class="text-center align-middle">{{ rd.getPost() }}</td>
                                                <td class="text-center align-middle">{{ rd.getPhoneNumber() }}</td>
                                                <td class="text-center align-middle">{{ rd.getEmail() }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{#{% endif %}#}
<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-top: -5px">Участники кластера</h2>
                    </div>
                    <div class="ibox-content">

                        <h3>Образовательные организации</h3>
                        <div>
                            <ol>
                                {% for i in  user_info.getListOfEdicationOrganization() %}
                                    <li>{{ i }}</li>
                                {% endfor %}
                            </ol>
                        </div>


                        {#<h3>Работодатели</h3>#}
                        {#<div>#}
                            {#<ol>#}
                                {#{% for i in  user_info.getListOfEmployers() %}#}
                                    {#<li>{{ i }}</li>#}
                                {#{% endfor %}#}
                            {#</ol>#}
                        {#</div>#}
                        <h3>Работодатели </h3>
                        <div>
                            <ol>
                                {% for i in  user_info.getEmployers() %}
                                    <li>{{ i.getName() }}</li>
                                {% endfor %}
                            </ol>
                        </div>
                        <h3>Иные организации</h3>
                        <div>
                            <ol>
                                {% for i in  user_info.getListOfAnotherOrganization() %}
                                    <li>{{ i }}</li>
                                {% endfor %}
                            </ol>
                        </div>


                        <div class="ibox-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% set clusterDocument = user_info.getClusterDocument() %}

    <div class="row animated fadeInRight">
        <div class="col-sm-10 offset-sm-1 ">
            <div class="wrapper wrapper-content ">
                <div class="ibox-content block-shadow ">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h2 style="font-weight: bold; margin-top: -5px">Документы кластера</h2>

                        </div>
                        <div class="ibox-content">


                            <div>
                                {% if clusterDocument %}
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <td>
                                                    Файл
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% if clusterDocument.getPartnershipAgreement() %}
                                            <tr>
                                                <td>
                                                    <a href="{{ path('app_download_file_by_route', {'route': 'cluster_documents_directory', 'file': clusterDocument.getPartnershipAgreement()}) }}">
                                                        <i class="fa fa-download">
                                                            Соглашение о партнерстве
                                                        </i>

                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if clusterDocument.getFinancialAgreement() %}
                                            <tr>
                                                <td>
                                                    <a href="{{ path('app_download_file_by_route', {'route': 'cluster_documents_directory', 'file': clusterDocument.getFinancialAgreement()}) }}">
                                                        <i class="fa fa-download">
                                                            Финансовое соглашение
                                                        </i>

                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if clusterDocument.getInfrastructureSheet() %}
                                            <tr>
                                                <td>


                                                    <a href="{{ path('app_download_file_by_route', {'route': 'cluster_documents_directory', 'file': clusterDocument.getInfrastructureSheet()}) }}">
                                                        <i class="fa fa-download">
                                                            Инфраструктурный лист
                                                        </i>

                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if clusterDocument.getDesignProject() %}
                                            <tr>
                                                <td>
                                                    <a href="{{ path('app_download_file_by_route', {'route': 'cluster_documents_directory', 'file': clusterDocument.getDesignProject()}) }}">
                                                        <i class="fa fa-download">
                                                            Дизайн-проект
                                                        </i>

                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if clusterDocument.getActivityProgram() %}
                                            <tr>
                                                <td>
                                                    <a href="{{ path('app_download_file_by_route', {'route': 'cluster_documents_directory', 'file': clusterDocument.getActivityProgram()}) }}">
                                                        <i class="fa fa-download">
                                                            Программа деятельности
                                                        </i>

                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>

                                    {% if is_granted('ROLE_INSPECTOR') or is_granted("ROLE_SMALL_CLUSTERS") %}


                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Загрузить Отчет о мониторинговом выезде</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <form action="{{ path('app_inspector_monitoring_check_out_upload', {'id': user.getId()}) }}" method="post" enctype="multipart/form-data">
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <label>Файл</label>
                                                                <div class="custom-file">
                                                                    <input id="logo" type="file" class="custom-file-input" name="file" required>
                                                                    <label for="logo" class="custom-file-label">Выбрать файл...</label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Дата</label>
                                                                <br>
                                                                <input class="form-control" type="date" name="date" required/>
                                                            </div>



                                                            <input type="hidden" name="token" value="{{ csrf_token('check-out') }}"/>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-primary">Загрузить</button>
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if user_info.getMonitoringCheckOuts()|length > 0 %}
                                    <hr>

                                    <h5>Отчеты о мониторинговом выезде</h5>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <td class="col-md-6">Файл</td>
                                                <td class="col-md-6">Дата</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in user_info.getMonitoringCheckOuts() %}
                                            <tr>
                                                <td>
                                                    <a href="{{ path('app_download_file_by_route', {'route': 'monitoring_check_out_directory', 'file': i.getFile()}) }}">
                                                        <i class="fa fa-download"></i>
                                                        Отчет о мониторинговом выезде
                                                    </a>
                                                </td>
                                                <td>{{ i.getDate().format('d.m.Y') }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    {% endif %}
                                {% else %}
                                    <div class="col-lg-10 offset-lg-1">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <i class="fa fa-info-circle"></i> Сообщение
                                            </div>
                                            <div class="panel-body">
                                                <p>Файлы не прикреплены</p>
                                            </div>

                                        </div>
                                    </div>
                                {% endif %}
                            </div>




                            <div class="ibox-footer">
                                {% if is_granted('ROLE_INSPECTOR') or is_granted('ROLE_SMALL_CURATOR') %}
                                    <a href="{{ path('app_inspector_edit_cluster_document', {'id': user_info.getId()}) }}">
                                        <button class="btn btn-success col-lg-12">
                                            <i class="fa fa-edit">
                                                Редактировать "Документы кластера"
                                            </i>
                                        </button>
                                    </a>
                                    <button type="button" class="btn btn-primary col-lg-12 mt-2" data-toggle="modal" data-target="#exampleModal">
                                        <i class="fa fa-upload"></i>
                                        Загрузить Отчет о мониторинговом выезде
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-top: -5px">Финансовые показатели</h2>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td colspan="2">
                                        Объем финансирования
                                    </td>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% if 'ROLE_REGION' in user.getRoles() %}
                                    <td class="col-md-8">
                                        Средства организаций реального сектора экономики, <strong>тыс.руб.</strong>
                                    </td>
                                    {% endif %}
                                    {% if 'ROLE_SMALL_CLUSTERS' in user.getRoles() %}
                                        <td class="col-md-8">
                                            Средства организаций, действующих в отраслях характерных для субъектов малого и среднего предпринимательства
                                            и социальной сферы, <strong>тыс.руб.</strong>
                                        </td>
                                    {% endif %}
                                    <td style="vertical-align: middle; text-align: center" class="cell-number">
                                        {{ user_info.getExtraFundsEconomicSector() }} ₽
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-8" >
                                        Средства субъекта РФ, <strong>тыс.руб.</strong>
                                    </td>
                                    <td style="vertical-align: middle; text-align: center" class="cell-number">
                                        {{ user_info.getFinancingFundsOfSubject() }} ₽
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-8" >
                                        Средства образовательной организации, <strong>тыс.руб.</strong>
                                    </td>
                                    <td style="vertical-align: middle; text-align: center" class="cell-number">
                                        {{ user_info.getExtraFundsOO() }} ₽
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if is_granted('ROLE_INSPECTOR') or is_granted("ROLE_SMALL_CLUSTERS") %}
    <div class="row">
        <div class="col-sm-10 offset-sm-1 ">
            <a href="{{ path('app_perfomance_indicators_edit', {'id': user_info.getId()}) }}">
                <button class="btn btn-success col-lg-12">
                    <i class="fa fa-edit"></i>
                    Редактировать "Показатели результативности деятельности кластера"
                </button>
            </a>
        </div>
    </div>
{% endif %}
{% if 'ROLE_REGION' in user.getRoles() %}
    {% if user_info.getYear() == 2023 %}
        {% set dict = {
            'studentsCount': 'Количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», в том числе разработанных с применением автоматизированных методов конструирования указанных образовательных программ',
            'programCount': 'Количество реализуемых образовательных программ в интересах организаций реального сектора экономики',
            'teacherCount': 'Количество педагогических работников, владеющих актуальными педагогическими, производственными (профильными), цифровыми навыками или навыками конструирования образовательных программ под запросы работодателей и экономики',
            'workerCount' : 'Количество работников организаций реального сектора экономики, владеющих актуальными педагогическими навыками, цифровыми навыками или навыками конструирования образовательных программ под запросы работодателей и экономики, включенных в образовательный процесс в качестве преподавателей и мастеров производственного обучения по совместительству',
            'studentsCountWithMentor': 'Количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным в том числе с применением автоматизированных методов конструирования указанных образовательных программ, прошедших практическую подготовку на базе центра с закреплением наставника, работающего в организации реального сектора экономики',
            'jobSecurityCount': 'Количество заключенных с гарантией трудоустройства выпускников договоров о целевом обучении по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанных в том числе с применением автоматизированных методов конструирования указанных образовательных программ',
            'amountOfFunding': ' Объем финансирования (включая расходы на оплату труда преподавателей и мастеров производственного обучения) образовательных организаций, являющихся участниками центра, обеспечиваемый их учредителями, который не может быть менее объемов финансирования образовательных организаций до создания центра',
            'amountOfExtraFunds': 'Объем внебюджетных средств (включая стоимость безвозмездно переданного образовательным организациям, являющимся участниками центра, имущества, необходимого для реализации основных профессиональных образовательных программ, основных программ профессионального обучения и дополнительных профессиональных программ), направляемых участниками центра из числа организаций, действующих в реальном секторе экономики, на развитие центра',

        } %}

    {% elseif user_info.getYear() == 2024 and "2024 ОПЦ(К) Доп.отбор" in user.getUserTagsArray() %}
        {% set dict = {
            'studentsCount': 'количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным в том числе с применением автоматизированных методов конструирования указанных образовательных программ',
            'programCount': 'количество реализуемых образовательных программ центра в интересах организаций реального сектора экономики, участвующих в реализации программы деятельности центра',
            'teacherCount': 'количество педагогических работников образовательных организаций, прошедших обучение по дополнительным профессиональным программам, в том числе с применением дистанционных образовательных технологий, обеспечивающих реализацию мероприятий федерального проекта «Профессионалитет», в том числе в части получения производственных навыков',
            'workerCount' : 'количество работников организаций, участвующих в реализации программы деятельности центра, призеров и победителей чемпионатов профессионального мастерства, включенных в образовательный процесс в качестве преподавателей и мастеров производственного обучения, прошедших обучение по дополнительным профессиональным программам, в том числе с применением дистанционных образовательных технологий, обеспечивающих реализацию мероприятий федерального проекта «Профессионалитет», в том числе в части получения педагогических навыков',
            'studentsCountWithMentor': 'количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным в том числе с применением автоматизированных методов конструирования указанных образовательных программ, прошедших практическую подготовку на базе центра с закреплением наставника, работающего в организации, участвующей в реализации программы деятельности центра',
            'jobSecurityCount': ' количество заключенных с гарантией трудоустройства выпускников договоров о целевом обучении по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным, в том числе с применением автоматизированных методов конструирования указанных образовательных программ',
            'amountOfFunding': 'объем финансирования (включая расходы на оплату труда преподавателей и мастеров производственного обучения) образовательных организаций, являющихся участниками центра, обеспечиваемый их учредителями, который не может быть менее объемов финансирования образовательных организаций до создания центра',
            'amountOfExtraFunds': 'объем внебюджетных средств (включая стоимость безвозмездно переданного организациями, действующими в реальном секторе экономики и участвующими в реализации программы деятельности центра, образовательным организациям, являющимся участниками центра, имущества, необходимого для реализации основных профессиональных образовательных программ, основных программ профессионального обучения и дополнительных профессиональных программ), направляемых на развитие центра',

        } %}

    {% elseif user_info.getYear() == 2024 %}
        {% set dict = {
            'studentsCount': 'количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным в том числе с применением автоматизированных методов конструирования указанных образовательных программ',
            'programCount': 'количество реализуемых образовательных программ центра в интересах организаций реального сектора экономики, участвующих в реализации программы деятельности центра',
            'teacherCount': 'количество педагогических работников образовательных организаций, прошедших обучение по дополнительным профессиональным программам, в том числе с применением дистанционных образовательных технологий, обеспечивающих реализацию мероприятий федерального проекта «Профессионалитет», в том числе в части получения производственных навыков',
            'workerCount' : 'количество работников, участвующих в реализации программы деятельности центра, призеров и победителей чемпионатов профессионального мастерства, включенных в образовательный процесс в качестве преподавателей и мастеров производственного обучения, прошедших обучение по дополнительным профессиональным программам, в том числе с применением дистанционных образовательных технологий, обеспечивающих реализацию мероприятий федерального проекта «Профессионалитет», в том числе в части получения педагогических навыков',
            'studentsCountWithMentor': 'количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным в том числе с применением автоматизированных методов конструирования указанных образовательных программ, прошедших практическую подготовку на базе центра с закреплением наставника, работающего в организации, участвующей в реализации программы деятельности центра',
            'jobSecurityCount': ' количество заключенных с гарантией трудоустройства выпускников договоров о целевом обучении по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным, в том числе с применением автоматизированных методов конструирования указанных образовательных программ',
            'amountOfFunding': 'объем финансирования (включая расходы на оплату труда преподавателей и мастеров производственного обучения) образовательных организаций, являющихся участниками центра, обеспечиваемый их учредителями, который не может быть менее объемов финансирования образовательных организаций до создания центра',
            'amountOfExtraFunds': 'объем внебюджетных средств (включая стоимость безвозмездно переданного организациями, действующими в реальном секторе экономики и участвующими в реализации программы деятельности центра, образовательным организациям, являющимся участниками центра, имущества, необходимого для реализации основных профессиональных образовательных программ, основных программ профессионального обучения и дополнительных профессиональных программ), направляемых на развитие центра',

        } %}
    {% else %}
        {% set dict = {
            'studentsCount': 'Количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», в том числе разработанных с применением автоматизированных методов конструирования указанных образовательных программ',
            'programCount': 'Количество реализуемых образовательных программ в интересах организаций реального сектора экономики',
            'teacherCount': 'Количество педагогических работников, владеющих актуальными педагогическими, производственными (профильными), цифровыми навыками или навыками конструирования образовательных программ под запросы работодателей и экономики',
            'workerCount' : 'Количество работников организаций реального сектора экономики, владеющих актуальными педагогическими навыками, цифровыми навыками или навыками конструирования образовательных программ под запросы работодателей и экономики, включенных в образовательный процесс в качестве преподавателей и мастеров производственного обучения по совместительству',
            'studentsCountWithMentor': 'Количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным в том числе с применением автоматизированных методов конструирования указанных образовательных программ, прошедших практическую подготовку на базе центра с закреплением наставника, работающего в организации реального сектора экономики',
            'jobSecurityCount': 'Количество заключенных с гарантией трудоустройства выпускников договоров о целевом обучении по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанных в том числе с применением автоматизированных методов конструирования указанных образовательных программ',
            'amountOfFunding': ' Объем финансирования (включая расходы на оплату труда преподавателей и мастеров производственного обучения) образовательных организаций, являющихся участниками центра, обеспечиваемый их учредителями, который не может быть менее объемов финансирования образовательных организаций до создания центра',
            'amountOfExtraFunds': 'Объем внебюджетных средств (включая стоимость безвозмездно переданного образовательным организациям, являющимся участниками центра, имущества, необходимого для реализации основных профессиональных образовательных программ, основных программ профессионального обучения и дополнительных профессиональных программ), направляемых участниками центра из числа организаций, действующих в реальном секторе экономики, на развитие центра',

        } %}
    {% endif %}
{% elseif 'ROLE_SMALL_CLUSTERS' in user.getRoles() %}
    {% if user_info.getYear() == 2023 %}
        {% set dict = {
            'studentsCount': 'количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным в том числе с применением автоматизированных методов конструирования указанных образовательных программ',
            'programCount': 'количество реализуемых образовательных программ образовательного кластера в интересах организаций, участвующих в реализации программы деятельности образовательного кластера',
            'teacherCount': ' количество педагогических работников образовательных организаций, прошедших обучение по дополнительным профессиональным программам, в том числе с применением дистанционных образовательных технологий, обеспечивающих реализацию мероприятий федерального проекта «Профессионалитет», в том числе в части получения производственных навыков',
            'workerCount' : 'количество работников, участвующих в реализации программы деятельности образовательного кластера, призеров и победителей чемпионатов профессионального мастерства, включенных в образовательный процесс в качестве преподавателей и мастеров производственного обучения, прошедших обучение по дополнительным профессиональным программам, в том числе с применением дистанционных образовательных технологий, обеспечивающих реализацию мероприятий федерального проекта «Профессионалитет», в том числе в части получения педагогических навыков',
            'studentsCountWithMentor': 'количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным в том числе с применением автоматизированных методов конструирования указанных образовательных программ, прошедших практическую подготовку на базе образовательного кластера с закреплением наставника, работающего в организации, участвующей в реализации программы деятельности образовательного кластера',
            'jobSecurityCount': 'количество заключенных с гарантией трудоустройства выпускников договоров о целевом обучении по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным в том числе с применением автоматизированных методов конструирования указанных образовательных программ',
            'amountOfFunding': 'объем финансирования (включая расходы на оплату труда преподавателей и мастеров производственного обучения) образовательных организаций, являющихся участниками образовательного кластера, обеспечиваемый их учредителями, который не может быть менее объемов финансирования образовательных организаций до создания образовательного кластера',
            'amountOfExtraFunds': 'объем внебюджетных средств (включая стоимость безвозмездно переданного организациями, участвующими в реализации программы деятельности образовательного кластера, образовательным организациям, являющимся участниками образовательного кластера, имущества, необходимого для реализации основных профессиональных образовательных программ, основных программ профессионального обучения и дополнительных профессиональных программ), направляемых на развитие образовательного кластера (при наличии)',

        } %}
    {% elseif user_info.getYear() == 2024 %}
        {% set dict = {
            'studentsCount': 'количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным в том числе с применением автоматизированных методов конструирования указанных образовательных программ',
            'programCount': 'количество реализуемых образовательных программ образовательного кластера в интересах организаций, участвующих в реализации программы деятельности образовательного кластера',
            'teacherCount': ' количество педагогических работников образовательных организаций, прошедших обучение по дополнительным профессиональным программам, в том числе с применением дистанционных образовательных технологий, обеспечивающих реализацию мероприятий федерального проекта «Профессионалитет», в том числе в части получения производственных навыков',
            'workerCount' : 'количество работников, участвующих в реализации программы деятельности образовательного кластера, призеров и победителей чемпионатов профессионального мастерства, включенных в образовательный процесс в качестве преподавателей и мастеров производственного обучения, прошедших обучение по дополнительным профессиональным программам, в том числе с применением дистанционных образовательных технологий, обеспечивающих реализацию мероприятий федерального проекта «Профессионалитет», в том числе в части получения педагогических навыков',
            'studentsCountWithMentor': 'количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным в том числе с применением автоматизированных методов конструирования указанных образовательных программ, прошедших практическую подготовку на базе образовательного кластера с закреплением наставника, работающего в организации, участвующей в реализации программы деятельности образовательного кластера',
            'jobSecurityCount': 'количество заключенных с гарантией трудоустройства выпускников договоров о целевом обучении по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным в том числе с применением автоматизированных методов конструирования указанных образовательных программ',
            'amountOfFunding': 'объем финансирования (включая расходы на оплату труда преподавателей и мастеров производственного обучения) образовательных организаций, являющихся участниками образовательного кластера, обеспечиваемый их учредителями, который не может быть менее объемов финансирования образовательных организаций до создания образовательного кластера',
            'amountOfExtraFunds': 'объем внебюджетных средств (включая стоимость безвозмездно переданного организациями, участвующими в реализации программы деятельности образовательного кластера, образовательным организациям, являющимся участниками образовательного кластера, имущества, необходимого для реализации основных профессиональных образовательных программ, основных программ профессионального обучения и дополнительных профессиональных программ), направляемых на развитие образовательного кластера (при наличии)',

        } %}
    {% else %}
        {% set dict = {
            'studentsCount': 'количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным в том числе с применением автоматизированных методов конструирования указанных образовательных программ',
            'programCount': 'количество реализуемых образовательных программ образовательного кластера в интересах организаций, участвующих в реализации программы деятельности образовательного кластера',
            'teacherCount': ' количество педагогических работников образовательных организаций, прошедших обучение по дополнительным профессиональным программам, в том числе с применением дистанционных образовательных технологий, обеспечивающих реализацию мероприятий федерального проекта «Профессионалитет», в том числе в части получения производственных навыков',
            'workerCount' : 'количество работников, участвующих в реализации программы деятельности образовательного кластера, призеров и победителей чемпионатов профессионального мастерства, включенных в образовательный процесс в качестве преподавателей и мастеров производственного обучения, прошедших обучение по дополнительным профессиональным программам, в том числе с применением дистанционных образовательных технологий, обеспечивающих реализацию мероприятий федерального проекта «Профессионалитет», в том числе в части получения педагогических навыков',
            'studentsCountWithMentor': 'количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным в том числе с применением автоматизированных методов конструирования указанных образовательных программ, прошедших практическую подготовку на базе образовательного кластера с закреплением наставника, работающего в организации, участвующей в реализации программы деятельности образовательного кластера',
            'jobSecurityCount': 'количество заключенных с гарантией трудоустройства выпускников договоров о целевом обучении по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным в том числе с применением автоматизированных методов конструирования указанных образовательных программ',
            'amountOfFunding': 'объем финансирования (включая расходы на оплату труда преподавателей и мастеров производственного обучения) образовательных организаций, являющихся участниками образовательного кластера, обеспечиваемый их учредителями, который не может быть менее объемов финансирования образовательных организаций до создания образовательного кластера',
            'amountOfExtraFunds': 'объем внебюджетных средств (включая стоимость безвозмездно переданного организациями, участвующими в реализации программы деятельности образовательного кластера, образовательным организациям, являющимся участниками образовательного кластера, имущества, необходимого для реализации основных профессиональных образовательных программ, основных программ профессионального обучения и дополнительных профессиональных программ), направляемых на развитие образовательного кластера (при наличии)',

        } %}
    {% endif %}
{% else %}
    {% set dict = {
        'studentsCount': 'Количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», в том числе разработанных с применением автоматизированных методов конструирования указанных образовательных программ',
        'programCount': 'Количество реализуемых образовательных программ в интересах организаций реального сектора экономики',
        'teacherCount': 'Количество педагогических работников, владеющих актуальными педагогическими, производственными (профильными), цифровыми навыками или навыками конструирования образовательных программ под запросы работодателей и экономики',
        'workerCount' : 'Количество работников организаций реального сектора экономики, владеющих актуальными педагогическими навыками, цифровыми навыками или навыками конструирования образовательных программ под запросы работодателей и экономики, включенных в образовательный процесс в качестве преподавателей и мастеров производственного обучения по совместительству',
        'studentsCountWithMentor': 'Количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанным в том числе с применением автоматизированных методов конструирования указанных образовательных программ, прошедших практическую подготовку на базе центра с закреплением наставника, работающего в организации реального сектора экономики',
        'jobSecurityCount': 'Количество заключенных с гарантией трудоустройства выпускников договоров о целевом обучении по образовательным программам среднего профессионального образования в рамках федерального проекта «Профессионалитет», разработанных в том числе с применением автоматизированных методов конструирования указанных образовательных программ',
        'amountOfFunding': ' Объем финансирования (включая расходы на оплату труда преподавателей и мастеров производственного обучения) образовательных организаций, являющихся участниками центра, обеспечиваемый их учредителями, который не может быть менее объемов финансирования образовательных организаций до создания центра',
        'amountOfExtraFunds': 'Объем внебюджетных средств (включая стоимость безвозмездно переданного образовательным организациям, являющимся участниками центра, имущества, необходимого для реализации основных профессиональных образовательных программ, основных программ профессионального обучения и дополнительных профессиональных программ), направляемых участниками центра из числа организаций, действующих в реальном секторе экономики, на развитие центра',

    } %}
{% endif %}
<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-top: -5px">Показатели результативности деятельности кластера</h2>
                        <div class="ibox-tools">
                            <span class="badge badge-success">{{ user_info.getYear() }} год</span>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td class="col-md-6">
                                        Год
                                    </td>
                                    <td style="vertical-align: middle; text-align: center">
                                        {{ user_info.getYear() }}
                                    </td>
                                    {% for i in user_info.getClusterPerfomanceIndicators() %}
                                        <td style="vertical-align: middle; text-align: center">
                                            {{ i.getYear() }}
                                        </td>
                                    {% endfor %}

                                </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td>
                                    {{ dict['studentsCount'] }}
                                </td>
                                <td style="vertical-align: middle; text-align: center">

                                    {{ user_info.getStudentsCount() }}

                                </td>
                                {% for i in user_info.getClusterPerfomanceIndicators() %}
                                    <td style="vertical-align: middle; text-align: center">
                                        {{ i.getStudentCount() }}
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    {{ dict['programCount'] }}
                                </td>
                                <td style="vertical-align: middle; text-align: center">
                                    {{ user_info.getProgramCount() }}
                                </td>
                                {% for i in user_info.getClusterPerfomanceIndicators() %}
                                    <td style="vertical-align: middle; text-align: center">
                                        {{ i.getProgramCount() }}
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    {{ dict['teacherCount'] }}
                                </td>
                                <td style="vertical-align: middle; text-align: center">
                                    {{ user_info.getTeacherCount() }}
                                </td>
                                {% for i in user_info.getClusterPerfomanceIndicators() %}
                                    <td style="vertical-align: middle; text-align: center">
                                        {{ i.getTeacherCount() }}
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    {{ dict['workerCount'] }}
                                </td>
                                <td style="vertical-align: middle; text-align: center">
                                    {{ user_info.getWorkerCount() }}
                                </td>
                                {% for i in user_info.getClusterPerfomanceIndicators() %}
                                    <td style="vertical-align: middle; text-align: center">
                                        {{ i.getWorkerCount() }}
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    {{ dict['studentsCountWithMentor'] }}
                                </td>
                                <td style="vertical-align: middle; text-align: center">
                                    {{ user_info.getStudentsCountWithMentor() }}
                                </td>
                                {% for i in user_info.getClusterPerfomanceIndicators() %}
                                    <td style="vertical-align: middle; text-align: center">
                                        {{ i.getStudentCountWithMentor() }}
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    {{ dict['jobSecurityCount'] }}

                                </td>
                                <td style="vertical-align: middle; text-align: center">
                                    {{ user_info.getJobSecurityCount() }}
                                </td>
                                {% for i in user_info.getClusterPerfomanceIndicators() %}
                                    <td style="vertical-align: middle; text-align: center">
                                        {{ i.getJobSecurityCount() }}
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    {{ dict['amountOfFunding'] }}
                                    <b>
                                        (тыс. руб.)
                                    </b>
                                </td>
                                <td style="vertical-align: middle; text-align: center" >
                                    <j class="cell-number-ind">{{ user_info.getAmountOfFunding() }} ₽</j>
                                    <b>
                                        (тыс. руб.)
                                    </b>

                                </td>
                                {% for i in user_info.getClusterPerfomanceIndicators() %}
                                    <td style="vertical-align: middle; text-align: center" >
                                        <j class="cell-number-ind">{{ i.getAmountOfFunding() }}</j>
                                        <b>
                                            (тыс. руб.)
                                        </b>

                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    {{ dict['amountOfExtraFunds'] }}
                                    <b>
                                        (тыс. руб.)
                                    </b>
                                </td>
                                <td style="vertical-align: middle; text-align: center" >
                                    <j class="cell-number-ind">{{ user_info.getAmountOfExtraFunds() }} ₽</j>
                                    <b>
                                        (тыс. руб.)
                                    </b>
                                </td>
                                {% for i in user_info.getClusterPerfomanceIndicators() %}
                                    <td style="vertical-align: middle; text-align: center" >
                                        <j class="cell-number-ind">{{ i.getAmountOfExtraFunds() }}</j>
                                        <b>
                                            (тыс. руб.)
                                        </b>

                                    </td>
                                {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-top: -5px">Профессии и специальности</h2>
                    </div>
                    <div class="ibox-content">

                        <h3>УГПС</h3>
                        <div>
                            <ol>
                                {#{{ dump(user_info.getUGPS()) }}#}
                                {% for i in  user_info.getUGPS() %}
                                    <li>{{ i }}</li>
                                {% endfor %}
                            </ol>
                        </div>



                        <div class="ibox-footer">
                            {% if is_granted('ROLE_INSPECTOR') or is_granted('ROLE_SMALL_CURATOR') %}
                                <a href="{{ path('app_inspector_user_ugps_edit', {'id': user_info.getId()}) }}">
                                    <button class="btn btn-success col-lg-12">
                                        <i class="fa fa-edit">
                                            Редактировать "Профессии и специальности"
                                        </i>
                                    </button>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-top: -5px">Профиль компетенций</h2>
                    </div>
                    <div class="ibox-content">

                        <a href="{{ path('app_download_file_by_only_route', {'route': 'compitence_profile_template_directory'}) }}">
                            <button class="btn btn-primary col-sm-12">
                                <i class="fa fa-download"></i>
                                Скачать шаблон
                            </button>
                        </a>
                        {% set compitence_profile = user.getCompitenceProfiles().last() %}
                        <table class="table table-bordered mt-3">
                            <thead>
                                <tr>
                                    <td class="col-md-1 text-center">Статус</td>
                                    <td class="col-md-3 text-center">Комментарий</td>
                                    <td class="col-md-1 text-center">Дата отправки</td>
                                    <td class="col-md-1 text-center">Файл</td>
                                    {% if is_granted('ROLE_DISCIPLINE') or is_granted('ROLE_ADMIN') %}
                                        <td class="col-md-1 text-center">
                                            Действия
                                        </td>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                            {% if compitence_profile %}
                                {% set status_lib = {
                                    'Не принято' : 'badge-danger',
                                    'На проверке' : 'badge-warning',
                                    '' : 'badge-warning',
                                    'На доработке' : 'badge-revision',
                                    'Принято' : 'badge-primary',
                                }
                                %}
                                <tr class="text-center">
                                    <td>
                                        <span class="badge {{ status_lib[compitence_profile.getStatus()] }}">
                                            {{ compitence_profile.getStatus() }}
                                        </span>
                                    </td>
                                    <td>
                                        {{ compitence_profile.getComment() }}
                                    </td>
                                    <td>
                                        {{ compitence_profile.getCreatedAt().format('d.m.Y') }}
                                    </td>
                                    <td>
                                        <a href="{{ path('app_download_file_by_route', {'file': compitence_profile.getFile(), 'route': 'compitence_profile_directory'}) }}">
                                            <button class="btn btn-primary">
                                                <i class="fa fa-download"></i>
                                                Скачать файл
                                            </button>
                                        </a>
                                    </td>
                                    {% if is_granted('ROLE_DISCIPLINE') or is_granted('ROLE_ADMIN') %}
                                        <td>
                                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#ModalCompitenceProfile">
                                                <i class="fa fa-search"></i>
                                                Проверка
                                            </button>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% else %}
                                <tr class="text-center">
                                    <td>
                                        <span class="badge badge-danger">
                                            Не прислано
                                        </span>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>

                    </div>
                    {% if (not compitence_profile or compitence_profile.getStatus() == 'На доработке') and (is_granted('ROLE_REGION') or is_granted('ROLE_SMALL_CLUSTERS')) %}
                        <div class="ibox-footer">
                            <h5>
                                Отправить "Профиль компетенций"
                            </h5>
                            <form action="{{ path('app_compitence_profile_upload', {'id': user.getId()}) }}" method="post" enctype="multipart/form-data">
                                <div class="custom-file">
                                    <input id="logo" type="file" class="custom-file-input" name="file" required>
                                    <label for="logo" class="custom-file-label" style="overflow: hidden">Выбрать файл...</label>
                                </div>
                                <button  type="submit" class="btn btn-success col-sm-12 mt-2">
                                    <i class="fa fa-upload"></i>
                                    Отправить
                                </button>
                                <input type="hidden" name="token" value="{{ csrf_token('upload-compitence-profile') }}"/>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% if is_granted('ROLE_DISCIPLINE') or is_granted('ROLE_ADMIN') %}
<!-- Modal -->
<div class="modal fade" id="ModalCompitenceProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Проверка</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('app_compitence_profile_check', {'id': user.getId()}) }}" method="post">
                <div class="modal-body">
                    <label>
                        Статус
                    </label>
                    <div class="col-sm-10">
                        <div>
                            <label>
                                <input type="radio" checked="" value="Принято" id="optionsRadios1" name="status">
                                Принято
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" value="На доработке" id="optionsRadios2" name="status">
                                На доработку
                            </label>
                        </div>
                    </div>
                    <label>
                        Комментарий
                    </label>
                    <textarea class="form-control" name="comment"></textarea>



                    <input type="hidden" name="token" value="{{ csrf_token('upload-compitence-profile-check') }}"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>

        </div>
    </div>
</div>
{% endif %}
{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SMALL_CURATOR') or is_granted('ROLE_INSPECTOR') %}
    <!-- Modal -->
    <div class="modal fade" id="ModalOGRN" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Проверка</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="ogrn-form" action="{{ path('app_inspector_info_about_cluster_ogrn_edit', {'id': user.getId()}) }}" method="post">
                    <div class="modal-body">
                        <label>
                            ОГРН
                        </label>
                       <input class="form-control" id="ogrn-input" name="ogrn" size="13" maxlength="13">

                        <input type="hidden" name="token" value="{{ csrf_token('ogrn-edit') }}"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endif %}
<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-top: -5px">Зоны по видам работ</h2>
                    </div>
                    <div class="ibox-content">


                        <h3>Зоны по видам работ</h3>
                        <div>
                            <ol>
                                {% for i in  user_info.getZone() %}
                                    <li>{{ i }}</li>
                                {% endfor %}
                            </ol>
                        </div>




                        <div class="ibox-footer">
                            {% if is_granted('ROLE_INSPECTOR') or is_granted('ROLE_SMALL_CURATOR') %}
                                <a href="{{ path('app_inspector_user_zone_edit', {'id': user_info.getId()}) }}">
                                    <button class="btn btn-success col-lg-12">
                                        <i class="fa fa-edit">
                                            Редактировать блок
                                        </i>
                                    </button>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('js/popper.min.js') }}"></script>
<script src="{{ asset('js/inspinia.js') }}"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
<script src="{{ asset('js/plugins/fullcalendar/moment.min.js') }}"></script>
<script src="{{ asset('js/plugins/daterangepicker/daterangepicker.js') }}"></script>
<script src="{{ asset('js/plugins/validate/jquery.validate.min.js') }}"></script>
<script>
    $('.custom-file-input').on('change', function() {
        let fileName = $(this).val().split('\\').pop();
        $(this).next('.custom-file-label').addClass("selected").html(fileName);
    });
</script>
<script>
    $(document).ready(function(){
        $("#ogrn-form").validate(
            {

                rules: {
                    'ogrn' : {
                        maxlength: 13,
                        minlength: 13
                    }
                }
            }


        );



        // $.validator.messages.maxlength = $.validator.format("Указан неполный код.");
        // $.validator.addClassRules({
        //     ogrn : {
        //         maxlength: 13
        //     },
        // });
        // $("form").submit(function() {
        //     $("#form_phoneNumber").unmask();
        // });

        // $('.select2').select2({
        //     closeOnSelect : false,
        //     placeholder : "...",
        //     allowHtml: true,
        //     allowClear: true
        // });
    });
</script>
{#<script src=""></script>#}

