<div class="row mt-5">
    <div class="col-lg-10 offset-lg-1">
        <a href="{{ path("app_user_password_change") }}">
            <button class="btn btn-success col-lg-12">
                <i class="fa fa-edit">
                    Изменить пароль
                </i>
            </button>
        </a>
    </div>
</div>

<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-top: -5px">Общие сведения</h2>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="col-md-4">
                                        Субъект РФ
                                    </td>
                                    <td style="vertical-align: middle">
                                        {% if  user_info.getRfSubject() %}
                                            {{ user_info.getRfSubject().getName() }}
                                        {% endif %}

                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4">
                                        Наименование организации грантополучателя
                                    </td>
                                    <td style="vertical-align: middle">
                                        {{ user_info.getOrganization() }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4">
                                        Наименование базовой образовательной организации
                                    </td>
                                    <td style="vertical-align: middle">
                                        {{ user_info.getEducationalOrganization() }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4">
                                        Наименование кластера
                                    </td>
                                    <td style="vertical-align: middle">
                                        {{ user_info.getCluster() }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4">
                                        Заявленная отрасль
                                    </td>
                                    <td style="vertical-align: middle">
                                        {{ user_info.getDeclaredIndustry() }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-top: -5px">Финансовые показатели</h2>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td colspan="2">
                                        Объем финансирования
                                    </td>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col-md-4">
                                        Средства организаций реального сектора экономики, <strong>тыс.руб.</strong>
                                    </td>
                                    <td style="vertical-align: middle">
                                        {{ user_info.getExtraFundsEconomicSector() }} ₽
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4">
                                        Средства субъекта РФ, <strong>тыс.руб.</strong>
                                    </td>
                                    <td style="vertical-align: middle">
                                        {{ user_info.getFinancingFundsOfSubject() }} ₽
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4">
                                        Средства образовательной организации, <strong>тыс.руб.</strong>
                                    </td>
                                    <td style="vertical-align: middle">
                                        {{ user_info.getExtraFundsOO() }} ₽
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-top: -5px">Показатель критерия - Показатели результативности деятельности кластера</h2>
                        <div class="ibox-tools">
                            <span class="badge badge-success">{{ user_info.getYear() }} год</span>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td class="col-md-6">
                                    Количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта "Профессионалитет", разработанных в том числе с применением автоматизированных методов конструирования указанных образовательных программ
                                </td>
                                <td style="vertical-align: middle">

                                    {{ user_info.getStudentsCount() }}

                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-6">
                                    Количество реализуемых образовательных программ в интересах организации реального сектора экономики
                                </td>
                                <td style="vertical-align: middle">
                                    {{ user_info.getProgramCount() }}
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-6">
                                    Количество педагогических работников, владеющих актуальными педагогическими, производственными (профильными), цифровыми навыками или навыками конструирования образовательных программ под запросы работодателей и экономики
                                </td>
                                <td style="vertical-align: middle">
                                    {{ user_info.getTeacherCount() }}
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-6">
                                    Количество работников организаций реального сектора экономики, владеющих актуальными педагогическими навыками, цифровыми навыками или навыками конструирования образовательных программ под запросы работодателей и экономики, включенных в образовательный процесс в качестве преподавателей и мастеров производственного обучения по совместительству
                                </td>
                                <td style="vertical-align: middle">
                                    {{ user_info.getWorkerCount() }}
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-6">
                                    Количество обучающихся по образовательным программам среднего профессионального образования в рамках федерального проекта "Профессионалитет", разработанных, в том числе, с применением автоматизированных методов конструирования указанных образовательных программ, прошедших практическую подготовку на базе образовательно- производственного центра с закреплением наставника, работающего в организации реального сектора экономики
                                </td>
                                <td style="vertical-align: middle">
                                    {{ user_info.getStudentsCountWithMentor() }}
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-6">
                                    Количество заключенных с гарантией трудоустройства выпускников договоров о целевом обучении по образовательным программам среднего профессионального образования в рамках федерального проекта "Профессионалитет", разработанных в том числе с применением автоматизированных методов конструирования указанных образовательных программ (единиц)

                                </td>
                                <td style="vertical-align: middle">
                                    {{ user_info.getJobSecurityCount() }}
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-6">
                                    Объем финансирования (включая расходы на оплату труда преподавателей и мастеров производственного обучения) образовательных организаций, являющихся участниками центра, обеспечиваемый их учредителями, который не может быть менее объемов финансирования образовательных организаций до создания центра <strong>тыс.руб.</strong>

                                </td>
                                <td style="vertical-align: middle">
                                    {{ user_info.getAmountOfFunding() }} ₽
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-6">
                                    Объем внебюджетных средств (включая стоимость безвозмездно переданного образовательным организациям, являющимся участниками центра, имущества, необходимого для реализации основных профессиональных образовательных программ, основных программ профессионального обучения и дополнительных профессиональных программ), направляемых участниками центра из числа организаций, действующих в реальном секторе экономики, на развитие центра <strong>тыс.руб.</strong>

                                </td>
                                <td style="vertical-align: middle">
                                    {{ user_info.getAmountOfExtraFunds() }} ₽
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-top: -5px">Дополнительные сведения</h2>
                    </div>
                    <div class="ibox-content">

                        <h3>Образовательные организации</h3>
                        <div>
                            <ol>
                                {% for i in  user_info.getListOfEdicationOrganization() %}
                                    <li>{{ i }}</li>
                                {% endfor %}
                            </ol>
                        </div>


                        <h3>Работодатели</h3>
                        <div>
                            <ol>
                                {% for i in  user_info.getListOfEmployers() %}
                                    <li>{{ i }}</li>
                                {% endfor %}
                            </ol>
                        </div>


                        <div class="ibox-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>