{% extends "default/base.html.twig" %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <a href="{{ path('app_region_certificate') }}">
            <button class="btn btn-outline-dark">
                <i class="fa fa-arrow-left"></i>
                Назад
            </button>
        </a>
        <div class="ibox">
            <div class="ibox-title">
                <h5>

                </h5>
            </div>
            <div class="ibox-content">
                {{ form_start(form) }}
                <table class="table table-bordered table-responsive horizontal-drag">
                    <thead class="text-center">
                        <tr>
                            <td rowspan="2">Наименование БПЛА</td>
                            <td colspan="2">План</td>
                            <td colspan="2">В закупочных процедурах
                                (объявлена закупка)</td>
                            <td colspan="2">Законтрактовано
                                (подписан контракт,
                                оборудование в поставке)</td>
                            <td colspan="2">Поставлено в ОО</td>
                            <td rowspan="2">Поставщик</td>
                            <td rowspan="2">Производитель</td>
                            <td rowspan="2">Марка</td>
                            <td rowspan="2">Модель</td>
                            <td rowspan="2">ОКПД 2</td>
                        </tr>
                    <tr>
                        <td>Количество, шт.</td>
                        <td>Сумма, руб. </td>
                        <td>Количество, шт.</td>
                        <td>Сумма, руб. </td>
                        <td>Количество, шт.</td>
                        <td>Сумма, руб. </td>
                        <td>Количество, шт.</td>
                        <td>Сумма, руб. </td>
                        {#<td>Количество, шт </td>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in form.UAVsTypeEquipment %}
                        <tr>
                            <td class="col-md-2">{{ i.vars['data'].name }}</td>
                            <td class="col-md-1">{{ i.vars["data"].getPlanCount() }}</td>
                            <td class="col-md-1">{{ form_widget(i.planSum, {"type": "number"}) }}</td>
                            <td class="col-md-1">{{ form_widget(i.purchaseCount, {"type": "number"}) }}</td>
                            <td class="col-md-1">{{ form_widget(i.purchaseSum, {"type": "number"}) }}</td>
                            <td class="col-md-1">{{ form_widget(i.contractedCount, {"type": "number"}) }}</td>
                            <td class="col-md-1">{{ form_widget(i.contractedSum, {"type": "number"}) }}</td>
                            <td class="col-md-1">{{ form_widget(i.deliveredCount, {"type": "number"}) }}</td>
                            <td class="col-md-1">{{ form_widget(i.deliveredSum, {"type": "number"}) }}</td>

                            <td class="col-md-1">{{ form_widget(i.provide) }}</td>
                            <td class="col-md-1">{{ form_widget(i.manufacturec) }}</td>
                            <td class="col-md-1">{{ form_widget(i.mark) }}</td>
                            <td class="col-md-1">{{ form_widget(i.model) }}</td>
                            <td class="col-md-1">{{ form_widget(i.okpd2) }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button class="btn btn-success" type="submit">
                    <i class="fa fa-save"></i>
                    Сохранить
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block scripts %}

<script src="{{ asset('js/popper.min.js') }}"></script>
<script src="{{ asset('js/inspinia.js') }}"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
    <script>
        const slider = document.querySelector('.horizontal-drag');
        let isDown = false;
        let startX;
        let scrollLeft;

        slider.addEventListener('mousedown', (e) => {

            isDown = true;
            slider.classList.add('active_scroll')
            startX = e.pageX - slider.offsetLeft;
            scrollLeft = slider.scrollLeft;
        });

        slider.addEventListener('mouseleave', () => {

            isDown = false;
            slider.classList.remove('active_scroll')
        });

        slider.addEventListener('mouseup', () => {

            isDown = false;
            slider.classList.remove('active_scroll')
        });

        slider.addEventListener('mousemove', (e) => {

            if (!isDown) return;
            e.preventDefault()
            const x = e.pageX - slider.offsetLeft;
            const walk = (x - startX) * 3;
            slider.scrollLeft = scrollLeft - walk;
        });
    </script>


{% endblock %}
{#<script src=""></script>#}

