{% extends "default/base.html.twig" %}

{% block content %}
    {% if is_granted('ROLE_CURATOR_BAS')  %}
    <div class="row animated fadeInRight  mt-3">
        <div class="col-sm-10 offset-sm-1">
            <a href="{{ path('app_bas_user_edit',{'id': user.getId()}) }}">
                <button class="btn btn-success col-sm-12">
                    <i class="fa fa-edit"></i>
                    Редактировать
                </button>
            </a>
        </div>
    </div>
    {% endif %}
<div class="row animated fadeInRight mt-3">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-top: -5px">Общие сведения</h2>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td class="col-md-4">
                                    Субъект РФ
                                </td>
                                <td style="vertical-align: middle">
                                    {% if  user_info.getRfSubject() %}
                                        {{ user_info.getRfSubject().getName() }}
                                    {% endif %}

                                </td>
                            </tr>

                            <tr>
                                <td class="col-md-4">
                                    Региональный координатор
                                </td>
                                <td style="vertical-align: middle">
                                    {{ user_info.getInitiatorOfCreation() }}
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {#TODO: вынести блок контактов отдельно#}

    {% set contactInfo = user_info.getContactInfo() %}
    {% if contactInfo is null %}
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Контактная информация не найдена
                    </div>
                    <div class="panel-body">
                        {% if is_granted('ROLE_REGION') or is_granted('ROLE_SMALL_CLUSTERS') or is_granted('ROLE_BAS')  %}
                            <a href="{{ path('app_edit_contact_info' , {'id': user_info.getId()}) }}">
                                <button class="btn btn-success ">
                                    <i class="fa fa-plus"></i>
                                    Добавить контактную информацию
                                </button>
                            </a>
                        {% endif %}
                        {% if  is_granted('ROLE_SMALL_CURATOR') or is_granted('ROLE_INSPECTOR') or is_granted('ROLE_CURATOR_BAS')  %}
                            <a href="{{ path('app_edit_contact_info_add' , {'id': user_info.getId()}) }}">
                                <button class="btn btn-primary ">
                                    <i class="fa fa-plus"></i>
                                    Добавить <b>ДОПОЛНИТЕЛЬНУЮ</b> контактную информацию
                                </button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row animated fadeInRight">
            <div class="col-sm-10 offset-sm-1 ">
                <div class="wrapper wrapper-content ">
                    <div class="ibox-content block-shadow ">
                        <div class="ibox ">
                            {% if is_granted('ROLE_REGION') or is_granted('ROLE_SMALL_CLUSTERS') or is_granted('ROLE_BAS')  %}
                                <a href="{{ path('app_edit_contact_info' , {'id': user_info.getId()}) }}">
                                    <button class="btn btn-success pull-right">
                                        <i class="fa fa-edit"></i>
                                        Редактировать контактную информацию
                                    </button>
                                </a>
                            {% endif %}
                            {% if  is_granted('ROLE_SMALL_CURATOR') or is_granted('ROLE_INSPECTOR') or is_granted('ROLE_CURATOR_BAS') %}
                                <a href="{{ path('app_edit_contact_info_add' , {'id': user_info.getId()}) }}">
                                    <button class="btn btn-primary pull-right mr-2">
                                        <i class="fa fa-plus"></i>
                                        Редактировать <b>ДОПОЛНИТЕЛЬНУЮ</b> контактную информацию
                                    </button>
                                </a>
                            {% endif %}
                            <a class="collapse-link">
                                <div class="ibox-title">
                                    <h2 style="font-weight: bold; margin-top: -5px">Контактные данные</h2>
                                    <div class="ibox-tools">

                                        <i class="fa fa-chevron-down"></i>
                                    </div>
                                </div>
                            </a>
                            <div class="ibox-content" style="display: none">
                                {% if contactInfo.getDirector() is not null %}
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="contact-box">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div class="text-center">
                                                            {% if contactInfo.getDirector().getPhoto() %}
                                                                <img alt="image" class="rounded-circle m-t-xs img-fluid"
                                                                     src="{{ asset('img/placeholder/employees.png') }}">
                                                            {% else %}
                                                                <img alt="image" class="rounded-circle m-t-xs img-fluid"
                                                                     src="{{ asset('img/placeholder/employees.png') }}">
                                                            {% endif %}
                                                            <div class="m-t-xs font-bold">Ответственный за реализацию</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-8">
                                                        <h3><strong>{{ contactInfo.getDirector().getFIO() }}</strong></h3>

                                                        <address>
                                                            <p>Моб.Телефон: {{ contactInfo.getDirector().getPhoneNumber() }} </p>
                                                            <p>Почта: {{ contactInfo.getDirector().getEmail() }} </p>
                                                        </address>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                {% endif %}
                                {% if contactInfo.getResponsibleContacts() is not null %}
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <td class="col-md-2">Отвественный за</td>
                                                <td class="col-md-2  text-center">ФИО</td>
                                                <td class="col-md-2 text-center">Моб.Телефон</td>
                                                <td class="col-md-2 text-center">Почта</td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for i in contactInfo.getResponsibleContacts() %}
                                                <tr>
                                                    <td class="text-left align-middle">
                                                        {% for type in i.getResponsibleContactTypes() %}
                                                            <p class="mb-0">
                                                                - {{ type.getName() }}
                                                            </p>


                                                        {% endfor %}
                                                    </td>
                                                    <td class="text-center align-middle">{{ i.getFIO() }}</td>
                                                    <td class="text-center align-middle">{{ i.getPhoneNumber() }}</td>
                                                    <td class="text-center align-middle">{{ i.getEmail() }}</td>
                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                    <hr>
                                {% endif %}
                                <h5>
                                    Список работодателей
                                </h5>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <td class="col-md-2">Работодатель</td>
                                        <td class="col-md-2 text-center">ФИО</td>
                                        <td class="col-md-2 text-center">Должность</td>
                                        <td class="col-md-2 text-center">Моб.Телефон</td>
                                        <td class="col-md-2 text-center">Почта</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for rd in contactInfo.getEmployersContacts()  %}
                                        <tr>
                                            <td class="text-left align-middle">{{ rd.getEmployer().getName() }}</td>
                                            <td class="text-center align-middle">{{ rd.getFIO() }}</td>
                                            <td class="text-center align-middle">{{ rd.getPost() }}</td>
                                            <td class="text-center align-middle">{{ rd.getPhoneNumber() }}</td>
                                            <td class="text-center align-middle">{{ rd.getEmail() }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-top: -5px">Участники </h2>
                    </div>
                    <div class="ibox-content">

                        <h3>Образовательные организации</h3>
                        <div>
                            <ol>
                                {% for i in  user_info.getListOfEdicationOrganization() %}
                                    <li>{{ i }}</li>
                                {% endfor %}
                            </ol>
                        </div>
                        <div class="ibox-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% set clusterDocument = user_info.getClusterDocument() %}

<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-top: -5px">Документы </h2>

                    </div>
                    <div class="ibox-content">


                        <div>
                            {% if clusterDocument %}
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <td>
                                            Файл
                                        </td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if clusterDocument.getPartnershipAgreement() %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('app_download_file_by_route', {'route': 'cluster_documents_directory', 'file': clusterDocument.getPartnershipAgreement()}) }}">
                                                    <i class="fa fa-download">
                                                        Соглашение о партнерстве
                                                    </i>

                                                </a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% if clusterDocument.getFinancialAgreement() %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('app_download_file_by_route', {'route': 'cluster_documents_directory', 'file': clusterDocument.getFinancialAgreement()}) }}">
                                                    <i class="fa fa-download">
                                                        Финансовое соглашение
                                                    </i>

                                                </a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% if clusterDocument.getInfrastructureSheet() %}
                                        <tr>
                                            <td>


                                                <a href="{{ path('app_download_file_by_route', {'route': 'cluster_documents_directory', 'file': clusterDocument.getInfrastructureSheet()}) }}">
                                                    <i class="fa fa-download">
                                                        Инфраструктурный лист специализированного класса (кружка)
                                                    </i>

                                                </a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% if clusterDocument.getDesignProject() %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('app_download_file_by_route', {'route': 'cluster_documents_directory', 'file': clusterDocument.getDesignProject()}) }}">
                                                    <i class="fa fa-download">
                                                        Дизайн-проект
                                                    </i>

                                                </a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% if clusterDocument.getActivityProgram() %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('app_download_file_by_route', {'route': 'cluster_documents_directory', 'file': clusterDocument.getActivityProgram()}) }}">
                                                    <i class="fa fa-download">
                                                        Программа деятельности
                                                    </i>

                                                </a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% if clusterDocument.getNotFinancialAgreement() %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('app_download_file_by_route', {'route': 'cluster_documents_directory', 'file': clusterDocument.getNotFinancialAgreement()}) }}">
                                                    <i class="fa fa-download">
                                                        Нефинансовое соглашение
                                                    </i>

                                                </a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% if clusterDocument.getInfrastructureSheetPractice() %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('app_download_file_by_route', {'route': 'cluster_documents_directory', 'file': clusterDocument.getInfrastructureSheetPractice()}) }}">
                                                    <i class="fa fa-download">
                                                        Инфраструктурный лист центра практической подготовки
                                                    </i>

                                                </a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>

                                {% if is_granted('ROLE_INSPECTOR') or is_granted("ROLE_SMALL_CLUSTERS") %}


                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Загрузить Отчет о мониторинговом выезде</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <form action="{{ path('app_inspector_monitoring_check_out_upload', {'id': user.getId()}) }}" method="post" enctype="multipart/form-data">
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label>Файл</label>
                                                            <div class="custom-file">
                                                                <input id="logo" type="file" class="custom-file-input" name="file" required>
                                                                <label for="logo" class="custom-file-label">Выбрать файл...</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Дата</label>
                                                            <br>
                                                            <input class="form-control" type="date" name="date" required/>
                                                        </div>



                                                        <input type="hidden" name="token" value="{{ csrf_token('check-out') }}"/>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary">Загрузить</button>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if user_info.getMonitoringCheckOuts()|length > 0 %}
                                    <hr>

                                    <h5>Отчеты о мониторинговом выезде</h5>
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <td class="col-md-6">Файл</td>
                                            <td class="col-md-6">Дата</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in user_info.getMonitoringCheckOuts() %}
                                            <tr>
                                                <td>
                                                    <a href="{{ path('app_download_file_by_route', {'route': 'monitoring_check_out_directory', 'file': i.getFile()}) }}">
                                                        <i class="fa fa-download"></i>
                                                        Отчет о мониторинговом выезде
                                                    </a>
                                                </td>
                                                <td>{{ i.getDate().format('d.m.Y') }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            {% else %}
                                <div class="col-lg-10 offset-lg-1">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <i class="fa fa-info-circle"></i> Сообщение
                                        </div>
                                        <div class="panel-body">
                                            <p>Файлы не прикреплены</p>
                                        </div>

                                    </div>
                                </div>
                            {% endif %}
                        </div>




                        <div class="ibox-footer">
                            {% if is_granted('ROLE_INSPECTOR') or is_granted('ROLE_SMALL_CURATOR') %}
                                <a href="{{ path('app_inspector_edit_cluster_document', {'id': user_info.getId()}) }}">
                                    <button class="btn btn-success col-lg-12">
                                        <i class="fa fa-edit">
                                            Редактировать "Документы кластера"
                                        </i>
                                    </button>
                                </a>
                                <button type="button" class="btn btn-primary col-lg-12 mt-2" data-toggle="modal" data-target="#exampleModal">
                                    <i class="fa fa-upload"></i>
                                    Загрузить Отчет о мониторинговом выезде
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-top: -5px">Показатели</h2>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <td colspan="2">

                                </td>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    Количество образовательных организаций, в которых реализуются основные
                                    общеобразовательные программы, за исключением образовательных программ
                                    дошкольного образования, образовательные программы дополнительного образования
                                    и образовательные программы среднего профессионального образования в сфере БАС,
                                    в том числе с использованием электронного обучения и (или) дистанционных
                                    образовательных технологий (нарастающим итогом).
                                </td>
                                <td style="vertical-align: middle; text-align: center" class="">
                                    {{ user_info.getListOfEdicationOrganization()|length }}
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-8" >
                                    Количество обучающихся по образовательным программам дополнительного образования и
                                    образовательным программам среднего профессионального образования в сфере БАС,
                                    в том числе с использованием электронного обучения и (или) дистанционных
                                    образовательных технологий (нарастающим итогом).
                                </td>
                                <td style="vertical-align: middle; text-align: center" class="">
                                    {{ user_info.getStudentsCount() }}
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-8" >
                                    Количество обученных педагогических работников для образовательных организаций,
                                    реализующих основные общеобразовательные программы, за исключением образовательных
                                    программ человек дошкольного образования, образовательные программы среднего
                                    профессионального образования и дополнительные образовательные программы в рамках
                                    мероприятий по обучению и подготовке квалифицированных педагогических кадров
                                    (накопительным итогом).
                                </td>
                                <td style="vertical-align: middle; text-align: center" class="">
                                    {{ user_info.getTeacherCount() }}
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-8" >
                                    Количество реализуемых образовательных программ среднего профессионального
                                    образования, дополнительных образовательных программ, в которые включены модули
                                    по обучению навыкам проектирования, разработки, производства и эксплуатации БАС
                                    с использованием цифрового образовательного контента (ЦОК) (накопительным итогом).
                                </td>
                                <td style="vertical-align: middle; text-align: center" class="">
                                    {{ user_info.getProgramCount() }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}

{% block scripts %}

<script src="{{ asset('js/popper.min.js') }}"></script>
<script src="{{ asset('js/inspinia.js') }}"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
<script src="{{ asset('js/plugins/fullcalendar/moment.min.js') }}"></script>
<script src="{{ asset('js/plugins/daterangepicker/daterangepicker.js') }}"></script>
<script>
    $('.custom-file-input').on('change', function() {
        let fileName = $(this).val().split('\\').pop();
        $(this).next('.custom-file-label').addClass("selected").html(fileName);
    });
</script>
{% endblock %}
{#<script src=""></script>#}

