{% extends 'default/base.html.twig' %}

{% block content %}
    {% if role == 'small' %}
        {% set prefix = 'Малые кластеры' %}
    {% else %}
        {% set prefix = 'Производственные кластеры' %}
    {% endif %}
    <div class="row mt-5">
        <div class="offset-lg-3 col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h2>
                        Актуальная выгрузка ({{ prefix }})

                    </h2>
                    <div class="ibox-tools">

                    </div>
                </div>
                <div class="ibox-content">
                    <h3>
                        Таблица будет сформирована на основе актуальных данных
                    </h3>
                    {{ form_start(form) }}
                        <div class="form-group">
                            <label>
                                Год создания кластеров
                            </label>
                            {{ form_widget(form.year) }}
                        </div>
                    <div class="form-group">
                        <label>
                            Тип
                        </label>
                        {{ form_widget(form.type) }}
                    </div>
                    {% if form.lot is defined %}
                    <div class="form-group">
                        <label>
                            Лот
                        </label>
                        {{ form_widget(form.lot) }}
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <label>
                            Дата проверки
                        </label>
                        <br>
                        {{ form_widget(form.date) }}
                    </div>
                        <div class="form-group">

                            {{ form_widget(form.submit) }}
                        </div>
                    {{ form_end(form) }}
                </div>
                <div class="ibox-footer">

                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){
        $('#form_step').closest('div').hide();

        $('#form_type').on( "change", function() {
            if($(this).val() == 4)
            {
                $('#form_step').closest('div').show();
            }
            else
            {
                $('#form_step').closest('div').hide();
            }

        } );
    });
</script>
{% endblock %}
