<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>ИРПО Закупки</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('img/ico/rpop_icon.png') }}">

    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('font-awesome/css/font-awesome.css') }}" rel="stylesheet">

    <!-- Toastr style -->
    <link href="{{ asset('css/plugins/toastr/toastr.min.css') }}" rel="stylesheet">

    <!-- Gritter -->
    <link href="{{ asset('js/plugins/gritter/jquery.gritter.css') }}" rel="stylesheet">

    <link href="{{ asset('css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/my_style.css') }}" rel="stylesheet">
</head>
<body class="bg-white">
<header>
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <!-- BRAND -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Your Brand</a>
                </div>



            </div>
        </nav>
    </div>

</header>

<div>

</div>


<footer>

</footer>
</body>
</html>