{% extends 'default/base.html.twig' %}

{% block content %}
    <div class="row mt-5">
        <div class="col-lg-6 offset-lg-3">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        Редактирование документов кластера
                    </h5>
                </div>
                {{ form_start(form) }}
                    <div class="ibox-content">
                        {{ form_row(form.PartnershipAgreement) }}
                        <hr>
                        {{ form_row(form.FinancialAgreement) }}
                        <hr>
                        {{ form_row(form.InfrastructureSheet) }}
                        <hr>
                        {{ form_row(form.DesignProject) }}
                        <hr>
                        {{ form_row(form.ActivityProgram) }}
                    </div>
                    <div class="ibox-footer">
                        {{ form_row(form.submit) }}
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}