{% extends "journalist/index.html.twig" %}




{% block content %}
    <style>
        #message{
            font-size: 16pt;
            width: 100%;
            border: grey solid 1px;
            margin: 10px 0 10px 0;
            padding: 5px;
        }

    </style>

<div class="row mt-5">
    <div class="col-lg-10 offset-1 animated fadeInRight">
        <div class="mail-box-header">
            <div style="margin-left: 4rem">
                <div class="float-right tooltip-demo">

                </div>
                <h2 style="font-weight: bold">
                    Сообщение
                </h2>
                <div class="mail-tools tooltip-demo m-t-md">


                    <h3>
                        <span class="font-normal">Тема: </span>{{ feedback.getTopic() }}
                    </h3>
                    <h5>
                        {% if feedback.getCreatedAt() is not null %}
                            <span class="float-right font-normal">{{ feedback.getCreatedAt().format('d-m-Y') }}</span>
                        {% else %}
                            <span class="float-right font-normal"></span>
                        {% endif %}
                        <span class="font-normal">ФИО: </span>{{ feedback.getFIO() }}
                        <br>
                        <span class="font-normal">От: </span>{{ feedback.getEmail() }}
                    </h5>
                </div>
            </div>
        </div>
        <div class="mail-box">

            <div class="mail-body">

            <div style="margin-left: 4rem">

                        {{ feedback.getMessage() }}
                    <div class="row">
                    </div>
                </div>
                <hr>

                <div>
                    <a href="{{ path('app_feedback') }}" style="margin-left: 4rem">
                        <button class="btn btn-success">
                            Назад
                        </button>
                    </a>
                </div>


                <div class="clearfix"></div>


            </div>

        </div>

    </div>
</div>
{#    <div class="m-5">#}

{#    </div>#}
{% endblock %}