{% extends "journalist/index.html.twig" %}




{% block content %}
<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <h1 style="margin-left: 40px; padding-top: 2rem; padding-bottom: 2rem; font-weight: bold">Обратная связь</h1>

                <div class="row" style="margin-left: 2rem">

                    <table class="table m3">
                        <thead>
                            <tr>
                                <td>
                                    Статус
                                </td>
                                <td>
                                    ФИО
                                </td>
                                <td>
                                    Тема
                                </td>
                                <td>
                                    e-mail
                                </td>
                                <td>
                                    Действия
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in pagination  %}
                            <tr>
                                {% if i.isIsViewed() %}
                                    <td class="align-middle"> <i class="fa fa-check-circle" style="color: green"></i> </td>
                                {% else %}
                                    <td class="align-middle"> <i class="fa fa-circle-o" style="color: grey"></i> </td>
                                {% endif %}
                                <td class="align-middle"> {{ i.getFIO() }} </td>
                                <td class="align-middle"> {{ i.getTopic() }} </td>
                                <td class="align-middle col-md-3">{{ i.getEmail() }}</td>
                                <td class="align-middle">
                                    <div>
                                        <a href="{{ path('app_feedback_view', {'id': i.getId()}) }}">
                                            <button class="btn btn-info col-lg-6">
                                                <div class="fa fa-search"></div>
                                                Просмотр
                                            </button>
                                        </a>
                                        <a href="{{ path('app_feedback_delete', {'id': i.getId()}) }}" class="delete-alert">
                                            <button class="btn btn-danger col-lg-6">
                                                <div class="fa fa-trash"></div>
                                                Удалить
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="navigation">
                        {{ knp_pagination_render(pagination, 'default/twitter_bootstrap_v3_pagination.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{#    <div class="m-5">#}

{#    </div>#}
{% endblock %}