{% extends "default/base.html.twig" %}


{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight col-sm-10 offset-sm-1 ">
        <div class="row">
            <div class="ibox-content block-shadow col-lg-12  mb-4">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-bottom: -1rem">Поиск</h2>
                        <div class="ibox-tools">

                        </div>
                    </div>
                </div>
                <div class="ibox-content ">
                    {{ form_start(form) }}
                        <label>Субъект РФ</label>
                        {{ form_widget(form.rf_subject) }}
                        <label>Год создания кластера</label>
                        {{ form_widget(form.year) }}
                        <hr>

                        {{ form_widget(form.submit) }}
                    {{ form_end(form) }}
                </div>
            </div>


            {#<div class="ibox-content block-shadow col-lg-12  mb-4">#}
                {#<div class="ibox ">#}
                    {#<div class="ibox-title">#}
                        {#<h2 style="font-weight: bold; margin-bottom: -1rem">Избранное</h2>#}
                        {#<div class="ibox-tools">#}

                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="ibox-content ">#}
                    {#{% for i in 1..10 %}#}
                    {#<div class="col-lg-4 animated fadeIn">#}
                        {#<div class="contact-box">#}
                            {#<div class="row">#}
                                {#<div class="col-lg-12">#}

                                    {#<h3>#}
                                        {#<strong>#}
                                            {#фффф#}
                                        {#</strong>#}
                                    {#</h3>#}

                                    {#{% if i.getUserInfo().getRfSubject() is not null %}#}
                                        {#<p><i class="fa fa-map-marker"></i> {{ i.getUserInfo().getRfSubject().getName() }}</p>#}
                                    {#{% else %}#}
                                        {#<p class="red-bg"><i class="fa fa-map-marker"></i> Не указан регион!</p>#}
                                    {#{% endif %}#}

                                    {#<address>#}
                                        {#<b>Кластер: </b> <br>#}
                                        {#<b>Отрасль: </b> <br>#}
                                        {#<b>Организация: </b> <br>#}
                                        {#<b>Пользователь: </b> <br>#}
                                        {#<abbr title="Phone">P:</abbr> (123) 456-7890#}
                                    {#</address>#}
                                    {#<div>#}
                                        {#<a href="#">#}
                                            {#<button class="btn btn-primary col-lg-10">#}
                                                {#<div class="fa fa-upload"></div>#}
                                                {#Загрузить ИЛ#}
                                            {#</button>#}
                                        {#</a>#}
                                        {#<a href="#">#}
                                            {#<button class="btn btn-info col-lg-10">#}
                                                {#<div class="fa fa-search"></div>#}
                                                {#Просмотр истории илов#}
                                            {#</button>#}
                                        {#</a>#}
                                        {#<a href="#">#}
                                            {#<button class="btn btn-warning col-lg-10">#}
                                                {#<div class="fa fa-archive"></div>#}
                                                {#Просмотр Закупок#}
                                            {#</button>#}
                                        {#</a>#}

                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#{% endfor %}#}
                {#</div>#}
            {#</div>#}

            <div class="row col-lg-10">
                    {% for i in pagination %}
                        <div class="col-lg-4 animated fadeIn">
                            <div class="contact-box">
                                <div class="row">
                                    <div class="col-lg-12">

                                        <h3>
                                            <strong>
                                                {{ i.getUserInfo().getEducationalOrganization() }}
                                            </strong>
                                        </h3>

                                        {% if i.getUserInfo().getRfSubject() is not null %}
                                            <p><i class="fa fa-map-marker"></i> {{ i.getUserInfo().getRfSubject().getName() }}</p>
                                        {% else %}
                                            <p class="red-bg"><i class="fa fa-map-marker"></i> Не указан регион!</p>
                                        {% endif %}

                                        <address>
                                            <b>Кластер: </b>{{ i.getUserInfo().getCluster() }}<br>
                                            <b>Отрасль: </b>{{ i.getUserInfo().getDeclaredIndustry() }} <br>
                                            <b>Организация: </b>{{ i.getUserInfo().getOrganization() }}<br>
                                            <b>Пользователь: </b>{{ i.getUuid() }} <br>
                                            {#<abbr title="Phone">P:</abbr> (123) 456-7890#}
                                        </address>
                                        <div>
                                            <a href="{{ path('app_inspector_infrastructure_sheet_upload', {'id': i.getId()}) }}">
                                                <button class="btn btn-primary col-lg-10">
                                                    <div class="fa fa-upload"></div>
                                                    Загрузить ИЛ
                                                </button>
                                            </a>
                                            <a href="{{ path('app_inspector_infrastructure_sheet_region_view', {'id': i.getId()}) }}">
                                                <button class="btn btn-info col-lg-10">
                                                    <div class="fa fa-search"></div>
                                                    Просмотр истории илов
                                                </button>
                                            </a>
                                            <a href="{{ path('app_inspector_show_purchases', {'id': i.getId()}) }}">
                                                <button class="btn btn-warning col-lg-10">
                                                    <div class="fa fa-archive"></div>
                                                    Просмотр Закупок
                                                </button>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


            </div>
            <div class="row">
                <div class="navigation">
                    {{ knp_pagination_render(pagination, 'default/twitter_bootstrap_v3_pagination.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}