{% extends "default/base.html.twig" %}


{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight col-sm-10 offset-sm-1 ">
        <div class="row">
            <div class="ibox-content block-shadow col-lg-12  mb-4">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-bottom: -1rem">Поиск</h2>
                        <div class="ibox-tools">

                        </div>
                    </div>
                </div>
                <div class="ibox-content ">
                    {{ form_start(form) }}
                        <label>Субъект РФ</label>
                        {{ form_widget(form.rf_subject) }}
                        <label>Год создания кластера</label>
                        {{ form_widget(form.year) }}
                        <hr>

                        {{ form_widget(form.submit) }}
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="row col-lg-12">

                    {% for i in pagination %}
                        {% set buttons %}
                            {% if i.getId() in clusters %}
                                <div style="margin-left: 10px">
                                    <a href="#">
                                        <button class="btn " disabled >
                                            Избранное
                                        </button>
                                    </a>
                                </div>

                            {% else %}
                                <div style="margin-left: 10px">
                                    <a href="{{ path('app_inspector_add_favourite', {'id': i.getId(), 'page': app.request.get('page')}) }}">
                                        <button class="btn " >
                                            Добавить в "Мои кластеры"
                                        </button>
                                    </a>
                                </div>
                            {% endif %}
                        {% endset %}
                        {{ include('default/clusterCard.html.twig', {'i': i}) }}
                    {% endfor %}


            </div>

        </div>
        <div class="row">
            <div class="navigation">
                {{ knp_pagination_render(pagination, 'default/twitter_bootstrap_v3_pagination.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}