{% extends 'default/base.html.twig' %}


{% block styles %}

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <div class="ibox">
            <div class="ibox-title">

            </div>
            <div class="ibox-content">
                {{ form_start(form) }}
                <label>
                    Профессии и специальности
                </label>
                <div class="row js-UGPS-wrapper">
                    <ul id="UGPS-fields-list"
                        class="col-lg-8"
                        data-prototype="{{ form_widget(form.uGPS.vars.prototype, {'attr':{'class': 'form-control'}})|e }}"
                        data-widget-tags="{{
                        '<li class="form-control"></li>'|e
                        }}"
                        data-widget-counter="{{ form.uGPS|length }}"
                        data-delete-btn='
                                    <div class="col-xs-12 js-UGPS-item">
                                        <a href="#" class="js-remove-UGPS pull-right btn btn-danger">
                                            <span class="fa fa-close "></span>
                                        </a>
                                        <span class="badge badge-primary">Новый</span>

                                '
                    >
                        {% for ugps in form.uGPS %}
                            <li class="form-control">
                                <div class="col-xs-12 js-UGPS-item">
                                    <a href="#" class="js-remove-UGPS pull-right btn btn-danger">
                                        <span class="fa fa-close "></span>
                                    </a>
                                    {{ form_row(ugps, {'attr':{'class': 'form-control'}}) }}
                                </div>

                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <button type="button"
                        class="add-another-collection-widget btn btn-primary"
                        data-list-selector="#UGPS-fields-list">
                    <i class="fa fa-plus">
                        Добавить УГПС
                    </i>
                </button>
                <button class="btn btn-success" type="button" data-toggle="modal" data-target="#modal-ugps">
                    <i class="fa fa-plus-circle">
                        Добавить из таблицы
                    </i>
                </button>
                {{ form_end(form) }}
            </div>
            <div class="ibox-footer">

            </div>


             <div class="modal fade" id="modal-ugps" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Добавление УГПС</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">

                        <div class="form-group">
                            <label>
                                Данные
                            </label>
                            <textarea class="form-control" id="rows-data-ugps" name="text"></textarea>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" id="add-many-row-ugps" class="btn btn-primary"
                                {#data-dismiss="modal"#}
                                type="button"
                                data-list-selector="#UGPS-fields-list"
                                data-list="#UGPS-fields-list"
                                data-row-data="#rows-data-ugps"
                        >
                            Добавить
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" type="button">Отмена</button>
                    </div>
                    {#{{ form_end(form) }}#}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    let listOfAnotherOrganizationWraper = $('.js-UGPS-wrapper');
    listOfAnotherOrganizationWraper.on('click', '.js-remove-UGPS', function(e) {
        e.preventDefault();
        $(this).closest('.form-control')
            .fadeOut()
            .remove();
    });
    $('.add-another-collection-widget').click(function (e) {
        var list = $($(this).attr('data-list-selector'));
        // Try to find the counter of the list or use the length of the list
        var counter = list.data('widget-counter');

        // grab the prototype template
        var newWidget = list.attr('data-prototype');
        // replace the "__name__" used in the id and name of the prototype
        // with a number that's unique to your emails
        // end name attribute looks like name="contact[emails][2]"
        counter++;
        newWidget = newWidget.replace(/__name__/g, counter);
        // Increase the counter
        console.log(newWidget);

        // And store it, the length cannot be used if deleting widgets is allowed
        list.data('widget-counter', counter);

        // create a new list element and add it to the list
        var newElem = $(list.attr('data-widget-tags')).html(
            list.attr('data-delete-btn') +
            newWidget +
            '</div>'
        );

        newElem.appendTo(list);
    });
    function addRowsByTable(){

                let data = $($(this).attr('data-row-data'));

                let _data = data.val().split('\n');
                value = _data.length;



                let listSelector = $($(this).attr('data-list-selector'));
                let list = $($(this).attr('data-list'));



                for (let i = 0; i < value; i++)
                {

                    var counter = listSelector.data('widget-counter');

                    // grab the prototype template
                    var newWidget = listSelector.attr('data-prototype');
                    // replace the "__name__" used in the id and name of the prototype
                    // with a number that's unique to your emails
                    // end name attribute looks like name="contact[emails][2]"
                    counter++;
                    newWidget = newWidget.replace(/__name__/g, counter);
                    // Increase the counter
                    console.log(newWidget);

                    // And store it, the length cannot be used if deleting widgets is allowed
                    listSelector.data('widget-counter', counter);

                    // create a new list element and add it to the list
                    var newElem = $(list.attr('data-widget-tags')).html(
                        list.attr('data-delete-btn') +
                        newWidget +
                        '</div>'
                    );
                    console.log("oo");
                    newElem.appendTo(listSelector);
                    if(_data[i] )
                    {
                        // let paste = _data[i].split('\t');
                        // console.log(paste);
                        $('#inspector_ugps_edit_form_uGPS_'+counter).val(_data[i]);

                    }

                }
                data.val('')
            }
            $('#add-many-row-ugps').click(addRowsByTable);
</script>
{% endblock %}