{% extends "default/base.html.twig" %}

{% block content %}
    {% set isSoloSup = purchase.getMethodOfDetermining() == "Единственный поставщик" %}
    {% set isHavePrepayment = purchase.isIsHasPrepayment() %}
    {% set isPlanned = purchase.getIsPlanned() %}
    <style>
        input[type='number'] {
            -moz-appearance:textfield;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        td{
            border-right: 2px dotted lightgrey;
        }
    </style>

    {{ include('default/cluster_info.html.twig', {'user_info': purchase.getUser.getUserInfo()}) }}

    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="wrapper wrapper-content">
                <div class="row d-flex justify-content-center m-3">
                    <div>
                        <h2>
                            <nav>{{ title }}</nav>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row d-flex justify-content-center m-3">
        <div class="m-2">

            {% if is_granted('ROLE_INSPECTOR') or is_granted('ROLE_SMALL_CURATOR') %}
                <a href="{{ path("app_purchases_history", {id: app.request.get("id")}) }}">
                    <button class="btn-gray-all btn btn-outline-success ">
                        <div class="fa fa-edit"></div>
                        История
                    </button>
                </a>
                <a href="{{ path("app_inspector_add_note_to_purchase", {id: app.request.get("id")}) }}">
                    <button class="btn btn-warning">
                        <i class="fa fa-pencil">
                            Добавить замечание
                        </i>
                    </button>
                </a>
                {% if purchase.isIsRead() %}
                    <a href="{{ path("app_inspector_view_purchase_read", {id: app.request.get("id")}) }}">
                        <button class="btn btn-danger ">
                            <i class="fa fa-close">
                                Отметить как <b>не прочитано</b>
                            </i>
                        </button>
                    </a>
                {% else %}
                    <a href="{{ path("app_inspector_view_purchase_read", {id: app.request.get("id")}) }}">
                        <button class="btn btn-primary">
                            <i class="fa fa-check">
                                Отметить как прочитано
                            </i>
                        </button>
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% set notes = purchase.getPurchaseNotes() %}
    {% if notes|length > 0 %}
    <div class="row">
        <div class="offset-lg-3 col-lg-6">
            <div class="ibox collapsed border-bottom">
                <a class="collapse-link">
                    <div class="ibox-title">
                        <h5>
                           Замечания
                        </h5>
                        <div class="ibox-tools">
                            <i class="fa fa-chevron-down"></i>
                        </div>
                    </div>
                </a>
                <div class="ibox-content" style="display: block;">
                    <table class="table table-bordered">
                        <thed>
                        <tr>
                            <td class="col-md-1">
                                id
                            </td>
                            <td class="col-md-3">
                                Сообщение
                            </td>
                            <td class="col-md-3">
                                Дата создания
                            </td>
                            <td class="col-md-3">
                                Куратор
                            </td>
                            <td class="col-md-3">
                                Прочитано?
                            </td>
                            <td class="col-md-1">

                            </td>
                        </tr>

                        </thed>
                        <tbody>
                            {% for i in notes %}
                                <tr>
                                    <td>
                                        {{ i.getId() }}
                                    </td>
                                    <td>
                                        {{ i.getNote() }}
                                    </td>
                                    <td>
                                        {% if i.getCreadtedAt() %}
                                            {{ i.getCreadtedAt().format('d.m.Y') }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ i.getCurator().getName() }}
                                    </td>
                                    <td>
                                        {% if i.isIsRead %}
                                            <span class="badge badge-success">
                                                <i class="fa fa-check">

                                                </i>
                                            </span>
                                        {% else %}
                                            <span class="badge badge-danger">
                                                <i class="fa fa-close">

                                                </i>
                                            </span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ path('app_inspector_delete_purchase_note', {'id': i.getId()}) }}" class="delete-alert">
                                            <button class="btn btn-danger">
                                                <i class="fa fa-trash"></i>
                                                Удалить
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div>
            </div>
        </div>
    </div>
</div>
    {% endif %}


    <div class="row">
        <div class="col-lg-12 mb-2">
            <div class="ibox collapsed border-bottom">
                <a class="collapse-link">
                    <div class="ibox-title">
                        <h5>
                            Предмет закупки
                        </h5>
                        <div class="ibox-tools">
                            <i class="fa fa-chevron-down"></i>
                        </div>
                    </div>
                </a>
                <div class="ibox-content" style="display: block;">
                    <table class="table table-bordered">
                        <tr>
                            <td class="col-md-3">
                                Наименование / Предмет закупки
                            </td>
                            <td>
                                {{ purchase.getPurchaseObject() }}
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3">
                                Способ определение поставщика
                            </td>
                            <td>
                                {{ purchase.getMethodOfDetermining() }}
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3">
                                Закупка на стадии планирования?
                            </td>
                            <td>
                                {% if isPlanned %}
                                    Да
                                {% else %}
                                    Нет
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-2">
            <div class="ibox collapsed border-bottom">
                <a class="collapse-link">
                    <div class="ibox-title">
                        <h5>
                            Начальная (Максимальная) цена договора
                        </h5>
                        <div class="ibox-tools">
                            <i class="fa fa-chevron-down"></i>
                        </div>
                    </div>
                </a>
                <div class="ibox-content" style="display: none;">
                    <table class="table table-bordered">
                        <tr>
                            <td class="col-md-3">
                                Средства федерального бюджета
                            </td>
                            <td>
                                {{ purchase.getInitialFederalFunds() }} ₽
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3">
                                Средства субъекта РФ
                            </td>
                            <td>
                                {{ purchase.getInitialFundsOfSubject() }} ₽
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3">
                                Средства работадателя
                            </td>
                            <td>
                                {{ purchase.getInitialEmployersFunds() }} ₽
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3">
                                Средства образовательно организации
                            </td>
                            <td>
                                {{ purchase.getInitialEducationalOrgFunds() }} ₽
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3">
                                Есть авансовый платеж?
                            </td>
                            <td>
                                {% if isHavePrepayment %}
                                    Да
                                {% else %}
                                    Нет
                                {% endif %}
                            </td>
                        </tr>
                        {% if isHavePrepayment %}
                            <tr>
                                <td class="col-md-3">
                                    Авансовый платеж
                                </td>
                                <td>
                                    {{ purchase.getPrepayment() }}%
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% if not isPlanned %}
        {#{% if isSoloSup %}#}
            {#<div class="row">#}
                {#<div class="col-lg-12 mb-2">#}
                    {#<div class="ibox collapsed border-bottom">#}
                        {#<a class="collapse-link">#}
                            {#<div class="ibox-title">#}
                                {#<h5>#}
                                    {#Цена контракта / договора#}
                                {#</h5>#}
                                {#<div class="ibox-tools">#}
                                    {#<i class="fa fa-chevron-down"></i>#}
                                {#</div>#}
                            {#</div>#}
                        {#</a>#}
                        {#<div class="ibox-content" style="display: none;">#}
                            {#<table class="table table-bordered">#}
                                {#<tr>#}
                                    {#<td class="col-md-3">#}
                                        {#Средства федерального бюджета#}
                                    {#</td>#}
                                    {#<td>#}
                                        {#{{ purchase.getInitialFederalFunds() }} ₽#}
                                    {#</td>#}
                                {#</tr>#}
                                {#<tr>#}
                                    {#<td class="col-md-3">#}
                                        {#Средства субъекта РФ#}
                                    {#</td>#}
                                    {#<td>#}
                                        {#{{ purchase.getInitialFundsOfSubject() }} ₽#}
                                    {#</td>#}
                                {#</tr>#}
                                {#<tr>#}
                                    {#<td class="col-md-3">#}
                                        {#Средства работадателя#}
                                    {#</td>#}
                                    {#<td>#}
                                        {#{{ purchase.getInitialEmployersFunds() }} ₽#}
                                    {#</td>#}
                                {#</tr>#}
                                {#<tr>#}
                                    {#<td class="col-md-3">#}
                                        {#Средства образовательно организации#}
                                    {#</td>#}
                                    {#<td>#}
                                        {#{{ purchase.getInitialEducationalOrgFunds() }} ₽#}
                                    {#</td>#}
                                {#</tr>#}
                            {#</table>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#{% else %}#}
            <div class="row">
                <div class="col-lg-12 mb-2">
                    <div class="ibox collapsed border-bottom">
                        <a class="collapse-link">
                            <div class="ibox-title">
                                <h5>
                                    Цена контракта / договора
                                </h5>
                                <div class="ibox-tools">
                                    <i class="fa fa-chevron-down"></i>
                                </div>
                            </div>
                        </a>
                        <div class="ibox-content" style="display: none;">
                            <table class="table table-bordered">
                                <tr>
                                    <td class="col-md-3">
                                        Средства федерального бюджета
                                    </td>
                                    <td>
                                        {{ purchase.getfinFederalFunds() }} ₽
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">
                                        Средства субъекта РФ
                                    </td>
                                    <td>
                                        {{ purchase.getfinFundsOfSubject() }} ₽
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">
                                        Средства работадателя
                                    </td>
                                    <td>
                                        {{ purchase.getfinEmployersFunds() }} ₽
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">
                                        Средства образовательно организации
                                    </td>
                                    <td>
                                        {{ purchase.getfinFundsOfEducationalOrg() }} ₽
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {#{% endif %}#}
        <div class="row">
            <div class="col-lg-12 mb-2">
                <div class="ibox collapsed border-bottom">
                    <a class="collapse-link">
                        <div class="ibox-title">
                            <h5>
                                Фактическое расходование средств
                            </h5>
                            <div class="ibox-tools">
                                <i class="fa fa-chevron-down"></i>
                            </div>
                        </div>
                    </a>
                    <div class="ibox-content" style="display: none;">
                        <table class="table table-bordered">
                            <tr>
                                <td class="col-md-3">
                                    Средства федерального бюджета
                                </td>
                                <td>
                                    {{ purchase.getFactFederalFunds() }} ₽
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-3">
                                    Средства субъекта РФ
                                </td>
                                <td>
                                    {{ purchase.getFactFundsOfSubject() }} ₽
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-3">
                                    Средства работадателя
                                </td>
                                <td>
                                    {{ purchase.getFactEmployersFunds() }} ₽
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-3">
                                    Средства образовательно организации
                                </td>
                                <td>
                                    {{ purchase.getFactFundsOfEducationalOrg() }} ₽
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-lg-12 mb-2">
            <div class="ibox collapsed border-bottom">
                <a class="collapse-link">
                    <div class="ibox-title">
                        <h5>
                            Срок размещения закупки ЕИС/ЭМ
                        </h5>
                        <div class="ibox-tools">
                            <i class="fa fa-chevron-down"></i>
                        </div>
                    </div>
                </a>
                <div class="ibox-content" style="display: none;">
                    <table class="table table-bordered">
                        <tr>
                            <td class="col-md-3">
                                Дата публикации
                            </td>
                            <td>
                                {% if  purchase.getPublicationDate() %}
                                    {{ purchase.getPublicationDate().format('d.m.Y') }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3">
                                Дата оканчания подачи заявок
                            </td>
                            <td>
                                {% if  purchase.getDeadlineDate() %}
                                    {{ purchase.getDeadlineDate().format('d.m.Y') }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3">
                                Дата подведения итогов
                            </td>
                            <td>
                                {% if  purchase.getDateOfSummingUp() %}
                                    {{ purchase.getDateOfSummingUp().format('d.m.Y') }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3">
                                Перенос срока размещения закупки ЕИС/ЭМ
                            </td>
                            <td>
                                {% if  purchase.getpostponementDate() %}
                                    {{ purchase.getpostponementDate().format('d.m.Y') }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3">
                                Причина (обоснование)
                            </td>
                            <td>
                                {{ purchase.getPostonementComment() }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-2">
            <div class="ibox collapsed border-bottom">
                <a class="collapse-link">
                    <div class="ibox-title">
                        <h5>
                            Ссылка на закупку
                        </h5>
                        <div class="ibox-tools">
                            <i class="fa fa-chevron-down"></i>
                        </div>
                    </div>
                </a>
                <div class="ibox-content" style="display: none;">
                    <table class="table table-bordered">
                        <tr>
                            <td class="col-md-3">
                                Ссылка на закупку
                            </td>
                            <td>
                                <a href="{{ purchase.getPurchaseLink() }}">
                                    {{ purchase.getPurchaseLink() }}
                                </a>

                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3">
                                Номер закупки
                            </td>
                            <td>
                                {{ purchase.getPurchaseNumber() }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-lg-12 mb-2">
            <div class="ibox collapsed border-bottom">
                <a class="collapse-link">
                    <div class="ibox-title">
                        <h5>
                            Дата заключения контракта / договора
                        </h5>
                        <div class="ibox-tools">
                            <i class="fa fa-chevron-down"></i>
                        </div>
                    </div>
                </a>
                <div class="ibox-content" style="display: none;">
                    <table class="table table-bordered">
                        <tr>
                            <td class="col-md-3">
                                Статус договора
                            </td>
                            <td>
                                {% if purchase.getConractStatus() %}
                                    {{ purchase.getConractStatus().getStatus() }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3">
                                Дата заключения договора
                            </td>
                            <td>
                                {% if  purchase.getDateOfConclusion() %}
                                    {{ purchase.getDateOfConclusion().format('d.m.Y') }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3">
                                Срок поставки
                            </td>
                            <td>
                                {% if  purchase.getDeliveryTime() %}
                                    {{ purchase.getDeliveryTime().format('d.m.Y') }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3">
                                Комментарии / Примечания
                            </td>
                            <td>
                                {{ purchase.getComments() }}
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-2">
            <div class="ibox collapsed border-bottom">
                <a class="collapse-link">
                    <div class="ibox-title">
                        <h5>
                            Поставщик
                        </h5>
                        <div class="ibox-tools">
                            <i class="fa fa-chevron-down"></i>
                        </div>
                    </div>
                </a>
                <div class="ibox-content" style="display: none;">
                    <table class="table table-bordered">
                        <tr>
                            <td class="col-md-3">
                                Наименование организации-поставщика
                            </td>
                            <td>
                                {{ purchase.getSupplierName() }}
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3">
                                ИНН / ОГРНИП
                            </td>
                            <td>
                                {{ purchase.getSupplierINN() }}
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3">
                                КПП
                            </td>
                            <td>
                                {{ purchase.getSupplierKPP() }}
                            </td>
                        </tr>


                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-2">
            <div class="ibox collapsed border-bottom">
                <a class="collapse-link">
                    <div class="ibox-title">
                        <h5>
                            Прикрепленные файлы
                        </h5>
                        <div class="ibox-tools">
                            <i class="fa fa-chevron-down"></i>
                        </div>
                    </div>
                </a>
                <div class="ibox-content" style="display: none;">
                    {% macro deleteButton(id, path) %}
                        <a href="{{ path("purchases_history_delete", {'purchases_id': id, "path": path}) }}">
                            <span class="badge badge-danger delete-alert">
                                <i class="fa fa-trash"></i>
                                Удалить
                            </span>
                        </a>
                    {% endmacro %}
                    {% macro fileRow(title, attach_file, history_file, path ) %}
                        <tr>
                            <td class="col-md-3" rowspan="2">
                                {{ title }}

                            </td>
                            <td>
                                {% if attach_file %}
                                    <a href="{{ path('app_download_file_by_route', {'file': attach_file, 'route':path}) }}">
                                        <i class="fa fa-download">
                                            {{ title }}
                                        </i>
                                        <span class="badge badge-info">
                                            Актуальный
                                        </span>
                                    </a>
                                {% endif %}
                            </td>
                            {#<td>#}
                                {#aaaa#}
                            {#</td>#}
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    {% if history_file|length > 0 %}
                                        {% for i in history_file %}
                                            {% if i.getOldVal() %}
                                                <li>
                                                    <a href="{{ path('app_download_file_by_route', {'file': i.getOldVal(), 'route':path}) }}">
                                                        <i class="fa fa-download">
                                                            Договор/проект договора от {{ i.getCreatedAt().format('d.m.Y') }}
                                                        </i>
                                                    </a>
                                                    {{ _self.deleteButton(i.getId(), path) }}
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </td>
                            {#<td>#}
                                {#bbbbb#}
                            {#</td>#}
                        </tr>
                    {% endmacro %}
                    <table class="table table-bordered">
                        {{ _self.fileRow("Договор/проект договора", purchase.getFileDir(), file, 'purchases_files_directory' ) }}
                        {{ _self.fileRow("Дополнительный договор", purchase.getAdditionalAgreement(), additionalAgreement, 'additional_agreement_directory' ) }}
                        {{ _self.fileRow("Закрывающий документ", purchase.getClosingDocument(), closingDocument, 'closing_files_directory' ) }}
                        {{ _self.fileRow("Платежное поручение", purchase.getPaymentOrder(), paymentOrder, 'payment_orders_directory' ) }}

                        <tr>
                            <td>
                                Иные документы
                            </td>
                            <td>
                                <ul>
                                    {% for i in purchase.getAnotherDocuments()|reverse %}
                                        <li>
                                            <a href="{{ path('app_download_file_by_route', {'file': i.getFile(), 'route':'another_documents_directory'}) }}">
                                                <i class="fa fa-download">
                                                    Иной документ {{ i.getDateFormat() }}
                                                </i>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block scripts %}
    <script>

    </script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/inspinia.js') }}"></script>
{% endblock %}