{% extends "journalist/index.html.twig" %}


{% block content %}
<div class="row">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                {{ include('journalist/templates/back_button.html.twig') }}
                <h1>Редактор статей</h1>
                <div class="m-2">
                    {{ form_start(form) }}
                        <label> Заголовок </label>
                        {{ form_widget(form.title) }}

                        <label> Дата публикации </label>
                        {{ form_widget(form.createdAt) }}

                        <label> Изображение для статьи </label>
                        {{ form_widget(form.imgTitle) }}

                        {{ form_widget(form.content) }}
                        <hr>

                        <label> Название файла </label>
                        {{ form_widget(form.fileName) }}

                        <label> Прикрепить файлы </label>
                        {{ form_widget(form.file) }}

                        {{ form_widget(form.submit) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}