{% extends "journalist/index.html.twig" %}




{% block content %}
<div class="row">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">

            <div class="ibox-content block-shadow ">
                {{ include('journalist/templates/back_button.html.twig') }}
                <div class="row">
                    <a href="{{ path('app_new_design_project') }}">
                        <button class="btn">
                            Добавить еще
                        </button>
                    </a>
                </div>
                <h1>Список примеров дизайн проектов</h1>

                <div class="row">

                    <table class="table m3">
                        <thead>
                        <tr>
                            <td>
                                ID
                            </td>
                            <td>
                                Название
                            </td>
                            <td>
                                Картинка
                            </td>
                            <td>
                                Действия
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in pagination  %}
                            <tr>
                                <td class="align-middle"> {{ i.getId() }} </td>

                                <td class="align-middle col-md-3"><b>{{ i.getName() }}</b></td>

                                <td class="align-middle col-md-3"><img src="{{ asset('/uploads/designProjectExample/' ~ i.getPhoto()) }}"  alt="нет картинки" style="width: 60%"></td>
                                <td class="align-middle">
                                    <div>
                                        <a href="#">
                                            <button class="btn">
                                                <div class="fa fa-edit"></div>
                                                Редактировать
                                            </button>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="{{ path('app_delete_design_project', {'id': i.getId() }) }}" class="delete-alert">
                                        {#<a href="#" class="delete-alert">#}
                                            <button class="btn">
                                                <div class="fa fa-trash"></div>
                                                Удалить
                                            </button>
                                        </a>
                                    </div>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="navigation">
                        {{ knp_pagination_render(pagination, 'default/twitter_bootstrap_v3_pagination.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}