{% extends "journalist/index.html.twig" %}




{% block content %}
    <style>
        .photo{
            width: 30%;
        }
    </style>
<div class="row">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                {{ include('journalist/templates/back_button.html.twig') }}
                <div class="row" style="margin-left: 15px">
                    <a href="{{ path('app_journalist_employee_add') }}">
                        <button class="btn">
                            Добавить еще
                        </button>
                    </a>
                </div>
                <h1>Список сотрудников</h1>
                <div class="row">
                    {{ form_start(form) }}
                        <label> Отрасль </label>
                        {{ form_widget(form.name) }}
                        {{ form_widget(form.submit) }}
                    {{ form_end(form) }}
                </div>

                <div class="row">

                    <table class="table m3">
                        <thead>
                        <tr>
                            <td>
                                ID
                            </td>
                            <td>
                                Фото
                            </td>
                            <td>
                                ФИО
                            </td>
                            <td>
                                Должность
                            </td>
                            <td>
                                Действия
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in pagination  %}
                            <tr>
                                <td class="align-middle"> {{ i.getId() }} </td>
                                <td class="align-middle"><img class="photo" src="{{ asset('uploads/employeesPhotos/'~i.getPhoto) }}" alt="Фото отсутсвует"></td>
                                <td class="align-middle">{{ i.getName() }}</td>
                                <td class="align-middle">{{ i.getPost() }}</td>

                                <td class="align-middle">
                                    <div>
                                        <a href="{{ path('app_journalist_employee_edit', {'id': i.getId()}) }}">
                                            <button class="btn">
                                                <div class="fa fa-edit"></div>
                                                Редактировать
                                            </button>
                                        </a>
                                        <a href="{{ path('app_delete_employee', {'id': i.getId()}) }}" class="delete-alert">
                                            <button class="btn">
                                                <div class="fa fa-trash"></div>
                                                Удалить
                                            </button>
                                        </a>
                                    </div>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="navigation">
                        {{ knp_pagination_render(pagination, 'default/twitter_bootstrap_v3_pagination.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{#    <div class="m-5">#}

{#    </div>#}
{% endblock %}