{% extends "journalist/index.html.twig" %}


{% block content %}
<div class="row">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                {{ include('journalist/templates/back_button.html.twig') }}
                <h1>Редактор инфраструктурных листов</h1>
                <div class="m-2">
                    {{ form_start(form) }}
                        <label> Название </label>
                        {{ form_widget(form.name) }}
                        <label class="label-hidden"> Отрасль </label>
                        {{ form_widget(form.industry) }}
                        <label class="label-hidden"> УГПС </label>
                        {{ form_widget(form.UGPS) }}
                        <label> Тип </label>
                        {{ form_widget(form.type) }}
                        <label> Файл </label>
                        {{ form_widget(form.file_IS) }}
                        <div>
                            текущий файл: {{ file }}
                        </div>
                        {{ form_widget(form.submit) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{#<script src="{{ asset('js/scripts/IS_form.js?v=0.2') }}"></script>#}
{% endblock %}
