{% if i.getUserInfo().getRfSubject() is not null %}
    {% set isRegion = true %}
{% else %}
    {% set isRegion = false %}
{% endif %}
{% set isInspector = is_granted('ROLE_CURATOR_BAS')  %}
<div class="col-sm-3 animated fadeIn cluster-card mb-3"
     data-year="{{ i.getUserInfo().getYear() }}"
     data-industry="{{ i.getUserInfo().getDeclaredIndustry() }}"
        {% if isRegion %}
            data-region="{{ i.getUserInfo().getRfSubject().getName() }}"
            data-district="{{ i.getUserInfo().getRfSubject().getDistrict() }}"
        {% endif %}

>
    <div class="contact-box">
        <div class="row contact-box-content">
            <div class="col-lg-12">
                <h2>
                    {% if isRegion %}
                        <p><i class="fa fa-map-marker"></i> {{ i.getUserInfo().getRfSubject().getName() }}</p>
                    {% else %}
                        <p class="red-bg"><i class="fa fa-map-marker"></i> Не указан регион!</p>
                    {% endif %}
                </h2>

                <span class="badge badge-success">
                    {{ i.getUserInfo().getYear() }} год
                </span>
                <br>
                <span class="badge badge-danger">
                    БАС
                </span>
                <address>
                    <b>Пользователь: </b>{{ i.getUuid() }} <br>
                </address>
            </div>
        </div>

        <div class="contact-box-footer card-btns">

            <div class="flex-container" style="overflow: hidden">
                <a href="{{ path('app_bas_curator_info', {'id': i.getId()}) }}">
                    <button class="btn btn-cyan col-lg-12 mb-2">
                        <div class="fa fa-archive"></div>
                        Подробная информация о кластере
                    </button>
                </a>
                {% if isInspector %}
                    <a href="{{ path('app_inspector_show_purchases', {'id': i.getId()}) }}">
                        <button class="btn btn-info col-lg-12 mb-2">
                            <div class="fa fa-archive"></div>
                            Просмотр Закупок
                        </button>
                    </a>
                    <a href="{{ path('app_weekly_budget_amount', {'id': i.getId()}) }}">
                        <button class="btn btn-success col-lg-12 mb-2">
                            <div class="fa fa-money"></div>
                            Недельная сумма по бюджету
                        </button>
                    </a>
                    <a href="{{ path('app_inspector_readiness_map', {'id': i.getId()}) }}">
                        <button class="btn btn-primary col-lg-12 mb-2">
                            <div class="fa fa-check-circle"></div>
                            Карта готовности
                        </button>
                    </a>
                    <a href="{{ path('app_login', {'_switch_user': i.getUserIdentifier()}) }}">
                        <button class="btn btn-warning col-lg-12">
                            <div class="fa fa-leaf"></div>
                            Переключиться
                        </button>
                    </a>
                {% endif %}
            </div>
            <hr>
            <div class="row">
                {% if isInspector %}
                    {% for tag in i.getUserTags() %}
                        <span class="badge mr-1">
                            {{ tag.getTag() }}
                        </span>
                    {% endfor %}
                    <button class="btn badge tag-button" id="tag-{{ i.getId() }}"
                            data-tag-id="{{ i.getId() }}"
                            data-org=" {{ i.getUserInfo().getEducationalOrganization() }}"
                            data-toggle="modal"
                            data-target="#tagModal">
                        <i class="fa fa-plus" data-tag-id="{{ i.getId() }}"></i>
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>