<div class="row">
    <div class="col-lg-10 offset-lg-1">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div>
                    <h2>
                        <nav>{{ title }}</nav>
                    </h2>
                </div>
            </div>
            {% if save != true %}
            <div class="row">
                <div class="m-2">
                    <a href="{{ path("app_purchases_edit", {id: app.request.get("id")}) }}">
                        <button class="btn btn-info">
                            <div class="fa fa-edit"></div>
                            Редактировать
                        </button>
                    </a>
                </div>
            </div>
            {% endif %}


            <div class="row">
{{ form_start(form) }}
                    <table class="table block-shadow white-bg block-border">
                        <thead>
                        <tr>
                            <th class="col-lg-4 table-title">Закупка</th>
                            <th class="col-lg-8 table-title"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Наименование / Объект закупки (В соответсвии с извещением о проведении закупки)</td>


                            <td>
                                {{ form_widget(form.PurchaseObject) }}
                            </td>

                        </tr>
                        <tr>
                            <td>Способ определения поставщика (подрядчика, исполнителя)</td>


                            <td>
                                {{ form_widget(form.MethodOfDetermining) }}
                            </td>

                        </tr>

                        <tr class="separate-row">
                            <td colspan="2"></td>
                        </tr>

                        <tr>
                            <td class="table-title" colspan="2">
                                <strong>
                                    Начальная (максимальная) цена контракта (РУБЛИ)
                                </strong>
                            </td>


                        </tr>

                        <tr>
                            <td>средства федерального бюджета</td>


                            <td>
                                {{ form_widget(form.initialFederalFunds, {"type":"number"}) }}
                            </td>

                        </tr>
                        <tr>
                            <td>средства субъекта РФ</td>


                            <td>
                                {{ form_widget(form.initialFundsOfSubject, {"type":"number"}) }}
                            </td>

                        </tr>
                        <tr>
                            <td class="table-subtitle" colspan="2">
                                <strong>
                                    внебюджетные средства
                                </strong>
                            </td>



                        </tr>
                        <tr>
                            <td>средства работодателей</td>
                            <td>
                                {{ form_widget(form.initialEmployersFunds, {"type":"number"}) }}
                            </td>

                        </tr>
                        <tr>
                            <td>средства образовательной организации</td>


                            <td>
                                {{ form_widget(form.initialEducationalOrgFunds, {"type":"number"}) }}
                            </td>

                        </tr>

                        <tr>
                            <td>
                                Сумма
                            </td>
                            <td>
                                <p class="sum_initial"></p>

                            </td>
                        </tr>

                        <tr class="separate-row">
                            <td colspan="2"></td>
                        </tr>

                        <tr>
                            <td class="table-title" colspan="2">
                                <strong>
                                    Срок размещения закупки в ЕИС / ЭМ
                                </strong>
                            </td>


                        </tr>
                        <tr>
                            <td>Дата публикации извещения</td>


                            <td>
                                {{ form_widget(form.publicationDate) }}
                            </td>

                        </tr>
                        <tr>
                            <td>Дата окончания подачи заявок</td>


                            <td>
                                {{ form_widget(form.deadlineDate) }}
                            </td>

                        </tr>
                        <tr>
                            <td>Дата подведения итогов</td>


                            <td>
                                {{ form_widget(form.dateOfSummingUp) }}
                            </td>

                        </tr>

                        <tr class="separate-row">
                            <td colspan="2"></td>
                        </tr>

                        <tr>
                            <td>Ссылка на закупку на портале zakupki.gov.ru, прочие площадки</td>


                            <td>
                                {{ form_widget(form.PurchaseLink) }}
                            </td>

                        </tr>
                        <tr>
                            <td>Номер закупки</td>


                            <td>
                                {{ form_widget(form.PurchaseNumber, {'type':'number'}) }}
                            </td>

                        </tr>

                        <tr class="separate-row">
                            <td colspan="2"></td>
                        </tr>

                        <tr>
                            <td class="table-title" colspan="2">
                                <strong>
                                    Перенос срока размещения закупки в ЕИС / ЭМ
                                </strong>
                            </td>


                        </tr>
                        <tr>
                            <td>дата</td>


                            <td>
                                {{ form_widget(form.postponementDate) }}

                            </td>

                        </tr>
                        <tr>
                            <td>причина (обоснование)</td>


                            <td>
                                {{ form_widget(form.postonementComment) }}
                            </td>

                        </tr>
                        <tr>
                            <td>Дата заключения контракта / договора</td>


                            <td>
                                {{ form_widget(form.DateOfConclusion) }}
                            </td>

                        </tr>
                        <tr class="separate-row">
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td class="table-title" colspan="2">
                                <strong>
                                    Поставщик (подрядчик, исполнитель)
                                </strong>
                            </td>


                        </tr>
                        <tr>
                            <td>Наименование организации-поставщика (подрядчика, исполнителя)</td>


                            <td>
                                {{ form_widget(form.supplierName) }}
                            </td>

                        </tr>
                        <tr>
                            <td>ИНН</td>


                            <td>
                                {{ form_widget(form.supplierINN) }}
                            </td>

                        </tr>
                        <tr>
                            <td>КПП</td>


                            <td>
                                {{ form_widget(form.supplierKPP) }}
                            </td>

                        </tr>
                        <tr class="separate-row">
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td class="table-title" colspan="2">
                                <strong>
                                    Цена контракта / договора (РУБЛИ)
                                </strong>
                            </td>


                        </tr>
                        <tr>
                            <td>средства федерального бюджета</td>


                            <td>
                                {{ form_widget(form.finFederalFunds, {"type":"number"}) }}
                            </td>

                        </tr>
                        <tr>
                            <td>средства субъекта РФ</td>


                            <td>
                                {{ form_widget(form.finFundsOfSubject, {"type":"number"}) }}
                            </td>

                        </tr>
                        <tr>
                            <td class="table-subtitle" colspan="2">
                                <strong>
                                    внебюджетные средства
                                </strong>
                            </td>



                        </tr>
                        <tr>
                            <td>средства работодателей</td>


                            <td>
                                {{ form_widget(form.finEmployersFunds, {"type":"number"}) }}
                            </td>

                        </tr>
                        <tr>
                            <td>средства образовательной организации</td>


                            <td>
                                {{ form_widget(form.finFundsOfEducationalOrg, {"type":"number"}) }}
                            </td>

                        </tr>
                        <tr class="separate-row">
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td>Срок поставки (подписание акта), дата</td>


                            <td>
                                {{ form_widget(form.DeliveryTime) }}
                            </td>

                        </tr>
                        <tr>
                            <td>Комментарии / Примечания</td>


                            <td>
                                {{ form_widget(form.Comments) }}
                            </td>

                        </tr>
                        <tr>
                            <td>Приложить файл</td>


                            <td>

                            </td>

                        </tr>

                        </tbody>
                    </table>
                    {% if save %}
                        <input type="submit" class="btn btn-success" value="Сохранить">


                    {% endif %}
{{ form_end(form) }}
                </div>


        </div>

    </div>
</div>