{% extends "default/base.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title" style="margin-top: 1rem"></div>
                <div class="ibox-content" style="margin-top: 1rem">
                    {{ form_start(form) }}
                        {{ form_row(form.search) }}
                        <button class="btn btn-primary" type="submit" style="margin-top: 1rem">
                            Поиск
                        </button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>

                </h5>
            </div>
            <div class="ibox-content">
                <a href="{{ path('app_inspector_download_contacts') }}">
                    <button class="btn btn-primary">
                        <i class="fa fa-download"></i>
                        Скачать таблицу контактов
                    </button>
                </a>
                <table class="table table-bordered table-responsive horizontal-drag" style="margin-top: 1rem">
                    <thead>
                        <tr style="font-weight: bold; text-align: center">
                            <td class="col-md-1" style="vertical-align: middle">Кластер</td>
                            <td class="col-md-1" style="vertical-align: middle">Год участия</td>
                            <td class="col-md-1" style="vertical-align: middle">Федеральный округ</td>
                            <td class="col-md-1" style="vertical-align: middle">Субъект РФ</td>
                            <td class="col-md-1" style="vertical-align: middle">Отрасль</td>
                            <td class="col-md-1" style="vertical-align: middle">Грантополучатель</td>
                            <td class="col-md-1" style="vertical-align: middle">Название базы ПОО</td>
                            <td class="col-md-1" style="vertical-align: middle">Куратор</td>
                            <td class="col-md-1" style="vertical-align: middle">ФИО</td>
                            <td class="col-md-1" style="vertical-align: middle">Должность</td>
                            <td class="col-md-1" style="vertical-align: middle">Номер телефона</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in pagination %}
                        {% set user = i.getUser() %}
                        {% set userInfo = user.getUserInfo() %}
                        <tr style="text-align: center">
                            <td style="vertical-align: middle">{{ userInfo.getEducationalOrganization() }}</td>
                            <td style="vertical-align: middle"></td>
                            <td style="vertical-align: middle"></td>
                            <td style="vertical-align: middle">{{ userInfo.getRfSubject().getName() }}</td>
                            <td style="vertical-align: middle"></td>
                            <td style="vertical-align: middle"></td>
                            <td style="vertical-align: middle"></td>
                            <td style="vertical-align: middle"></td>
                            <td style="vertical-align: middle">{{ i.getName() }}</td>
                            <td style="vertical-align: middle">{{ i.getPost() }}</td>
                            <td class="phone-number" style="vertical-align: middle">{{ i.getPhoneNumber() }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
            <div class="ibox-footer">
                <div class="navigation">
                    {{ knp_pagination_render(pagination, 'default/twitter_bootstrap_v3_pagination.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            console.log('aaaa');
            function isFloat(n) {
                return Number(n) === n && n % 1 !== 0;
            }

            function isInt(n) {
                return n % 1 === 0;
            }

            function formatPhoneNumber(phoneNumberString) {
                var cleaned = ('' + phoneNumberString).replace(/\D/g, '');
                // var match = cleaned.match(/^(7|)?(\d{3})(\d{3})(\d{2})(\d{2})$/);
                var match = cleaned.match(/(\d{1})(\d{3})(\d{3})(\d{2})(\d{2})$/);
                if (match) {
                    var intlCode = (match[1] == '7' ? '+7' : match[1] );
                    return [intlCode, ' (', match[2], ') ', match[3], '-', match[4], '-', match[5]].join('');
                }
                return phoneNumberString;
            }

            let numberCells = $('.phone-number');

            numberCells.each((elem) => {
                let _cell = $(numberCells[elem]);
                let _text = _cell.text();

                _cell.text(formatPhoneNumber(_text));

            });
        });
    </script>
{% endblock %}



