{% extends "default/base.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title"></div>
                <div class="ibox-content">
                    {{ form_start(form) }}
                        {{ form_row(form.search) }}
                        <button class="btn btn-primary" type="submit">
                            Поиск
                        </button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>

                </h5>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td class="col-md-1">ФИО</td>
                            <td class="col-md-1">Должность</td>
                            <td class="col-md-1">Номер телефона</td>
                            <td class="col-md-1">Кластер</td>
                            <td class="col-md-1">Субъект РФ</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in pagination %}
                        {% set user = i.getUser() %}
                        {% set userInfo = user.getUserInfo() %}
                        <tr>
                            <td>{{ i.getName() }}</td>
                            <td>{{ i.getPost() }}</td>
                            <td class="phone-number">{{ i.getPhoneNumber() }}</td>
                           <td>{{ userInfo.getEducationalOrganization() }}</td>
                           <td>{{ userInfo.getRfSubject().getName() }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
            <div class="ibox-footer">
                <div class="navigation">
                    {{ knp_pagination_render(pagination, 'default/twitter_bootstrap_v3_pagination.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            console.log('aaaa');
            function isFloat(n) {
                return Number(n) === n && n % 1 !== 0;
            }

            function isInt(n) {
                return n % 1 === 0;
            }

            function formatPhoneNumber(phoneNumberString) {
                var cleaned = ('' + phoneNumberString).replace(/\D/g, '');
                // var match = cleaned.match(/^(7|)?(\d{3})(\d{3})(\d{2})(\d{2})$/);
                var match = cleaned.match(/(\d{1})(\d{3})(\d{3})(\d{2})(\d{2})$/);
                if (match) {
                    var intlCode = (match[1] == '7' ? '+7' : match[1] );
                    return [intlCode, ' (', match[2], ') ', match[3], '-', match[4], '-', match[5]].join('');
                }
                return phoneNumberString;
            }

            let numberCells = $('.phone-number');

            numberCells.each((elem) => {
                let _cell = $(numberCells[elem]);
                let _text = _cell.text();

                _cell.text(formatPhoneNumber(_text));

            });
        });
    </script>
{% endblock %}



