
{% extends "default/base.html.twig" %}
{% block styles %}
    {#<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />#}
    <link href="{{ asset('css/plugins/select2/select2.min.css') }}" rel="stylesheet" />
{% endblock %}
{% block content %}
    <div class="row mt-3">
        <div class="col-lg-10 offset-lg-1">
            <div class="ibox">
                {{ form_start(form) }}
                <div class="ibox-content">

                    {{ form_row(form.search) }}
                </div>
                <div class="ibox-content">

                    {{ form_row(form.employersCategories) }}
                </div>
                <div class="ibox-footer">
                    {{ form_row(form.submit) }}
                </div>
                {{ form_end(form) }}
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        Работодатели
                    </h5>
                    <div class="pull-right">
                        <a href="{{ path('app_analyst_employer_table_download') }}">
                            <span class=" btn btn-outline-dark">
                                <i class="fa fa-download"></i>
                                Скачать
                            </span>
                        </a>
                        <a href="{{ path('app_analyst_employer_add') }}">
                            <span class=" btn btn-outline-success">
                                <i class="fa fa-plus"></i>
                                Добавить работодателя
                            </span>
                        </a>
                        <a href="{{ path('app_analyst_employer_category_add') }}">
                            <span class=" btn btn-outline-primary">
                                <i class="fa fa-plus"></i>
                                Добавить категории
                            </span>
                        </a>
                    </div>

                </div>
                <div class="ibox-content">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td >id</td>
                                <td class="col-md-5">Работодатель</td>
                                <td class="col-md-2">Описание</td>
                                <td class="col-md-2">Категории</td>
                                <td class="col-md-3">Кластер</td>
                                <td class="col-md-1">Действие</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in pagination %}
                                <tr>
                                    <td>{{ i.getId() }}</td>
                                    <td>{{ i.getName() }}</td>
                                    <td>{{ i.getDescription() }}</td>
                                    <td>
                                        <ol>
                                        {% for cat in i.getEmployersCategories() %}
                                            <li>
                                                {{ cat.getName() }}
                                            </li>
                                        {% endfor %}
                                        </ol>
                                    </td>
                                    <td>
                                        <ol>
                                        {% for uf in i.getUserInfos() %}
                                            <li>
                                                {{ uf.getEducationalOrganization() }}
                                            </li>
                                        {% endfor %}
                                        </ol>
                                    </td>

                                    <td>
                                        <a href="{{ path('app_analyst_employer_edit', {'id': i.getId()}) }}">
                                            <button class="btn btn-info col-lg-12">
                                                <i class="fa fa-edit"></i>
                                                Редактировать
                                            </button>
                                        </a>
                                        <a href="#">
                                            <button class="btn btn-danger col-lg-12 delete-alert">
                                                <i class="fa fa-trash"></i>
                                                Удалить
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="ibox-footer">
                    <div class="navigation">
                        {{ knp_pagination_render(pagination, 'default/twitter_bootstrap_v3_pagination.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
    {#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>#}
    <script src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('.select2').select2({
                closeOnSelect : false,
                placeholder : "...",
                allowHtml: true,
                allowClear: true
            });
            onLoad();

        });
    </script>
{% endblock %}