{% extends 'default/base.html.twig' %}
{% block styles %}
    <style>
        .ta{
            width: 100%;
        }
        .form-inline  input {
            margin-left: 1rem;
            margin-right: 1rem;
        }
        .form-inline {
            margin-bottom: 0.5rem;
            padding-bottom: 0.5rem;
            border-bottom: #6b6b6b solid 1px;
        }
    </style>
{% endblock %}
{% block content %}
    {% import _self as formMacros %}

    <div class="row">
        <div class="col-sm-12 mt-3 mb-5">
            <a href="{{ path('app_cluster_infrastructure_sheet') }}">
                <button class="btn btn-outline-dark mb-3">
                    <i class="fa fa-arrow-left"></i>
                    Назад
                </button>
            </a>

            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        {{ zone_group.getSheetWorkzone().getName() }}
                    </h5>
                    <hr>
                    <h5>
                        {{ zone_group.getType() }}
                        {% if zone_group.getWorkplaces() > 0 %}
                            <b>(Кол-во раб. мест: {{ zone_group.getWorkplaces() }})</b>
                        {% endif %}
                    </h5>
                </div>
                {% macro printInfrastructureSheets(sheet, dis, comment, type) %}
                    
                    <td>
                        {{ form_widget(sheet.name) }}
                    </td>
                    <td>
                        {{ form_widget(sheet.specification) }}
                    </td>
                    <td>
                        {{ form_widget(sheet.type) }}
                    </td>
                    <td>
                        {{ form_widget(sheet.count, {'type':'number'}) }}
                    <td>
                        {{ form_widget(sheet.unit) }}
                    </td>
                    {#<td>#}
                        {#{{ form_widget(sheet.resultCount, {'type':'number'}) }}#}
                    {#</td>#}
                    <td>
                        {{ form_widget(sheet.funds) }}
                    </td>
                    <td>
                        {% if sheet.vars.data %}
                            {{ sheet.vars.data.clusterComment|nl2br }}
                        {% endif %}
                        <hr>
                        {{ form_widget(sheet._comment) }}
                    </td>
                    {#<td>#}
                        {#{{ comment }}#}
                    {#</td>#}
                    <td>
                        {% if not sheet.vars.data %}
                            <button class="btn btn-danger delete-alert delete-row" type="button">
                                <i class="fa fa-trash"></i>
                            </button>
                        {% endif %}
                        {% if sheet.vars.data %}
                            {% if sheet.vars.data.deleted %}
                                <button class="btn btn-danger delete-alert delete-row" type="button">
                                    <i class="fa fa-trash"></i>
                                </button>
                            {% endif %}
                        {% endif %}
                    </td>

                    {#{{ form_widget(sheet.ZoneGroup) }}#}
                {% endmacro %}
                <div class="ibox-content">
                    {{ form_start(form) }}
                    <table class="table table-bordered text-center">
                        <thead>
                        <tr>
                            <td class="col-md-2">Наименование	</td>
                            <td class="col-md-3">Краткие (рамочные) технические характеристики</td>
                            <td class="col-md-1">Вид</td>
                            <td class="col-md-1">Количество</td>
                            <td class="col-md-1">Единица измерения</td>
                            {#<td class="col-md-1">Итоговое количество</td>#}
                            <td class="col-md-1">Источник финансирования</td>
                            <td class="col-md-3">Комментарий</td>
                            {#<td class="col-md-1">Комментарий от ИРПО</td>#}
                            <td class="col-md-1"></td>
                        </tr>
                        </thead>
                        <tbody
                                class="sheets " id="sheets"
                                data-index="{{ form.equipment|length > 0 ? form.equipment|last.vars.name + 1 : 0 }}"
                                data-prototype='{{ formMacros.printInfrastructureSheets(form.equipment.vars.prototype|e) }}'
                                data-widget-tags="{{
                                '<tr></tr>'|e
                                }}"
                                data-widget-counter="{{ form.equipment|length }}"
                        >
                        {% for i in form.equipment %}
                            {% if i.vars.value.getZoneGroup != type %}
                                {% set dis = false %}
                            {% else %}
                                {% set dis = false %}
                            {% endif %}
                                <tr >
                                    <tr {% if dis %} style="display: none" {% endif %}>
                                        {{ formMacros.printInfrastructureSheets(i, dis, i.vars.value.getCuratorComment, type) }}
                                    </tr>
                                </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                    <button class="btn btn-primary add-another-collection-widget"
                            type="button"
                            data-list-selector="#sheets"
                            data-list="#sheets"
                            data-zone-type="{{ type }}"
                    >
                        <i class="fa fa-plus"></i>
                        Добавить строку
                    </button>
                    <hr>

                    <button class="btn btn-success" type="submit">
                        <i class="fa fa-save"></i>
                        Сохранить
                    </button>
                    {{ form_end(form) }}
                </div>

            </div>
        </div>

    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function(){

            let commentInput = $('.comment-input');
            commentInput.each(function () {
               $(this).val(null);
            });

            $("textarea").each(function(textarea) {
                $(this).height( $(this)[0].scrollHeight );
            });

            $('#rows-data').height( '200px' );
            $('#rows-data-2').height( '200px' );
            $('#rows-data-3').height( '200px' );




            let $wrapper = $('.sheets');
            $wrapper.on('click', '.delete-row', function(e) {
                e.preventDefault();
                $(this).closest('tr')
                    .fadeOut()
                    .remove();
            });

            function addRow()
            {
                let listSelector = $($(this).attr('data-list-selector'));
                let list = $($(this).attr('data-list'));
                let zoneType = $(this).attr('data-zone-type');
                console.log(zoneType);

                let counter = listSelector.data('widget-counter');

                let newWidget = listSelector.attr('data-prototype');

                counter++;
                newWidget = newWidget.replace(/__name__/g, counter);

                listSelector.data('widget-counter', counter);

                let newElem = $(listSelector.attr('data-widget-tags')).html(
                    listSelector.attr('data-delete-btn') +
                    newWidget +
                    '</div>'
                );

                newElem.appendTo(list);
// console.log(counter);
                // $('#infrastructure_sheet_form__workzoneEquipment_'+counter+'_ZoneGroup').val(zoneType);
            }

            $('.add-another-collection-widget').click(addRow);
        });
    </script>
{% endblock %}