{% extends 'default/base.html.twig' %}
{% block styles %}
    <style>
        .ta{
            width: 100%;
        }
        .form-inline  input {
            margin-left: 1rem;
            margin-right: 1rem;
        }
        .form-inline {
            margin-bottom: 0.5rem;
            padding-bottom: 0.5rem;
            border-bottom: #6b6b6b solid 1px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-10 offset-sm-1 mt-3 mb-5">
            <a href="{{ path('app_cluster_infrastructure_sheet') }}">
                <button class="btn btn-outline-dark mb-3">
                    <i class="fa fa-arrow-left"></i>
                    Назад
                </button>
            </a>

            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        Зона под вид работ
                    </h5>
                </div>
                <div class="ibox-content">
                    {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_row(form.name) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.FGOS) }}
                        </div>
                    <hr>
                    <h5>
                        Требования к обеспечению зоны (коммуникации, площадь, сети, количество рабочих мест и др.):
                    </h5>
                        <div class="form-group">
                            {{ form_row(form.zoneRequirements) }}
                        </div>
                    <hr>
                        <button class="btn btn-primary" type="submit">
                            <i class="fa fa-save"></i>
                            Сохранить
                        </button>
                    {{ form_end(form) }}
                </div>
                <div class="ibox-footer">

                </div>
            </div>
        </div>

    </div>
{% endblock %}