{% extends 'default/base.html.twig' %}
{% block styles %}
    <style>
        .ta{
            width: 100%;
        }
        .form-inline  input {
            margin-left: 1rem;
            margin-right: 1rem;
        }
        .form-inline {
            margin-bottom: 0.5rem;
            padding-bottom: 0.5rem;
            border-bottom: #6b6b6b solid 1px;
        }
    </style>
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-sm-10 offset-sm-1 mt-3 mb-5">
            <a href="{{ path('app_cluster_infrastructure_sheet') }}">
                <button class="btn btn-outline-dark mb-3">
                    <i class="fa fa-arrow-left"></i>
                    Назад
                </button>
            </a>

            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        Общая зона
                    </h5>
                </div>
                <div class="ibox-content">
                    {{ form_start(form) }}
                    <table class="table table-bordered">
                        <thead>
                        <tr>

                            <td class="">№</td>
                            <td class="col-md-3">Наименование	</td>
                            <td class="col-md-4">Краткие (рамочные) технические характеристики</td>
                            <td class="col-md-2">Вид</td>
                            <td class="col-md-1">Количество</td>
                            <td class="col-md-1">Единица измерения</td>
                            <td class="col-md-1">Итоговое количество</td>
                            <td class="col-md-1">Источник финансирования</td>
                            <td></td>

                        </tr>
                        </thead>
                        <tbody>
                        {% for i in form.infrastructureSheets %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                {{ form_widget(i.name) }}
                            </td>
                            <td>
                                {{ form_widget(i.technicalSpecifications) }}
                            </td>
                            <td>
                                {{ form_widget(i.type) }}
                            </td>
                            <td>
                                {{ form_widget(i.count, {'type':'number'}) }}
                            <td>
                                {{ form_widget(i.unit) }}
                            </td>
                            <td>
                                {{ form_widget(i.resultCount, {'type':'number'}) }}
                            </td>
                            <td>
                                {{ form_widget(i.sourceOfFinancing) }}
                            </td>
                            <td>
                                <button class="btn btn-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <button class="btn btn-primary">
                        <i class="fa fa-plus"></i>
                        Добавить строку
                    </button>
                    <hr>

                    <button class="btn btn-success">
                        <i class="fa fa-save"></i>
                        Сохранить
                    </button>
                    {{ form_end(form) }}
                </div>

            </div>
        </div>

    </div>
{% endblock %}