{% extends 'default/base.html.twig' %}
{% block styles %}
    <style>
        .table button {
            width: 100%;
            margin-bottom: 10px;
        }
    </style>
{% endblock %}
{% block content %}
    {% include 'default/inDevelopment.html.twig' %}
    <div class="row">
        <div class="col-sm-10 offset-sm-1 mt-3">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        Инфраструктурный лист
                    </h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered">
                        <thead class="text-center">
                            <tr>
                                <td class="col-md-1">№ п/п</td>
                                <td class="col-md-3">Наименование</td>
                                <td class="col-md-4">Подзоны</td>
                                <td class="col-md-1">Действия</td>
                            </tr>
                        </thead>
                        <tbody>
                        {% for zone in zones %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>
                                    {{ zone.getName() }}
                                    <br>
                                    <br>
                                    <ul  class="list-group list-group-flush">
                                    {% for i in  zone.getFGOS()  %}

                                            <li class="list-group-item">
                                                {{ i }}
                                            </li>

                                    {% endfor %}
                                    </ul>
                                    {#{{ zone.getFGOS() }}#}
                                </td>
                                <td>
                                    {% for i in zone.getZoneGroupsSorted() %}
                                        <a href="#">
                                            <button class="btn btn-outline-dark">
                                                {{ i.getType() }}

                                                {% if i.getWorkplaces() > 0 %}
                                                <b>(Кол-во раб. мест: {{ i.getWorkplaces() }})</b>
                                                {% endif %}
                                            </button>
                                        </a>
                                    {% endfor %}
                                    {#<a href="{{ path('app_cluster_infrastructure_sheet_edit', {'id' : zone.getId(), 'type': 'Рабочее место учащегося'}) }}">#}
                                    {#<button class="btn btn-outline-dark">#}
                                        {#Рабочее место учащегося#}
                                    {#</button>#}
                                    {#</a>#}
                                    {#<a href="{{ path('app_cluster_infrastructure_sheet_edit', {'id' : zone.getId(), 'type': 'Рабочее место преподавателя'}) }}">#}
                                    {#<button class="btn btn-outline-dark">#}
                                        {#Рабочее место преподавателя/мастера производственного обучения#}
                                    {#</button>#}
                                    {#</a>#}
                                    {#<a href="{{ path('app_cluster_infrastructure_sheet_edit', {'id' : zone.getId(), 'type': 'Охрана труда и техника безопасности'}) }}">#}
                                    {#<button class="btn btn-outline-dark">#}
                                        {#Охрана труда и техника безопасности#}
                                    {#</button>#}
                                    {#</a>#}
                                </td>
                                <td>
                                    <a href="{{ path('app_cluster_infrastructure_sheet_edit_zone', {'id': zone.getId()}) }}">
                                        <button class="btn btn-success">
                                            Редактировать зону
                                        </button>
                                    </a>



                                    <button class="btn btn-danger delete-alert">
                                        Удалить
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                </div>
                <div class="ibox-footer">
                    <a href="{{ path('app_cluster_infrastructure_sheet_add_zone') }}">
                        <button class="btn btn-primary ">
                            Добавить зону
                        </button>
                    </a>

                </div>
            </div>

        </div>
    </div>


{% endblock %}