{#<!DOCTYPE html>#}

{#<head>#}

{#    <meta charset="utf-8">#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}

{#    <title>Главная</title>#}
{#    <link rel="shortcut icon" href="/img/ico/rpop_icon.png" type="image/png">#}

{#    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">#}
{#    <link href="{{ asset('font-awesome/css/font-awesome.css') }}" rel="stylesheet">#}


{#    <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery.pagepiling.css') }}" />#}
{#    <link href="{{ asset('css/style_start_landing.css') }}" rel="stylesheet">#}
{#    <link href="{{ asset('css/my_style.css') }}" rel="stylesheet">#}
{#</head>#}

{#{% block body %}#}
{#    <div>#}
{#        <div class="d-flex justify-content-end">#}
{#            <div class="btn_position">#}
{#                <span href="{{ path('app_login') }}" class="btn btn-lg btn-start-landing m-3 btn_smooth_border">Личный кабинет</span>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div id="pagepiling">#}
{#        <div class="section" style="background-image: url({{ asset('img/img_start_landing/6.jpg') }}); background-size: cover">#}
{#            <div class="glass-backdrop">#}
{#                <h2 class="d-flex flex-row text-padding col-lg-3">snfsojufnsoifsoifwijefioewj</h2>#}
{#                <tr><td colspan=2>#}
{#                        Подвал сайта</td></tr>#}
{#                </table>#}
{#            </div>#}
{#        </div>#}
{#        <div class="section" style="background-image: url({{ asset('img/img_start_landing/5.jpg') }}); background-size: cover">#}
{#            <div class="glass-backdrop">#}
{#                <h2 class="text-padding">Тест2</h2>#}
{#                <tr><td colspan=2>#}
{#                        Подвал сайта</td></tr>#}
{#                </table>#}
{#            </div>#}
{#        </div>#}
{#        <div class="section" style="background-image: url({{ asset('img/img_start_landing/4.jpg') }}); background-size: cover">#}
{#            <div class="glass-backdrop">#}
{#                <h2 class="text-padding">Тест3</h2>#}
{#                <tr><td colspan=2>#}
{#                        Подвал сайта</td></tr>#}
{#                </table>#}
{#            </div>#}
{#        </div>#}
{#        <div class="section" style="background-image: url({{ asset('img/img_start_landing/7.jpg') }}); background-size: cover">#}
{#            <div class="glass-backdrop">#}
{#                <h2 class="text-padding">Тест4</h2>#}
{#                <tr><td colspan=2>#}
{#                        Подвал сайта</td></tr>#}
{#                </table>#}
{#            </div>#}
{#        </div>#}
{#        <div class="section" style="background-image: url({{ asset('img/img_start_landing/3.jpg') }}); background-size: cover">#}
{#            <div class="glass-backdrop">#}
{#                <h2 class="text-padding">Тест5</h2>#}
{#                <tr><td colspan=2>#}
{#                        Подвал сайта</td></tr>#}
{#                </table>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <script src="http://code.jquery.com/jquery-3.4.1.js"></script>#}
{#    <script src="{{ asset('js/scripts/jquery.pagepiling.js') }}"></script>#}
{#    <script type="text/javascript">#}
{#        $(document).ready(function (){#}
{#            $('#pagepiling').pagepiling({#}
{#                navigation: {#}
{#                    'textColor': '#00',#}
{#                    'bulletsColor': '#00',#}
{#                    'position': 'right',#}
{#                    'tooltips': ['Тест1', 'Тест2', 'Тест3', 'Тест4', 'Тест5']#}
{#                },#}
{#            });#}
{#        })#}
{#    </script>#}


{#{% endblock %}#}

{#</body>#}
{#</html>#}


